<div id="publictwo" class="none">
	<!--地区筛选-->
	<van-popup v-model="areaShow" round position="bottom">
	  <van-cascader
	    v-model="areaValue"
	    title="请选择地区"
	    :options="areaOptions"
	    @close="areaShow = false"
	    @finish="onAreaFinish"
	  />
	</van-popup>
	<!--职能筛选-->
	<van-popup v-model="jobShow" round position="bottom">
	  <van-cascader
	    v-model="jobValue"
	    title="请选择职能"
	    :options="jobOptions"
	    @close="jobShow = false"
	    @finish="onJobFinish"
	  />
	</van-popup>
	<!--职位更多筛选-->
	<van-popup v-model="jobmoreShow" closeable position="bottom" round :style="{height:'12.24rem'}">
		<div class="Gengduoj-eject pubtwo">
			<form action="{yun:}$config_wapdomain{/yun}/index.php" method="get" id="job">
				<input type="hidden" name="c" value="{yun:}if $smarty.get.c{/yun}{yun:}$smarty.get.c{/yun}{yun:}else{/yun}job{yun:}/if{/yun}" />
				{yun:}if $smarty.get.a{/yun}<input type="hidden" name="a" value="{yun:}$smarty.get.a{/yun}" />{yun:}/if{/yun}
				
		        <div class="conditional_screening_box">
		        <div class="conditional_screening_pv">	<div class="conditional_screening_alltit">全部筛选</div>
		        <div class="conditional_screening_all">
				<div class="conditional_screening_cont">
				
					<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">薪资范围</span></div>
					<ul class="conditional_screening_list">
					<li {yun:}if $smarty.get.minsalary==''&&$smarty.get.maxsalary==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun}><a href="{yun:}$config_wapdomain{/yun}/index.php?c=job">全部</a></li>
					<li {yun:}if $smarty.get.minsalary=='2000'&&$smarty.get.maxsalary=='4000'{/yun}class="conditional_screening_cur"{yun:}/if{/yun}><a href="{yun:}$config_wapdomain{/yun}/index.php?c=job&minsalary=2000&maxsalary=4000">2000-4000</a></li>
					<li {yun:}if $smarty.get.minsalary=='4000'&&$smarty.get.maxsalary=='6000'{/yun}class="conditional_screening_cur"{yun:}/if{/yun}><a href="{yun:}$config_wapdomain{/yun}/index.php?c=job&minsalary=4000&maxsalary=6000">4000-6000</a></li>
					<li {yun:}if $smarty.get.minsalary=='6000'&&$smarty.get.maxsalary=='8000'{/yun}class="conditional_screening_cur"{yun:}/if{/yun}><a href="{yun:}$config_wapdomain{/yun}/index.php?c=job&minsalary=6000&maxsalary=8000">6000-8000</a></li>
					<li {yun:}if $smarty.get.minsalary=='8000'&&$smarty.get.maxsalary=='10000'{/yun}class="conditional_screening_cur"{yun:}/if{/yun}><a href="{yun:}$config_wapdomain{/yun}/index.php?c=job&minsalary=8000&maxsalary=10000">8000-10000</a></li>
					<li {yun:}if $smarty.get.minsalary=='10000'{/yun}class="conditional_screening_cur"{yun:}/if{/yun}><a href="{yun:}$config_wapdomain{/yun}/index.php?c=job&minsalary=10000">10000以上</a></li>
					</ul>
				</div>
		
				<div class="" style="padding-left:15px;padding-top:15px;">
					<div class="clear"></div>
					<div class="conditional_screening_salary_text">
						<input type="text" name="minsalary" id="minjob" value="{yun:}$smarty.get.minsalary{/yun}" class="" placeholder="最低薪资">
					</div>
					<div class="conditional_screening_salary_z">—</div>
					<div class="conditional_screening_salary_text">
						<input type="text" name="maxsalary" id="maxjob" value="{yun:}$smarty.get.maxsalary{/yun}" class="" placeholder="最高薪资">
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="conditional_screening_cont">
				
					<div class="conditional_screening_tit">
						<span class="conditional_screening_tit_n">福利待遇</span>
					</div>
					<ul class="conditional_screening_list">
						<li id="welfare" {yun:}if $smarty.get.welfare==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun}  onclick="check_welfare_li('','welfare')"><a href="javascript:void(0)">全部</a></li>
						{yun:}foreach from=$comdata.job_welfare item=v{/yun}
						<li id="welfare{yun:}$v{/yun}" {yun:}if $smarty.get.welfare==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_welfare_li('{yun:}$v{/yun}','welfare')"><a href="javascript:void(0)">{yun:}$comclass_name[$v]{/yun}</a></li>
						{yun:}/foreach{/yun}
					</ul>	
				</div>
		        <div class="conditional_screening_cont">
					<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">学历要求</span></div>
					<ul class="conditional_screening_list">
					{yun:}foreach from=$comdata.job_edu item=v{/yun}
					<li id="edu{yun:}$v{/yun}" class="{yun:}if $smarty.get.edu==$v || ($comclass_name[$v]=='不限' && !$smarty.get.edu){/yun}conditional_screening_cur{yun:}/if{/yun} eduCtrl" onclick="check_edu_li('{yun:}$v{/yun}','edu')"><a href="javascript:void(0)">{yun:}$comclass_name[$v]{/yun}</a></li>
					{yun:}/foreach{/yun}
					</ul>
		        </div>
			    <div class="conditional_screening_cont">
					<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">经验要求</span></div>
					<ul class="conditional_screening_list">
					{yun:}foreach from=$comdata.job_exp item=v{/yun}
					<li id="exp{yun:}$v{/yun}" class="{yun:}if $smarty.get.exp==$v || ($comclass_name[$v]=='不限' && !$smarty.get.exp){/yun}conditional_screening_cur{yun:}/if{/yun} expCtrl" onclick="check_exp_li('{yun:}$v{/yun}','exp')"><a href="javascript:void(0)">{yun:}$comclass_name[$v]{/yun}</a></li>
					{yun:}/foreach{/yun}
					</ul>
		         </div>
				<div class="conditional_screening_cont">
					<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">性别要求</span></div>
					<ul class="conditional_screening_list">
					{yun:}foreach from=$com_sex key=key item=v{/yun}
					<li id="sex{yun:}$key{/yun}" class="{yun:}if $smarty.get.sex==$key || ($v=='不限' && !$smarty.get.sex){/yun}conditional_screening_cur{yun:}/if{/yun} sexCtrl" onclick="check_sex_li('{yun:}$key{/yun}','sex')"><a href="javascript:void(0)">{yun:}$v{/yun}</a></li>
				   {yun:}/foreach{/yun}
					</ul>
		        </div>
		        
		        <div class="conditional_screening_cont">
		        <div class="conditional_screening_tit"><span class="conditional_screening_tit_n">更新时间</span></div>
					<ul class="conditional_screening_list">
					<li id="uptime" {yun:}if $smarty.get.uptime==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_uptime_li('','uptime')"><a href="javascript:void(0)">全部</a></li>
					{yun:}foreach from=$uptime key=key item=v{/yun}
					<li id="uptime{yun:}$key{/yun}" {yun:}if $smarty.get.uptime==$key{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_uptime_li('{yun:}$key{/yun}','uptime')"><a href="javascript:void(0)">{yun:}$v{/yun}</a></li>
					{yun:}/foreach{/yun}
					</ul>
		        </div>
		      
		        <div class="conditional_screening_cont">
					<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">公司性质</span></div>
					<ul class="conditional_screening_list">
					<li  id="pr" {yun:}if $smarty.get.pr==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_pr_li('','pr')"><a href="javascript:void(0)">全部</a></li>
					{yun:}foreach from=$comdata.job_pr item=v{/yun}
					<li id="pr{yun:}$v{/yun}" {yun:}if $smarty.get.pr==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_pr_li('{yun:}$v{/yun}','pr')"><a href="javascript:void(0)">{yun:}$comclass_name[$v]{/yun}</a></li>
					{yun:}/foreach{/yun}
					</ul>
		        </div>
		        <div class="conditional_screening_cont">
					<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">公司规模</span></div>
					<ul class="conditional_screening_list">
					<li id="mun" {yun:}if $smarty.get.mun==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_mun_li('','mun')"><a href="javascript:void(0)">全部</a></li>
					{yun:}foreach from=$comdata.job_mun item=v{/yun}
					<li id="mun{yun:}$v{/yun}" {yun:}if $smarty.get.mun==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_mun_li('{yun:}$v{/yun}','mun')"><a href="javascript:void(0)">{yun:}$comclass_name[$v]{/yun}</a></li>
					{yun:}/foreach{/yun}
					</ul>
		        </div> 
		        </div>
		         <div class="conditional_screening_operation">
		          <div class="conditional_screening_operation_left"><a href="{yun:}if $smarty.get.a{/yun}{yun:}url m=wap c=$smarty.get.c a=$smarty.get.a{/yun}{yun:}else{/yun}{yun:}url m=wap c=$smarty.get.c{/yun}{yun:}/if{/yun}" class="conditional_screening_operation_cz">重置</a></div>
		          <div class="conditional_screening_operation_right"><a href="javascript:void(0)" onclick="$('#job').submit();" class="conditional_screening_operation_ok">确定</a></div></div>
		        </div>
		        {yun:}if $smarty.get.provinceid{/yun}<input type="hidden" name="provinceid" value="{yun:}$smarty.get.provinceid{/yun}"/>{yun:}/if{/yun}
		        {yun:}if $smarty.get.cityid{/yun}<input type="hidden" name="cityid" value="{yun:}$smarty.get.cityid{/yun}"/>{yun:}/if{/yun}
		        {yun:}if $smarty.get.three_cityid{/yun}<input type="hidden" name="cityid" value="{yun:}$smarty.get.three_cityid{/yun}"/>{yun:}/if{/yun}
		        {yun:}if $smarty.get.jobin{/yun}<input type="hidden" name="jobin" value="{yun:}$smarty.get.jobin{/yun}"/>{yun:}/if{/yun}
		      
		        {yun:}if $smarty.get.hy{/yun}<input type="hidden" name="hy" id="gdjhyi" value="{yun:}$smarty.get.hy{/yun}" />{yun:}/if{/yun}
		        <input type="hidden" id="comexp" name="exp" {yun:}if $smarty.get.exp==""{/yun}disabled="disabled"{yun:}/if{/yun}value="{yun:}$smarty.get.exp{/yun}"/>
		        <input type="hidden" name="pr" id="compr" {yun:}if $smarty.get.pr==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.pr{/yun}" />
		        <input type="hidden" name="mun" id="commun" {yun:}if $smarty.get.mun==""{/yun}disabled="disabled"{yun:}/if{/yun}  value="{yun:}$smarty.get.mun{/yun}" />
		        <input  type="hidden" id="comedu" name="edu" {yun:}if $smarty.get.edu==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.edu{/yun}" />
		        <input type="hidden" name="uptime" id="comuptime" {yun:}if $smarty.get.uptime==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.uptime{/yun}" />
		        <input type="hidden" name="sex" id="comsex" {yun:}if $smarty.get.sex==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.sex{/yun}" />
		        <input type="hidden" name="welfare" id="comwelfare" {yun:}if $smarty.get.welfare==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.welfare{/yun}" />
				</div>
		       
			</form>
			
		</div>
	</van-popup>
	<!--简历更多筛选-->
	<van-popup v-model="resumemoreShow" closeable position="bottom" round :style="{height:'12.24rem'}">
		<div class="Gengduos-eject pubtwo">
			<form action="{yun:}$config_wapdomain{/yun}/index.php" method="get" id="resume">
				<input type="hidden" name="c" value="{yun:}if $smarty.get.c{/yun}{yun:}$smarty.get.c{/yun}{yun:}else{/yun}resume{yun:}/if{/yun}" />
				<div class="conditional_screening_box">
					<div class="conditional_screening_pv">
						  <div class="conditional_screening_pv">	<div class="conditional_screening_alltit">全部筛选</div>
						<div class="conditional_screening_all">
						<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">经验要求</span></div>
								<ul class="conditional_screening_list" id="Sortexp-Sortexp">
									{yun:}foreach from=$userdata.user_word item=v{/yun}
									<li id="uexp{yun:}$v{/yun}" {yun:}if $smarty.get.exp==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_userexp_li('{yun:}$v{/yun}','exp')"><a href="javascript:void(0)">{yun:}$userclass_name[$v]{/yun}</a>
									</li>
									{yun:}/foreach{/yun}
								</ul>
						</div>
						
							<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">简历完整度</span></div>
								<ul class="conditional_screening_list">
								{yun:}foreach from=$integrity_name key=k item=v{/yun}
								<li id="integrity{yun:}$k{/yun}" {yun:}if $smarty.get.integrity==$k{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_integrity_li('{yun:}$k{/yun}','integrity')"><a href="javascript:void(0)">{yun:}$v{/yun}</a></li>
							   {yun:}/foreach{/yun}
								</ul>
							</div>
							<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">性别要求</span></div>
								<ul class="conditional_screening_list">
								{yun:}foreach from=$user_sex key=key item=v{/yun}
								<li id="sex{yun:}$key{/yun}" class="{yun:}if $smarty.get.sex==$key || ($v=='不限' && !$smarty.get.sex){/yun}conditional_screening_cur{yun:}/if{/yun} sexCtrl" onclick="check_usex_li('{yun:}$key{/yun}','sex')"><a href="javascript:void(0)">{yun:}$v{/yun}</a></li>
							   {yun:}/foreach{/yun}
								</ul>
					        </div>
							<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">学历要求</span></div>
								<ul class="conditional_screening_list">
								{yun:}foreach from=$userdata.user_edu item=v{/yun}
								<li id="uedu{yun:}$v{/yun}" {yun:}if $smarty.get.edu==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_uedu_li('{yun:}$v{/yun}','edu')"><a href="javascript:void(0)">{yun:}$userclass_name[$v]{/yun}</a></li>
								{yun:}/foreach{/yun}
								</ul>
							</div>
							<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">到岗时间</span></div>
								<ul class="conditional_screening_list">
								{yun:}foreach from=$userdata.user_report item=v{/yun}
								<li id="report{yun:}$v{/yun}" {yun:}if $smarty.get.report==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_report_li('{yun:}$v{/yun}','report')"><a href="javascript:void(0)">{yun:}$userclass_name[$v]{/yun}</a></li>
							   {yun:}/foreach{/yun}
								</ul>
							</div>
							<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">更新时间</span></div>
								<ul class="conditional_screening_list">
								<li id="uuptime" {yun:}if $smarty.get.uptime==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_useruptime_li('','uptime')"><a href="javascript:void(0)">全部</a></li>
								{yun:}foreach from=$uptime key=key item=v{/yun}
								<li id="uuptime{yun:}$key{/yun}" {yun:}if $smarty.get.uptime==$key{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_useruptime_li('{yun:}$key{/yun}','uptime')"><a href="javascript:void(0)">{yun:}$v{/yun}</a></li>
								{yun:}/foreach{/yun}
								</ul>
							</div>
							<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">个人标签</span></div>
								<ul class="conditional_screening_list">
								<li id="tag" {yun:}if $smarty.get.tag==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_tag_li('','tag')"><a href="javascript:void(0)">全部</a></li>
								{yun:}foreach from=$userdata.user_tag item=v{/yun}
								<li id="tag{yun:}$v{/yun}" {yun:}if $smarty.get.tag==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_tag_li('{yun:}$v{/yun}','tag')"><a href="javascript:void(0)">{yun:}$userclass_name[$v]{/yun}</a></li>
								{yun:}/foreach{/yun}
								</ul>
							</div>

							<div class="conditional_screening_cont">
								<div class="conditional_screening_tit"><span class="conditional_screening_tit_n">工作性质</span></div>
								<ul class="conditional_screening_list">
								<li id="rtype" {yun:}if $smarty.get.type==''{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_rtype_li('','rtype')"><a href="javascript:void(0)">全部</a></li>
								{yun:}foreach from=$userdata.user_type item=v{/yun}
								<li id="rtype{yun:}$v{/yun}" {yun:}if $smarty.get.type==$v{/yun}class="conditional_screening_cur"{yun:}/if{/yun} onclick="check_rtype_li('{yun:}$v{/yun}','rtype')"><a href="javascript:void(0)">{yun:}$userclass_name[$v]{/yun}</a></li>
								{yun:}/foreach{/yun}
								</ul>
							</div>
		                    
						</div>
						<div class="conditional_screening_operation">
						<div class="conditional_screening_operation_left"><a href="{yun:}if $smarty.get.a{/yun}{yun:}url m=wap c=$smarty.get.c a=$smarty.get.a{/yun}{yun:}else{/yun}{yun:}url m=wap c=$smarty.get.c{/yun}{yun:}/if{/yun}" class="conditional_screening_operation_cz">重置</a></div>
						<div class="conditional_screening_operation_right"><a href="javascript:void(0)" onclick="$('#resume').submit();" class="conditional_screening_operation_ok">确定</a></div>
						</div>
					</div>
					{yun:}if $smarty.get.provinceid{/yun}<input type="hidden" name="provinceid" value="{yun:}$smarty.get.provinceid{/yun}"/>{yun:}/if{/yun}
					{yun:}if $smarty.get.cityid{/yun}<input type="hidden" name="cityid" value="{yun:}$smarty.get.cityid{/yun}"/>{yun:}/if{/yun}
					{yun:}if $smarty.get.three_cityid{/yun}<input type="hidden" name="cityid" value="{yun:}$smarty.get.three_cityid{/yun}"/>{yun:}/if{/yun}
					{yun:}if $smarty.get.jobin{/yun}<input type="hidden" name="jobin" value="{yun:}$smarty.get.jobin{/yun}"/>{yun:}/if{/yun}
					<input type="hidden" name="hy" id="userhy" {yun:}if $smarty.get.hy==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.hy{/yun}" />
					<input type="hidden" id="useredu" name="edu" {yun:}if $smarty.get.edu==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.edu{/yun}" />
					<input type="hidden" name="uptime" id="useruptime" {yun:}if $smarty.get.uptime==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.uptime{/yun}" />
					<input type="hidden" name="report" id="userreport" {yun:}if $smarty.get.report==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.report{/yun}" />
					<input type="hidden" name="exp" id="userexp" {yun:}if $smarty.get.exp==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.exp{/yun}" />
					<input type="hidden" name="integrity" id="userintegrity" {yun:}if $smarty.get.integrity==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.integrity{/yun}" />
					<input type="hidden" name="sex" id="usersex" {yun:}if $smarty.get.sex==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.sex{/yun}" />
					<input type="hidden" name="tag" id="usertag" {yun:}if $smarty.get.tag==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.tag{/yun}" />
					<input type="hidden" name="type" id="userrtype" {yun:}if $smarty.get.type==""{/yun}disabled="disabled"{yun:}/if{/yun} value="{yun:}$smarty.get.type{/yun}" />
				</div>
				</div>
			</form>
		</div>
	</van-popup>
	<!--行业选择器-->
	<van-popup v-model="hyShow" round position="bottom">
	  <van-picker
	    show-toolbar
	    :columns="hyData"
	    :default-index="hyChoosed"
	    @cancel="hyShow = false"
	    @confirm="hyConfirm"
	  />
	</van-popup>
	<!--企业性质选择器-->
	<van-popup v-model="prShow" round position="bottom">
	  <van-picker
	    show-toolbar
	    :columns="prData"
	    :default-index="prChoosed"
	    @cancel="prShow = false"
	    @confirm="prConfirm"
	  />
	</van-popup>
	<!--企业规模选择器-->
	<van-popup v-model="munShow" round position="bottom">
	  <van-picker
	    show-toolbar
	    :columns="munData"
	    :default-index="munChoosed"
	    @cancel="munShow = false"
	    @confirm="munConfirm"
	  />
	</van-popup>
	<!--兼职类型选择器-->
	<van-popup v-model="partTypeShow" round position="bottom">
		<van-picker
				show-toolbar
				:columns="partTypeData"
				:default-index="partTypeChoosed"
				@cancel="partTypeShow = false"
				@confirm="partTypeConfirm"
		/>
	</van-popup>
	<!--兼职-结算周期选择器-->
	<van-popup v-model="partBillingCycleShow" round position="bottom">
		<van-picker
				show-toolbar
				:columns="partBillingCycleData"
				:default-index="partBillingCycleChoosed"
				@cancel="partBillingCycleShow = false"
				@confirm="partBillingCycleConfirm"
		/>
	</van-popup>
</div>
<script type="text/javascript">
var cityChoosed =	parseInt('{yun:}$cityChoosed{/yun}');
// 开启分站并选择分站
{yun:}if !$cityChoosed && $config['sy_web_site'] == 1 && ($config['province'] || $config['cityid'] || $config['three_cityid']){/yun}
	{yun:}if $config['three_cityid']{/yun}
		cityChoosed = parseInt('{yun:}$config["three_cityid"]{/yun}');
	{yun:}elseif $config['cityid']{/yun}
		cityChoosed = parseInt('{yun:}$config["cityid"]{/yun}');
	{yun:}elseif $config['province']{/yun}
		cityChoosed = parseInt('{yun:}$config["province"]{/yun}');
	{yun:}/if{/yun}
{yun:}/if{/yun}

var jobChoosed	=	parseInt('{yun:}$jobChoosed{/yun}');

var searchUrlObj = {};
'{yun:}if $searchUrlObj{/yun}'
searchUrlObj = JSON.parse('{yun:}$searchUrlObj{/yun}');
'{yun:}/if{/yun}'

//行业数据
var hy	=	parseInt('{yun:}$smarty.get.hy{/yun}');
var hyChoosed = 0;
var hyData = [];

//企业性质数据
var pr	=	parseInt('{yun:}$smarty.get.pr{/yun}');
var prChoosed = 0;
var prData = [];
//企业规模数据
var mun	=	parseInt('{yun:}$smarty.get.mun{/yun}');
var munChoosed = 0;
var munData = [];
// 兼职类型
var partType = parseInt('{yun:}$smarty.get.type{/yun}');
var partTypeChoosed = 0;
var partTypeData = [];
// 兼职-结算周期
var partBillingCycle = parseInt('{yun:}$smarty.get.cycle{/yun}');
var partBillingCycleChoosed = 0;
var partBillingCycleData = [];


var publictwo_vue =  new Vue({
		el: '#publictwo',
		data: {
			//城市筛选参数
	        areaValue:cityChoosed,
		    areaOptions:cityData,
		    areaShow:false,
		    //职能筛选参数
	        jobValue:jobChoosed,
		    jobOptions:jobData,
		    jobShow:false,
		    //职位更多筛选
		    jobmoreShow:false,
		    //简历更多筛选
		    resumemoreShow:false,
		    //行业
		    hyShow:false,
		    hyData:hyData,
		    hyChoosed:hyChoosed,
		    //企业性质
		    prShow:false,
		    prData:prData,
		    prChoosed:prChoosed,
		    //企业规模
		    munShow:false,
		    munData:munData,
		    munChoosed:munChoosed,
			//兼职类型
			partTypeShow: false,
			partTypeData: partTypeData,
			partTypeChoosed: partTypeData,
			//兼职-结算周期
			partBillingCycleShow: false,
			partBillingCycleData: partBillingCycleData,
			partBillingCycleChoosed: partBillingCycleData,
	    },
	    methods:{
	    	//筛选-地区
	    	onAreaFinish({selectedOptions}) {

		      	searchUrlObj.provinceid = searchUrlObj.cityid = searchUrlObj.threecityid = '';

		      	if(selectedOptions[0] && selectedOptions[0].value>0){
		      		searchUrlObj.provinceid = selectedOptions[0].value;
		      	}
		      	if(selectedOptions[1] && selectedOptions[1].value>0){
		      		searchUrlObj.cityid = selectedOptions[1].value;
		      	}
		      	if(selectedOptions[2] && selectedOptions[2].value>0){
		      		searchUrlObj.threecityid = selectedOptions[2].value;
		      	}
		      	this.searchUrl();
		    },
		    //筛选-职能
	    	onJobFinish({selectedOptions}) {
		      	
		      	searchUrlObj.job1 = searchUrlObj.job1son = searchUrlObj.jobpost = '';

		      	if(selectedOptions[0] && selectedOptions[0].value>0){
		      		searchUrlObj.job1 = selectedOptions[0].value;
		      	}
		      	if(selectedOptions[1] && selectedOptions[1].value>0){
		      		searchUrlObj.job1son = selectedOptions[1].value;
		      	}
		      	if(selectedOptions[2] && selectedOptions[2].value>0){
		      		searchUrlObj.jobpost = selectedOptions[2].value;
		      	}
		      	this.searchUrl();
		    },
		    hyConfirm:function(value,index){
		    	var that = this;
		    	searchUrlObj.hy = value.val;
		    	
		    	this.searchUrl();
		    },
		    prConfirm:function(value,index){
		    	var that = this;
		    	searchUrlObj.pr = value.val;
		    	
		    	this.searchUrl();
		    },
		    munConfirm:function(value,index){
		    	var that = this;
		    	searchUrlObj.mun = value.val;
		    	
		    	this.searchUrl();
		    },
			partTypeConfirm: function(value, index){
				var that = this;
				searchUrlObj.type = value.val;

				this.searchUrl();
			},
			partBillingCycleConfirm: function(value, index){
				var that = this;
				searchUrlObj.cycle = value.val;

				this.searchUrl();
			},
		    searchUrl(){
		    	var url = wapurl+'?';

		    	var url_arr = [];
				for(let i in searchUrlObj){
					url_arr.push(i+'='+searchUrlObj[i]);
				}
				url += url_arr.join('&');
				location.href = url;
			},
		}
	});
function areashow(){
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.areaShow = true;
}
function jobshow(){
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.jobShow = true;
}
function jobmoreShow(){
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.jobmoreShow = true;
}
function resumemoreShow(){
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.resumemoreShow = true;
}
function hyshow(){
	//行业数据
	if(typeof hi !='undefined' && hi.length>0){
		for(let i in hi){
			hyData.push({text:hyname[hi[i]],val:hi[i]});
			if(hy == hi[i]){
				hyChoosed = i;
			}
		}
	}
	publictwo_vue.$data.hyData = hyData;
	publictwo_vue.$data.hyChoosed = hyChoosed;
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.hyShow = true;
}
function prshow(){
	//企业性质数据
	if(typeof comd!='undefined' && comd['job_pr'].length>0){
		for(let i in comd['job_pr']){
			prData.push({text:comn[comd['job_pr'][i]],val:comd['job_pr'][i]});
			if(pr == comd['job_pr'][i]){
				prChoosed = i;
			}
		}
	}
	publictwo_vue.$data.prData = prData;
	publictwo_vue.$data.prChoosed = prChoosed;
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.prShow = true;
}
function munshow(){
	//企业规模数据
	if(typeof comd!='undefined' && comd['job_mun'].length>0){
		for(let i in comd['job_mun']){
			munData.push({text:comn[comd['job_mun'][i]],val:comd['job_mun'][i]});
			if(mun == comd['job_mun'][i]){
				munChoosed = i;
			}
		}
	}
	publictwo_vue.$data.munData = munData;
	publictwo_vue.$data.munChoosed = munChoosed;
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.munShow = true;
}
function partTypeShow(){
	//兼职类型数据
	if(typeof partd!='undefined' && partd['part_type'].length>0){
		for(let i in partd['part_type']){
			partTypeData.push({text:partn[partd['part_type'][i]],val:partd['part_type'][i]});
			if(partType == partd['part_type'][i]){
				partTypeChoosed = i;
			}
		}
	}
	publictwo_vue.$data.partTypeData = partTypeData;
	publictwo_vue.$data.partTypeChoosed = partTypeChoosed;
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.partTypeShow = true;
}
function partBillingCycleShow(){
	//兼职类型数据
	if(typeof partd!='undefined' && partd['part_billing_cycle'].length>0){
		for(let i in partd['part_billing_cycle']){
			partBillingCycleData.push({text:partn[partd['part_billing_cycle'][i]],val:partd['part_billing_cycle'][i]});
			if(partBillingCycle == partd['part_billing_cycle'][i]){
				partBillingCycleChoosed = i;
			}
		}
	}
	publictwo_vue.$data.partBillingCycleData = partBillingCycleData;
	publictwo_vue.$data.partBillingCycleChoosed = partBillingCycleChoosed;
	$('#publictwo').removeClass('none');
	publictwo_vue.$data.partBillingCycleShow = true;
}
$(document).ready(function() {
	$("#job").submit(function(e) {
		var min = $("#minjob").val();
		var max = $("#maxjob").val();
		if(min && max && parseInt(max) < parseInt(min)) {
			$("#minjob").val(max);
			$("#maxjob").val(min);
		}
	});

	
});
function check_edu_li(id,type){
	//var comedu=$("#comedu").val();
	$('.eduCtrl').removeClass('conditional_screening_cur');
	$('#edu'+id).addClass('conditional_screening_cur');
	$('#comedu').removeAttr('disabled');
	$('#comedu').val(id);
}
function check_welfare_li(id,type){
	var comwelfare=$("#comwelfare").val();
	$('#welfare'+comwelfare).attr('class','');
	$('#welfare'+id).attr('class','conditional_screening_cur');
	$('#comwelfare').removeAttr('disabled');
	$('#comwelfare').val(id);
}
function check_exp_li(id,type){
	//var comexp = $("#comexp").val(); 
	$('.expCtrl').removeClass('conditional_screening_cur');
	$('#exp'+id).addClass('conditional_screening_cur');
	$('#comexp').removeAttr('disabled');
	$('#comexp').val(id);

}
function check_sex_li(id,type){
	//var comsex=$("#comsex").val();
	$('.sexCtrl').removeClass('conditional_screening_cur');
	$('#sex'+id).addClass('conditional_screening_cur');
	$('#comsex').removeAttr('disabled');
	$('#comsex').val(id); 
}
function check_uptime_li(id,type){
	var comuptime=$("#comuptime").val();
	$('#uptime'+comuptime).attr('class','');
	$('#uptime'+id).attr('class','conditional_screening_cur');
	if(id){
	$('#comuptime').removeAttr('disabled');
	}else{
	$('#comuptime').attr("disabled","disabled");
	}

	$('#comuptime').val(id);
}
function check_pr_li(id,type){
	var compr=$("#compr").val();
	$('#pr'+compr).attr('class','');
	$('#pr'+id).attr('class','conditional_screening_cur');
	if(id){
	$('#compr').removeAttr('disabled');
	}else{
	$('#compr').attr("disabled","disabled");
	}
	$('#compr').val(id);

}
function check_mun_li(id,type){
	var commun=$("#commun").val();
	$('#mun'+commun).attr('class','');
	$('#mun'+id).attr('class','conditional_screening_cur');
	if(id){
	$('#commun').removeAttr('disabled');
	}else{
	$('#commun').attr("disabled","disabled");
	}
	$('#commun').val(id);  

}
function check_userexp_li(id,type){
	var userexp=$("#userexp").val();
	$('#uexp'+userexp).attr('class','');
	$('#uexp'+id).attr('class','conditional_screening_cur');
	$('#userexp').removeAttr('disabled');
	$('#userexp').val(id);
}
function check_integrity_li(id,type){
	var userintegrity=$("#userintegrity").val();
	$('#integrity'+userintegrity).attr('class','');
	$('#integrity'+id).attr('class','conditional_screening_cur');
	$('#userintegrity').removeAttr('disabled');
	$('#userintegrity').val(id);
}
function check_usex_li(id,type){
	$('.sexCtrl').removeClass('conditional_screening_cur');
	$('#sex'+id).addClass('conditional_screening_cur');
	$('#usersex').removeAttr('disabled');
	$('#usersex').val(id);  
}
function check_uedu_li(id,type){
	var useredu=$("#useredu").val();
	$('#uedu'+useredu).attr('class','');
	$('#uedu'+id).attr('class','conditional_screening_cur');
	$('#useredu').removeAttr('disabled');
	$('#useredu').val(id);
}
function check_report_li(id,type){
	var userreport=$("#userreport").val();
	$('#report'+userreport).attr('class','');
	$('#report'+id).attr('class','conditional_screening_cur');
	$('#userreport').removeAttr('disabled');
	$('#userreport').val(id);
}
function check_useruptime_li(id,type){
	var useruptime=$("#useruptime").val();
	$('#uuptime'+useruptime).attr('class','');
	$('#uuptime'+id).attr('class','conditional_screening_cur');
	$('#useruptime').removeAttr('disabled');
	$('#useruptime').val(id);
}
function check_tag_li(id,type){
	var usertag=$("#usertag").val();
	$('#tag'+usertag).attr('class','');
	$('#tag'+id).attr('class','conditional_screening_cur');
	if(id){
		$('#usertag').removeAttr('disabled');
	}else{
		$('#usertag').attr("disabled","disabled");
	}
	$('#usertag').val(id);
}
function check_rtype_li(id,type){

	var userrtype=$("#userrtype").val();
	$('#rtype'+userrtype).attr('class','');
	$('#rtype'+id).attr('class','conditional_screening_cur');
	if(id){
		$('#userrtype').removeAttr('disabled');
	}else{
		$('#userrtype').attr("disabled","disabled");
	}
	$('#userrtype').val(id);
}
</script>