/***
 * _ooOoo_
 * o8888888o
 * 88" . "88
 * (| -_- |)
 *  O\ = /O
 * ___/`---'\____
 * .   ' \\| |// `.
 * / \\||| : |||// \
 * / _||||| -:- |||||- \
 * | | \\\ - /// | |
 * | \_| ''\---/'' | |
 * \ .-\__ `-` ___/-. /
 * ___`. .' /--.--\ `. . __
 * ."" '< `.___\_<|>_/___.' >'"".
 * | | : `- \`.;`\ _ /`;.`/ - ` : | |
 * \ \ `-. \_ __\ /__ _/ .-` / /
 * ======`-.____`-.___\_____/___.-`____.-'======
 * `=---='
 *          .............................................
 *           佛曰：bug泛滥，我已瘫痪！
 */
.pupopChoice {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 333;
    display: none;
}

.pupopConAll {
    width: 980px;
    height: 625px;
    background: #fff;
    border-radius: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 444;
}

.pupopConAllOne {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.pupopConAllOne .conAllOneOice {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.pupopConAllOne .conAllOneOice p {
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
}

.pupopConAllOne .conAllOneOice .conAllOneInput {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 2px;
    width: 340px;
}

.pupopConAllOne .conAllOneOice .conAllOneInput button {
    width: 18px;
    background: none;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.pupopConAllOne .conAllOneOice .conAllOneInput button img {
    width: 100%;
    height: auto;
}

.pupopConAllOne .conAllOneOice .conAllOneInput input {
    height: 26px;
    border: none;
    background: none;
    width: 290px;
}

.pupopConAllOne .conAllOneClose {
    width: 18px;
    overflow: hidden;
    cursor: pointer;
}

.pupopConAllOne .conAllOneClose img {
    width: 100%;
    height: auto;
}

.pupopTwoFrist {
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.pupopTwoFrist .pupopFristLeft {
    overflow-y: auto;
    width: 185px;
    height: 500px;
    float: left;
    border-right: 1px solid #eee;
}

.pupopTwoFrist .pupopFristLeft::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    background: #eee;
    display: none;
}

.pupopTwoFrist .pupopFristLeft::-webkit-scrollbar-thumb {
    background: rgba(23, 135, 251, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.pupopTwoFrist .pupopFristLeft::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #eee;
}

.pupopTwoFrist .pupopFristLeft ul {
    overflow: hidden;
}

.pupopTwoFrist .pupopFristLeft ul li {
    overflow: hidden;
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    cursor: pointer;
}

.pupopTwoFrist .pupopFristLeft ul li:hover {
    background: #f2fbff;
}

.pupopTwoFrist .pupopFristLeft ul li .fristLeftp1 {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.pupopTwoFrist .pupopFristLeft ul li .fristLeftp1 span {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-right: 5px;
    background: #fff;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pupopTwoFrist .pupopFristLeft ul li .fristLeftp1 span i {
    display: none;
    font-size: 12px;
    color: #fff;
}

.pupopTwoFrist .pupopFristLeft ul li .fristLeftp1 .spanLinkOne {
    background: #1787fb;
}

.pupopTwoFrist .pupopFristLeft ul li .fristLeftp1 .spanLinkOne i {
    display: block;
}

.pupopTwoFrist .pupopFristLeft ul li .fristLeftp1 p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}

.pupopTwoFrist .pupopFristLeft ul .fristCur {
    background: #f2fbff;
}

.pupopTwoFrist .pupopFristLeft ul .fristCur .fristLeftp1 p {
    color: #1787fb;
}

.pupopTwoFrist .pupopFristLeft ul .fristCur .fristLeftp2 i {
    color: #1787fb;
}

.pupopTwoFrist .pupopFristRight {
    overflow: hidden;
    width: 793px;
    height: 500px;
}

.pupopTwoFrist .pupopFristRight .fristRightCon {
    overflow: hidden;
    display: none;
}

.pupopTwoFrist .pupopFristRight .fristOn {
    display: block !important;
}

.secondTab {
    overflow: hidden;
}

.secondTab .secondTabLeft {
    overflow-y: auto;
    width: 100%;
}

.secondTab .secondTabLeft::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    background: #eee;
    display: none;
}

.secondTab .secondTabLeft::-webkit-scrollbar-thumb {
    background: #ffedd1;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.secondTab .secondTabLeft::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #eee;
}

.secondTab .secondTabLeft ul {
    overflow-y: auto;
    width: 185px;
    height: 500px;
    float: left;
    border-right: 1px solid #eee;
}

.secondTab .secondTabLeft ul li {
    overflow: hidden;
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    cursor: pointer;
}

.secondTab .secondTabLeft ul li .tabLeftName {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.secondTab .secondTabLeft ul li .tabLeftName span {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-right: 5px;
    background: #fff;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondTab .secondTabLeft ul li .tabLeftName span i {
    display: none;
    font-size: 12px;
    color: #fff;
}

.secondTab .secondTabLeft ul li .tabLeftName .spanLinkTwo {
    background: #f90;
}

.secondTab .secondTabLeft ul li .tabLeftName .spanLinkTwo i {
    display: block;
}

.secondTab .secondTabLeft ul li .tabLeftName p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}

.secondTab .secondTabLeft ul .secoCur {
    background: #ffedd1;
}

.secondTab .secondTabLeft ul .secoCur .tabLeftName p {
    color: #f90;
}

.secondTab .secondTabLeft ul .secoCur .tabLeftFanx i {
    color: #f90;
}

.secondTab .secondTabRight {
    overflow-y: auto;
    width: 600px;
    height: 500px;
}

.secondTab .secondTabRight::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    background: #f2f2f2;
    display: none;
}

.secondTab .secondTabRight::-webkit-scrollbar-thumb {
    background: rgba(23, 135, 251, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.secondTab .secondTabRight::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #f2f2f2;
}

.secondTab .secondTabRight .tabRightCont {
    overflow: hidden;
    padding: 10px;
    display: none;
}

.secondTab .secondTabRight .secoOn {
    display: block !important;
}

/*++++++++++++++++++*/
.thirdChoice {
    overflow: hidden;
    min-height: 200px;
    /*height: 800px;*/
}

.thirdChoice .thirdList {
    overflow: hidden;
    display: flex;
    align-items: center;
    float: left;
    width: 33.33%;
    margin-bottom: 15px;
    cursor: pointer;
}

.thirdChoice .thirdList span {
    overflow: hidden;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin-right: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thirdChoice .thirdList span i {
    display: none;
    font-size: 12px;
}

.thirdChoice .thirdList p {
    color: #333;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    white-space: nowrap;
}

.thirdChoice .thirdLink span {
    background: #2f8cf0;
}

.thirdChoice .thirdLink span i {
    display: block;
    color: #fff;
}

.thirdChoice .thirdLink p {
    color: #2f8cf0;
}

.pupopConAllButt {
    overflow: hidden;
    min-height: 66px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.pupopConAllButt .footerp2Name {
    overflow: hidden;
    font-size: 15px;
    color: #666;
}

.pupopConAllButt .footerp2 {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.pupopConAllButt .footerp2 .footerpFlex{
    overflow-x: auto;
    width: 630px;
    /*height: 40px;*/
    margin-right: 20px;
}



.pupopConAllButt .footerp2 .footerpFlex::-webkit-scrollbar {
    width: 3px;
    height: 6px;
    background: #f2f2f2;
    margin-top: 3px;
}

.pupopConAllButt .footerp2 .footerpFlex::-webkit-scrollbar-thumb {
    background: rgba(23, 135, 251, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.pupopConAllButt .footerp2 .footerpFlex::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #f2f2f2;
}





.pupopConAllButt .footerp2 .footerp2List {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    padding: 2px 0;
}

.pupopConAllButt .footerp2 .footerp2List p {
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #2f8cf0;
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 7px;
    cursor: pointer;
}

.pupopConAllButt .footerp2 .footerp2List p span {
    color: #fff;
    padding-right: 12px;
}

.pupopConAllButt .footerp2 .footerp2More {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.pupopConAllButt .footerp4 {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.pupopConAllButt .footerp4 a {
    overflow: hidden;
    display: block;
    width: 110px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 15px;
    color: #666;
}

.pupopConAllButt .footerp4 a.footerp4Buts {
    background: #2f8cf0;
    border: 1px solid #2f8cf0;
    color: #fff;
}

.layuNputBlock {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.secondTab .secondTabLeft ul li .mustNot span {
    background: #ddd;
}

.secondTab .secondTabLeft ul li .mustNot span i {
    display: block;
}

.secondTab .secondTabLeft .mustNotSan span {
    background: #ddd;
}

.secondTab .secondTabLeft .mustNotSan span i {
    display: block;
    color: #fff;
}

.pupopNoSearch {
    min-height: 501px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}