<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^news\.html$ news\.html [L]
RewriteRule ^index\.html$ index\.html [L]
RewriteRule ^(.*)/c_(.*)\.html$ $1/index.php?yunurl=c_$2 [L]

RewriteRule ^(?!about|admin|announcement|api|app|article|ask|company|config|data|error|evaluate|hr|install|job|js|lietou|login|map|member|news|once|part|redeem|register|resume|reward|school|siteadmin|special|tiny|train|wap|wapadmin|weixin|zph|xjhlive|spview)([a-z]+)/$ index.php?indexdir=$1 [L]


RewriteRule ^company/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*).html$ company/index.php?cityid=$1&mun=$2&welfare=$3&hy=$4&pr=$5&rec=$6&keyword=$7&page=$8 [L]
RewriteRule ^company/([0-9]+)\.html$ company/index.php?c=show&id=$1 [L]
RewriteRule ^company/(.*)\.html$ company/index.php?yunurl=$1 [L]
RewriteRule ^company/company-show-(.*)\.html$ company/index.php?id=$1 [L]
RewriteRule ^company/(.*)/(.*)\.html$ company/index.php?tp=$1&id=$2 [L]


RewriteRule ^job/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*).html?(.+)$ job/index.php?c=search&job=$1&city=$2&salary=$3&all=$4&tp=$5&cert=$6&order=$7&page=$8&keyword=%{QUERY_STRING} [L]
RewriteRule ^job/([0-9]+)\.html$ job/index.php?c=comapply&id=$1 [L]

RewriteRule ^resume/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*)-(.*).html?(.+)$ resume/index.php?c=search&job=$1&city=$2&salary=$3&all=$4&tp=$5&order=$6&page=$7&keyword=%{QUERY_STRING} [L]
RewriteRule ^resume/([0-9]+)\.html$ resume/index.php?c=show&id=$1 [L]
RewriteRule ^resume/(.*)\.html$ resume/index.php?yunurl=$1 [L]

RewriteRule ^ask/(.*)\.html$ ask/index.php?yunurl=$1 [L]
RewriteRule ^once/list/(.*)-(.*)-(.*).html?(.+)$ once/index.php?city=$1&add_time=$2&page=$3&keyword=%{QUERY_STRING} [L]
RewriteRule ^once/(.*)\.html$ once/index.php?yunurl=$1 [L]

RewriteRule ^tiny/list/(.*)-(.*)-(.*)-(.*)-(.*).html?(.+)$ tiny/index.php?city=$1&sex=$2&exp=$3&add_time=$4&page=$5&keyword=%{QUERY_STRING} [L]
RewriteRule ^tiny/(.*)\.html$ tiny/index.php?yunurl=$1 [L]
RewriteRule ^map/(.*)\.html$ map/index.php?yunurl=$1 [L]
RewriteRule ^evaluate/(.*)\.html$ evaluate/index.php?yunurl=$1 [L]

RewriteRule ^lietou/(.*)\.html$ lietou/index.php?yunurl=$1 [L]
RewriteRule ^lietou/(.*)\.html$ lietou/index.php?c=jobshow&id=$1 [L]


RewriteRule ^train/list/(.*)-(.*)-(.*)-(.*)-(.*)-(.*).html?(.+)$ train/index.php?c=$1&city=$2&hy=$3&all=$4&orderby=$5&page=$6&keyword=%{QUERY_STRING} [L]
RewriteRule ^train/(.*)\.html$ train/index.php?yunurl=$1 [L]
RewriteRule ^wap/(.*)\.html(.*)$ wap/index.php?yunurl=$1 [L]
RewriteRule ^zph/(.*)\.html$ zph/index.php?yunurl=$1 [L]
RewriteRule ^type_(.*)\.html$ index.php?yunurl=type_$1 [L]
RewriteRule ^m_(.*)\.html$ index.php?yunurl=m_$1 [L]
RewriteRule ^c_(.*)\.html$ index.php?yunurl=c_$1 [L]

RewriteRule ^part/list/(.*)-(.*)-(.*)-(.*)-(.*).html?(.+)$ part/index.php?city=$1&part_type=$2&cycle=$3&order=$4&page=$5&keyword=%{QUERY_STRING} [L]
RewriteRule ^part/(.*)\.html$ part/index.php?yunurl=$1 [L]

RewriteRule ^register/(.*)\.html$ register/index.php?yunurl=$1 [L]


RewriteRule ^article/(.*)\.html$ index.php?m=article&c=show&id=$1 [L]



RewriteRule ^announcement/(.*)\.html$ announcement/index.php?yunurl=$1 [L]

RewriteRule ^redeem/list/(.*)-(.*)-(.*)-(.*).html$ redeem/index.php?c=list&intinfo=$1&nid=$2&tnid=$3&page=$4 [L]
ErrorDocument 404 /Error.php
</IfModule>
