<!DOCtYPE html PUBLIC "-//W3C//DtD XHtML 1.0 transitional//EN" "http://www.w3.org/tR/xhtml1/DtD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{yun:}$title{/yun}</title>
		<meta name=keywords content="{yun:}$keywords{/yun}" />
		<meta name=description content="{yun:}$description{/yun}" />
		<link rel="stylesheet" href="{yun:}$resumestyle{/yun}/css/resume.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
		<link rel="stylesheet" href="{yun:}$style{/yun}/style/tips.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
		<link href="{yun:}$config.sy_weburl{/yun}/js/datetimepicker/jquery.datetimepicker.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script>
			var weburl = "{yun:}$config.sy_weburl{/yun}";
		</script>
		<style type="text/css" media=print>
			.noprint {
				display: none
			}
		</style>

		<body class="resume_bg_c">
			<div class="yun_resume_content" style="{yun:}if $smarty.get.see=='member'{/yun}width:850px{yun:}/if{/yun}">
				{yun:}if $smarty.get.see!='member'{/yun}
				<!--header-->
				<div class="yun_resume_header noprint">
					<div class="yun_resume_logo">
						<a href="{yun:}$config.sy_weburl{/yun}"><img src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_logo{/yun}" class="png" style=" border:none;"></a>
					</div>
					<div class="yun_resume_logo_zt">
						编号：<span class="yun_resume_logo_zt_n">{yun:}$Info.id{/yun}</span>
						<em class="yun_resume_logo_zt_list"> 简历更新：<span class="yun_resume_logo_zt_n">{yun:}$Info.lastupdate{/yun}  </span>  </em> 
						浏览：<span class="yun_resume_logo_zt_n"><script language="javascript" src="{yun:}url m=resume c=show a=GetHits id='`$Info.id`'{/yun}"></script> 次 </span> 
						<em class="yun_resume_logo_zt_list">两周内简历回复率：<span class="yun_resume_logo_zt_n">{yun:}$pre{/yun}%</span></em>
					</div>
				</div>
				<!--header end-->
				{yun:}/if{/yun}
				<div class="yun_resume_left">
					{yun:}if $Info.sqInfo{/yun}
					<div class="yun_resume_sq_job">
						<ul>
							<li>投递职位：{yun:}$Info.sqInfo.sq_job_name{/yun}</li>
							<li>投递时间：{yun:}$Info.sqInfo.sq_job_time{/yun}</li>
							<li>最近登录：{yun:}$Info.login_date_n{/yun}</li>
						</ul>
					</div>
					{yun:}/if{/yun}
					{yun:}if $Info.info_status=="1" || $usertype=="2" || $Info.uid==$uid{/yun}
					<div class="one_vita_content">
						<div class="one_vita_Basic">
							<div class="one_vita_Basic_photo"><img src="{yun:}$Info.photo{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);" width="120" height="120"></div>
							<div class="one_vita_Basic_info">
								<i class="one_vita_Basic_info_bg"></i>
								<div class="one_vita_name">
									{yun:}if $Info.m_status=="1"{/yun}{yun:}$Info.name{/yun}{yun:}else{/yun}{yun:}$Info.username_n{/yun}{yun:}/if{/yun} 
									{yun:}if $Info.idcard_status==1 && $Info.idcard{/yun}<span class="one_vita_name_yrz"><img src="{yun:}$config.sy_weburl{/yun}/app/template/resume/images/three_sf.png" title="身份已认证"> 已认证</span>{yun:}/if{/yun} 
									{yun:}if $UserMember.source==6 && $UserMember.claim==0 && $UserMember.email!=""{/yun}
									<a class="resume_rz " href="javascript:void(0);" onClick="claim('{yun:}url m=ajax c=claim uid=$Info.uid{/yun}')">认领</a>
									{yun:}/if{/yun}
									
	       		<!-- 优质人才标识   ------------------------------------------------------------------>
			{yun:}if $Info.height_status == 2{/yun} <i class="yun_newedition_resume_good" style="right:-55px;top:20px;"></i>{yun:}/if{/yun}
									
								</div>
								
								<div class="one_vita_line "></div>
								
								
								<div class="one_vita_Basic_info_t">
									<span class="one_vita_Basic_icon one_vita_Basic_Sex  png">{yun:}$Info.job_sex{/yun}</span>
									<span class="one_vita_Basic_icon one_vita_Basic_Age png">{yun:}$Info.age{/yun}岁</span>
									<span class="one_vita_Basic_icon one_vita_Basic_Exp png">{yun:}$Info.user_exp{/yun}</span>
									<span class="one_vita_Basic_icon one_vita_Basic_Edu png">学历：{yun:}$Info.useredu{/yun}</span>
									<span class="one_vita_Basic_icon one_vita_Basic_add png">{yun:}$Info.living{/yun}</span>
								</div>
								{yun:}if $Info.basic_info=='1'{/yun}
								<div class="one_vita_Basic_info_c">
									{yun:}if $Info.user_marriage{/yun}<span class="one_vita_Identity">{yun:}$Info.user_marriage{/yun}</span><span class="one_vita_line_jg">|</span>{yun:}/if{/yun} 
									{yun:}if $Info.domicile{/yun}<span class="one_vita_Identity">户籍：{yun:}$Info.domicile{/yun} </span><span class="one_vita_line_jg">|</span>{yun:}/if{/yun}
									{yun:}if $Info.weight||$Info.height{/yun}
								    <span class="one_vita_Identity">
								    	{yun:}if $Info.height{/yun}{yun:}$Info.height{/yun}cm{yun:}/if{/yun}
								    	{yun:}if $Info.weight&&$Info.height{/yun}/{yun:}/if{/yun}
								    	{yun:}if $Info.weight{/yun} {yun:}$Info.weight{/yun}kg{yun:}/if{/yun} 
								    </span>
								    <span class="one_vita_line_jg">|</span>
								    {yun:}/if{/yun} 
									{yun:}if $Info.nationality{/yun}<span class="one_vita_Identity">{yun:}$Info.nationality{/yun}</span>{yun:}/if{/yun}
								</div>
								{yun:}/if{/yun}
							</div>
						</div>
						{yun:}/if{/yun}

						<div class="one_vita_list_cont">
							<div class="one_vita_list">
								<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">求职意向</span></div>
								<i class="one_vita_list_h1_iconbg"></i>
								<i class="one_vita_list_h1_icon reaume_iconyx"></i>
								<div class="one_vita_list_line">
									<div class="one_vita_Intention "><i class="one_vita_Intention_i one_vita_red"></i>意向岗位：{yun:}$Info.customjob{/yun} </div>
									<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>工作地点： 
										{yun:}foreach from=$Info.expectcity key=key item=v{/yun} 
											{yun:}if $key<5{/yun} 
												{yun:}$v{/yun}&nbsp; 
											{yun:}/if{/yun}
										{yun:}/foreach{/yun} 
									</div>

									<div class="one_vita_Intention "><i class="one_vita_Intention_i one_vita_red"></i>期望行业：{yun:}$Info.hy{/yun} </div>
									<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>待遇要求：{yun:}$Info.salary{/yun}</div>
									{yun:}if $Info.report{/yun}<div class="one_vita_Intention "><i class="one_vita_Intention_i one_vita_red"></i>到职时间：{yun:}$Info.report{/yun}</div>{yun:}/if{/yun} 
									{yun:}if $Info.type{/yun}<div class="one_vita_Intention "><i class="one_vita_Intention_i one_vita_red"></i>职位性质：{yun:}$Info.type{/yun}</div>{yun:}/if{/yun} 
									{yun:}if $Info.jobstatus{/yun}<div class="one_vita_Intention "><i class="one_vita_Intention_i one_vita_red"></i>求职状态：{yun:}$Info.jobstatus{/yun}</div> {yun:}/if{/yun}
									<div class="one_vita_Intention" style="width:600px;">
										<i class="one_vita_Intention_i one_vita_red" style="top:18"></i>工作职能： 
										{yun:}foreach from=$Info.expectjob key=key item=v{/yun} 
											{yun:}if $key<5{/yun}<span class="">{yun:}$v{/yun}</span>{yun:}/if{/yun} 
										{yun:}/foreach{/yun}
									</div>
								</div>
							</div>
							{yun:}if $resumeCkeck==1{/yun}
								{yun:}if !empty($Info.description){/yun}
								<div class="one_vita_list">

									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">自我评价</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconpj"></i>

									<div class="one_vita_list_line">
										<div class="one_vita_skill">
											<div class="one_vita_skill_Intention"><i class="one_vita_Intention_i one_vita_red"></i>自我评价：{yun:}$Info.description{/yun} </div>
											{yun:}if $Info.arrayTag{/yun}
											<div class="one_vita_skill_Intention" style="padding-top:15px;">
												{yun:}foreach from=$Info.arrayTag item=v{/yun}
													<span class="resume_user_bq">{yun:}$v{/yun}</span> 
												{yun:}/foreach{/yun}
											</div>
											{yun:}/if{/yun}
										</div>
									</div>
								</div>
								{yun:}/if{/yun} 
								
								
								{yun:}if is_array($Info.user_work) && !empty($Info.user_work){/yun}
								<div class="one_vita_list" id="m3">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">工作经历</span>
									</div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconjl"></i>
									
									<div class="one_vita_list_line">
										{yun:}if $Info.avghour>0{/yun}<span class="yun_resume_jobtime">平均工作时长：{yun:}$Info.avghourInfo{/yun}</span>{yun:}/if{/yun}
										{yun:}foreach item=one from=$Info.user_work{/yun}
										<div class="one_vita_skill">
											<div class="one_vita_skill_Intention">
												{yun:}if $one.sdate!=0{/yun}<div class="one_vita_introduction_a one_vita_date"><i class="one_vita_Intention_i one_vita_red"></i>{yun:}$one.sdate|date_format:"%Y年%m月"{/yun} - {yun:}if $one.edate{/yun}{yun:}$one.edate|date_format:"%Y年%m月"{/yun}{yun:}else{/yun}至今{yun:}/if{/yun} </div><span style="color: red;">【{yun:}$one.time_n{/yun}】</span>{yun:}/if{/yun}
												<div class="one_vita_introduction_a one_vita_dw_name bold">{yun:}$one.name{/yun}</div>
												{yun:}if $one.title{/yun}
												<div class="one_vita_introduction_a one_vita_dw_zw bold">担任：{yun:}$one.title{/yun}</div>
												{yun:}/if{/yun}
											</div>
											{yun:}if $one.content{/yun}
											<div class="one_vita_skill_Intention">工作职责：{yun:}$one.content{/yun} </div>
											{yun:}/if{/yun}
										</div>
										{yun:}/foreach{/yun}
									</div>
								</div>
								{yun:}/if{/yun} 
								{yun:}if is_array($Info.user_edu) && !empty($Info.user_edu){/yun}
								<div class="one_vita_list" id="m0">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">教育经历</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconjy"></i>
									
									<div class="one_vita_list_line">
										{yun:}foreach item=one from=$Info.user_edu{/yun}
										<div class="one_vita_skill">
											<div class="one_vita_skill_Intention">
												{yun:}if $one.sdate>0{/yun}<div class="one_vita_introduction_a one_vita_date"><i class="one_vita_Intention_i one_vita_red"></i>{yun:}$one.sdate|date_format:"%Y年%m月"{/yun} - {yun:}$one.edate|date_format:"%Y年%m月"{/yun} </div>{yun:}/if{/yun}
												<div class="one_vita_introduction_a one_vita_jy_x bold">{yun:}$one.name{/yun} </div>
												{yun:}if $one.education_n{/yun}<div class="one_vita_introduction_a one_vita_dw_jydr ">学历：{yun:}$one.education_n{/yun}</div>{yun:}/if{/yun}
												{yun:}if $one.title{/yun}<div class="one_vita_introduction_a one_vita_dw_jydr ">职务：{yun:}$one.title{/yun}</div>{yun:}/if{/yun}
												{yun:}if $one.specialty{/yun}<div class="one_vita_introduction_a one_vita_dw_jydr ">主修专业：{yun:}$one.specialty{/yun}</div>{yun:}/if{/yun}
											</div>
										</div>
										{yun:}/foreach{/yun}
									</div>
								</div>
								{yun:}/if{/yun}
								{yun:}if $Info.m_status=="1"{/yun} {yun:}if is_array($Info.user_skill) && !empty($Info.user_skill){/yun}
								<div class="one_vita_list" id="m2">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">职业技能</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconjn"></i>
									<div class="one_vita_list_line" id="skill_photos">
										{yun:}foreach item=one from=$Info.user_skill{/yun}
										<div class="one_vita_skill">
											<div class="one_vita_skill_Intention"> <i class="one_vita_Intention_i one_vita_red"></i>
												<div class=" ">技能名称：{yun:}$one.name{/yun}</div>
												<div class=" ">熟练程度：{yun:}$one.ing_n{/yun}</div>
												{yun:}if $one.longtime{/yun}<div class=" ">掌握时间：{yun:}$one.longtime{/yun}年 </div>{yun:}/if{/yun}
												{yun:}if $one.picurl{/yun}
												<div class="zs_imgbox ">技能证书：
												{yun:}if $one.picurl{/yun}
													<img src="{yun:}$one.picurl{/yun}" lay-src="{yun:}$one.picurl{/yun}" width="210" height="153" />
												{yun:}/if{/yun} 
												</div>
												{yun:}/if{/yun}
											</div>
										</div>
										{yun:}/foreach{/yun}
									</div>
									
								</div>
								{yun:}/if{/yun}
								{yun:}/if{/yun} {yun:}if is_array($Info.user_xm) && !empty($Info.user_xm){/yun}
								<div class="one_vita_list" id="m4">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">项目经历</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconxm"></i>
									
									<div class="one_vita_list_line">
										{yun:}foreach item=one from=$Info.user_xm{/yun}
										<div class="one_vita_skill">
											<div class="one_vita_skill_Intention"><i class="one_vita_Intention_i one_vita_red"></i>
												{yun:}if $one.sdate>0{/yun}<div class="one_vita_introduction_a one_vita_date">{yun:}$one.sdate|date_format:"%Y年%m月"{/yun} - {yun:}$one.edate|date_format:"%Y年%m月"{/yun} </div>{yun:}/if{/yun}
												<div class="one_vita_introduction_a one_vita_dw_name bold">{yun:}$one.name{/yun}</div>
												{yun:}if $one.title{/yun}<div class="one_vita_introduction_a one_vita_dw_zw  bold">担任：{yun:}$one.title{/yun}</div>{yun:}/if{/yun}
												{yun:}if $one.content{/yun}<div class="vita_skill_Intention_xmms">项目描述：{yun:}$one.content{/yun} </div>{yun:}/if{/yun}
											</div>
										</div>
										{yun:}/foreach{/yun}
									</div>
									
								</div>
								{yun:}/if{/yun}
								{yun:}if is_array($Info.user_tra) && !empty($Info.user_tra){/yun}
								<div class="one_vita_list" id="m1">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">培训经历</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconpx"></i>
									<div class="one_vita_list_line">
										{yun:}foreach item=one from=$Info.user_tra{/yun}
										<div class="one_vita_skill">
											<div class="one_vita_skill_Intention"><i class="one_vita_Intention_i one_vita_red"></i>
												{yun:}if $one.sdate>0{/yun}<div class="one_vita_introduction_a one_vita_date">{yun:}$one.sdate|date_format:"%Y年%m月"{/yun} - {yun:}$one.edate|date_format:"%Y年%m月"{/yun} </div>{yun:}/if{/yun}
												<div class="one_vita_introduction_a one_vita_dw_name bold">{yun:}$one.name{/yun} </div>
												{yun:}if $one.title{/yun}<div class="one_vita_introduction_a one_vita_dw_bm bold">培训方向：{yun:}$one.title{/yun}</div>{yun:}/if{/yun}
												{yun:}if $one.content{/yun}<div class="vita_skill_Intention_xmms">培训内容：{yun:}$one.content{/yun} </div>{yun:}/if{/yun}
											</div>
										</div>
										{yun:}/foreach{/yun}
									</div>
								</div>
								{yun:}/if{/yun}
								
								{yun:}if is_array($Info.user_other) && !empty($Info.user_other){/yun}
								<div class="one_vita_list" id="m6">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">其他信息</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconqt"></i>
									<div class="one_vita_list_line">
										{yun:}foreach item=one from=$Info.user_other{/yun}
										<div class="one_vita_skill">
											<div class="one_vita_skill_Intention"><i class="one_vita_Intention_i one_vita_red"></i>
												<div class="vita_skill_Intention_xmms">其他标题：{yun:}$one.name{/yun} </div>
												{yun:}if $one.content{/yun}
												<div class="vita_skill_Intention_xmms">其他描述：{yun:}$one.content{/yun} </div>{yun:}/if{/yun}
											</div>
										</div>
										{yun:}/foreach{/yun}
									</div>
								</div>
								{yun:}/if{/yun}
								{yun:}if is_array($Info.user_show) && !empty($Info.user_show){/yun}
									{yun:}if ($Info.uid == $uid && $usertype == 1) || $Info.m_status == 1{/yun}
									<div class="one_vita_list">
										<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">我的作品</span></div>
										<i class="one_vita_list_h1_iconbg"></i>
										<i class="one_vita_list_h1_icon reaume_iconzp"></i>
										<div class="one_vita_list_line">
											<div class="fairs_introduction_p">
												<ul class="fairs_introduction_img" id="rolling_img1">
													{yun:}foreach item=v from=$Info.user_show{/yun}
													<li>
														<a class="image_gall" href="javascript:;">
															<img src="{yun:}$v.picurl{/yun}" lay-src="{yun:}$v.picurl{/yun}" />
														</a>
													</li>
													{yun:}/foreach{/yun}
												</ul>
											</div>
										</div>
									</div>
									{yun:}/if{/yun}
								{yun:}/if{/yun} 
								

								{yun:}if $Info.doc && $Info.user_doc.doc{/yun}
								<!--粘贴简历-->
								<div class="one_vita_list">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">简历内容</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconzt"></i>
									<div class="one_vita_skill">
										<div class="one_vita_skill_Intention"><i class="one_vita_Intention_i one_vita_red"></i>{yun:}$Info.user_doc.doc{/yun} </div>
									</div>
								</div>
								{yun:}/if{/yun}

								<div class="one_vita_list">
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">联系方式</span></div>
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconlx"></i>
									<div class="one_vita_list_line" style="position:relative; min-height:200px">
										{yun:}if $Info.m_status=="1"{/yun}
											{yun:}if $Info.telphone{/yun}
											<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>联系手机：{yun:}$Info.telphone{/yun}</div>
											{yun:}/if{/yun}
											{yun:}if $Info.telhome{/yun}
											<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>联系座机：{yun:}$Info.telhome{/yun} </div>
											{yun:}/if{/yun}
											{yun:}if $Info.email{/yun}
											<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>电子邮箱：{yun:}$Info.email{/yun} </div>
											{yun:}/if{/yun}
											{yun:}if $Info.qq{/yun}
											<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i> 联系Q Q：{yun:}$Info.qq{/yun}</div>
											{yun:}/if{/yun}
											{yun:}if $Info.address{/yun}
											<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>详细地址：{yun:}$Info.address|mb_substr:0:16:'utf-8'{/yun}</div>
											{yun:}/if{/yun}
											{yun:}if $Info.homepage{/yun}
		
											<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i>个人主页：{yun:}$Info.homepage{/yun}</div>
											{yun:}/if{/yun} 
											{yun:}if $Info.idcard{/yun}
											<div class="one_vita_Intention"><i class="one_vita_Intention_i one_vita_red"></i><span>身份证号：</span>
												<span class="one_vita_Identity">
												{yun:}$Info.idcard{/yun}
												{yun:}if $Info.idcard_status==1 && $Info.idcard{/yun}已认证{yun:}/if{/yun}
												</span> 
											</div>
											{yun:}/if{/yun}
											{yun:}if $Info.wxewm{/yun}
											<div class="" style="position:absolute;right:20px;top:20px;width:120px;"><img src="{yun:}$Info.wxewm{/yun}" width="120" height="120">
												<div class="one_vita_ewm_box_p">个人二维码</div>
											</div>
											{yun:}/if{/yun}
										{yun:}else{/yun}
											<div class="re_touch">{yun:}$Info.link_msg{/yun}</div>
										{yun:}/if{/yun}
									</div>
								</div>
							{yun:}else{/yun}
								<div class="one_vita_list" >
									<div class="one_vita_list_h1"><span class="one_vita_list_h1_span">个人资料</span></div>	<div class="resume_bg">
									<i class="one_vita_list_h1_iconbg"></i>
									<i class="one_vita_list_h1_icon reaume_iconjy"></i>
									<div class="one_vita_list_line">
                                    	
										{yun:}if $tj.education{/yun}
										<div class="yun_newedition_resume_nologin_list">
											{yun:}$tj.edumin{/yun}-{yun:}$tj.edumax{/yun} 已完成{yun:}$tj.education{/yun}段学业
										</div>
										{yun:}/if{/yun}
										{yun:}if $tj.worknum>0{/yun}
                                         <div class="yun_newedition_resume_nologin_list">
											{yun:}$tj.workmin{/yun}-{yun:}$tj.workmax{/yun} 参加过{yun:}$tj.worknum{/yun}份工作，平均工作时长{yun:}$tj.workavg{/yun}个月，涉及{yun:}$tj.worktit{/yun}等岗位
										</div>
										{yun:}/if{/yun}
										{yun:}if $tj.xmnum>0{/yun}
                                         <div class="yun_newedition_resume_nologin_list">
											{yun:}$tj.xmmin{/yun}-{yun:}$tj.xmmax{/yun} 独自完成或参与过{yun:}$tj.xmnum{/yun}个项目，并在其中担任过{yun:}$tj.xmtit{/yun}等职务
										</div>
										{yun:}/if{/yun}
										{yun:}if $tj.trainnum>0{/yun}
                                         <div class="yun_newedition_resume_nologin_list">
											{yun:}$tj.trainmin{/yun}-{yun:}$tj.trainmax{/yun} 参加过{yun:}$tj.trainnum{/yun}次培训，进行自我充电，能力提升
										</div>
										{yun:}/if{/yun}
										{yun:}if $tj.skillnum>0{/yun}
										<div class="yun_newedition_resume_nologin_list">
											目前已掌握{yun:}$tj.skillnum{/yun}项技能，其中{yun:}$tj.skillpic{/yun}项拥有技能证书
										</div>
										{yun:}/if{/yun}
										{yun:}if $tj.shownum>0{/yun}
										 <div class="yun_newedition_resume_nologin_list">
											已上传{yun:}$tj.shownum{/yun}份作品案例给招聘企业提前预览
										</div>
										{yun:}/if{/yun}
										<div class="yun_newedition_resume_nologin_tip">
											{yun:}$Info.link_res{/yun}
										 </div>
									</div>
								</div>	</div>	
							{yun:}/if{/yun}
						</div>
					</div>
				</div>
				<!-- 右侧操作区域 -->
				{yun:}include file="$temstyle/resume/resume_right.htm"{/yun}

			</div>
	
	<!-- 联系方式弹出框 -->
	<div style="width:450px; display:none" id='link_style_div'>
		<div class="tcktouch_box">
			{yun:}if $Info.m_status== 1{/yun}
			<div class="tcktouch_box_username">{yun:}$Info.name{/yun}</div>
			
			<div class="tcktouch_box_tip">联系我时请说是在{yun:}$config.sy_webname{/yun}上看到的</div>
			<div class="tcktouch_box_p">手机：<span class="tcktouch_box_p_sj">{yun:}$Info.telphone{/yun}</span></div>
			{yun:}if $Info.email{/yun} <div class="tcktouch_box_p">邮箱：{yun:}$Info.email{/yun} </div>{yun:}/if{/yun} 
			{yun:}if $Info.qq{/yun}<div class="tcktouch_box_p">Q Q：{yun:}$Info.qq{/yun}</div> {yun:}/if{/yun} 
			{yun:}if $Info.homepage{/yun} <div class="tcktouch_box_p">主页：{yun:}$Info.homepage{/yun}</div> {yun:}/if{/yun} 
			{yun:}if $Info.wxewm{/yun} <div class="tcktouch_box_ewm"><img src="{yun:}$Info.wxewm{/yun}" width="100" height="100"><div class="tcktouch_box_ewm_p">个人二维码</div></div> {yun:}/if{/yun}
			{yun:}/if{/yun}
		</div>
	</div>
	<!-- 联系方式弹出框 end -->
			<!--  企业查看简历 end----------------------------------------------------------------------------------------->
			{yun:}if $smarty.get.see=='member'{/yun}
			<!--使用该模板 预览时隐藏  -->
			<div class="expext_yl_box_bth">
				{yun:}if in_array($tplurl.id,$paytpls){/yun}
				<a href="javascript:;" onClick="settemplate('确定使用该模板？', '{yun:}url m=ajax c=settpl id=$tplurl.id eid=$Info.id{/yun}');" class="expext_yl_box_sub">使用该模板</a>				
				{yun:}else{/yun}
				<a href="javascript:void(0);" onClick="settemplate('购买模版将花费{yun:}$tplurl.price{/yun}{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}，是否继续？', '{yun:}url m=ajax c=pay id=$tplurl.id  eid=$Info.id{/yun}');" class="expext_yl_box_sub">购买并使用该模板</a>
				{yun:}/if{/yun}
				<a href="{yun:}$config.sy_weburl{/yun}/resume/index.php?c=show&id={yun:}$eid{/yun}&tmp={yun:}$tplurl.id{/yun}" target="_blank" class="expext_yl_box_sub">预览</a>
			</div>
			{yun:}/if{/yun} 
			
			<!--footer-->
			<div class="clear"></div>
			{yun:}if $smarty.get.see!='member'{/yun}
			<div class="yun_resume_foot noprint">
				<a href="{yun:}$config.sy_weburl{/yun}" target="_blank">{yun:}$config.sy_webname{/yun}</a> &copy; 版权所有 {yun:}$config.sy_weburl{/yun} 本网招聘及简历信息等 ,未经书面授权不得转载 <br />
				<div id="uclogin" class="none"></div>
			</div>
			{yun:}/if{/yun}
			<div id="uclogin" class="none"></div>
			<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
			<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
			<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
			<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
			<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
			<script src="{yun:}$style{/yun}/js/resume.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
			<script src="{yun:}$style{/yun}/js/pay.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
			<script src="{yun:}$style{/yun}/js/ScrollPic.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
			<script src='{yun:}$config.sy_weburl{/yun}/js/datetimepicker/jquery.datetimepicker.full.js?v={yun:}$config.cachecode{/yun}'></script> 
			<script>
				layui.use(['form', 'layer'], function() {
					var $ = layui.$,
						form = layui.form,
						layer = layui.layer;
					layer.photos({
						photos: '#rolling_img1',
						anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
					});
					layer.photos({
					  photos: '#skill_photos',
					  anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
					}); 
				});
				var integral_pricename = '{yun:}$config.integral_pricename{/yun}';
				var isHeight = "{yun:}$Info.height_status{/yun}";

				<!--//--><![CDATA[//><!--
				var li_num = $("#rolling_img1 li").length;
				if(li_num > 3) { //如果图片数量不足，就不执行切换
					var scrollPic_02 = new ScrollPic();
					scrollPic_02.scrollContId = "rolling_img1"; //内容容器ID
					scrollPic_02.arrLeftId = "LeftArr"; //左箭头ID
					scrollPic_02.arrRightId = "RightArr"; //右箭头ID
					scrollPic_02.frameWidth = 640; //显示框宽度
					scrollPic_02.pageWidth = 225; //翻页宽度
					scrollPic_02.speed = 10; //移动速度(单位毫秒，越小越快)
					scrollPic_02.space = 10; //每次移动像素(单位px，越大越快)
					scrollPic_02.autoPlay = true; //自动播放
					scrollPic_02.autoPlayTime = 2; //自动播放间隔时间(秒)
					scrollPic_02.initialize(); //初始化
				}
				//--><!]]>
			</script>
			<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
			<!--[if IE 6]>
				<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
				<script>
				DD_belatedPNG.fix('.png,.one_vita_Basic_photo_bg');
				</script>
			<![endif]-->
			{yun:}include file="$tplstyle/public_search/public_tips.htm"{/yun}
			{yun:}if !$smarty.get.see{/yun} 
			{yun:}include file="$temstyle/chat/webim.htm"{/yun}
			{yun:}/if{/yun} 
			{yun:}include file="$temstyle/resume/resume_include.htm"{/yun}
			{yun:}include file="$tplstyle/public_search/login.htm"{/yun}
	</body>

</html>