{yun:}include file="$wapstyle/header_cont.htm"{/yun}

<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/ask/ask.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
<div class="addquestion_list"><input class="addquestion_list_text" type="text" name="title" id="title" placeholder="请输入问题标题" style="border:none;"></div>
<div class="addquestion_list mt10">
	<textarea class="addquestion_textarea" placeholder="您可以详细描述你的问题" name="content" id='content'></textarea>
</div>
<div class="addquestion_list mt10" id="questionSelect">
	<div class="ask_selectOption"   @click="questionShow=true">
		<button id='showAskPicker' class="mui-btn mui-btn-block" type='button' :value="message" >{{message}}
</button>
		<input type="hidden" id="cid" name="cid" :value="cid">
	</div>
	<!-- 问题种类 -->
	<van-popup  v-model="questionShow" position="bottom"/>
	    <van-picker 
		    show-toolbar  
		    :default-index="questionIndex"
		    @cancel="questionShow = false"
		    :columns="askData"
		    @confirm="onQuestionConfirm"
	    />
	</van-popup>
</div>

{yun:}if strpos($config.code_web,"职场提问") !==false{/yun} 
{yun:}if $config.code_kind > 2{/yun} 
<div class="gtdx-captcha">
	<div id="bind-captcha" data-id='subask' data-type='click'></div>
	<input type='hidden' id="verify_token"  name="verify_token" value="">
	<input type='hidden' id="popup-submit">	
	<input type='hidden' id="bind-submit">
</div>
{yun:}else{/yun}
<div class="addquestion_list mt10">
	<div class="addquestion_list_textbox">
		<input class="tw_bx_tit" id="ask_CheckCode" type="text" placeholder="请输入验证码" name="authcode" maxlength="6" style="border:none" />
		<div class="addquestion_list_textboximg"> <img id="vcode_img" class=" " src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');" />
		</div>
	</div>
</div>
{yun:}/if{/yun} 
{yun:}/if{/yun}
<div class="ask_button mt15">
	<button type="button" class="mui-btn mui-btn-warning mui-btn-block" id="subask" onclick="checkform('vcode_img');">提交问题</button>
</div>
</div>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/verify_js.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/data/plus/ask.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/category.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>

<script>

$(document).ready(function(){
	$("input[name='cid']").val('');
})
function checkform(img){	

	var code_kind = '{yun:}$config.code_kind{/yun}';
	var title=$.trim($("input[name='title']").val());
	var cid=$("#cid").val();
	var content=$.trim($("textarea[name='content']").val());
	if(title==''){
		showToast('请填写标题！'); return false;
	}else if(cid==''){
		showToast('请选择类别！'); return false;
	}else if(content==''){
		showToast('请填写内容！'); return false;
	}
	var authcode;
	
	var verify_token;
	var codesear=new RegExp('职场提问');
	
	if(codesear.test(code_web)){
		if(code_kind==1){
			authcode=$.trim($("#ask_CheckCode").val());  
			if(!authcode){
				showToast('请填写验证码！');return false;
			}	
		}else if(code_kind > 2){
			verify_token = $('input[name="verify_token"]').val();
			if(verify_token ==''){
				$("#bind-submit").trigger("click");
					return false; 
			}
		}
	}

	showLoading()
	
	$.post(wapurl+"/index.php?c=ask&a=addquestions",{
		title:title,
		cid:cid,
		content:content,
		authcode:authcode,
	
		verify_token:verify_token
		
	},function(data){
		hideLoading();
		var data=eval('('+data+')');
		if(data.errcode==9){
			showToast(data.msg,2,function(){window.location.href = 'index.php?c=ask'});return false; 
		}else if(data.waperrcode==0){
			showToast(data.msg,2,function(){checkCode(img)});return false; 
		}else if(data.waperrcode==4){
			$("#popup-submit").trigger("click");
			showToast(data.msg);return false; 
		}else{
			showToast(data.msg,2);return false;
		}
	});	
}

	//问答类别（不能和城市同时使用）
	var showAskPickerButton = document.getElementById('showAskPicker');
	if(showAskPickerButton) {
		var askData = [];
		for(var i = 0; i < ai.length; i++) {
			var ask = [];
			if(typeof at[ai[i]] != "undefined") {
			
				for(var j = 0; j < at[ai[i]].length; j++) {
					ask.push({
						value: at[ai[i]][j],
						text: an[at[ai[i]][j]]
					})
				}
			}
			askData.push({
				value: ai[i],
				text: an[ai[i]],
				children: ask
			})
		}
	}
	
	var vm = new Vue({
        el: '#questionSelect',
        data: {
			//举报
	        questionShow:false,
	        askData:askData,
	        questionIndex:0,
	        message:'请选择问题种类',
	        cid:0,
        },
        methods: {
	    	onQuestionConfirm(value, index) {
	    		this.questionShow = false;
	    		this.message = value[1];
	    		this.cid = index[1];
		    },
		}
    });

</script>
	</body>
</html>