{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<link rel="stylesheet" type="text/css" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/job.css?v={yun:}$config.cachecode{/yun}">

<style>
    .wap_news_cont pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
    }

    table[align="center"] {
        margin: 0 auto;
    }

    table, table tr th, table tr td {
        border: 1px solid #666;
    }
</style>
<div class="header_navlist"><a href="javascript:void(0);" class="moreOptions"><i class="naviconfont"></i></a></div>
<div class="yun_newedition_jobshow_opt" style="right: 0rem;top:0.266666rem">
    <a href="javascript:void(0);" id="shareClick" class="yun_newedition_jobshow_opt_icon yun_newedition_jobshow_opt_fx" title="分享"></a>
</div>

<div class="news_cont_box">
    <div class="news_cont_box_tit">
        <h1>{yun:}$Info.title{/yun}</h1>
    </div>

    <div class="news_cont_ms">
        {yun:}$Info.starttime|date_format:"%Y-%m-%d"{/yun}
        <span class="news_list_box_ly">来源：{yun:}if $Info.source{/yun}{yun:}$Info.source|mb_substr:0:16:'utf-8'{/yun}{yun:}else{/yun}{yun:}$config.sy_webname{/yun}{yun:}/if{/yun}</span>
        点击：<span id="click"><script language="javascript" src="{yun:}url m=wap c=article a=GetHits id='`$Info.id`'{/yun}"></script></span> 次
        <span class="news_list_box_ly">作者：{yun:}if $Info.author{/yun}{yun:}$Info.author|mb_substr:0:16:'utf-8'{/yun}{yun:}else{/yun}{yun:}$config.sy_webname{/yun}{yun:}/if{/yun}</span>
    </div>

    <div class="wap_news_cont">
        <div class="wap_txt link_lan"> {yun:}$Info.content{/yun}</div>
    </div>
	<!--资讯场景码-->
   <div class="" style="width:100%; text-align:center"> 
	<img src="{yun:}url m=wap c=ajax a=pubqrcode toc=article toa=show toid=$Info.id{/yun}" width="150" height="150">
   <div class="" style="color:#666"> 微信扫一扫分享资讯</div>
	</div>
    <div class="atc_news_tj">
        <div class="news_in_tit"><span>相关推荐</span></div>
        <div>
            {yun:}if $about{/yun}
            <ul>
                {yun:}foreach from=$about item=alist{/yun}
                <li>
                    <a href="{yun:}url m=wap c=article a=show id=$alist.id{/yun}" title="{yun:}$alist.title{/yun}">{yun:}$alist.title{/yun}</a>
                </li>
                {yun:}/foreach{/yun}
            </ul>
            {yun:}else{/yun}
                <div class="evaluate_pj_no"><i class="evaluate_pj_no_icon"></i>暂无相关推荐</div>
            {yun:}/if{/yun}
        </div>
    </div>

    <div class="clear"></div>

    <div class="news_in_tit">分类浏览</div>
    <div class="clear"></div>

    {yun:}articleclass item=v{/yun}
    <div class="news_in_tag ">
        <a href="{yun:}url m=wap c=article nid=$v.id{/yun}" title="{yun:}$v.name{/yun}">{yun:}$v.name{/yun} </a>
    </div>
    {yun:}/articleclass{/yun}
    <div class="clear"></div>
</div>

<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
    var config = {
        url: '{yun:}url m=wap c=article a=show id=$Info.id{/yun}',
        title: '{yun:}$Info.title{/yun}',
        desc: '{yun:}$Info.description|replace:"\r\n":""{/yun}',
        img: '{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}',
        img_title: '{yun:}$Info.title{/yun}',
        from: '{yun:}$config.sy_webname{/yun}'
    };
</script>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
</body>
</html>