 {yun:}include file="$wapstyle/header_cont.htm"{/yun} 
 <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/ask/ask.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
{yun:}qlist hot=7 order=answernum item=list ispage=1 t_len=42  limit=42{/yun}
<div class="ask_ct_list mt10">

    <div class="ask_hotweek_name"><a href="{yun:}url m=wap c=ask a=content id='`$list.id`'{/yun}">{yun:}$list.title|mb_substr:0:42:"utf-8"{/yun}</a></div>
       <div class="ask_hotweek_p"> {yun:}$list.content|strip_tags|mb_substr:0:36:'utf-8'{/yun}</div>
    
         <div class="ask_jx_info"><span class="ask_jx_data ask_jx_data_hd">{yun:}$list.answer_num{/yun} 回答</span><span class="ask_jx_data ask_jx_data_yl">{yun:}$list.visit{/yun} 阅读</span><span class="ask_jx_data ask_jx_data_gz">{yun:}$list.atnnum{/yun} 关注</span></div>
         
       <div class="ask_jx_info_img" style="margin-top:5px;"><img src="{yun:}$list.pic{/yun}" width="20" height="20"> <a href="{yun:}url m=wap c=ask a=myquestion uid='`$list.uid`'{/yun}" class="ask_jx_username">{yun:}$list.nickname|mb_substr:0:15:'utf-8'{/yun}</a> <span class="ask_jx_time">{yun:}$list.add_time|date_format:"%Y-%m-%d"{/yun}</span></div>


</div>
{yun:}/qlist{/yun}  
<div class="clear"></div>
{yun:}if $total==0{/yun}

<div class="noresult png" >还没有任何问题，抓紧提问吧！</div>
{yun:}else{/yun} 
<div class="pages">{yun:}$pagenav{/yun}</div>
{yun:}/if{/yun}     
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
</body>
</html>