{yun:}include file="$wapstyle/header_cont.htm"{/yun}

<style>

body{ background:#fff}
</style>
<div class="password_box" id="main"  style="display: none">
<!--
	<div class="passport-progress">
		<ul>
			<li id="path1" class="currents"><span>1</span>填写账号</li>
			<li id="path2" class="currents_er"><span>2</span>设置新密码<em></em></li>
			<li id="path3" class="currents_er"><span>3</span>完成<em></em></li>
		</ul>
	</div>
-->

	<div id="backpicker" class="account_td1">
		<div id="sendtypePicker" class=" password_select_input">
			<span id="pickerText" class="J_listitme_text" @click="showPicker=true">{{pickerText}}</span>
			<van-popup v-model="showPicker" round position="bottom">
			<van-picker show-toolbar :columns="sendtypeData" @confirm="onConfirm" @cancel="onCancel"/>
			</van-popup>
			<input type="hidden" id="sendtype" name="sendtype" :value="sendtype">
		</div>
	</div>
	<div id="moblieshow" v-show="moblieshow" class="J_listitme_group">
		<div class="J_validate_group">
			<div class="password_textbox">
				<input class="input_295_34" name="moblie" id="moblie" type="text" placeholder="请输入手机号">
			</div>
			<div class="account_td1">
				<div class="password_textbox">
					<input name="moblie_vcode" id="moblie_vcode" maxlength="6" type="text" class="input_295_35" placeholder="请输入短信验证码">
					<button class="password_tex_hq" id="send_msg_tip" onclick="send_msg()">获取验证码</button>
				</div>
			</div>
			<div class="password_bthbox">
				<input type="submit" onclick="forgetPwNext()" value="下一步" class="password_bth">
			</div>
		</div>
	</div>

	<div id="emailshow" v-show="emailshow" class="J_listitme_group">
		<div class="selecttip">系统将发送验证码发到您的邮箱中，请注意查收</div>
		<div class="J_validate_group">
			<div class="password_textbox">
				<input class="input_295_34" name="email" id="email" type="text" placeholder="请输入邮箱账户">
			</div>
			<div class="account_td1">
				<div class="password_textbox">
					<input name="email_vcode" id="email_vcode" maxlength="6" type="text" class="input_295_35" placeholder="请输入邮箱验证码">
					<button class="password_tex_hq" id="send_email_tip" onclick="send_email()">获取验证码</button>
				</div>
			</div>
			<div class="password_bthbox">
				<input type="submit" onclick="forgetPwNext()" value="下一步" class="password_bth">
			</div>
		</div>
	</div>

	<div id="shensushow" v-show="shensushow" class="J_listitme_group">
		<div class="selecttip">信息提交后 , 客服人员会电话回访 , 确认身份！</div>
		<div class="J_validate_group">
				<div class="password_textbox"><input class="reset_chong_zhi" type="text" name="username" id="username" autocomplete="off" maxlength="20" placeholder="请输入用户名" value="">		</div>
				<div class="password_textbox"><input class="reset_chong_zhi" type="text" name="linkman" id="linkman" autocomplete="off" maxlength="20" placeholder="请输入联系人" value="">		</div>
					<div class="password_textbox"><input class="reset_chong_zhi" type="text" name="linkphone" id="linkphone" autocomplete="off" maxlength="20" placeholder="请输入联系电话" value="">		</div>
					<div class="password_textbox"><input class="reset_chong_zhi" type="text" name="linkemail" id="linkemail" autocomplete="off" placeholder="请输入联系邮箱" value="">		</div>
			</div>
 
		<div class="password_bthbox">
			<input type="submit" onclick="checklink()" value="下一步" class="password_bth">
		</div>
	</div>
	<!--重置密码-->
	<div id="resetpw" v-show="resetpw" class="J_listitme_group">
		<div class="J_validate_group">
			<div class="password_textbox">
				<input class="input_295_34" name="password" id="password" type="password" placeholder="请输入新密码">
						</div>
				{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}<div class="mmts">密码必须包含{yun:}if $config.reg_pw_num=='1'{/yun}数字 {yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}字母 {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}其它字符@!#.$-_{yun:}/if{/yun}</div>{yun:}/if{/yun}
				<div class="password_textbox">	<input class="input_295_34" name="passwordconfirm" id="passwordconfirm" type="password" placeholder="请确认新密码">
			</div>
			
			<div class="password_bthbox">
				<input type="hidden" id="username" value="">
				<input type="hidden" id="fuid" value="">
				<input type="hidden" id="fmobile" value="">
				<input type="hidden" id="femail" value="">
				<input type="hidden" id="fcode" value="">
				<input type="submit" onclick="editpw()" value="提交修改" class="password_bth">
			</div>
		</div>
	</div>

	<div id="succeed" v-show="succeed" class="password_cont" >
		<div class="password_cont_success " >
			<div class="password_icon"></div>
			
			<div class="password_succ">恭喜您！密码重置成功！</div> 
				<div class="password_contm-row"  >
				<a href="{yun:}url m=wap c=login{/yun}"   class="password_input_btn">立即登录</a>
			</div>
			 
			
		</div>
	</div>

	<div class="password_cont none" id="finish">
	 <div class="password_icon"></div>

	<div class="password_succ">提交成功！</div>
		<div class="password_cgd">请耐心等待，稍后客服人员会联系您！</div>
	</div>
	<div class="password_tip">
		<div class="password_tip_t">温馨提示：</div>
		<div>如手机号码已丢失且未绑定邮箱</div>
		<div>拨打全国统一服务热线</div>
		<div class="password_tip_tel">{yun:}$config.sy_freewebtel{/yun} </div>
		<div class="password_tip_tel_link">
			<a href="tel:{yun:}$config.sy_freewebtel{/yun}"><i class="password_tip_tel_link_tel"></i>拨打</a>
		</div>
	</div>
</div>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/forgetpw.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/verify_js.htm"{/yun}
<script type="text/javascript">

	var yunvm = new Vue({
        el: '#main',
        data: {
        	moblieshow:true,
        	emailshow:false,
        	shensushow:false,
        	resetpw:false,
        	succeed:false,
        	showPicker:false,
        	sendtypeData:sendtypeData,
        	pickerText:'通过手机找回密码',
        	sendtype:'moblie',
        },
        created(){
        	$("#main").css("display", "block");
        },
        methods: {
	    	onConfirm(picker) {
	    		var that = this;
	    		if (picker.type == 'moblie') {
	    			that.moblieshow = true;
	    			that.emailshow = false;
	    			that.showPicker = false;
	    			that.shensushow = false;
	    		} else if (picker.type == 'email') {
	    			that.moblieshow = false;
	    			that.emailshow = true;
	    			that.showPicker = false;
	    			that.shensushow = false;
	    		} else if (picker.type == 'shensu') {
	    			that.moblieshow = false;
	    			that.emailshow = false;
	    			that.shensushow = true;
	    			that.showPicker = false;
	    		}
	    		that.pickerText = picker.text;
	    		that.sendtype = picker.type;
		    },
		    onCancel(){
		    	this.showPicker = false;
		    }
		}
    });
</script>
</body></html>