<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-transform">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>{yun:}$title{/yun}</title>
		<meta name="keywords" content="{yun:}$keywords{/yun},wap" />
		<meta name="description" content="{yun:}$description{/yun}" />
		<script src="{yun:}$wap_style{/yun}/js/flexible.js?v={yun:}$config.cachecode{/yun}"></script>
		<link href="{yun:}$wap_style{/yun}/css/base.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
		<link href="{yun:}$wap_style{/yun}/css/yunwap.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
        <link href="{yun:}$wap_style{/yun}/css/css.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
		<link href="{yun:}$config_wapdomain{/yun}/js/vant/lib/index.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" />
	</head>
		<script>
		      var weburl = "{yun:}$config.sy_weburl{/yun}",
					wapurl = "{yun:}url m=wap{/yun}",
		      code_web = '{yun:}$config.code_web{/yun}',
		      code_kind = '{yun:}$config.code_kind{/yun}';
		</script>
	<body>
