{yun:}include file="$wapstyle/header.htm"{/yun}

<div id="app">
    <div class="job_header">
        <a class="job_header_left" href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack(){yun:}/if{/yun}">
            <img src="{yun:}$wap_style{/yun}/images/nav_icon_return.png" alt="" style="width: 100%;" onclick="">
        </a>
        <div class="job_header_center">
            <input type="text" readonly class="searchnew" value="{yun:}if $smarty.get.keyword{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}/if{/yun}" placeholder="{yun:}if $smarty.get.keyword{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}搜索职位/公司{yun:}/if{/yun}">
        </div>
        <input type="hidden" id="searchurl" value="{yun:}$searchurl{/yun}" />
    </div>
    <div class="job_header_nav ">
        <div class="job_header_nav_left category">
            <ul>
                <li class="{yun:}if !$smarty.get.urgent && !$smarty.get.mapjob{/yun}active{yun:}/if{/yun}">
                    <a href="{yun:}searchurl m=wap c=job untype='urgent,mapjob'{/yun}">最新</a>
                </li>
                <li class="{yun:}if $smarty.get.urgent{/yun}active{yun:}/if{/yun}">
                    <a href="{yun:}searchurl m=wap c=job urgent=1 untype='mapjob'{/yun}">急聘</a>
                </li>
                <li class="{yun:}if $smarty.get.mapjob{/yun}active{yun:}/if{/yun}">
                    <a href="{yun:}searchurl m=wap c=job mapjob=1 untype='urgent'{/yun}">附近</a>
                </li>
            </ul>
        </div>
        <div class="job_header_nav_right">
            <ul>
                <li onclick="areashow();">
                    {yun:}if $config.three_cityid&&$config.sy_web_site=='1'{/yun}
						{yun:}$city_name[$config.three_cityid]{/yun}
                    {yun:}else if $config.cityid&&$config.sy_web_site=='1'{/yun}
						{yun:}$city_name[$config.cityid]{/yun}
                    {yun:}else{/yun}
						{yun:}if $city_name[$smarty.get.cityid] || $city_name[$smarty.get.provinceid]{/yun}
							{yun:}$city_name[$smarty.get.cityid]{/yun}{yun:}$city_name[$smarty.get.provinceid]{/yun}
						{yun:}elseif $city_name[$smarty.get.threecityid]{/yun}
							{yun:}$city_name[$smarty.get.threecityid]{/yun}
						{yun:}else{/yun}
							区域
						{yun:}/if{/yun}
                    {yun:}/if{/yun}
                    <i class="nav_right_open"></i>
                </li>
                <li onclick="jobshow();">{yun:}if $smarty.get.job1{/yun}{yun:}$job_name[$smarty.get.job1]{/yun}{yun:}elseif $smarty.get.job1son{/yun}{yun:}$job_name[$smarty.get.job1son]{/yun}{yun:}elseif $smarty.get.jobpost{/yun}{yun:}$job_name[$smarty.get.jobpost]{/yun}{yun:}else{/yun}职能{yun:}/if{/yun}
                    <i class="nav_right_open"></i>
                </li>
                <li onclick="jobmoreShow();">筛选
                    <i class="nav_right_open"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="main_part">
		<!--广告-->
		{yun:}adlist classid=504 item="lunbo" key=key random=1{/yun}
		<div class="jobzd_banner">{yun:}$lunbo.html{/yun}</div>
		{yun:}/adlist{/yun}
		<!--广告-->
        {yun:}if $smarty.get.mapjob{/yun}
        <div id="listdiv" class="cont active"></div>
        <div id="pageLoading" class="lodbox none"><span class="lodbox_p"><i class="lodbox_iocn"></i>正在加载...</span></div>
        <div id="pageNoMore" class="lodbox none"> -没有更多了-</div>
        {yun:}else{/yun}
        <div id="listdiv" class="cont active">
            {yun:}if $smarty.get.page < 2{/yun} 
			{yun:}joblist namelen=10 comlen=30 welfare='auto.welfare' job1='auto.job1' job1son='auto.job1son' jobpost='auto.jobpost' report='auto.report' hy='auto.hy' jobids='auto.jobids' pr='auto.pr' mun='auto.mun' provinceid='auto.provinceid' cityid='auto.cityid' threecityid='auto.threecityid' type='auto.type' edu='auto.edu' exp='auto.exp' sex='auto.sex' minsalary='auto.minsalary' maxsalary='auto.maxsalary' keyword='auto.keyword' cert='auto.cert' urgent='auto.urgent' rec='auto.rec' bid=1 uptime='auto.uptime' key=key item=zd_list name=zdlist1{/yun} <a href="{yun:}url m=wap c=job a=comapply id=$zd_list.id{/yun}" title="{yun:}$zd_list.name{/yun}">
                <div class="tab_card">
                    <div class="tab_card_top">
                        <div class="tab_card_job">
                            <i class="tab_card_job_name">{yun:}$zd_list.name_n{/yun}</i>
                            {yun:}if $zd_list.newtime==1{/yun}<i class="tab_card_new">new</i>{yun:}/if{/yun}
                        </div>
                        <i class="tab_card_pay">{yun:}$zd_list.job_salary{/yun}</i>
                    </div>
                    <div class="newjob_info">
                        <span class="">
                            {yun:}if $zd_list.job_city_three{/yun}
                            {yun:}$zd_list.job_city_three{/yun}
                            {yun:}elseif $zd_list.job_city_two{/yun}
                            {yun:}$zd_list.job_city_two{/yun}
                            {yun:}else{/yun}
                            {yun:}$zd_list.job_city_one{/yun}
                            {yun:}/if{/yun}
                        </span>
                        {yun:}if $zd_list.job_exp{/yun}
                        <i class="newjob_info_line"></i><span class="">{yun:}$zd_list.job_exp{/yun}经验</span>
                        {yun:}/if{/yun}
                        {yun:}if $zd_list.job_edu{/yun}<i class="newjob_info_line"></i>
                        <span class="">{yun:}$zd_list.job_edu{/yun}学历</span>
                        {yun:}/if{/yun}
                        <span class="newjob_fw">
                            {yun:}if $zd_list.rec=='1' &&$zd_list.rec_time gt time(){/yun}
                            <img src="{yun:}$wap_style{/yun}/images/icon_recommend.png" alt="">
                            {yun:}/if{/yun}
                            {yun:}if $zd_list.urgent_time>time(){/yun}
                            <img src="{yun:}$wap_style{/yun}/images/jp.png" alt="">
                            {yun:}/if{/yun}
                        </span>
                    </div>
                    {yun:}if $zd_list.welfarename{/yun}
                    <div class="welfare">{yun:}foreach from=$zd_list.welfarename item=waflist{/yun}
                        <span class="welfare_n">{yun:}$waflist{/yun}</span>{yun:}/foreach{/yun}
                    </div>
                    {yun:}/if{/yun}
                    <div class="tab_card_bottom">
                        <div class="card_bottom_logo">
                            <img src="{yun:}$zd_list.logo{/yun}" alt="" style="width: 100%;">
                        </div>
                        <i class="card_bottom_word">{yun:}$zd_list.com_name|strip_tags|mb_substr:0:14:'utf-8'{/yun}</i>
						{yun:}if $zd_list.ratlogo!="" && $zd_list.ratlogo!="0"{/yun}{yun:}if $zd_list.hotlogo==1{/yun} <img src="{yun:}$config.sy_weburl{/yun}/app/template/wap/images/mq.png" alt="名企" class="png" width="14" style="vertical-align:middle">{yun:}/if{/yun}<img src="{yun:}$zd_list.ratlogo{/yun}" style="vertical-align:middle; margin-left:3px;" width="14" height="14" /> {yun:}/if{/yun} {yun:}if $zd_list.yyzz_status=='1'{/yun}
						<i class="job_qy_rz_icon"></i> {yun:}/if{/yun}
                        <div>
                            <i class="card_bottom_logo_word">
                                置顶
                            </i>
                        </div>
                    </div>
                </div>
                </a>
                {yun:}/joblist{/yun}
                {yun:}/if{/yun}
                {yun:}joblist noids=1 namelen=10 comlen=15 ispage=1 welfare='auto.welfare' job1='auto.job1' job1son='auto.job1son' jobpost='auto.jobpost' hy='auto.hy' pr='auto.pr' mun='auto.mun' provinceid='auto.provinceid' threecityid='auto.threecityid' cityid='auto.cityid' type='auto.type' edu='auto.edu' exp='auto.exp' sex='auto.sex' minsalary='auto.minsalary' maxsalary='auto.maxsalary' keyword='auto.keyword' rec='auto.rec' urgent='auto.urgent' uptime='auto.uptime' limit=20 item=job_list islt=4{/yun}
                <a href="{yun:}url m=wap c=job a=comapply id=$job_list.id{/yun}" title="{yun:}$job_list.name{/yun}">
                    <div class="tab_card">
                        <div class="tab_card_top">
                            <div class="tab_card_job">
                                <i class="tab_card_job_name">{yun:}$job_list.name_n{/yun}</i>
                                {yun:}if $job_list.newtime==1{/yun}<i class="tab_card_new">new</i>{yun:}/if{/yun}
                            </div>
                            <i class="tab_card_pay">{yun:}$job_list.job_salary{/yun}</i>
                        </div>
                        <div class="newjob_info">
                            <span class="">
                                {yun:}if $job_list.job_city_three{/yun}
                                {yun:}$job_list.job_city_three{/yun}
                                {yun:}elseif $job_list.job_city_two{/yun}
                                {yun:}$job_list.job_city_two{/yun}
                                {yun:}else{/yun}
                                {yun:}$job_list.job_city_one{/yun}
                                {yun:}/if{/yun}
                            </span>
                            {yun:}if $job_list.job_exp{/yun}
                            <i class="newjob_info_line"></i><span class="">{yun:}$job_list.job_exp{/yun}经验</span>
                            {yun:}/if{/yun}
                            {yun:}if $job_list.job_edu{/yun}<i class="newjob_info_line"></i>
                            <span class="">{yun:}$job_list.job_edu{/yun}学历</span>
                            {yun:}/if{/yun}
                            <span class="newjob_fw">
                                {yun:}if $job_list.rec=='1' &&$job_list.rec_time gt time(){/yun}
                                <img src="{yun:}$wap_style{/yun}/images/icon_recommend.png" alt="">
                                {yun:}/if{/yun}
                                {yun:}if $job_list.urgent_time>time(){/yun}
                                <img src="{yun:}$wap_style{/yun}/images/jp.png" alt="">
                                {yun:}/if{/yun}
                            </span>
                        </div>
                        {yun:}if $job_list.welfarename{/yun}
                        <div class="welfare">{yun:}foreach from=$job_list.welfarename item=waflist{/yun}
                            <span class="welfare_n">{yun:}$waflist{/yun}</span>{yun:}/foreach{/yun}
                        </div>
                        {yun:}/if{/yun}
                        <div class="tab_card_bottom">
                            <div class="card_bottom_logo">
                                <img src="{yun:}$job_list.logo{/yun}" alt="" style="width: 100%;">
                            </div>
                            <div class="card_bottom_word">{yun:}$job_list.com_name|strip_tags|mb_substr:0:14:'utf-8'{/yun}</div>
                            {yun:}if $job_list.ratlogo!="" && $job_list.ratlogo!="0"{/yun}{yun:}if $job_list.hotlogo==1{/yun} <img src="{yun:}$config.sy_weburl{/yun}/app/template/wap/images/mq.png" alt="名企" class="png" width="14" style="vertical-align:middle">{yun:}/if{/yun}<img src="{yun:}$job_list.ratlogo{/yun}" style="vertical-align:middle; margin-left:3px;" width="14" height="14" /> {yun:}/if{/yun} {yun:}if $job_list.yyzz_status=='1'{/yun}
                            <i class="job_qy_rz_icon"></i> {yun:}/if{/yun}
                            <i class="card_bottom_logo_word">
                                {yun:}if $job_list.time=='今天' || $job_list.time=='昨天'||$job_list.redtime=='1'{/yun}
                                {yun:}$job_list.time{/yun}
                                {yun:}else{/yun}
                                {yun:}$job_list.time{/yun}
                                {yun:}/if{/yun}
                            </i>
                        </div>
                    </div>
                </a>
                {yun:}/joblist{/yun}
        </div>
		{yun:}if $total<=0 {/yun} 
			{yun:}if $smarty.get.keyword!="" {/yun} 
			<div class="wap_member_no">没有搜索到职位</div>
			{yun:}else{/yun}
			<div class="wap_member_no">很抱歉,这个星球没有职位呢！</div>
			{yun:}/if{/yun}
			<div class="wap_member_no_submit">
				<a class="wap_mb_no_sr" href="{yun:}url m=wap c='job'{/yun}">重新搜索</a>
			</div>
		{yun:}else{/yun}
		{yun:}if (!$isweixin || $config.sy_wxwap_list!=2) && $total>20{/yun}
		<van-pagination v-model="currentPage" :total-items="total" :items-per-page="perpage" force-ellipses @change="pageChange" show-page-size="3" />
		{yun:}else{/yun}
		<!--微信端上拉加载样式-->
		<div id="pageLoading" class="lodbox none"><span class="lodbox_p"><i class="lodbox_iocn"></i>正在加载...</span></div>
		<div id="pageNoMore" class="lodbox none"> -没有更多了-</div>
		{yun:}/if{/yun}
		{yun:}/if{/yun}
        <!--为你推荐 样式需要添加-->
        {yun:}if $total<=0 && !$smarty.get.rec{/yun} <section id="muirecjob" class=" ">
            <div class="newjob_tj ">
                <span class=" ">- 为你推荐职位 -</span>
            </div>
            {yun:}joblist namelen=15 comlen=19 rec=1 limit=10 item=blist{/yun}
            <a href="{yun:}url m=wap c=job a=comapply id=$blist.id{/yun}" title="{yun:}$blist.name_n{/yun}">
                <div class="tab_card">
                    <div class="tab_card_top">
                        <div class="tab_card_job"><i class="tab_card_job_name">{yun:}$blist.name_n{/yun} </i></div>
                        <i class="tab_card_pay">{yun:}if $blist.job_salary!='面议'{/yun}{yun:}/if{/yun}{yun:}$blist.job_salary{/yun}</i>
                    </div>
                    <div class="newjob_info">
                        <span>
                            {yun:}if $blist.job_city_three{/yun}
                            {yun:}$blist.job_city_three{/yun}
                            {yun:}elseif $blist.job_city_two{/yun}
                            {yun:}$blist.job_city_two{/yun}
                            {yun:}else{/yun}
                            {yun:}$blist.job_city_one{/yun}
                            {yun:}/if{/yun}
                        </span> <i class="newjob_info_line"></i><span>{yun:}$blist.job_exp{/yun}经验</span> <i class="newjob_info_line"></i> <span>{yun:}$blist.job_edu{/yun}学历</span>
                        <span class="newjob_fw">
                            {yun:}if $blist.rec=='1' &&$blist.rec_time gt time(){/yun}
                            <img src="{yun:}$wap_style{/yun}/images/icon_recommend.png" alt="">
                            {yun:}/if{/yun}
                            {yun:}if $blist.urgent_time>time(){/yun}
                            <img src="{yun:}$wap_style{/yun}/images/jp.png" alt="">
                            {yun:}/if{/yun}
                        </span>
                    </div>
                    {yun:}if $blist.welfarename{/yun}
                    <div class="welfare">
                        {yun:}foreach from=$blist.welfarename item=waflist{/yun}
                        <span class="welfare_n">{yun:}$waflist{/yun}</span>
                        {yun:}/foreach{/yun}
                    </div>
                    {yun:}else{/yun}
                    {yun:}/if{/yun}
                    <div class="tab_card_bottom">
                        <div class="card_bottom_logo">
                            <img src="{yun:}$blist.logo{/yun}" style="width: 100%;">
                        </div>
                        <i class="card_bottom_word">{yun:}$blist.com_name|strip_tags|mb_substr:0:20:'utf-8'{/yun} </i>
                        {yun:}if $blist.ratlogo!="" && $blist.ratlogo!="0"{/yun}
                        <img src="{yun:}$blist.ratlogo{/yun}" style="vertical-align:middle" width="14" height="14" /> {yun:}/if{/yun}
                        {yun:}if $blist.yyzz_status=='1'{/yun}
                        <i class="job_qy_rz_icon"></i>
                        {yun:}/if{/yun}
                        <div>
                            <i class="card_bottom_logo_word">
                                {yun:}if $job_list.time=='今天' || $job_list.time=='昨天'||$job_list.redtime=='1'{/yun}
                                {yun:}$job_list.time{/yun}
                                {yun:}else{/yun}
                                {yun:}$job_list.time{/yun}
                                {yun:}/if{/yun}</i>
                        </div>
                    </div>
                </div>
            </a>
            <div class="job_list_box">
                <div class="yunwap_jobcom">
                    <div class="yunwap_jobcom_name">
                        <a href="{yun:}url m=wap c=company a=show id=$blist.uid{/yun}" title="{yun:}$blist.com_name|strip_tags{/yun}">
                        </a>
                    </div>
                </div>
            </div>
            {yun:}/joblist{/yun}
            </section>
            {yun:}/if{/yun}
            {yun:}/if{/yun}
    </div>
</div>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<script src="{yun:}$plusstyle{/yun}/city.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$plusstyle{/yun}/job.cache.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/category.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/publichtm/public_city_search.htm"{/yun}
<script type="text/javascript">
var wapurl = "{yun:}url m=wap{/yun}";
var mapjob = '{yun:}$smarty.get.mapjob{/yun}';
var currentPage = parseInt('{yun:}$smarty.get.page{/yun}'),
    total = parseInt('{yun:}$total{/yun}'),
    pagelink = '{yun:}$pagelink{/yun}';

var jobData = jobCategory();


var joblistvue = new Vue({
    el: '#app',
    data: {
        //分页相关
        currentPage: currentPage ? currentPage : 1,
        total: total,
        perpage: 20,
    },
    methods: {
        pageChange: function(e) {
            var pageurl = pagelink.replace('{{page}}', e);
            location.href = pageurl;
        }
    }
})

</script>
{yun:}if ($isweixin && $total>0 && $config.sy_wxwap_list==2) || $smarty.get.mapjob{/yun}
{yun:}include file="$wapstyle/joblist_vue.htm"{/yun}
{yun:}/if{/yun}
{yun:}include file="$wapstyle/publichtm/publictwo.htm"{/yun}
{yun:}include file="$wapstyle/publichtm/search.htm"{/yun}
{yun:}include file="$wapstyle/footer.htm"{/yun}