<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/ask/ask.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
<div class="ask_home_bg">
	<div class="ask_home_bg_c">
  
		<div class="ask_home_logo">
			{yun:}if $row.pic{/yun}
			<img src="{yun:}$row.pic{/yun}">
			{yun:}else{/yun}
			<img src="{yun:}$config.sy_weburl{/yun}/app/template/wap/images/r_tx.png">
			{yun:}/if{/yun}
		</div>
		
        <div class="ask_home_name">{yun:}$row.name{/yun}<!--<a href="###" class="ask_home_gz">+ 关注</a>--></div>

	
		
		
	
	</div>
		
	<div class="ask_home_nav">
		{yun:}if $uid && ($smarty.get.uid=='' || $smarty.get.uid==$uid){/yun}
			<a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myquestion uid=$uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}">
				<span class="ask_home_nav_n">{yun:}$q_num{/yun}</span>提问
			</a>
			<span class="ask_home_nav_line">|</span>
			<a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myanswer  uid=$uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}">
			<span class="ask_home_nav_n">{yun:}$a_num{/yun}</span>回答
			</a>
			<span class="ask_home_nav_line">|</span>
			<a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=attenquestion uid=$uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}">
			<span class="ask_home_nav_n">{yun:}$g_num{/yun}</span>关注
			</a>
		{yun:}elseif $smarty.get.uid{/yun}
			<a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myquestion uid=$smarty.get.uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}">
				{yun:}if $qw_num{/yun}
				<span class="ask_home_nav_n">{yun:}$qw_num{/yun}</span>提问
			    {yun:}else{/yun}
			    <span class="ask_home_nav_n">0</span>提问
			    {yun:}/if{/yun}
			</a>
			<span class="ask_home_nav_line">|</span>
			<a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myanswer  uid=$smarty.get.uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}">
			<span class="ask_home_nav_n">{yun:}$a_num{/yun}</span>回答	</a>
			<span class="ask_home_nav_line">|</span>
			<a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=attenquestion uid=$smarty.get.uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}">
			<span class="ask_home_nav_n">{yun:}$g_num{/yun}</span>关注
			</a>
		{yun:}/if{/yun}
	</div>
	
</div>

<div class="askfriend_nav mt10">
  <ul>
  	{yun:}if $uid && ($smarty.get.uid=='' || $smarty.get.uid==$uid){/yun} 
    	<li {yun:}if $smarty.get.a=='myquestion'{/yun}class="askfriend_cur"{yun:}/if{/yun}><a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myquestion uid=$uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}"><span>我的提问</span></a></li>
    	<li {yun:}if $smarty.get.a=='myanswer'{/yun}class="askfriend_cur"{yun:}/if{/yun}><a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myanswer  uid=$uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}"><span>我的回答</span></a></li>
    	<li {yun:}if $smarty.get.a=='attenquestion'{/yun}class="askfriend_cur"{yun:}/if{/yun}><a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=attenquestion  uid=$uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}"><span>我的关注</span></a></li>
    {yun:}elseif $smarty.get.uid{/yun}
     	<li {yun:}if $smarty.get.a=='myquestion'{/yun}class="askfriend_cur"{yun:}/if{/yun}><a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myquestion uid=$smarty.get.uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}"><span>他的提问</span></a></li>
    	<li {yun:}if $smarty.get.a=='myanswer'{/yun}class="askfriend_cur"{yun:}/if{/yun}><a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=myanswer  uid=$smarty.get.uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}"><span>他的回答</span></a></li>
    	<li {yun:}if $smarty.get.a=='attenquestion'{/yun}class="askfriend_cur"{yun:}/if{/yun}><a href="{yun:}if $uid{/yun}{yun:}url m=wap c=ask a=attenquestion  uid=$smarty.get.uid{/yun}{yun:}else{/yun}{yun:}url m=wap c=login{/yun}{yun:}/if{/yun}"><span>他的关注</span></a></li>
    {yun:}/if{/yun}
  </ul>
</div>

