{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/job.css?v={yun:}$config.cachecode{/yun}" type="text/css" />


<script>
	function onceadd(msg,url){
		showConfirm(msg, function(){
			window.location.href=url;
		});
	}
</script>

<section>
    <div class="once_search_tit clearfix ">
    <div class="once_search_pd"><span class="once_search_pd_a">{yun:}$headertitle{/yun}</span>
        <ul class="once_search_list ">
            {yun:}if $config.three_cityid&&$config.sy_web_site=='1'{/yun}
            <li class="Substation popup" data-pop="Substation">
                <a href="javascript:void(0);" class="once_search_list_a">
                    <span class="job_ov">{yun:}$city_name[$config.three_cityid]{/yun}</span>
                    <i class="searchOptions_icon"></i>
                </a>
            </li>
            {yun:}else if $config.cityid&&$config.sy_web_site=='1'{/yun}
            <li class="Substation popup" data-pop="Substation">
                <a href="javascript:void(0);" class="once_search_list_a">
                    <span class="job_ov">{yun:}$city_name[$config.cityid]{/yun}</span>
                  
                </a>
            </li>
            {yun:}else{/yun}
            <li class="grade popup" data-pop="grade">
                <a href="javascript:void(0);" class="once_search_list_a">
                    <span class="job_ov">
							{yun:}if $city_name[$smarty.get.cityid] || $city_name[$smarty.get.provinceid]{/yun}
								{yun:}$city_name[$smarty.get.cityid]{/yun}{yun:}$city_name[$smarty.get.provinceid]{/yun}
							{yun:}elseif $city_name[$smarty.get.three_cityid]{/yun}
								{yun:}$city_name[$smarty.get.three_cityid]{/yun}
							{yun:}else{/yun}工作地区{yun:}/if{/yun}
						</span>
                   
                </a>
            </li>
            {yun:}/if{/yun}
            <li class="Sortadtime popup" data-pop="Sortadtime"><a href="javascript:void(0);"  class="once_search_list_a"><span class="job_ov">{yun:}if $adtime[$smarty.get.add_time]{/yun}{yun:}$adtime[$smarty.get.add_time]{/yun}{yun:}else{/yun}时间范围{yun:}/if{/yun}</span></a></li>
            <input type="hidden" id="searchurl" value="{yun:}$searchurl{/yun}" />
            <input type="hidden" id="waptype" value="1" />
            
        </ul>
   
    </div>
    </div>
</section>
<div class="clear"></div>
<section>
    <div class="once_box ">
        {yun:}fast item=once ispage=1 limit=20 keyword='auto.keyword' add_time='auto.add_time' provinceid='auto.provinceid' cityid='auto.cityid' three_cityid='auto.three_cityid' islt=4 {/yun}
        <div class="list_once_box">
            <a href="{yun:}url m=wap c=once a=show id=$once.id{/yun}">
                <div class="list_once_name">{yun:}$once.title{/yun}</div>
                <span class="list_once_xz">{yun:}if $once.salary{/yun} ￥{yun:}$once.salary{/yun}{yun:}else{/yun}面议{yun:}/if{/yun}</span>
                <div class="list_once_name_P">{yun:}$once.require|mb_substr:0:100:'utf-8'{/yun}</div>
                <div class="list_once_name_P">地区：{yun:}$once.once_job_one{/yun}-{yun:}$once.once_job_two{/yun}</div>
                <div class="list_once_name_P_tel">
                    {yun:}if $config.user_wzp_link=='1' && !$smarty.cookies.uid{/yun}
                    <a href='{yun:}url m=wap c=login usertype=2{/yun}'>
                       <div class="newly_login">
                         
                          <font color='#2778F8'>登录后查看联系电话</font>
                          <div class="newly_login_btn">立即登录</div>
                       </div>
                    </a>
                    {yun:}else{/yun}
                    <span class="list_once_touch"> 电话： {yun:}$once.phone{/yun} ({yun:}$once.linkman{/yun})</span>
                    <a href="tel:{yun:}$once.phone{/yun}">
                        <div class="list_once_touch_tel"><i class="list_once_touch_tel_icon"></i><span class="list_once_touch_tel_p">拨打</span></div>
                    </a>
                    {yun:}if $once.address{/yun}
                    <div class="list_once_touch_add">地址：{yun:}$once.address{/yun}</div>
                    {yun:}/if{/yun} {yun:}/if{/yun}

                    <div class="list_once_gxtime"> 更新于： {yun:}if $once.redtime==1 || $once.ctime
                        <60{/yun} <span style="color:red;">{yun:}$once.ctime{/yun}</span> {yun:}else{/yun} {yun:}$once.ctime{/yun} {yun:}/if{/yun} </div>
                </div>
        </div>
        {yun:}/fast{/yun} {yun:}if $total
        <=0{/yun} {yun:}if $smarty.get.keyword!="" {/yun} <div class="wap_member_no">没有搜索到店铺招聘
            <div>
                <a class="wap_mb_no_sr" href="{yun:}url m=wap c='once'{/yun}">重新搜索</a>
            </div>
    </div>
    {yun:}else{/yun}
    <div class="wap_member_no">暂无店铺招聘
        <div>
            <a class="wap_mb_no_sr" href="{yun:}url m=wap c='once'{/yun}">重新搜索</a>
        </div>
    </div>
    {yun:}/if{/yun} {yun:}else{/yun}
    <div class="pages">{yun:}$pagenav{/yun}</div>
    {yun:}/if{/yun} </div>
</section>
<!--功能条-->
      <div class="clear"></div>
        <div class="once_search_list_fb_box_c">
			<div class="once_search_list_fb_box">
			{yun:}if $isFb{/yun}						
				{yun:}if $config.sy_once == 0{/yun}
				<a href="{yun:}url m=wap c=once a=add{/yun}"  class="once_search_list_fb">发布招聘</a>
				{yun:}else if $num > 0{/yun}
				<a href="javascript:void(0);" onclick="onceadd('一天内只能发布{yun:}$config.sy_once{/yun}次，剩余可发布{yun:}$num{/yun}次','{yun:}url m=wap c=once a=add{/yun}')"  class="once_search_list_fb">发布招聘</a>
				{yun:}else{/yun}
				<a href="javascript:void(0);" onclick="showToast('一天内只能发布{yun:}$config.sy_once{/yun}次！')"  class="once_search_list_fb">发布招聘</a>
				{yun:}/if{/yun}
			{yun:}else{/yun}
				<a href="javascript:void(0);" onclick="showToast('网站发布店铺招聘本日已到上限，如有急需，请联系网站客服！')"  class="once_search_list_fb">发布招聘</a>
			{yun:}/if{/yun}   	
			</div>
      </div>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/demo.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/demo.css?v={yun:}$config.cachecode{/yun}" type="text/css">
{yun:}include file="$wapstyle/publictwo.htm"{/yun}
</body>
</html>