<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<title>{yun:}$config.sy_webname{/yun}</title>
		<meta name="keywords" content="人才招聘,网络招聘,wap" />
		<meta name="description" content="人才招聘网wap网站" />
		<meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta name="MobileOptimized" content="240" />
		<meta http-equiv="Expires" content="0" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="format-detection" content="telephone=no,email=no" />
		<script src="{yun:}$wap_style{/yun}/js/flexible.js?v={yun:}$config.cachecode{/yun}"></script>
		<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/lt/yun_wap_member.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
        <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/base.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
        <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/css.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
		<link href="{yun:}$config_wapdomain{/yun}/js/vant/lib/index.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" />
	</head>

	<body>
		<header>
			<div class="header_bg">
				<a class="hd-lbtn" href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}"><i class="header_top_l iconfont"></i></a>
				<div class="header_h1">手机上传</div>
			</div>
		</header>
		<div class="main_member_body">

			<style type="text/css">
				.submit-ok {
					color: #fff;
					background-color: #5cb85c;
				}
			</style>
			{yun:}if $type == 2{/yun}
			<ul class="yunset_password mt15">
				<li><span class="yunset_password_mname">您的姓名</span> <input type="text" name="name" id="name" value="" class="yunset_text"></li>
				<li><span class="yunset_password_mname">证件号码</span> <input type="number" name="idcard" id="idcard" value="" class="yunset_text"></li>
			</ul>
			<div class="yunset_identity_box">
				<div class="yunset_identity">
					<div align="center" class="yunset_identity_pic_img" id="previewshow" style="display: none;"> <img src="" id="previewimg" />
					</div>
					<div class="yunset_identity_pic">
						<i class="yunset_identity_pic_tj"></i>
						<input type="file" name="pic" id="pic" onchange="previewImage(this,'preview')" accept="image/*" class="yunset_identity_pic_file">
						<input type='hidden' name='preview' value='' id='preview'>
					</div>

					<div class="yunset_identity_tip">上传图片</div>
					<div class="yunset_identity_tip_c">（ 文字清晰，四角齐全 )</div>

				</div>

			</div>
			<div class="yunset_identity_msg"><i class="yunset_identity_msg_icon"></i>格式为
				{yun:}$config.pic_type{/yun}不得超过{yun:}$config.file_maxsize{/yun}M</div>

			{yun:}else{/yun}
			<ul class="yunset_password mt15">
				<li><span class="yunset_password_mname">公司名称</span> <input type="text" name="com_name" id="com_name" value="" class="yunset_text"></li>
			</ul>
			{yun:}if $config.com_social_credit=="1"{/yun}
			<ul class="yunset_password mt15">
				<li><span class="yunset_password_mname">信用代码</span> <input type="text" name="social_credit" id="social_credit" value="" class="yunset_text"></li>
			</ul>
			{yun:}/if{/yun}
			<div class="yunset_identity_box">

				<div class="yunset_identity" style="height:270px;">

					<div align="center" class="yunset_identity_pic_img" id="previewshow" {yun:}if !$cert.check{/yun}style="display: none;" {yun:}/if{/yun}>

						<img src="{yun:}$cert.old_check{/yun}" id="previewimg" />

					</div>
					<div class="yunset_identity_pic">

						<input type="file" name="pic" id="pic" onchange="previewImage(this,'preview','index.php?c=upload&a=upCertPic')" accept="image/*" class="yunset_identity_pic_file">
						<input type='hidden' name='preview' value='' id='preview'>

					</div>
					<i class="yunset_identity_pic_tj"></i>
					<div class="yunset_identity_tip" style="padding-top:10px;">上传营业执照/组织机构代码证</div>
					<span class="yunset_identity_tip_a">选择上传图片</span>
					<div class="yunset_identity_tip_c" style="padding-top:10px;">执照中的文字、图片、章印等需清晰可辨别，否则不能通过认证。 </div>

				</div>
			</div>
			{yun:}if $config.com_cert_owner=="1"{/yun}
			<div class="yunset_identity_box">

				<div class="yunset_identity" style="height:270px;">

					<div align="center" class="yunset_identity_pic_img" id="owner_certshow" {yun:}if !$cert.owner_cert{/yun}style="display: none;" {yun:}/if{/yun}>

						<img src="{yun:}$cert.old_owner_cert{/yun}" id="owner_certimg" />

					</div>
					<div class="yunset_identity_pic">

						<input type="file" name="pic1" id="pic1" onchange="previewImage(this,'owner_cert','index.php?c=upload&a=upCertPic')" accept="image/*" class="yunset_identity_pic_file">
						<input type='hidden' name='owner_cert' value='' id='owner_cert'>

					</div>
					<i class="yunset_identity_pic_tj"></i>
					<div class="yunset_identity_tip" style="padding-top:10px;">上传经办人身份证</div>
					<span class="yunset_identity_tip_a">选择上传图片</span>
					<div class="yunset_identity_tip_c" style="padding-top:10px;">图片和文字需清晰可辨别，否则不能通过认证。 </div>

				</div>
			</div>
			{yun:}/if{/yun}
			{yun:}if $config.com_cert_wt=="1"{/yun}
			<div class="yunset_identity_box">

				<div class="yunset_identity" style="height:270px;">

					<div align="center" class="yunset_identity_pic_img" id="wt_certshow" {yun:}if !$cert.wt_cert{/yun}style="display: none;" {yun:}/if{/yun}>

						<img src="{yun:}$cert.old_wt_cert{/yun}" id="wt_certimg" />

					</div>
					<div class="yunset_identity_pic">

						<input type="file" name="pic2" id="pic2" onchange="previewImage(this,'wt_cert','index.php?c=upload&a=upCertPic')" accept="image/*" class="yunset_identity_pic_file">
						<input type='hidden' name='wt_cert' value='' id='wt_cert'>

					</div>
					<i class="yunset_identity_pic_tj"></i>
					<div class="yunset_identity_tip" style="padding-top:10px;">上传委托书/承诺函</div>
					<span class="yunset_identity_tip_a">选择上传图片</span>
					<div class="yunset_identity_tip_c" style="padding-top:10px;">图片和文字需清晰可辨别，否则不能通过认证。 </div>

				</div>
			</div>
			{yun:}/if{/yun}
			{yun:}if $config.com_cert_other=="1"{/yun}
			<div class="yunset_identity_box">

				<div class="yunset_identity" style="height:270px;">

					<div align="center" class="yunset_identity_pic_img" id="other_certshow" {yun:}if !$cert.other_cert{/yun}style="display: none;" {yun:}/if{/yun}>

						<img src="{yun:}$cert.old_other_cert{/yun}" id="other_certimg" />

					</div>
					<div class="yunset_identity_pic">

						<input type="file" name="pic2" id="pic2"
							onchange="previewImage(this,'other_cert','index.php?c=upload&a=upCertPic')" accept="image/*"
							class="yunset_identity_pic_file">
						<input type='hidden' name='other_cert' value='' id='other_cert'>

					</div>
					<i class="yunset_identity_pic_tj"></i>
					<div class="yunset_identity_tip" style="padding-top:10px;">上传其他材料（选填）</div>
					<span class="yunset_identity_tip_a">选择上传图片</span>
					<div class="yunset_identity_tip_c" style="padding-top:10px;">图片和文字需清晰可辨别，否则不能通过认证。 </div>

				</div>
			</div>
			{yun:}/if{/yun}
			<div class="yunset_identity_msg"><i class="yunset_identity_msg_icon"></i>格式为 {yun:}$config.pic_type{/yun}不得超过{yun:}$config.file_maxsize{/yun}M</div>

			{yun:}/if{/yun}



			<div class="yunset_bth_box">
				<input type="hidden" id="type" value="{yun:}$type{/yun}">
				<input type="hidden" id="token" value="{yun:}$token{/yun}">
				<input type="button" id="submit" onclick="check_form_post()" value="保存" class="yunset_bth">
			</div>
		</div>
		<script src="{yun:}$wap_style{/yun}/js/jquery.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script src="{yun:}$wap_style{/yun}/js/vue.min.js?v={yun:}$config.cachecode{/yun}"></script> 
		<script src="{yun:}$config_wapdomain{/yun}/js/vant/lib/vant.min.js?v={yun:}$config.cachecode{/yun}"></script> 
		<script src="{yun:}$config_wapdomain{/yun}/js/vant/phpyun_vant.js?v={yun:}$config.cachecode{/yun}"></script> 
		<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script src="{yun:}$wap_style{/yun}/js/compress.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script src="{yun:}$wap_style{/yun}/js/exif.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script type="text/javascript">
		    function checkIdcard(num) {
		        //身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X。
		        var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
		        if(reg.test(num) === false) {
		            return false;
		        }
		    }
		
		    function check_form_post() {
		        var img = $.trim($("#pic").val());
		        if(img == "") {
		            showToast('请上传图片');
		            return false;
		        }
				var imgdata = {},
					type = $.trim($("#type").val()),
					token = $.trim($("#token").val());
					
					imgdata.token = token;
					
				if(type=='2'){
		            preview = $.trim($("#preview").val());
		            imgdata.preview = preview;
					var name = $.trim($('#name').val());
					var idcard = $.trim($('#idcard').val());
					if(name == '') {
		                showToast('请填写您的姓名');
		                return false;
		            }
		            if(idcard == '') {
		                showToast('请填写证件号码');
		                return false;
		            }
		            if(checkIdcard($.trim(idcard)) == false) {
		                showToast('请填写正确证件号码！');
		                return false;
		            } 
					imgdata.name = name;
					imgdata.idcard = idcard;
				}else{
					var com_name = $.trim($('#com_name').val());
					var social_credit = $.trim($('#social_credit').val());
		            var preview = $.trim($("#preview").val());
		            var owner_cert = $.trim($('#owner_cert').val());
		            var wt_cert = $.trim($('#wt_cert').val());
		            var other_cert = $.trim($('#other_cert').val());
					if(com_name == '') {
		                showToast('请填写公司名称');
		                return false;
		            }
					imgdata.com_name = com_name;
					if(social_credit){
						imgdata.social_credit = social_credit;
					}
		            if(preview){
		                imgdata.preview = preview;
		            }
		            if(owner_cert){
		                imgdata.owner_cert = owner_cert;
		            }
		            if(wt_cert){
		                imgdata.wt_cert = wt_cert;
		            }
		            if(other_cert){
		                imgdata.wt_cert = other_cert;
		            }
		            
				}
		        showLoading('上传中');
				$.post('index.php?c=upload&a=uploadimg_save',imgdata,function(data){
					hideLoading();
					var data=eval('('+data+')');
					
					if(data.errcode == 9) {
						$('#submit').attr('onclick','');
						$('#submit').val(data.msg);
					}
					showToast(data.msg);return false;
				});
		    }
		</script>
	</body>
</html>
