{yun:}include file="$wapstyle/header_cont.htm"{/yun}
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
 <!-- 页面头部部分 -->
<div id="yunvue"  class="none"> 
<div class="newzph_img">
	<a href="{yun:}if $backurl{/yun}{yun:}$backurl{/yun}{yun:}else{/yun}javascript:goBack();{yun:}/if{/yun}" class="header_back"></a>
	<img src="{yun:}$Info.banner_wap_n{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_zphbanner_icon{/yun}',2);" width="100%">
</div>
<div class="newzph_pd">
	<div class="newzph_show">
		<div class="newzphshow_sj">
		<div class="newzph_sj_n_b"><span class="newzph_sj_n">{yun:}$Info.comnum{/yun}</span>家</div>
		参会企业 
		</div>
		 <div class="newzphshow_sj">
		 <div class="newzph_sj_n_b"><span class="newzph_sj_n">{yun:}$Info.jobnum{/yun}</span>个</div>
		参会职位
		 </div>
		 <div class="newzphshow_sj">
		<div class="newzph_sj_n_b"><span class="newzph_sj_n"> {yun:}$Info.zpnum{/yun}</span>人</div>
		招聘人数
		 </div>
		<div class="newzphshow_sj">
		<div class="newzph_sj_n_b"><span class="newzph_sj_n"> {yun:}$Info.sqnum{/yun}</span>次</div>
		投递简历
		 </div>
	</div>

	<div class="newzphshow_tit">
		<ul>
			<li id="zphtab" class="newzphshow_titcur tabCtrl"><a href="javascript:void(0);" onclick="tab('zph');">招聘会介绍</a></li>
			<li id="comtab" class="tabCtrl"><a href="javascript:void(0);" onclick="tab('com');">参会企业</a></li>
			<li id="jobtab" class="tabCtrl"><a href="javascript:void(0);" onclick="tab('job');">招聘岗位</a></li>
		</ul>
	</div>
	<!--介绍-->
	<div id="zphBox" class="newzphshow_p boxCtrl">
		{yun:}if $Info.body{/yun}
		<div class=" ">
	       	<div class="body_concise_title">招聘会简章</div>
	       	<div class="body_concise_content">
		        <section>
		    		<div class="zph_bg_pd   img_auto">
		    			<div class="  body_concise_content">
							{yun:}if $Info.organizers{/yun}
				    		<div class="">主&nbsp;  办&nbsp; 方：{yun:}$Info.organizers{/yun}</div>
				            {yun:}/if{/yun}
				
				        	{yun:}$Info.body{/yun}
							<div class="">举办时间：{yun:}$Info.starttime_n{/yun}~{yun:}$Info.endtime_n{/yun}</div>
							{yun:}if $Info.address{/yun}<div class="">举办地点：{yun:}$Info.address{/yun}</div>{yun:}/if{/yun}
							{yun:}if $Info.traffic{/yun}<div class="">交通路线：{yun:}$Info.traffic{/yun}</div>{yun:}/if{/yun}
						</div>
		
		     		</div>
		    	</section>
			</div>
		</div>
		{yun:}/if{/yun}
		{yun:}if $Info.media{/yun}
		<section>
		    <div class="zph_bg_pd mt15 img_auto">
		        <div class="body_concise_title"><span class="">媒体宣传</span></div>
		        <div class="zph_show_content"> {yun:}$Info.media{/yun}
		    </div></div>
		</section>
		{yun:}/if{/yun}
		{yun:}if $Info.packages{/yun}
		<section>
		    <div class="zph_bg_pd mt15 img_auto">
		        <div class="body_concise_title"><span class="">超值服务套餐</span></div>
		        <div class="zph_show_content"> {yun:}$Info.packages{/yun}</div>
		    </div>
		</section>
		{yun:}/if{/yun}
		{yun:}if $Info.booth{/yun}
		<section>
		    <div class="zph_bg_pd mt15 img_auto">
		        <div class="body_concise_title"><span class="">展位设置方案</span></div>
		      <div class="zph_show_content">   {yun:}$Info.booth{/yun}</div>
		    </div>
		</section>
		{yun:}/if{/yun}
		{yun:}if $Info.participate{/yun}
		<div class="zph_bg_pd mt15 img_auto">
		    <div class="body_concise_title"><span class="">参与办法</span></div>
		    <div class="zph_show_content"> {yun:}$Info.participate{/yun}</div>
		</div>
		{yun:}/if{/yun}
	</div>
	

	<!--参会企业-->
	<div id="comBox" class="newzph_showcom boxCtrl none">
		<div v-if="islook">
			<div v-if="com_total">
				<ul>
					<li v-for="(com, comkey) in com_list" :key="comkey">
						<div class="newzph_showcomlist">
							<div class="newzph_showcom_c">
								<a :href="com.comwapurl">
									<div class="newzph_showcom_img"><img :src="com.logo"></div>
									<div class="newzph_showcomname">{{com.comname}}</div>
									<div class="newzph_showcominfo">{{com.mun_n}}<i class="newzph_showcominfoine">|</i>{{com.pr_n}}<i class="newzph_showcominfoine">|</i>{{com.hy_n}}</div>
								</a>
							</div>
						</div>
						<div v-if="com.job && com.job.length>0">
							<div class="newzph_showcomjob" v-for="(cjob, cjobkey) in com.job" :key="cjobkey">
								<a :href="cjob.wapurl">
									<div class="newzph_showcomjob_a">{{cjob.name}}<i class="newzph_showcomjob_jp" v-if="cjob.urgent_n==1"></i> </div> 
									<span class="newzph_showcomjob_xz">{{cjob.job_salary}}</span>
								</a>
							</div>
						</div>
						
						<div class="newzph_showcomjobmore"><a :href="com.comwapurl" class="newzph_showcomjobmore_a">查看全部岗位</a></div>
						<div class="newzph_showcomzw">展位号：{{com.sidname}} - {{com.cidname}} - {{com.bidname}}</div>
					</li>
				</ul>
				<div v-if="com_total > com_limit" style="margin-top: .266667rem;">
	                <van-pagination v-model="com_page" :total-items="com_total" :items-per-page="com_limit" force-ellipses @change="comPageChange"/>
	            </div>
			</div>
			<div v-if="com_total==0">
	            <div class="wap_member_no">
	                招聘会企业整理中，即将发布
	            </div>
	        </div>
        </div>
	</div>
	<!--参会岗位-->
	<div id="jobBox" class="newzph_showjob boxCtrl none">
		<div v-if="islook">
			<div v-if="job_total">
				<ul>
					<li v-for="(job, jobkey) in job_list" :key="jobkey">
						<a :href="job.wapurl">
							<div class="newzph_showjobt">
								<div class="newzph_showcomjob_a">{{job.name}}<i class="newzph_showcomjob_jp" v-if="job.urgent_n==1"></i></div> 
								<span class="newzph_showcomjob_xz">{{job.job_salary}}</span>
							</div>
							<div class="newzph_showjobinfo">{{job.citystr}}<i class="newzph_showcominfoine">|</i>{{job.job_exp}}<i class="newzph_showcominfoine">|</i>{{job.job_edu}}</div>
							<div class="newzph_showjobfl" v-if="job.welfare_n && job.welfare_n.length>0">
								<span class="newzph_showjobfl_n" v-for="(wel, wkey) in job.welfare_n" :key="wkey">{{wel}}</span> 
							</div>
							<div class="newzph_showjobcom">{{job.com_name}}</div>
							<span class="newzph_showjob_sq">申请</span>
						</a>
					</li>
				</ul>
				<div v-if="job_total > job_limit" style="margin-top: .266667rem;">
	                <van-pagination v-model="job_page" :total-items="job_total" :items-per-page="job_limit" :show-page-size="3" force-ellipses @change="jobPageChange"/>
	            </div>
			</div>
			<div v-if="job_total==0">
	              <div class="wap_member_no">
	                招聘会岗位整理中，即将发布
	            </div>
	        </div>
	    </div>
	</div>

	<!--参会岗位 end-->
</div>
</div>
<style>
	.header{ display: none;}
	</style>
<div class="newzph_showfoot"></div>
<div class="particulars_tail">
   <a href="tel:{yun:}$Info.phone{/yun}"  class="particulars_tail_left">
            <div class="particulars_tail_icon">
                <img src="{yun:}$wap_style{/yun}/images/icon_iphone.png" alt="">
            </div>
            <div class="particulars_tail_text">电话咨询</div>
            </a>
       {yun:}if $Info.stime lt '0'|| $Info.etime lt '0'{/yun}
    <a class="particulars_tail_right particulars_tail_right_tz">已停止预订</a>
    {yun:}else{/yun} {yun:}if $usertype==2{/yun}
    <a href="{yun:}url m=wap c=zph a=reserve id='`$Info.id`'{/yun}" class="particulars_tail_right">预订展位</a>
    {yun:}else{/yun} {yun:}if $uid{/yun}
	<a href="javascript:void(0);"  onclick="showToast('只有企业用户才能预订');" class="particulars_tail_right">预订展位</a>
	{yun:}else{/yun}
    <a href="{yun:}url m=wap c=login {/yun}" class="particulars_tail_right">预订展位</a>
    {yun:}/if{/yun} {yun:}/if{/yun} {yun:}/if{/yun}
</div>


<style>
    .user_contnet_box {
        width: 100%;
        overflow: hidden
    }

    .user_contnet_box img {
        max-width: 100%;
    }
</style>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>

<script>
	var zid = '{yun:}$Info.id{/yun}';
	var comajaxed = false;
	var jobajaxed = false;
    var config = {
        url: '{yun:}url m=wap c=zph a=show id=$Info.id{/yun}',
        title: '{yun:}$Info.title{/yun}',
        desc: '{yun:}$Info.description|replace:"\r\n":""{/yun}',
        img: '{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_sharelogo{/yun}',
        img_title: '{yun:}$Info.title{/yun}',
        from: '{yun:}$config.sy_webname{/yun}'
    };

    

    var yunvue = new Vue({
        el: '#yunvue',
        data() {
            return {
                com_total: 0,
                com_page: 1,
                com_limit: 10,
                com_list:[],

                job_total: 0,
                job_page: 1,
                job_limit: 10,
                job_list:[],

                islook:false,
            };
        },
        created() {
            $("#yunvue").removeClass('none');
        },
        methods: {
            getComList: function (type) {
                var that = this;
                that.islook = false;
                if (type && type == 'refresh') {
                	
                    that.com_page = 1;
                    that.com_list = [];
                }
                var paramer = {
                	zid:zid,
                    page: that.com_page,
                    limit: that.com_limit
                };
                showLoading();
                $.post(wapurl + 'index.php?c=zph&a=getComList', paramer, function (data) {
                    hideLoading();
                    if (data.error==1) {
                    	comajaxed = true;
                        let list = data.list;
                        that.com_total = data.total;
                        //that.pageTotal = Math.ceil(data.data.total / that.limit);
                        if (list && list.length > 0) {
                            that.com_list = list;
                        }
                    }
                    that.islook = true;
                }, 'json')
            },
            comPageChange: function (page) {
                this.com_page = page;
                this.getComList('');
            },
            getJobList: function (type) {
                var that = this;
                that.islook = false;
                if (type && type == 'refresh') {

                    that.job_page = 1;
                    that.job_list = [];
                }
                var paramer = {
                	zid:zid,
                    page: that.job_page,
                    limit: that.job_limit
                };
                showLoading();
                $.post(wapurl + 'index.php?c=zph&a=getJobList', paramer, function (data) {
                    hideLoading();
                    if (data.error==1) {
                    	jobajaxed = true;
                        let list = data.list;
                        that.job_total = data.total;
                        //that.pageTotal = Math.ceil(data.data.total / that.limit);
                        if (list && list.length > 0) {
                            that.job_list = list;
                        }
                    }
                    that.islook = true;
                }, 'json')
            },
            jobPageChange: function (page) {
                this.job_page = page;
                this.getJobList('');
            },
            toPage: function (url) {
                navigateTo(url)
            }
        }
    });

    function tab(type){
    	$('.tabCtrl').removeClass('newzphshow_titcur');
    	$('#'+type+'tab').addClass('newzphshow_titcur');

    	$('.boxCtrl').hide();
    	$('#'+type+'Box').show();

    	if(type=='com' && !comajaxed){
    		yunvue.getComList();
    	}
    	if(type=='job' && !jobajaxed){
    		yunvue.getJobList();
    	}
    }
</script>

</body>
</html>