{yun:}include file="$wapstyle/header_cont.htm"{/yun}


<div class="particulars_bodybg"></div>
<div class="particulars_body">
        <div class="particulars_body_card">
            <div class="particulars_card_title">
                <div class="particulars_title_text">	
                {yun:}$row.title{/yun}
        {yun:}if $Info.stime<'0'&&$Info.etime>'0'{/yun}
        <span class="particulars_title_icon">进行中</span>
        {yun:}elseif $Info.stime>'0'{/yun}
        <span class=" particulars_title_icon">预定中</span>
         {yun:}/if{/yun}
            </div>      </div>
            <div class="card_top_word_time">
                <div class="word_time_icon">
                    <img src="{yun:}$wap_style{/yun}/images/career_fair_time.png" alt="">
                </div>
                <div class="word_time">{yun:}$row.starttime|date_format:"%Y-%m-%d"{/yun} 至 {yun:}$row.endtime|date_format:"%Y-%m-%d"{/yun}</div>
            </div>
            {yun:}if $row.address{/yun}
         
            <div class="particulars_card_location">
                <div class="card_location_box">
                    <div class="location_box_icon">
                        <img src="{yun:}$wap_style{/yun}/images/issue_location.png" alt="">
                    </div>
                    <div class="location_box_text">{yun:}$row.address{/yun}</div>
                </div>
               
            </div>    {yun:}/if{/yun}
     
        </div>



  
<div class="zph_show_pd">
<section>
    {yun:}foreach item=zph from=$rows key=key{/yun}
    <div class="zph_show_com_list">
        <div class="zph_show_comname">
            <div class="zph_show_comname_box">
                <a href="{yun:}url m=wap c=company a=show id='`$zph.uid`'{/yun}">{yun:}$zph.comname{/yun} </a>
            </div>
            <span class="zph_show_comzwh">展位号：{yun:}$zph.sidname{/yun} - {yun:}$zph.cidname{/yun} - {yun:}$zph.bidname{/yun}</span>
        </div>
		{yun:}if $zph.job{/yun}
        <div class="zph_show_com_box">
            <div class="zph_show_com_job">
                招聘职位： 
				 {yun:}foreach from=$zph.job item=jlist{/yun}
                <a href="{yun:}url m=wap c=job a=comapply id=$jlist.id{/yun}">{yun:}$jlist.name{/yun}</a>
                {yun:}/foreach{/yun} 
        </div>
		{yun:}/if{/yun}
    </div>
    {yun:}foreachelse{/yun}
    <div class="job_fair_msg">
        <div class="wap_member_no">暂无公司报名！</div>
    </div>
    {yun:}/foreach{/yun}
</div> </div>
<div class="pages"> {yun:}$pagenav{/yun} </div>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/publichtm/public_js.htm"{/yun}
</body>
</html>