<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<title>后台管理</title>
	</head>
	<body class="body_ifm">
		<div class="infoboxp">

			<div class="main_tag">
				<div class="tag_box">
					<table width="100%" class="table_form" style="background:#fff; font-size:14px;">
						<tr class="admin_table_trbg">
							<th colspan="2" class="admin_bold_box">
								<div class="admin_bold">招聘详情</div>
							</th>
						</tr>
						<tr class="admin_table_trbg">
							<th width="120">(店面)名称：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.companyname{/yun}</div>
							</td>
						</tr>
						<tr>
							<th>职位名称：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.title{/yun}</div>
							</td>
						</tr>
						{yun:}if $show.pic{/yun}
						<tr>
							<th>店铺形象：</th>
							<td> <img src="{yun:}$show.pic_n{/yun}" width="145" height="35"></td>
						</tr>
						{yun:}/if{/yun}
						<tr>
							<th>工 &nbsp;&nbsp;&nbsp;资：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.salary{/yun}</div>
							</td>
						</tr>
						<tr>
							<th>具体要求：</th>
							<td>
								<div style="min-height:34px; line-height:34px;">{yun:}$show.require_n{/yun} </div>
							</td>
						</tr>

						<tr class="admin_table_trbg">
							<th>有效时间：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.edate_n{/yun}</div>
							</td>
						</tr>

						<tr class="admin_table_trbg">
							<th>联系电话：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.phone{/yun} </div>
							</td>
						</tr>
						<tr>
							<th>联 系 人：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.linkman{/yun}</div>
							</td>
						</tr>

						<tr>
							<th width="120">时　　间：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.ctime_n{/yun}</div>
							</td>
						</tr>
						<tr>
							<th>工作地区：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.city_n{/yun}</div>
							</td>
						</tr>
						<tr>
							<th>工作地点：</th>
							<td>
								<div class="yun_admin_divh">{yun:}$show.address{/yun}</div>
							</td>
						</tr>
						<tr class="admin_table_trbg">
							<th width="120">状　　态：</th>
							<td>
								<div class="yun_admin_divh">{yun:}if $show.status=="1"{/yun}<font color="blue">已审核</font>{yun:}else{/yun}<font
									 color="red">未审核</font>{yun:}/if{/yun}</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
