<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet"
          type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
    <title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
    <div class="tty-tishi_top">
        <div class="admin_new_search_box">
            <form action="index.php" name="myform" method="get">
                <input name="m" value="admin_gongzhao" type="hidden"/>
                <div class="admin_new_search_name">关键字：</div>
                <input class="admin_Filter_search" placeholder="输入你要搜索的关键字" type="text" name="keyword" size="25"
                       style="float:left">
                <input class="admin_Filter_bth" type="submit" name="news_search" value="搜索"/>
                <a href="javascript:void(0)" onclick="$('.admin_screenlist_box').toggle();" class="admin_new_search_gj">高级搜索</a>
                <a href="index.php?m=admin_gongzhao&c=add" class="admin_new_cz_tj">+ 添加公招</a>
            </form>
            {yun:}include file="admin/admin_search.htm"{/yun}
        </div>
        <div class="clear"></div>
    </div>

    <div class="tty_table-bom">
        <div class="table-list">
            <div class="admin_table_border">
                <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                <form action="index.php" name="myform" method="get" target="supportiframe" id='myform'>
                    <input name="m" value="admin_gongzhao" type="hidden"/>
                    <input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
                    <input name="c" value="del" type="hidden"/>
                    <table width="100%">
                        <thead>
							<tr class="admin_table_top">
								<th style="width:20px;">
									<label for="chkall">
										<input type="checkbox" id='chkAll' onclick='CheckAll(this.form)'/>
									</label>
								</th>

								<th width="60">
									{yun:}if $smarty.get.t=="id" && $smarty.get.order=="asc"{/yun}
									<a href="{yun:}searchurl order=desc t=id m=admin_gongzhao untype='order,t'{/yun}">
										编号<img src="images/sanj.jpg"/>
									</a>
									{yun:}else{/yun}
									<a href="{yun:}searchurl order=asc t=id m=admin_gongzhao untype='order,t'{/yun}">
										编号<img src="images/sanj2.jpg"/>
									</a>
									{yun:}/if{/yun}
								</th>
								<th align="left" width="40%">公招标题</th>
								<th>
									{yun:}if $smarty.get.t=="datetime" && $smarty.get.order=="asc"{/yun}
									<a href="{yun:}searchurl order=desc t=datetime m=admin_gongzhao untype='order,t'{/yun}">
										发布时间<img src="images/sanj.jpg"/>
									</a>
									{yun:}else{/yun}
									<a href="{yun:}searchurl order=asc t=datetime m=admin_gongzhao untype='order,t'{/yun}">
										发布时间<img src="images/sanj2.jpg"/>
									</a>
									{yun:}/if{/yun}
								</th>
								<th>开始时间</th>
								<th>
									{yun:}if $smarty.get.t=="endtime" && $smarty.get.order=="asc"{/yun}
									<a href="{yun:}searchurl order=desc t=endtime m=admin_gongzhao untype='order,t'{/yun}">
										结束时间<img src="images/sanj.jpg"/>
									</a>
									{yun:}else{/yun}
									<a href="{yun:}searchurl order=asc t=endtime m=admin_gongzhao untype='order,t'{/yun}">
										结束时间<img src="images/sanj2.jpg"/>
									</a>
									{yun:}/if{/yun}
									<th width="60">分站</th>
									<th width="60">推荐</th>
									<th width="180" class="admin_table_th_bg">操作</th>
								</th>
							</tr>
                        </thead>
                        <tbody>
                        {yun:}foreach item=v key=key from=$gongzhao{/yun}
                        <tr align="center" {yun:}if ($key+1)%2=='0' {/yun} class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
							<td>
								<input type="checkbox" value="{yun:}$v.id{/yun}" class="check_all" name='del[]' onclick='unselectall()' rel="del_chk"/>
							</td>
							<td align="left" class="td1" style="text-align:center;"><span>{yun:}$v.id{/yun}</span></td>
							<td class="od" align="left">{yun:}$v.title{/yun}</td>
							<td class="td">{yun:}$v.datetime|date_format:"%Y-%m-%d"{/yun}</td>

							<td class="td">{yun:}if
								$v.startime==0{/yun}永久显示{yun:}else{/yun}{yun:}$v.startime|date_format:"%Y-%m-%d"{/yun}{yun:}/if{/yun}
							</td>

							<td class="td">{yun:}if
								$v.endtime==0{/yun}永久显示{yun:}else{/yun}{yun:}$v.endtime|date_format:"%Y-%m-%d"{/yun}{yun:}/if{/yun}
							</td>
							<td>
								<div>{yun:}if $v.did>0{/yun}{yun:}$Dname[$v.did]{/yun}{yun:}elseif $v.did==-1{/yun}全站{yun:}else{/yun}主站{yun:}/if{/yun}
								</div>
								<div>
									<a href="javascript:;" onclick="checksite('{yun:}$v.title{/yun}','{yun:}$v.id{/yun}','index.php?m=admin_gongzhao&c=checksitedid');"
										class="admin_company_xg_icon">重新分配</a>
								</div>
							</td>
							<td width="60" id="gzrec{yun:}$v.id{/yun}">
								{yun:}if $v.rec=="1"{/yun}
								<a href="javascript:void(0);" onclick="gzRecSet('{yun:}$v.id{/yun}','0');">
									<img src="../config/ajax_img/doneico.gif"></a>
								{yun:}else{/yun}
								<a href="javascript:void(0);" onclick="gzRecSet('{yun:}$v.id{/yun}','1');">
									<img src="../config/ajax_img/errorico.gif"></a>
								{yun:}/if{/yun}
							</td>
							<td width="180">
								<a href="index.php?m=admin_gongzhao&c=add&id={yun:}$v.id{/yun}" class="status admin_new_c_bth admin_n_sc">修改</a>
								<a href="javascript:void(0)"
								   onClick="layer_del('确定要删除？', 'index.php?m=admin_gongzhao&c=del&id={yun:}$v.id{/yun}');"
								   class="admin_new_c_bth admin_new_c_bth_sc">删除</a>
								<a href="index.php?m=admin_gongzhao&c=whb&id={yun:}$v.id{/yun}"  style=" display:inline-block;width:56px;border:1px solid #e9e9e9;height:22px; line-height:22px; text-align:center;color:#999;border-radius: 3px; background:#fff; font-size:12px;">外宣海报</a>
								
							</td>
                        </tr>
                        {yun:}/foreach{/yun}
                        <tr>
                            <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)'/></td>
                            <td colspan="5">
                                <label for="chkAll2">全选</label>&nbsp;
                                <input class="admin_button" type="button" name="delsub" value="删除所选"
                                       onClick="return really('del[]')"/>
                                <input class="admin_button" type="button" name="delsub" value="批量选择分站"
                                       onClick="checksiteall('index.php?m=admin_gongzhao&c=checksitedid');"/></td>
                        </tr>
                        {yun:}if $total > $config.sy_listnum {/yun}
                        <tr>
                            {yun:}if $pagenum==1{/yun}
                            	<td colspan="3"> 从 1 到 {yun:}$config.sy_listnum {/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}else if $pagenum > 1 && $pagenum < $pages{/yun}
								<td colspan="3"> 从 {yun:}($pagenum-1) *
									$config.sy_listnum + 1{/yun} 到 {yun:}$pagenum * $config.sy_listnum{/yun} ，总共
									{yun:}$total{/yun} 条
								</td>
                            {yun:}else if $pagenum == $pages{/yun}
								<td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$total{/yun}
									，总共
									{yun:}$total{/yun} 条
								</td>
                            {yun:}/if{/yun}
                            	<td colspan="5" class="digg">{yun:}$pagenav{/yun}</td>
                        </tr>
                        {yun:}/if{/yun}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    .admin_new_c_bth {
        color: #999;
        font-size: 12px;
    }
</style>
{yun:}include file="$adminstyle/checkdomain.htm"{/yun}
<script>
var pytoken = $('#pytoken').val();
function gzRecSet(id, rec){
	$.post('index.php?m=admin_gongzhao&c=setRec', {id: id, rec: rec, pytoken: pytoken}, function(data){
		if(data.st==9){
			if(rec=="1"){
				$("#gzrec"+id).html("<a href=\"javascript:void(0);\" onClick=\"gzRecSet('"+id+"','0');\"><img src=\"../config/ajax_img/doneico.gif\"></a>");
			}else{
				$("#gzrec"+id).html("<a href=\"javascript:void(0);\" onClick=\"gzRecSet('"+id+"','1');\"><img src=\"../config/ajax_img/errorico.gif\"></a>");
			}
		}
	},'json')
}
</script>
</body>
</html>
