<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
		<title>后台管理</title>
	</head>
	<body class="body_ifm">
		<div class="infoboxp">


			<div class="clear"></div>

			<div id="subboxdiv" style="width:100%;height:100%;display:none;position:absolute;"></div>

			<div class="tty_table-bom">
					<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
					<form class="layui-form" action="index.php?m=reward&c=saveset" method="post" enctype="multipart/form-data" target="supportiframe">
						<table width="100%" class="table_form">
							<tr>
								<th width="150" class="t_fr">默认商城图片：</th>
								<td>
									
									<button type="button" class="yun_bth_pic adminupload" lay-data="{path: 'logo',name: 'sy_imgsc_mr',imgid: 'imgicon'}">上传图片</button>
									<input type="hidden" id="layupload_type" value="2" />
									<img id="imgicon" src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_imgsc_mr{/yun}" width="60" height="60"  {yun:}if !$config.sy_imgsc_mr{/yun}class="none"{yun:}/if{/yun}>
								</td>
							</tr>
							<tr>
								<th width="150" >&nbsp;</th>
								<td align="left">
									<input class="layui-btn tty_sub" type="submit" name="submit" value="提交" />&nbsp;&nbsp;
									<input class="layui-btn tty_cz" type="reset" value="重置" />
								</td>
							</tr>
						</table>
						<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
					</form>
				</div>
			</div>
		</div>
		<script>
			var weburl = '{yun:}$config.sy_weburl{/yun}';
			layui.use(['layer', 'form'], function() {
				var layer = layui.layer,
					form = layui.form,
					$ = layui.$;
			});
		</script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>
	</body>
</html>
