<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
		<title>后台管理</title>
	</head>
	<body class="body_ifm">
		<div id="subboxdiv" style="width:100%;height:100%;display:none;position:absolute;"></div>
		<div class="infoboxp">
			<div class="tty-tishi_top">


				<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
				<form action="index.php?m=admin_tpl&c=resumetplsave" method="post" class="layui-form" enctype="multipart/form-data"
				 target="supportiframe">
					<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
					<table width="100%" class="table_form">
						<tr>
							<th colspan="2" class="admin_bold_box">
								<div class="admin_bold">添加简历模板</div>
							</th>
						</tr>
						<tr class="admin_table_trbg">
							<th width="140" class="t_fr">模板名称：</th>
							<td>
								<input class="layui-input t_w480" type="text" name="name" id="sy_qqappid" value="{yun:}$row.name{/yun}" size="30" maxlength="255" />
								<span class="admin_web_tip">如：经典红色</span>
							</td>
						</tr>
						<tr>
							<th width="140">状态：</th>
							<td>
								<div class="layui-input-inline">
									<input lay-skin="switch" name="status_switch" lay-filter="status" lay-text="开启|关闭" {yun:}if $row.status=="1"
									 {/yun} checked {yun:}/if{/yun} type="checkbox" />
									<input type="hidden" name="status" id="status" value="{yun:}$row.status{/yun}" />
								</div>
							</td>
						</tr>
						<tr class="admin_table_trbg">
							<th width="140" class="t_fr">模板路径：</th>
							<td>
								<input class="layui-input t_w480" type="text" name="url" id="sy_qqappid" value="{yun:}$row.url{/yun}" size="30" maxlength="255" {yun:}if $row.url{/yun}readonly{yun:}/if{/yun}/> 
								<span class="admin_web_tip">如：default。注意：简历模板放在app/template/resume下面，不存在系统将自动建立</span>
							</td>
						</tr>
						<tr>
							<th width="140" class="t_fr">{yun:}$config.integral_pricename{/yun}：</th>
							<td>
								<input class="layui-input t_w480" type="text" name="price" id="sy_qqappid" value="{yun:}$row.price{/yun}" size="30" maxlength="255" />
								<span class="admin_web_tip">如：100，0或空为免费</span>
							</td>
						</tr>
						<tr class="admin_table_trbg">
							<th width="140" class="t_fr">缩略图：</th>
							<td>
								<div class="admin_uppicbox" style="width: 238px; height: 315px;">
									<input type="hidden" id="laynoupload" value="1">
								
									<div class="admin_uppicimg">
										<img id="imgicon" src="{yun:}$row.pic_n{/yun}" width="238" height="315" {yun:}if !$row.pic{/yun}class="none"{yun:}/if{/yun}>
									</div>
								
									<span>
										<button type="button" class="noupload adminupbtn" lay-data="{imgid: 'imgicon'}">重新上传</button>	
										<input type="hidden" name="pic" value="{yun:}$row.pic{/yun}" />
									</span>
								</div>
								

							</td> 
						</tr> 
						<tr>
							<th width="140" class="t_fr"> 针对用户：</th>
							<td>
								<input class="layui-input t_w480" type="text" name="service_uid" id="service_uid" value="{yun:}$row.service_uid{/yun}" size="30" maxlength="255" />
								<span class="admin_web_tip">可以直接填写用户ID，多个以（半角逗号,）隔开</span>
							</td>
						</tr>
						<tr class="admin_table_trbg">
							<th class="t_fr">&nbsp;</th>
							<td align="left">
								<input type="hidden" value="{yun:}$row.id{/yun}" name="id">
								<input class="tty_sub" id="qqconfig" type="submit" name="msgconfig" value="提交" />&nbsp;&nbsp;
								<input class="tty_cz" type="reset" value="重置" />
							</td>
						</tr>

					</table>
				</form>
			</div>
			<script type="text/javascript">
				var weburl = '{yun:}$config.sy_weburl{/yun}';
				layui.use(['form'], function() {
					var form = layui.form,
						$ = layui.$;

					form.on('switch(status)', function(data) {
						var v = this.checked ? 1 : 0;
						$("#status").val(v);
					});
				});
			</script>
			<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>
	</body>
</html>
