<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
    <title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
    <div class="admin_new_tip">
        <a href="javascript:;" class="admin_new_tip_close"></a>
        <a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
        <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
        <div class="admin_new_tip_list_cont">
            <div class="admin_new_tip_list">更换模板后，如果是静态页面需重新生成！</div>
        </div>
    </div>
    <div class="mt10"></div>

    <div class="tag_box">
        <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
        <form name="myform" target="supportiframe" action="index.php?m=admin_tpl&c=stylesave" method="post" encType="multipart/form-data">
            <table width="100%" class="table_form">
                <tr>
                    <th align="left">预览图：</th>
                    <td>
                        <div style="padding:10px 0;">
                            <img id="imgicon" width="225" height="136" border="1" style="border: #ddd;" src="{yun:}$style_info.img{/yun}">
                        </div>
                    </td>
                </tr>

                <tr>
                    <th align="left">风格名称：</th>
                    <td><input name="name" class="input-text" value="{yun:}$style_info.name{/yun}"></td>
                </tr>
                <tr>
                    <th align="left">风格目录：</th>
                    <td><input readonly type="text" value="{yun:}$style_info.dir{/yun}" class="input-text" name="dir"></td>
                </tr>
                <tr>
                    <th align="left">风格作者：</th>
                    <td>
                        <input type="text" class="input-text" value="{yun:}$style_info.author{/yun}" name="author">
                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td align="left">
                        <input class="layui-btn layui-btn-normal" type="submit" name="submit" value="&nbsp;提  交&nbsp;"/>
                        <input class="layui-btn layui-btn-normal" type="reset" name="reset" value="&nbsp;重 置 &nbsp;"/>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
        </form>
    </div>
</div>
<script>var weburl = '{yun:}$config.sy_weburl{/yun}';</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>
</body>
</html>