<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<title>后台管理</title>

	</head>

	<body class="body_ifm">
		<div class="infoboxp">
			<div id="leftbox" class="admin_jobleft">
				<div class="admin_jobname">{yun:}$Info.name{/yun}</div>

				{yun:}if $Info.shortname{/yun}
				<div class="admin_jobmx"> 企业简称：{yun:}$Info.shortname{/yun}</div>
				{yun:}/if{/yun}

				{yun:}if $Info.hy{/yun}
				<div class="admin_jobmx"> 从事行业：{yun:}$Info.hy_n{/yun}</div>
				{yun:}/if{/yun}

				{yun:}if $Info.pr{/yun}
				<div class="admin_jobmx"> 企业性质：{yun:}$Info.pr_n{/yun}</div>
				{yun:}/if{/yun}

				{yun:}if $Info.mun{/yun}
				<div class="admin_jobmx"> 企业规模：{yun:}$Info.mun_n{/yun}</div>
				{yun:}/if{/yun}

				{yun:}if $Info.money{/yun}
				<div class="admin_jobmx"> 注册资金：{yun:}$Info.money{/yun} {yun:}$Info.moneytype_n{/yun}</div>
				{yun:}/if{/yun}

				{yun:}if $Info.content{/yun}
				<div class="admin_jobh1"> 企业简介</div>
				<div class="admin_jobp">
					{yun:}$Info.content{/yun}
				</div>
				{yun:}/if{/yun}


				{yun:}if $Info.welfare{/yun}
				<div class="admin_jobh1"> 福利待遇</div>
				{yun:}if $Info.welfare_n{/yun}
				<div class="admin_jobfl">
					{yun:}foreach from=$Info.welfare_n item=wlist{/yun}
					<span class="admin_jobfl_n ">{yun:}$wlist{/yun}</span>
					{yun:}/foreach{/yun}
				</div>
				{yun:}/if{/yun}
				{yun:}/if{/yun}

				<div class="admin_jobh1"> 联系方式</div>
				{yun:}if $Info.linkman{/yun}
				<div class="admin_jobp"> 联系人：{yun:}$Info.linkman{/yun} {yun:}if $Info.linkjob{/yun}（{yun:}$Info.linkjob{/yun}）{yun:}/if{/yun}</div>
				{yun:}/if{/yun}
				{yun:}if $Info.linktel{/yun}
				<div class="admin_jobp"> 联系手机：{yun:}$Info.linktel{/yun}  {yun:}if $Info.infostatus == 1{/yun}（公开）{yun:}else{/yun}（不公开）{yun:}/if{/yun}</div>
				{yun:}/if{/yun}
				{yun:}if $Info.linkphone{/yun}
				<div class="admin_jobp"> 固定电话：{yun:}$Info.linkphone{/yun}</div>
				{yun:}/if{/yun}
				{yun:}if $Info.linkmail{/yun}
				<div class="admin_jobp"> 联系邮箱：{yun:}$Info.linkmail{/yun}</div>
				{yun:}/if{/yun}
				{yun:}if $Info.shortname{/yun}
				<div class="admin_jobp"> 联系QQ：{yun:}$Info.shortname{/yun}</div>
				{yun:}/if{/yun}
				{yun:}if $Info.website{/yun}
				<div class="admin_jobp"> 企业网址：{yun:}$Info.website{/yun}</div>
				{yun:}/if{/yun}
				{yun:}if $Info.provinceid{/yun}
				<div class="admin_jobp"> 企业地址：{yun:}$Info.job_city_one{/yun} {yun:}$Info.job_city_two{/yun} {yun:}$Info.job_city_three{/yun} {yun:}$Info.address{/yun}</div>
				{yun:}/if{/yun}
				{yun:}if $Info.comqcode{/yun}
				<div class="admin_jobp"> 公司二维码：<img src="{yun:}$Info.comqcode{/yun}" width="150" height="150"/></div>
				{yun:}/if{/yun}
				{yun:}if $Info.busstops{/yun}
				<div class="admin_jobp"> 公交站点：{yun:}$Info.busstops{/yun}</div>
				{yun:}/if{/yun}
			</div>
			<div class="admin_jobright">
				<form class="layui-form">
					<div class="admin_jobh1">参会审核</div>
			
					<div class="admin_joblist"> <span class="admin_joblistname">审核操作：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input name="status" value="1" title="正常" type="radio" {yun:}if $Info.zph.status == 1{/yun}checked="checked"{yun:}/if{/yun} />
								<input name="status" value="2" title="未通过" type="radio" {yun:}if $Info.zph.status == 2{/yun}checked="checked"{yun:}/if{/yun} />
							</div>
						</div>
					</div>
					<div class="admin_joblist">
						<span class="admin_joblistname">审核说明：</span>
						<textarea id="statusbody" name="statusbody" class="shsm_textarea" style="width: 300px;height: 100px;">{yun:}$Info.zph.statusbody{/yun}</textarea>
					</div>
					<div class="admin_joblist">
						<input type="hidden" name="pid" value="{yun:}$Info.zph.id{/yun}" />
						<input type="hidden" id="pytoken" name="pytoken" value="{yun:}$pytoken{/yun}" />
						<input type="button" value="保存" class="admin_job_bth" onclick="audit()">
					</div>
				</form>
			</div>
		</div>
		<script>
			layui.use(['layer', 'form',], function() {
				var layer = layui.layer,
					form = layui.form,
					$ = layui.$;
					
				$("#leftbox").css({'height':$(window).height() - 50 + 'px', 'overflow': 'auto'});
			});
			function audit(){
				var status = $("input[name='status']:checked").val();
				if(typeof status ==='undefined'){
					parent.layer.msg("请选择审核状态！", 2, 8);
					return false;
				}
				var params = {
					single: 1,
					status: status,
					pid: $("input[name='pid']").val(),
					statusbody: $("#statusbody").val(),
					pytoken: $("#pytoken").val()
				};

				var url = 'index.php?m=zhaopinhui&c=status';
				loadlayer();
				$.ajax({
					data: params,
					type: 'post',
					dataType: 'json',
					url: url,
					success: function (res) {
						parent.layer.closeAll('loading');
						if(res.st == 9){
							parent.layer.msg(res.msg, 2, 9, function(){
								if(res.url){
									parent.needLoad = true;
									window.location.href = res.url;
								}else{
									parent.window.location.reload();
								}
							});
						}else{
							parent.layer.msg(res.msg, 2, 8);
						}
					}
				})
			}
		</script>
	</body>
</html>
