<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="{yun:}$wap_style{/yun}/hb/reset.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
    <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
    <title>后台管理</title>
</head>

<body class="body_ifm">
<div class="subnav" id="hbBox" style="display:none">
    <div class="">
        <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
        <form name="myform" target="supportiframe" action="index.php?m=admin_hb_config&c=saveWhb" method="post" encType="multipart/form-data" onsubmit="return ckform()" class="layui-form">
            <input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
            <div class="zph_tjlist none">
                <em class="zph_tjlist_s">海报类型：</em>
                <input type="radio" name="type" id="job_type" title="职位" value="1" lay-filter="hbType" />
                <input type="radio" name="type" id="com_type" title="企业" value="2" lay-filter="hbType" />
                <input type="radio" name="type" id="invite_reg_type" title="企业" value="3" lay-filter="hbType" />
                <input type="radio" name="type" id="gongzhao_type" title="公招" value="4" lay-filter="hbType" />
            </div>
			<div style="max-height: 303px; overflow: auto;">
            <div class="zph_tjlist">
                <em class="zph_tjlist_s">参数设置：</em>
                <input class="layui-input t_w250" id="wname" name="wname" type="text" value="" placeholder="请填写海报名称" />
            </div>
            <div class="zph_tjlist hbDiv" style="display: none;">
                <em class="zph_tjlist_s">职位数量：</em>
                <input class="layui-input t_w250" id="num" name="num" type="number" value=""/>
                <span class="admin_web_tip">根据上传模板风格，填写展示职位数量</span>
            </div>
            <div class="zph_tjlist hbDiv" style="display: none;">
                <em class="zph_tjlist_s">模板风格：</em>
                <input class="layui-input t_w250" id="style" name="style" type="number" value=""/>
                <span class="admin_web_tip">上传统一风格，填写相同数字标识</span>
            </div>
            <div class="zph_tjlist">
                <em class="zph_tjlist_s">上传图片：</em>
                <div class="admin_uppicbox" style="width: 100px;height: 100px;">
                    <input type="hidden" id="laynoupload" value="1">
                    <div class="admin_uppicimg" id="imgparent" class="none">
                        <img id="imgicon" width="100" height="100"/>
                    </div>
                    <span>
                        <button type="button" class="noupload adminupbtn" lay-data="{imgid: 'imgicon',parentid: 'imgparent'}">重新上传</button>
                    </span>
                </div>
                <span class="admin_web_tip">说明：海报的尺寸为1080*1920</span>
            </div>
            <div class="zph_tjlist">
                <em class="zph_tjlist_s">排序：</em>
                <input class="layui-input t_w250" id="wsort" name="wsort" type="text" value=""/>
                <span class="admin_web_tip">数字越大排序越靠前</span>
            </div>
            <div class="zph_tjlist">
                <em class="zph_tjlist_s">是否开启：</em>
                <input type="checkbox" id="wopen" name="wopen" lay-skin="switch" lay-text="开启|关闭"/>
            </div>  </div>
            <div class="zph_tjlist tty_tc_botm">
                <input class="t_tanc_btn" type="hidden" id="wid" name="id" value=""/>
                <input class="t_tanc_btn" type="submit" name="update" value="提交" style="margin-left:0px;">
            </div>
        </form>
    </div>
</div>

<form class="layui-form">
    <div class="infoboxp">
        <div class="tty-tishi_top">
            <div class="tabs_info">
                <ul>
                    <li><a href="index.php?m=admin_hb_config">海报设置</a></li>
                    <li><a href="index.php?m=admin_hb_config&c=job">职位海报</a></li>
                    <li><a href="index.php?m=admin_hb_config&c=com">企业海报</a></li>
                    <li><a href="index.php?m=admin_hb_config&c=inviteReg">邀请注册</a></li>
                    <li class="curr"><a href="index.php?m=admin_hb_config&c=gongzhao">公招海报</a></li>
                </ul>
            </div>

            <div class="clear"></div>

            <div class="admin_new_tip">
                <a href="javascript:;" class="admin_new_tip_close"></a>
                <a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>

                <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
                <div class="admin_new_tip_list_cont">
                    <div class="admin_new_tip_list"> 模板勾选后前台才能展示相应的海报, 您也可以自定义添加海报 </div>
                    <div class="admin_new_tip_list"><a href="javascript:void(0);" onclick="editwhb(4)" style="padding:5px 10px; background:#2d8cf0;color:#fff; display:inline-block;border-radius:3px; margin-left:5px; margin-top:5px;">添加海报</a></div>
                </div>
            </div>

            <div class="clear"></div>

            <table width="100%" class="table_form">
                <tbody>
                <tr>
                    <th width="100" class="t_fl">公招海报：</th>
                    <td>
                        {yun:}foreach from=$irHbList item=v{/yun}
                        <div style="width:120px; display:inline-block;  margin-bottom:30px; ">
                            <div class="hb_cz" style=" padding-bottom:10px;">
                                <input name="sy_invite_reg_hb" value="{yun:}$v.id{/yun}" title="{yun:}$v.name{/yun}" type="checkbox" lay-skin="primary" {yun:}if $v.isopen{/yun}checked{yun:}/if{/yun} />
                            </div>
                            <div class=""><img src="{yun:}$v.pic_n{/yun}" width="110"></div>
                            <div class="hb_cz">
                                <a href="javascript:void(0);" onclick="editwhb(4, '{yun:}$v.id{/yun}','{yun:}$v.name{/yun}','{yun:}$v.num{/yun}','{yun:}$v.num{/yun}','{yun:}$v.pic_n{/yun}','{yun:}$v.sort{/yun}','{yun:}$v.isopen{/yun}')">管理</a>
                                <a href="javascript:void(0);" onclick="delWhb('{yun:}$v.id{/yun}')">删除</a>
                            </div>
                        </div>
                        {yun:}foreachelse{/yun}
                        暂无海报，请先添加海报！<a href="javascript:void(0);" onclick="editwhb(4)" style="padding:5px 10px; background:#2d8cf0;color:#fff; display:inline-block;border-radius:3px; margin-left:5px; margin-top:5px;">添加海报</a>
                        {yun:}/foreach{/yun}
                    </td>
                </tr>

                {yun:}if $irHbList{/yun}
                <tr>
                    <th style="border-bottom:none;" width="150">&nbsp;</th>
                    <td align="left" style="border-bottom:none;">
                        <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                        <input class="layui-btn tty_sub" id="mconfig" type="button" name="config" value="提交"/>
                    </td>
                </tr>
                {yun:}/if{/yun}
                </tbody>
            </table>
        </div>
    </div>
</form>

<script>
    var form = null;
    layui.use(['form'], function () {
        var $ = layui.$;
        form = layui.form;

        form.on('radio(hbType)', function (data) {
            if (data.value == 1){

                $('.hbDiv').css('display', 'none');
            }else if (data.value == 2){

                $('.hbDiv').css('display', 'block');
            }
        });
    });

    function editwhb(type, id, name, num, style, pic, sort, isopen) {

        if (type == 1){
            $('#job_type').prop('checked', true);
            $('.hbDiv').css('display', 'none');
        } else if(type == 2){
            $('#com_type').prop('checked', true);
            $('.hbDiv').css('display', 'block');
        } else if(type == 3){
            $('#invite_reg_type').prop('checked', true);
            $('.hbDiv').css('display', 'none');
        } else if(type == 4){
            $('#gongzhao_type').prop('checked', true);
            $('.hbDiv').css('display', 'none');
        }

        if (id) {
            $('#wid').val(id);
        } else {
            $('#wid').val('');
        }

        if (name) {
            $('#wname').val(name);
        } else {
            $('#wname').val('');
        }

        if (num) {
            $('#num').val(num);
        } else {
            $('#num').val('');
        }

        if (style) {
            $('#style').val(style);
        } else {
            $('#style').val('');
        }


        if (sort) {
            $('#wsort').val(sort);
        } else {
            $('#wsort').val('');
        }

        if (pic) {
            $('#imgicon').attr('src', pic);
            $('#imgparent').removeClass('none');
        } else {
            $('#imgicon').removeAttr('src');
            $('#imgparent').addClass('none');
        }

        if (isopen == '1') {
            $("#wopen").prop("checked", true);

        } else {
            $("#wopen").prop("checked", false);
        }

        form.render();
		$.layer({
			type : 1,
			title : '公招海报管理',
			closeBtn : [0 , true],
			border : [10 , 0.3 , '#000', true],
			area : ['420px','auto'],
			page : {dom :'#hbBox'}
		});
    }

    function ckform() {

        var type = $("input[name='type']:checked").val();
        if (type == '' || type == 'undefined' || !type){
            layer.msg('请选择海报类型！', 2, 8);
            return false;
        }
       
        var wname = $("#wname").val();
        if (!wname || wname == '') {
            layer.msg('请填写海报名称！', 2, 8);
            return false;
        }

        var pic = null;
        if ($("input[name=file]").val()) {
            pic = $("input[name=file]").val();
        }
        if (!pic && !$('#imgicon').attr('src')) {
            layer.msg('请上传图片！', 2, 8);
            return false;
        }

        parent.layer.load('执行中，请稍后...', 0);
    }

    function delWhb(id) {
        var pwcf = parent.layer.confirm("确定删除该海报？", function () {
            loadlayer();
            $.post("index.php?m=admin_hb_config&c=delWhb", {
                id: id,
                pytoken: $("#pytoken").val()
            }, function (data, textStatus) {
                parent.layer.closeAll('loading');
                config_msg(data);
            });
        })
    }

    $(function () {
        $("#mconfig").click(function () {
            var sy_invite_reg_hb = "";
            $('input[name="sy_invite_reg_hb"]:checked').each(function () {
                if (sy_invite_reg_hb == "") {
                    sy_invite_reg_hb = $(this).val();
                } else {
                    sy_invite_reg_hb = sy_invite_reg_hb + "," + $(this).val();
                }
            });

            loadlayer();
            $.post("index.php?m=admin_hb_config&c=saveWhbConfig", {
                config: $("#mconfig").val(),
                sy_invite_reg_hb: sy_invite_reg_hb,
                pytoken: $("#pytoken").val()
            }, function (data, textStatus) {
                parent.layer.closeAll('loading');
                config_msg(data);
            });
        });
    });
</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>
</body>
</html>

