<style>
	.layui-form-item { margin-bottom: 15px; clear: both }
</style>

<script src="{yun:}$config.mapurl{/yun}"></script>
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/map.js?v={yun:}$config.cachecode{/yun}"></script>

<div id="AddressBox" style="display:none;">
	<div style="position:relative" style="width:740px;">
		<form class="layui-form layui-form-pane" style="padding: 15px 30px 0 30px;">
			<div class="layui-form-item">
				<label class="layui-form-label">联系人</label>
				<div class="layui-input-inline">
					<input type="text" name="link_man" id="link_man" lay-verify="required" placeholder="请输入联系人" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">手机号码</label>
				<div class="layui-input-inline">
					<input type="text" name="link_moblie" id="link_moblie" lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">固定电话</label>
				<div class="layui-input-inline">
					<input type="text" name="link_phone" id="link_phone" lay-verify="required" placeholder="请输入固定电话" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系邮箱</label>
				<div class="layui-input-inline">
					<input type="text" name="email" id="email" lay-verify="required" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">所在区域</label>
				<div class="layui-input-inline">
					<select name="provinceid" id="provinceid" lay-filter="citys">
						<option value="">请选择省</option>
						{yun:}foreach from=$cache.city_index key=j item=v{/yun}
						<option value="{yun:}$v{/yun}">{yun:}$cache.city_name[$v]{/yun}</option>
						{yun:}/foreach{/yun}
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="cityid" id="cityid" lay-filter="citys">
						<option value="">请选择市</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="three_cityid" id="three_cityid" lay-filter="citys">
						<option value="">请选择县/区</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">详细地址</label>
				<div class="layui-input-inline" style="width: 588px;">
					<input type="text" name="link_address" id="link_address" lay-verify="required" placeholder="请输入详细地址" autocomplete="off" class="layui-input" onblur="localsearch('全国')" >
				</div>
			</div>

			<div class="layui-form-item">
				<div class="layui-input-inline">
					<div id="map_container" style="width:698px;height:280px;"></div>
					<input type="hidden" name="map_x" id="map_x" value="" />
					<input type="hidden" name="map_y" id="map_y" value="" />
				</div>
			</div>
			<input type="hidden" name="addressUid" id="addressUid" value="" />
			<input type="hidden" name="addressLink" id="addressLink" value="" />
			<input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}" />
			<a href="javascript:;" onclick="saveAddress();" class="layui-btn tty_sub">保存地址</a>
		</form>
	</div>
</div>

<script language=javascript src='{yun:}$config.sy_weburl{/yun}/data/plus/city.cache.js?v={yun:}$config.cachecode{/yun}'></script>

<script>

	var weburl = "{yun:}$config.sy_weburl{/yun}";
	var form, url = weburl + "/index.php?m=ajax&c=get_city_option";

	layui.use(['form','layer'], function () {
		form = layui.form;
		var layer = layui.layer,
				$ = layui.$;

		form.render('select');

		form.on('select(citys)', function (data) {

			var html = "<option value=''>请选择市</option>";

			if (data.value && ct[data.value] != undefined) {

				$.each(ct[data.value], function (k, v) {

					html += "<option value='" + v + "'>" + cn[v] + "</option>";
				});
			}
			if (data.elem.name == 'provinceid') {

				$("#cityid").html(html);
				$("#three_cityid").html('<option value="">请选择区/县</option>');
			}
			if (data.elem.name == 'cityid') {

				$("#three_cityid").html(html);
			}
			form.render('select');
		});
	});

	$(function () {

		$('.newAddressBtn').click(function () {

 			var title = '新建工作地址';

			var uid = $(this).attr('data-uid');
			var provinceid = $(this).attr('data-provinceid');
			var cityid = $(this).attr('data-cityid');
			var three_cityid = $(this).attr('data-three_cityid');
			var address = $(this).attr('data-address');
			var map_x = $(this).attr('data-x');
			var map_y = $(this).attr('data-y');

			var is_link = $(this).attr('data-link');

			var layerAddress = $.layer({
				type : 1,
				title : title,
				closeBtn : [0 , true],
				border : [10 , 0.3 , '#000', true],
				area : ['790px','750px'],
				page : {dom :"#AddressBox"}
			});

			var map =   getMap();

			setLocation('map_container',116.404,39.915,"map_x","map_y",map);

			if(map_x && map_y){

				setLocation('map_container',map_x,map_y,"map_x","map_y",map);
			}else{
				//根据IP到城市开始
				function myFun(result){
					var cityName = result.name;
					map.setCenter(cityName);
				}
				var myCity = new BMap.LocalCity();
				myCity.get(myFun);
				//根据IP到城市结结束
			}

			$("#addressUid").val(uid);
			$("#addressLink").val(is_link);

			$("#link_address").val(address);
			$("#map_x").val(map_x);
			$("#map_y").val(map_y);

			var selPro = 'dd[lay-value=' + provinceid + ']';
			$('#provinceid').siblings("div.layui-form-select").find('dl').find(selPro).click();

			var selCity = 'dd[lay-value=' + cityid + ']';
			$('#cityid').siblings("div.layui-form-select").find('dl').find(selCity).click();

			var selThree = 'dd[lay-value=' + three_cityid + ']';
			$('#three_cityid').siblings("div.layui-form-select").find('dl').find(selThree).click();

		});
	});

	function getMap()
	{

		var map =   new BMap.Map('map_container');
		var x   =   '{yun:}$config.map_x{/yun}';
		var y   =   '{yun:}$config.map_y{/yun}';

		if (!x || !y) {
			map.centerAndZoom(new BMap.Point(116.404, 39.915), 12);
		} else {
			map.centerAndZoom(new BMap.Point(x, y), 12);
		}
		return map;
	}

	function localsearch(address)
	{

		var map = getMap();

		setLocation('map_container', 116.404, 39.915, 'map_x', 'map_y', map);

		if(address == '全国' ){

			var provincename = $('#provinceid').find("option:selected").text().replace("请选择省", "");

			var cityname = $('#cityid').find("option:selected").text().replace("请选择市", "");

			var three_cityidname = $('#three_cityid').find("option:selected").text().replace("请选择县/区", "");

			address = provincename;
			if(cityname!=provincename){
				address = address+cityname;
			}
			address = address+three_cityidname;
		}

		if ($("#link_address").val() == "") {
			layer.msg('请输入详细地址！', 2, 8);
			return false;
		}

		var local = new BMap.LocalSearch(map, {
			renderOptions: {
				map: map
			}
		});
		local.clearResults();
		local.search(address + $("#link_address").val().replace(/\s+/g, ""));
	}

	function setLocation(id, x, y, xid, yid, map)
	{

		var data    = get_map_config();
		var config  = eval('(' + data + ')');
		if (!x && !y) {
			x = config.map_x;
			y = config.map_y;
		}
		var point = new BMap.Point(x, y);
		var marker = new BMap.Marker(point);
		var opts = {type: BMAP_NAVIGATION_CONTROL_LARGE}
		map.enableScrollWheelZoom(true);
		map.addControl(new BMap.NavigationControl(opts));
		map.centerAndZoom(point, 15);

		map.addOverlay(marker);

		map.addEventListener("click", function (e) {
			var info = new BMap.InfoWindow('', {width: 260});
			var projection = this.getMapType().getProjection();
			var lngLat  =   e.point;

			document.getElementById(xid).value = lngLat.lng;
			document.getElementById(yid).value = lngLat.lat;

			map.clearOverlays();

			var point   =   new BMap.Point(lngLat.lng, lngLat.lat);
			var marker  =   new BMap.Marker(point);
			map.addOverlay(marker);
		});
	}

	function saveAddress() {

		var uid = $.trim($('#addressUid').val());
		var link_man = $.trim($('#link_man').val());
		var link_moblie = $.trim($('#link_moblie').val());
		var link_phone = $.trim($('#link_phone').val());
		var email = $.trim($('#email').val());
		var provinceid = $.trim($('#provinceid').val());
		var cityid = $.trim($('#cityid').val());
		var three_cityid = $.trim($('#three_cityid').val());
		var link_address = $.trim($('#link_address').val());
		var x = $.trim($('#map_x').val());
		var y = $.trim($('#map_y').val());
		var pytoken = $.trim($('#pytoken').val());

		if (link_man == ''){
			layer.msg('请填写联系人', 2, 8);
			return false;
		}
		if (link_moblie == '' && link_phone == ''){

			layer.msg('请填写联系电话', 2, 8);
			return false;
		}else if (link_moblie !='' && !isjsMobile(link_moblie)){

			layer.msg('手机号码格式错误', 2, 8);
			return false;
		}

		if (ct[provinceid]) {
			if (cityid == 0) {
				layer.msg('请选择所在区域二级城市', 2, 8);
				return false;
			}
		}

		if (link_address == ''){
			layer.msg('请选择填写详细地址', 2, 8);
			return false;
		}
		var is_link = $.trim($('#addressLink').val());

		loadlayer();
		$.post("index.php?m=admin_company_job&c=saveAddress",{uid: uid, link_man: link_man, link_moblie: link_moblie, link_phone: link_phone, email: email, provinceid: provinceid, cityid: cityid, three_cityid: three_cityid, link_address: link_address, x: x, y: y, is_link: is_link, pytoken: pytoken},function(data){
			layer.closeAll();
			parent.layer.closeAll('loading');
			var data = eval('(' + data + ')');

			if(data.errcode==9){

				layer.msg(data.msg,2,9, function () {

					if (parseInt(is_link) == 2){

						var html = '';

						if (data.defLink.link_moblie){

							html   =  '<option value="-1">'+data.defLink.link_man+' - '+data.defLink.link_moblie+' - '+data.defLink.city+' - '+data.defLink.address+'</option>';
						}else if (data.defLink.link_phone){

							html   =  '<option value="-1">'+data.defLink.link_man+' - '+data.defLink.link_phone+' - '+data.defLink.city+' - '+data.defLink.address+'</option>';
						}else{

							html   =  '<option value="-1">'+data.defLink.link_man+' - '+data.defLink.city+' - '+data.defLink.address+'</option>';
						}

						$.each(data.addressList, function (k, v) {

							if (v.link_moblie){
								html += "<option value='" + v.id + "'>"+v.link_man+" - "+v.link_moblie+" - "+v.city+" - " +v.link_address +"</option>";
							}else if (v.link_phone){
								html += "<option value='" + v.id + "'>"+v.link_man+" - "+v.link_phone+" - "+v.city+" - " +v.link_address +"</option>";
							}else if (v.link_phone){
								html += "<option value='" + v.id + "'>"+v.link_man+" - "+v.city+" - " +v.link_address +"</option>";
							}
						});

						$('#link_id').html(html);

						form.render('select');

						var selLinkId = 'dd[lay-value=' + data.link_id + ']';
						$('#link_id').siblings("div.layui-form-select").find('dl').find(selLinkId).click();

					}else{

						location.reload();
					}
				})
			}else{
				layer.msg(data.msg, 2, 8);
			}
		});
	}

</script>