<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}"></script>
        <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="{yun:}$config.sy_weburl{/yun}/js/viewer/viewer.min.js?v={yun:}$config.cachecode{/yun}"></script>

        <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="{yun:}$config.sy_weburl{/yun}/js/viewer/viewer.min.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <title>后台管理</title>
    </head>

    <body class="body_ifm">
        <div class="infoboxp">
		<div class="tty-tishi_top">

            <div class="admin_new_search_box">
                <form action="index.php" method="get" name="myform">
                    <input type="hidden" name="m" value="comcert" />
                    <div class="admin_new_search_name">关键字：</div>
                    <input type="text" value="" placeholder="请输入你要搜索的关键字" name='keyword' class="admin_new_text">
                    <input type="submit" value="搜索" name='search' class="admin_new_bth">
                    <a href="javascript:void(0)" onclick="$('.admin_screenlist_box').toggle();" class="admin_new_search_gj">高级搜索</a>
                </form>

                {yun:}include file="admin/admin_search.htm"{/yun}
            </div>
            <div class="clear"></div>
		</div>
		<div class="tty_table-bom">
			<div class="admin_statistics">
            <span class="tty_sjtj_color">数据统计：</span>
				<em class="admin_statistics_s">总数：<a href="index.php?m=comcert" class="ajaxComCertAll">0</a></em>
				<em class="admin_statistics_s">未审核：<a href="index.php?m=comcert&status=3" class="ajaxComCert1">0</a></em>
				<em class="admin_statistics_s">未通过：<a href="index.php?m=comcert&status=2" class="ajaxComCert2">0</a></em>
				搜索结果：<span>{yun:}$total{/yun}</span>；
 			</div>

            <div class="table-list">
                <div class="admin_table_border">
                    <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                    <form action="index.php?m={yun:}$smarty.get.m{/yun}&c=del" name="myform" method="post" target="supportiframe" id='myform'>
                        <table width="100%">
                            <thead>
                                <tr class="admin_table_top">
                                    <th style="width:20px;">
										<label for="chkall">
											<input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/>
										</label>
									</th>
                                    <th> {yun:}if $smarty.get.t=="uid" && $smarty.get.order=="asc"{/yun}
                                        <a href="{yun:}searchurl order=desc t=uid m=comcert untype='order,t'{/yun}">用户ID<img src="images/sanj.jpg" /></a> {yun:}else{/yun}
                                        <a href="{yun:}searchurl order=asc t=uid m=comcert untype='order,t'{/yun}">用户ID<img src="images/sanj2.jpg" /></a> {yun:}/if{/yun} </th>
                                    <th align="left">公司名称</th>
                                    <th>查看</th>
                                    <th width="120"> {yun:}if $smarty.get.t=="ctime" && $smarty.get.order=="asc"{/yun}
                                        <a href="{yun:}searchurl order=desc t=ctime m=comcert untype='order,t'{/yun}">申请时间<img src="images/sanj.jpg" /></a> {yun:}else{/yun}
                                        <a href="{yun:}searchurl order=asc t=ctime m=comcert untype='order,t'{/yun}">申请时间<img src="images/sanj2.jpg" /></a> {yun:}/if{/yun} </th>
                                    <th>状态</th>
                                    <th width="150">操作</th>
                                </tr>
                            </thead>
                            <tbody id="layer_pic">

                                {yun:}foreach item=v key=key from=$rows{/yun}
                                <tr align="center" {yun:}if ($key+1)%2=='0' {/yun}class="admin_com_td_bg" {yun:}/if{/yun} id="list{yun:}$v.uid{/yun}">
                                    <td><input type="checkbox" class="check_all" value="{yun:}$v.uid{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
                                    <td align="left" class="td1" style="text-align:center;"><span>{yun:}$v.uid{/yun}</span></td>
                                    <td align="left">{yun:}$v.name{/yun}</td>
                                    <td>
                                        <div class="admin_table_w84">{yun:}if $v.check{/yun}
										 <a href="javascript:void(0)" class="layui-btn layui-btn-small status" uid="{yun:}$v.uid{/yun}" url="{yun:}$v.check{/yun}" ourl="{yun:}$v.owner_cert{/yun}" wurl="{yun:}$v.wt_cert{/yun}" otherurl="{yun:}$v.other_cert{/yun}" jgdm="{yun:}$v.jgdm{/yun}" comname="{yun:}$v.name{/yun}" social_credit="{yun:}$v.social_credit{/yun}" status="{yun:}$v.status{/yun}" >点击查看</a>{yun:}else{/yun}无{yun:}/if{/yun}</div>
                                    </td>
                                    <td class="td" width="120">{yun:}$v.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</td>
                                    <td>{yun:}if $v.status==1{/yun}<span class="admin_com_Audited">已审核</span>{yun:}elseif $v.status==0{/yun}<span class="admin_com_noAudited">未审核</span>{yun:}elseif $v.status==2{/yun}<span class="admin_com_tg">未通过</span>{yun:}/if{/yun}</td>
                                    <td>
                                        <a href="javascript:;" uid="{yun:}$v.uid{/yun}" url="{yun:}$v.check{/yun}" ourl="{yun:}$v.owner_cert{/yun}" wurl="{yun:}$v.wt_cert{/yun}" otherurl="{yun:}$v.other_cert{/yun}" jgdm="{yun:}$v.jgdm{/yun}" comname="{yun:}$v.name{/yun}" social_credit="{yun:}$v.social_credit{/yun}" status="{yun:}$v.status{/yun}" class="admin_new_c_bth admin_new_c_bthsh status">审核</a>
                                        <a href="javascript:;" onClick="layer_del('确定要删除？','index.php?m=comcert&c=del&id={yun:}$v.id{/yun}&uid={yun:}$v.uid{/yun}');" class="admin_new_c_bth admin_new_c_bth_sc">删除</a>
                                    </td>
                                </tr>
                                {yun:}/foreach{/yun}
                                <tr>
                                    <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
                                    <td colspan="8"><label for="chkAll2">全选</label>
                                        <input class="admin_button" type="button" name="delsub" value="删除所选" onClick="return really('del[]')" /> &nbsp;&nbsp;
                                        <input class="admin_button" type="button" name="delsub" value="批量审核" onClick="audall();" /></td>
                                 </tr>
								{yun:}if $total > $config.sy_listnum {/yun}
									<tr>
										{yun:}if $pagenum==1{/yun}
											<td colspan="3"> 从 1 到 {yun:}$config.sy_listnum {/yun} ，总共 {yun:}$total{/yun} 条</td>
										{yun:}else if $pagenum > 1 && $pagenum < $pages{/yun}
											<td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$pagenum * $config.sy_listnum{/yun} ，总共 {yun:}$total{/yun} 条</td>
										{yun:}else if $pagenum == $pages{/yun}
											<td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$total{/yun} ，总共 {yun:}$total{/yun} 条</td>
										{yun:}/if{/yun}
										<td colspan="6" class="digg">{yun:}$pagenav{/yun}</td>
									</tr>
								{yun:}/if{/yun}
                            </tbody>

                        </table>
                        <input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
                    </form>
                </div>
            </div>
        </div>
		</div>
        <div id="preview" style="display:none;width:650px ">
            <div style="height:500px; overflow:auto;">
                <form class="layui-form" name="formstatus" action="index.php?m=comcert&c=status" target="supportiframe" method="post" onsubmit="return htStatus();">
                    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">

                    <table cellspacing='1' cellpadding='1' class="admin_examine_table">
                        <tr>
                            <th>公司名称：</th>
                            <td align="left"><span id="comname"></span></td>
                        </tr>
                        {yun:}if $config.com_social_credit=="1"{/yun}
                        <tr>
                            <th>统一社会信用代码：</th>
                            <td align="left"><span id="social_credit"></span></td>
                        </tr>
                        {yun:}/if{/yun}
                        <tr>
                            <tr>
                                <th class="t_fr">证件照片：</th>
                                <td align="left">
                                <div class="zj_box_list">
                                    <div id="preview_show" class="zj_box"></div>
                                   
                                       <div class="zj_box_name">营业执照/代码证</div>
                                  </div>
                                    
                                     {yun:}if $config.com_cert_owner=="1"{/yun}
                        <div class="zj_box_list">
                                    <div id="owner_cert_show" class="zj_box"></div>
                                    <div class="zj_box_name"> 经办人身份证</div></div>
                               
                            {yun:}/if{/yun}
                            {yun:}if $config.com_cert_wt=="1"{/yun}
                           
                             <div class="zj_box_list">
                                    <div id="wt_cert_show" class="zj_box"></div>
                                  
                                 <div class="zj_box_name">   委托书/承诺函</div>
                                   </div>
                            {yun:}/if{/yun}
                            {yun:}if $config.com_cert_other=="1"{/yun}
                                 <div class="zj_box_list">
                                    <div id="other_cert_show" class="zj_box"></div>
                                      <div class="zj_box_name">   其他材料</div>
                                </div>
                            {yun:}/if{/yun}
                            <div class="clear"></div>
                            <div class=""><span class="admin_web_tip">说明：点击图片查看原图</span></div>
                                </td>
                            </tr>
                           
                            <tr>
                                <th width="150">审核操作：</th>
                                <td align="left">
									<div class="layui-input-block">
										<input name="status" id="plstatus1" value="1" title="正常" type="radio" />
										<input name="status" id="plstatus2" value="2" title="未通过" type="radio" />
									</div>
                                </td>
                            </tr> 
                            {yun:}if $config.com_free_status=='1'{/yun}
                            <tr>

                                <th  width="150">同步操作：</th>

                                <td align="left">
									<div class="layui-input-block">
										<input name="job_status" value="1" title="审核" type="checkbox" />
									<span class="admin_web_tip">说明：所有未审核职位同步审核成功</span>
									</div>
                                </td>
                            </tr>
                            {yun:}/if{/yun}

                            <tr>
                                <th class="t_fr">审核说明：</th>
                                <td align="left"> <textarea id="alertcontent" name="statusbody" class="admin_explain_textarea" style="width:380px;height:50px;"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan='2' align="center">
                                    <div class="">
										<input type="submit" value='确认' class="admin_examine_bth">
										<input type="button" onClick="layer.closeAll();" class="admin_examine_bth_qx" value='取消'>
									</div>
                                </td>
                            </tr>

                    </table>
                    <input name="uid" value="0" type="hidden">
                </form>

            </div>
        </div>
        <div id="infobox2" style="display:none; width: 400px; ">
            <div id="infobox">
                <form class="layui-form" action="index.php?m=comcert&c=status" target="supportiframe" method="post" onSubmit="return htStatus();">
                    <table cellspacing='1' cellpadding='1' class="admin_examine_table" width="400px;">
                        <tr style="width:370px;">
                            <th width="90" style="float:left;padding-top:10px;">审核操作：</th>
                            <td align="left">
								<div class="layui-input-block">
									<div class="admin_examine_right" style="width:280px;">
										<input name="status" id="status1" value="1" title="正常" type="radio" />
										<input name="status" id="status2" value="2" title="未通过" type="radio" />
									</div>
								</div>
                            </td>
                        </tr>
                        <tr>
                            <th width="90">审核说明：</th>
                            <td align="left"> <textarea id="statusbody" name="statusbody" class="admin_explain_textarea"></textarea>
                        </tr>
                        <tr>
                            <td colspan='2' align="center">
                                <input type="submit" value='确认' class="admin_examine_bth">
                                <input type="button" onClick="layer.closeAll();" class="admin_examine_bth_qx" value='取消'>
							</td>
                        </tr>
                        <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
                        <input name="uid" value="0" type="hidden">
                    </table>
                </form>
            </div>
        </div>
        <script>
            layui.use(['layer', 'form', 'element'], function() {
                var layer = layui.layer,
                    form = layui.form,
                    element = layui.element,
                    $ = layui.$;
            });

            function audall() {
                var codewebarr = "";
                $(".check_all:checked").each(function() { //由于复选框一般选中的是多个,所以可以循环输出
                    if(codewebarr == "") {
                        codewebarr = $(this).val();
                    } else {
                        codewebarr = codewebarr + "," + $(this).val();
                    }
                });
                if(codewebarr == "") {
                    parent.layer.msg('您还未选择任何信息！', 2, 8);
                    return false;
                } else {
                    $("input[name=uid]").val(codewebarr);
                    $("#statusbody").val('');
                    $("input[name='status']").attr('checked', false);
					layui.use(['form','layer'], function() {
						var	 layer = layui.layer,
						form = layui.form;
						form.render();
					});
                    $.layer({
                        type: 1,
                        title: '批量审核',
                        closeBtn: [0, true],
                        offset: ['100px', ''],
                        border: [10, 0.3, '#000', true],
                        area: ['420px', '250px'],
                        page: {
                            dom: "#infobox2"
                        }
                    });
                }
            }
            //内容描述：新添加机构代码
            //在表company_Cert中添加新的字段名称：jgdm  为机构代码
            //开发日期：2017-12-12
            //开发者：mmj
            $(function() {
                $(".status").click(function() {
                    var uid = $(this).attr("uid");
                    var url = $(this).attr("url");
                    var ourl = $(this).attr("ourl");
                    var wurl = $(this).attr("wurl");
                    var otherurl = $(this).attr("otherurl");
                    var comname = $(this).attr("comname");
                    var social_credit = $(this).attr("social_credit");
                    var status = $(this).attr("status");
                    var picobj = {
                        'preview'   :url,
                        'owner_cert':ourl,
                        'wt_cert'   :wurl,
                        'other_cert':otherurl
                    }
                    preview(picobj, uid, status, comname,social_credit);
                });

            });

            function preview(picobj, uid, status, comname,social_credit) {
                for(let i in picobj){
                    if($("#"+i+"_show")){
                        $("#"+i+"_show").html("<img src='" + picobj[i] + "' style='width:100px;height:100px'  lay-src='" + picobj[i] + "' style='width:180px;height:70px'/>");
                        // $("#"+i+"_url").attr("data_url", picobj[i]);
                    }
                    
                }
                
                var pytoken = $('#pytoken').val();
                $("#plstatus" + status).attr("checked", true);
                layui.use(['form','layer'], function() {
                    var	 layer = layui.layer,
                    form = layui.form;
                    form.render();
                });
                $("#comname").html(comname);

                if($("#social_credit")){
                    $("#social_credit").html(social_credit);
                }
                
                $("input[name=uid]").val(uid);
                $.post("index.php?m=comcert&c=sbody", {
                    uid: uid,
                    pytoken: pytoken
                }, function(msg) {
                    $("#alertcontent").val(msg);
                });
                $.layer({
                    type: 1,
                    title: '查看图片',
                    closeBtn: [0, true],
                    offset: ['80px', ''],
                    border: [10, 0.3, '#000', true],
                    area: ['650px', 'auto'],
                    page: {
                        dom: '#preview'
                    }
                });
                var viewer = new Viewer(document.getElementById('preview'), {
                    url: 'lay-src',
                    toolbar: true,  //显示工具条
                    show: function (){        // 动态加载图片后，更新实例
                        viewer.update();
                    },
                });
                
            }
            $(document).ready(function() {
				
                $.get("index.php?m=comcert&c=comCertNum", function(data) {
                  var datas = eval('(' + data + ')');
                  if(datas.comCertAll) {
                    $('.ajaxComCertAll').html(datas.comCertAll);
                  }
                  if(datas.comCert1) {
                    $('.ajaxComCert1').html(datas.comCert1);
                  }
                  if(datas.comCert2) {
                    $('.ajaxComCert2').html(datas.comCert2);
                  }
                });


            });
			
        </script>
    </body>

</html>