<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}"></script>

    <link rel="stylesheet" href="{yun:}$style{/yun}/style/newclass.public.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/formSelects-v4.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />

    <script src="{yun:}$config.sy_weburl{/yun}/data/plus/job.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/data/plus/jobparent.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
    <script src='{yun:}$config.sy_weburl{/yun}/data/plus/city.cache.js?v={yun:}$config.cachecode{/yun}'></script>
    <script src="{yun:}$config.sy_weburl{/yun}/data/plus/cityparent.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/newclass.public.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/formSelects-v4.js?v={yun:}$config.cachecode{/yun}"></script>
    <script>var weburl = '{yun:}$config.sy_weburl{/yun}'</script>
    <title>后台管理</title>
    <style>
        .xm-select-parent .xm-select{
            min-height: 38px;padding: 1px 10px;
        }
        .news_expect_text_new_nth{height: 38px;}
        .news_expect_text_newcity_nth{height: 38px;}
        .xm-select-parent .xm-select .xm-select-input{width: 100px;}
    </style>
</head>

<body class="body_ifm">
<div class="infoboxp">

    <div class="tty-tishi_top">
        <div class="admin_new_search_box">
            <a href="index.php?m=admin_company_job" class="admin_new_cz_tj" style="margin-left:0px;">返回列表</a>
            
            <form id="resumeFormSearch" action="index.php" name="myform" method="get" class="layui-form" >
            <input name="m" value="admin_company_job" type="hidden" />
            <input name="c" value="matching" type="hidden" />
            <input name="id" value="{yun:}$smarty.get.id{/yun}" type="hidden" />
            {yun:}if $smarty.get.edu{/yun}
            <input type="hidden" name="edu" value="{yun:}$smarty.get.edu{/yun}" />
            {yun:}/if{/yun}
            {yun:}if $smarty.get.exp{/yun}
            <input type="hidden" name="exp" value="{yun:}$smarty.get.exp{/yun}" />
            {yun:}/if{/yun}            
            <div class="admin_screenlist_box" style="display: block;"> 
                <div class="gjsousuo_qt" style="border:none;padding: 15px 5px 10px 10px;">                
                    <div class="gjsousuo_qt_tj">
                        <div class="gjsousuo_list" style="width: auto;margin-right: 15px;">
                            <input type="text" value="{yun:}$smarty.get.keyword{/yun}" placeholder="请输入搜索的关键字" name='keyword' class="layui-input">
                        </div>
                        <div class="gjsousuo_list" style="width: auto;margin-right: 15px;">
                            <div class="admin_td_h" style="width:255px;position:relative">
                                
                                <input id="job_class" type="hidden" value="{yun:}$smarty.get.job_class{/yun}" name="job_class">
                                <select id="jobclass_search" class="expect_text" name="jobclass_search" xm-select-type="jobclass" xm-select="jobclass_search" xm-select-search="" xm-select-radio="" xm-select-skin="default"  xm-select-direction="down" style="width: 250px;margin-top: 0;">
                                    <option value="">输入搜索职能</option>
                                </select>
                                <div onclick="index_job_new(1,'#workadds_job','#job_class','left:100px;top:100px; position:absolute;','1');" class="news_expect_text_new_nth" title="选择职位类别"></div>
                            </div>
                        </div>
                        
                        <div class="gjsousuo_list" style="width: auto;margin-right: 15px;">
                            <div  style="width:255px;position:relative">
                                <select id="cityclass_search" class="expect_text" name="cityclass_search" xm-select-type="cityclass" xm-select="cityclass_search" xm-select-search="" xm-select-radio="" xm-select-skin="default" xm-select-direction="down">
                                <option value="">输入搜索城市</option>
                                </select>
                                <div onclick="index_city_new(1,'#workadds_city','#city_class','left:100px;top:100px; position:absolute;')" class="news_expect_text_newcity_nth" title="选择城市"></div>
                                <input type="hidden" name="city_class" id="city_class" value="{yun:}$smarty.get.city_class{/yun}" />
                            </div>
                        </div>
                        <div class="gjsousuo_list" style="width: auto;margin-right: 15px;">                            
                            <select name="edu">
                                <option value="">学历要求</option>
                                {yun:}foreach $userdata.user_edu item=v{/yun}
                                <option value="{yun:}$v{/yun}" {yun:}if $smarty.get.edu==$v{/yun} selected {yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
                                {yun:}/foreach{/yun}
                            </select>
                        </div>
                        
                        <div class="gjsousuo_list" style="width: auto;margin-right: 15px;">                
                            <select name="exp">
                                <option value="">工作经验</option>
                                {yun:}foreach $userdata.user_word item=v{/yun}
                                <option value="{yun:}$v{/yun}" {yun:}if $smarty.get.exp==$v{/yun} selected {yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
                                {yun:}/foreach{/yun}
                            </select>
                        </div>
                        <div class="gjsousuo_list" style="width: auto;margin-right: 15px;">                
                            <select name="label" id="labels">
                                <option value="">请选择标签</option>
                                {yun:}foreach from=$userdata.user_label key=j item=v{/yun}
                                <option value="{yun:}$v{/yun}" {yun:}if $smarty.get.label==$v{/yun}selected="selected" {yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}
                                </option> {yun:}/foreach{/yun} 
                            </select> 
                        </div>
                        <div class="gjsousuo_list" style="width: auto;margin-right: 15px;">                
                            <input type="text" class="layui-input" value="{yun:}$smarty.get.content{/yun}" placeholder="简历备注" name='content' >
                        </div>
                        <input type="button" onclick="resumeFormSearch()" value="搜索" class="admin_new_bth">
                    </div>
                </div>
            </div>
            </form>
            <div class="search_select">
                <div class="search_select_pdd" id="show_search">

                    {yun:}if $smarty.get.keyword!=""{/yun}
                        <a class="Search_jobs_c_a" href="{yun:}searchurl m=$smarty.get.m c=$smarty.get.c untype='keyword'{/yun}">关键字：{yun:}$smarty.get.keyword{/yun}</a>
                    {yun:}/if{/yun}                    
                    
                    {yun:}if $smarty.get.job_class{/yun}
                    <a class="Search_jobs_c_a" href="{yun:}searchurl m=$smarty.get.m c=$smarty.get.c untype=job_class{/yun}">工作职能：
                    
                    {yun:}foreach item=v key=key from=$jobArr{/yun}
                    {yun:}$job_name[$v]{/yun}
                    {yun:}/foreach{/yun}
                    </a>
                    {yun:}/if{/yun} 
                    
                    {yun:}if $smarty.get.city_class{/yun}
                    <a class="Search_jobs_c_a" href="{yun:}searchurl m=$smarty.get.m c=$smarty.get.c untype=city_class{/yun}" >城市地区：
                        {yun:}foreach item=v key=key from=$cityArr{/yun}
                        {yun:}$city_name[$v]{/yun}
                        {yun:}/foreach{/yun}
                    </a>
                    {yun:}/if{/yun} 

                    {yun:}if $smarty.get.edu{/yun}
                    <a class="Search_jobs_c_a" href="{yun:}searchurl m=$smarty.get.m c=$smarty.get.c untype=edu{/yun}" >最高学历：{yun:}$userclass_name[$smarty.get.edu]{/yun}</a>
                    {yun:}/if{/yun}

                    {yun:}if $smarty.get.exp{/yun}
                    <a class="Search_jobs_c_a" href="{yun:}searchurl m=$smarty.get.m c=$smarty.get.c untype=exp{/yun}">工作经验：{yun:}$userclass_name[$smarty.get.exp]{/yun}</a>
                    {yun:}/if{/yun}
                    
                    {yun:}if $smarty.get.label{/yun}
                    <a class="Search_jobs_c_a" href="{yun:}searchurl m=$smarty.get.m c=$smarty.get.c untype=label{/yun}">简历标签：{yun:}$userclass_name[$smarty.get.label]{/yun}</a>
                    {yun:}/if{/yun} 

                    {yun:}if $smarty.get.content{/yun}
                    <a class="Search_jobs_c_a" href="{yun:}searchurl m=$smarty.get.m c=$smarty.get.c untype=content{/yun}">简历备注：{yun:}$smarty.get.content{/yun}</a>
                    {yun:}/if{/yun}
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="tty_table-bom">
        <div class="table-list">
            <div class="admin_table_border">
                <form action="index.php?m=reward&c=del" name="myform" method="post" target="supportiframe" id='myform'>
                    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                    <input type="hidden" name="comid" value="{yun:}$comid{/yun}">
                    <table width="100%">
                        <thead>
                        <tr class="admin_table_top">
                            <th><label for="chkall"><input type="checkbox" id='chkAll' onclick='CheckAll(this.form)'/></label></th>
                            <th>简历编号</th>
                            <th align="left">姓名</th>
                            <th align="left">基本信息</th>                            
                            <th align="center">完整度/更新时间</th>
                            <th align="center" width="80">投递职位</th>
                            <th class="admin_table_th_bg">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {yun:}foreach item=v key=key from=$resumes{/yun}

                        <tr align="center">
                            <td><input type="checkbox" date="{yun:}$v.uid{/yun}" id='comuid{yun:}$v.id{/yun}' value="{yun:}$v.id{/yun}" class="check_all" name='del[]' onclick='unselectall()' rel="del_chk"/></td>
                            <td class="td1" style="text-align:center;"><span>{yun:}$v.id{/yun}</span></td>
                            <td class="ud" align="left"><a class="admin_cz_sc resume-preview" href="javascript:void(0);" pid="{yun:}$v.id{/yun}">{yun:}$v.uname{/yun}</a></td>
                            <td class="ud" align="left">
                                <div class="">
                                    <div class="">
                                        <span class="admin_resume_yx" style="color:#5fb878">{yun:}$v.name|mb_substr:0:12{/yun}</span>
                                        {yun:}if $v.defaults==1{/yun}
                                        <a href="javascript:void(0)" class="job_name_all" v="默认简历" style="display: inline-block; font-size: 12px;border-radius:4px; padding:0px 3px;color:#fff; background-color: #2d8cf0;">默认</a>
                                        {yun:}/if{/yun}
                                    </div>
                                    <div class="mt5">
                                        {yun:}$v.age_n{/yun}岁<span class="reline">|</span>{yun:}if $v.sex_n{/yun}{yun:}$v.sex_n{/yun}<span class="reline">|</span>{yun:}/if{/yun}{yun:}if $v.edu_n{/yun}
                                            {yun:}$v.edu_n{/yun}学历<span class="reline">|</span>{yun:}/if{/yun}{yun:}if $v.exp_n{/yun} {yun:}$v.exp_n{/yun}经验{yun:}/if{/yun}
                                        
                                        <div class="mt5">   
                                        {yun:}if $v.city_n{/yun}
                                            {yun:}$v.city_n{/yun}
                                            {yun:}if $v.citynum>1{/yun}
                                            <a href="javascript:void(0)" class="city_name_all" v="{yun:}$v.cityall{/yun}"><img src="images/bg_wechat_help.png" width="12"></a>
                                            {yun:}/if{/yun}
                                        {yun:}/if{/yun}
                                            <span class="reline">|</span>
                                            <span>{yun:}$v.salary{/yun}</span><span class="reline">|</span>{yun:}$v.report_n{/yun}<span class="reline">|</span>{yun:}$v.type_n{/yun}
                                        </div>  
                                    </div>
                                </div>
                            </td>
                            
                            <td class="ud" align="center">
                                <div style="width: 120px;">
                                    <div class="layui-progress layui-progress-big" lay-showpercent="true">
                                        <div class="layui-progress-bar" lay-percent="{yun:}$v.integrity{/yun}%"></div>
                                    </div>
                                </div>
                                <div class="mt5">{yun:}$v.lastupdate|date_format:"%Y-%m-%d %H:%M"{/yun}</div>
                            </td>
                            <td>
                                {yun:}if $v.sq_num>0{/yun}
                                    {yun:}$v.sq_num{/yun}
                                {yun:}else{/yun}
                                    0
                                {yun:}/if{/yun}
                            </td>
                            <td align="center" style="width: 200px;">
                                <a href="javascript:void(0);" class="admin_new_c_bth admin_new_c_bth_pp" onclick="send_recom_email('{yun:}$comid{/yun}','{yun:}$smarty.get.id{/yun}','{yun:}$v.id{/yun}','{yun:}$v.uid{/yun}','0')">推送</a>
                                <a href="javascript:void(0);" class="admin_new_c_bth admin_new_c_bthsh" onclick="applyJobAsk('{yun:}$comid{/yun}','{yun:}$smarty.get.id{/yun}','{yun:}$v.id{/yun}','{yun:}$v.uid{/yun}','0')">投递</a>
                            </td>
                        </tr>
                        {yun:}foreachelse{/yun}
                        <tr align="center">
                            <td colspan="8">暂无合适简历</td>
                        </tr>
                        {yun:}/foreach{/yun}
                        <tr>
                            <td align="center"><label for="chkall2"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)'/></label></td>
                            <td colspan="8">
                                <label for="chkAll2">全选</label>
                                <input class="admin_button" type="button" name="delsub" value="批量推荐" onClick="directs('del[]');"/>&nbsp;&nbsp;
                                <input class="admin_button" type="button" name="delsub" value="批量投递" onClick="AllApply('del[]');"/>&nbsp;&nbsp;
                            </td>
                        </tr>

                        {yun:}if $total > $config.sy_listnum {/yun}
                        <tr>
                            {yun:}if $pagenum==1{/yun}
                            <td colspan="3"> 从 1 到 {yun:}$config.sy_listnum {/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}else if $pagenum > 1 && $pagenum < $pages{/yun}
                            <td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$pagenum * $config.sy_listnum{/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}else if $pagenum == $pages{/yun}
                            <td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$total{/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}/if{/yun}
                            <td colspan="6" class="digg">{yun:}$pagenav{/yun}</td>
                        </tr>
                        {yun:}/if{/yun}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="">
    var form = null,
        formSelects = null;
    var orgurl = '{yun:}$orgurl{/yun}';
    layui.use(['layer', 'form','element'], function() {
        var element = layui.element;
        formSelects = layui.formSelects;
        form = layui.form;

        formSelects.btns('cityclass_search', []);
        formSelects.btns('jobclass_search', []);
        
        //实时获取选中值
        formSelects.on('jobclass_search', function(id, vals, val, isAdd, isDisabled){
            var jobvalue = [];
            vals.forEach(function(item,index){
                jobvalue.push(item.value);
            })
            $('#job_class').val(jobvalue.join(','));
        }, true);
        
        formSelects.on('cityclass_search', function(id, vals, val, isAdd, isDisabled){
            var cityvalue = [];            
            vals.forEach(function(item,index){
                cityvalue.push(item.value);
            })
            $('#city_class').val(cityvalue.join(','));
        }, true);
        
        //重设职位类别数据
        '{yun:}if $smarty.get.job_class{/yun}'
        jobSearchReset();
        '{yun:}/if{/yun}'

        //重设城市类别数据
        '{yun:}if $smarty.get.city_class{/yun}'
        citySearchReset();
        '{yun:}/if{/yun}'

        formSelects.maxTips('jobclass_search', function(id, vals, val, max){
            layer.msg('最多只能选择1个！', 2, 8);
        });
        formSelects.maxTips('cityclass_search', function(id, vals, val, max){
            layer.msg('最多只能选择1个！', 2, 8);
        });
    });

    function jobSearchReset(){

        var formSelects = layui.formSelects, 
            jobclassArr= $("#job_class").val()!='' ? $("#job_class").val().split(",") : [],
            jarr = [];

        for(var i=0;i<jobclassArr.length;i++){
            jarr.push({"name":jn[jobclassArr[i]],"value":jobclassArr[i],"selected":'selected'});
        }

        formSelects.data('jobclass_search', 'local', {
            arr: jarr
        });
    }

    function citySearchReset(){

        var formSelects = layui.formSelects, 
            cityclassArr= $("#city_class").val()!='' ? $("#city_class").val().split(",") : [],
            carr = [];

        for(var i=0;i<cityclassArr.length;i++){
            carr.push({"name":cn[cityclassArr[i]],"value":cityclassArr[i],"selected":'selected'});
        }
        formSelects.data('cityclass_search', 'local', {
            arr: carr
        });
    }

    var comid = '{yun:}$comid{/yun}';

    function directs(name) {
        var chk_value = [];
        $('input[name="' + name + '"]:checked').each(function () {
            chk_value.push($(this).val());
        });
        if (chk_value.length == 0) {
            parent.layer.msg("请选择要推送的简历！", 2, 8);
            return false;
        } else {
            parent.layer.confirm("确定推荐吗？", function () {
                parent.layer.closeAll();
                var length = chk_value.length;
                $.layer({
                    type: 1,
                    title: false,
                    closeBtn: [0, false],
                    border: [10, 0.3, '#000', true],
                    area: ['150px', '50px'],
                    page: {html: '<font style=\'float: left;font-size: 14px; height: 50px;line-height: 50px;text-align: center;width: 150px;\'>发送进度：<span id=\'send_num\'>0</span>/<span>' + length + '</span></font>'}
                });
                if (length > 0) {
                    //弹出发送等待页面 1/发送总数
                    for (var i = 0; i < length; i++) {
                        var resumeid = chk_value[i];
                        var uid = $("#comuid" + resumeid).attr("date");
                        //调用发送函数
                        send_recom_email(comid, '{yun:}$smarty.get.id{/yun}', resumeid, uid, length);
                        //继续执行
                    }
                    //弹出发送成功
                    setTimeout(function () {
                        layer.closeAll();
                        parent.layer.msg("发送完成！", 2, 9, function () {
                            location.reload();
                        });
                        return false;
                    }, 1000);
                }

            });
        }
    }
    function send_recom_email(comid, jobid, eid, uid, type) {   //type=0单条发送，其他数组为批量发送总数量
        loadlayer();
        $.ajax({
            async: type == '0' ? true : false,
            url: 'index.php?m=admin_company&c=directrecom&id=' + jobid + '&comid=' + comid + '&eid=' + eid + '&uid=' + uid + '&' + new Date().getTime(),
            type: 'GET',
            dataType: "json",
            timeout: 6000,
            success: function (json) {
                parent.layer.closeAll('loading');
                //发送成功，修改页面发送数量
                if (type == '0') {
                    parent.layer.msg(json.msg, 2, Number(json.type), function () {
                        location.reload();
                    });
                    return false;
                } else if (type > 0) {
                    if (Number(json.type) == '9'){

                        var send_num = $("#send_num").html();
                        $("#send_num").html(parseInt(send_num) + 1);
                    }
                    return true;
                }
            }
        });
    }
	function applyJobAsk(comid, jobid, eid, uid, type) {
		parent.layer.confirm("确定投递吗？", function (index) {
			layer.close(index);
			applyJob(comid, jobid, eid, uid, type);
		})
	}
    function applyJob(comid, jobid, eid, uid, type) {
        loadlayer();
            
		$.ajax({
			async: type == '0' ? true : false,
			url: 'index.php?m=admin_company_job&c=applyJob&id=' + jobid + '&comid=' + comid + '&eid=' + eid + '&uid=' + uid + '&' + new Date().getTime(),
			type: 'GET',
			dataType: "json",
			timeout: 6000,
			success: function (json) {
			   
				parent.layer.closeAll('loading');
				
				//成功，修改页面发送数量
				if (type == '0') {
					
					parent.layer.msg(json.msg, 2, Number(json.type), function () {
						location.reload();
					});
					return false;
				} else if (type > 0) {
					
					if (Number(json.type) == '9'){
						
						var send_num = $("#send_num").html();
						$("#send_num").html(parseInt(send_num) + 1);
					}
					return true;
				}
			}
		});
    }

    function AllApply(name) {
        var chk_value = [];
        $('input[name="' + name + '"]:checked').each(function () {
            chk_value.push($(this).val());
        });
        if (chk_value.length == 0) {
            parent.layer.msg("请选择要投递的简历！", 2, 8);
            return false;
        } else {
            parent.layer.confirm("确定投递吗？", function () {
                parent.layer.closeAll();
                var length = chk_value.length;
                $.layer({
                    type: 1,
                    title: false,
                    closeBtn: [0, false],
                    border: [10, 0.3, '#000', true],
                    area: ['150px', '50px'],
                    page: {html: '<font style=\'float: left;font-size: 14px; height: 50px;line-height: 50px;text-align: center;width: 150px;\'>投递进度：<span id=\'send_num\'>0</span>/<span>' + length + '</span></font>'}
                });
                if (length > 0) {
                    //弹出发送等待页面 1/发送总数
                    for (var i = 0; i < length; i++) {
                        var resumeid = chk_value[i];
                        var uid = $("#comuid" + resumeid).attr("date");
                        //调用发送函数
                        applyJob(comid, '{yun:}$smarty.get.id{/yun}', resumeid, uid, length);
                        //继续执行

                    }
                    //弹出发送成功
                    setTimeout(function () {
                        parent.layer.closeAll();
                        parent.layer.msg("投递完成！", 2, 9, function () {
                            location.reload();
                        });
                        return false;
                    }, 1000);
                }

            });
        }
    }

    $(".resume-preview").click(function() {
        var id = $(this).attr("pid");
        $('body').css('overflow-y', 'hidden');
        $.layer({
            type: 2,
            shadeClose: true,
            title: '简历预览',
            area: ['755px', ($(window).height() - 30) +'px'],
            iframe: {src: 'index.php?m=admin_resume&c=resumePreview&fromc=matching&id='+id},
            close: function(){
                $('body').css('overflow-y', '');
            }
        });
    });

    var sheight = document.getElementById("show_search").offsetHeight;

    if(sheight > 12){

        $("#show_search").show();
    }else{

        $("#show_search").hide();
    }
    $(function(){
        $('.gjsousuo_list').mouseover(function(){
            $(this).find(".admin_Filter_text_box").show()
        })
        $('.gjsousuo_list').mouseout(function(){
            $(this).find(".admin_Filter_text_box").hide()
        })
        $('.admin_Filter_text_box li a').click(function(){
            var listhtml = $(this).html()
            $(this).parent().parent().parent().parent().find(".gjsousuo_index").val(listhtml)
            $('.admin_Filter_text_box').hide()
        })
        
        $(".job_name_all").hover(function() {
            var rstatus = $(this).attr('v');
            if ($.trim(rstatus) != '') {
                layer.tips(rstatus, this, {
                    guide: 1,
                    style: ['background-color:#5EA7DC; color:#fff;top:-7px', '#5EA7DC']
                });
                $(".xubox_layer").addClass("xubox_tips_border");
            }
        }, function() {
            layer.closeAll('tips');
        });
        $(".city_name_all").hover(function() {
            var city_name = $(this).attr('v');
            if ($.trim(city_name) != '') {
                layer.tips(city_name, this, {
                    guide: 1,
                    style: ['background-color:#5EA7DC; color:#fff;top:-7px', '#5EA7DC']
                });
                $(".xubox_layer").addClass("xubox_tips_border");
            }
        }, function() {
            var city_name = $(this).attr('v');
            if ($.trim(city_name) != '') {
                layer.closeAll('tips');
            }
        });

    })
    function resumeFormSearch(){
        layer.load('执行中，请稍候...', 0);
        
        var job_class = $("#job_class").val(),
            city_class = $("#city_class").val();
        
        
        $("#resumeFormSearch").submit();
    }

</script>
</body>
</html>