<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet"
		 type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
		<title>后台管理</title>
		<script>
			function tip(id){
				layer.tips('关闭模块后请在导航设置中对相应导航作隐藏或删除处理！', '#'+id,{time:2,guide: 2,style: ['background-color:#5EA7DC; color:#fff;top:-7px', '#5EA7DC']});
				$(".xubox_layer").addClass("xubox_tips_border");
			}
		</script>
	</head>
	<style>
		.table_border{
			border-collapse: separate;
			border-spacing: 0px 0px;
			margin-top: 5px;
		}
		.table_form tr{
			display: block;
			height: 56px;
			line-height: 56px;
			border-bottom: 1px solid #e8eaec;
		}
		.table_border input{
			height: 32px;
		}
		.table_form tbody td{
		}
		.navset{width: 74px;height: 22px;border: 1px solid #dcdee2;color: #515a6e;border-radius: 2px;background: #fff;}
	</style>
	<body class="body_ifm">
		<div class="infoboxp">
			<div class="tty-tishi_top">
				<div class="admin_new_tip">
					<a href="javascript:;" class="admin_new_tip_close"></a>
					<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
					<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
					<div class="admin_new_tip_list_cont">
						<div class="admin_new_tip_list">如果关闭模块，请对系统->导航管理里面删除或取消显示！</div>
					</div>
				</div>
				<div class="clear"></div>

				<div class="tag_box">
					<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
					<form name="myform" target="supportiframe" action="index.php?m=model_config&c=save" method="post" onsubmit="return checkForm()" class="layui-form">
						<table width="100%" class="table_form table_border">
							<tr class="admin_table_trbg" bgcolor="#f8f8f9" style="height: 44px;line-height: 44px;color: #515a6e;">
								<td width="160" bgcolor="#f0f6fb" align="left"><span class="">模块名称</span></td>
								<td width="170" bgcolor="#f0f6fb" align="left"><span class="">状态</span></td>
								<td width="450" bgcolor="#f0f6fb" align="left"><span class="">二级域名（默认HTTP，未绑定则留空）</span></td>
								<td width="230" bgcolor="#f0f6fb" align="left"><span class="">指向目录</span></td>
								<td width="250" bgcolor="#f0f6fb" align="left"><span class="">综合设置</span></td>
							</tr>
							{yun:}foreach from=$newModel key=key item=mconfig{/yun}
							<tr class="admin_com_td_bg">
								<td width="160">{yun:}$mconfig.value{/yun}：</td>
								<td width="153">
									<div class="layui-input-inline">
										<input type="checkbox"  lay-skin="primary" lay-filter="{yun:}$key{/yun}" title="开启" {yun:}if $mconfig.web=="1" {/yun}checked{yun:}/if{/yun} value='1' />
										<input type="hidden" name="sy_{yun:}$key{/yun}_web" id="sy_{yun:}$key{/yun}_web" value='{yun:}$mconfig.web{/yun}' />
									</div>
								</td>
								<td width="450">

									<div class="layui-input-inline">
										<div class="layui-input-inline" style="float:left;width: 94px;margin-right: 5px;">
										    <select name="sy_{yun:}$key{/yun}ssl">
										        <option value="1" {yun:}if $mconfig.ssl=="1"  {/yun}selected{yun:}/if{/yun}>https://</option>
										        <option value="0" {yun:}if $mconfig.ssl !=  "1"{/yun}selected{yun:}/if{/yun}>http://</option>
										    </select>
										</div>
										
										<div class="layui-input-inline">
											<input name="sy_{yun:}$key{/yun}domain" autocomplete="off" class="layui-input" type="text" value="{yun:}$mconfig.domain{/yun}"
											 size="30" maxlength="255" />
										</div>
									</div>
								</td>

								<td width="230">
									<div class="layui-input-inline">
										<input name="sy_{yun:}$key{/yun}dir" autocomplete="off" class="layui-input" type="text" value="{yun:}$mconfig.dir{/yun}" size="20" maxlength="255" />
									</div>
								</td>
								<td width="250">
									{yun:}if $key!='error'{/yun}
									<input type='button' value='导航设置' class='navset btn_nav' data-config='{yun:}$key{/yun}' data-name='{yun:}$mconfig.value{/yun}'>
									<input type='button' value='SEO设置' class="navset btn_seo" data-config='{yun:}$key{/yun}'>
									{yun:}/if{/yun}
								</td>
							</tr>
							{yun:}/foreach{/yun}
							<input type="hidden" value="company" name="sy_companydir">
							<tr class="admin_com_td_bg">
								<th>&nbsp;</th>
								<td colspan="3" align="left">
									<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
									<input class="tty_sub" type="submit" name="config" value="保存" />&nbsp;&nbsp;
									<input class="tty_cz" type="reset" value="重置" />
								</td>
							</tr>
						</table>
					</form>
				</div>
			
			</div>
		</div>

		<script>
			layui.use(['layer', 'form'], function() {
				
				var layer = layui.layer,
					form = layui.form,
					$ = layui.$;
				
					'{yun:}foreach from=$newModel key=key item=mconfig{/yun}'
						form.on('checkbox({yun:}$key{/yun})', function(data){
							if(data.elem.checked){
								$("#sy_{yun:}$key{/yun}_web").val('1');
 							}else{
								$("#sy_{yun:}$key{/yun}_web").val('2');
							}
						});
					'{yun:}/foreach{/yun}'
			});

			$(function() {
				$('.btn_nav').click(function() {
					var config = $(this).attr('data-config');
					var name = $(this).attr('data-name');
					layer.open({
						type: 2,
						title: '设置导航',
						content: 'index.php?m=model_config&c=setnav&config=' + config + '&name=' + name,
						skin: 'layui-layer-molv',
						maxmin: true,
						area: ['900px', '450px']
					});
				}); 

				$('.btn_seo').click(function() {
					var config = $(this).attr('data-config');
					layer.open({
						type: 2,
						title: '设置SEO',
						content: 'index.php?m=model_config&c=setseo&config=' + config,
						skin: 'layui-layer-lan',
						maxmin: true,
						area: ['900px', '450px'],
						moveOut: true
					});
				}); 
			});
			function checkForm(){
				loadlayer();
			}
		</script>

	</body>
</html>
