<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
function review(content,qid,aid,id){
	$("#id").val(id);
	$("#qid").val(qid);
	$("#aid").val(aid);
	$("#content").val(content);
	add_class('修改评论','340','180','#review_div','');
} 
</script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div id="review_div"  style="display:none;">
    <div id="infobox" style=" width:355px; margin-top:10px;" >
      <form name="myform" target="supportiframe" action="index.php?m=admin_question&c=save_review" method="post" encType="multipart/form-data">
      <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
		<table cellspacing='1' cellpadding='1' class="admin_examine_table">
			<tr><th>评论内容：</th><td><textarea id="content" name="content"></textarea></td></tr>
			<tr><td colspan='2' align="center"> <input type="submit"  name="update" value='确认' class="admin_examine_bth">
          &nbsp;&nbsp;<input type="button" onClick="layer.closeAll();" class="admin_examine_bth_qx" value='取消'></td></tr>
		</table>
        <input type="hidden" name="id" id="id" value="" />
        <input type="hidden" name="qid" id="qid" value=""/>
        <input type="hidden" name="aid" id="aid" value=""/>
      </form>
    </div> 
</div>
<div id="status_div" style="display:none; width:390px; ">
  <form action="index.php?m=admin_question&c=statusAnswerReview" target="supportiframe" method="post" onsubmit="return htStatus()"
   class="layui-form" autocomplete="off">
    <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
    <table cellspacing='1' cellpadding='1' class="admin_examine_table">
      <tr>
        <th width="80">审核操作：</th>
        <td align="left">
          <div class="layui-input-block">
            <input name="status" id="status1" value="1" title="正常" type="radio" />
            <input name="status" id="status2" value="2" title="未通过" type="radio" />
          </div>
        </td>
      </tr>
      <tr>
        <th class="t_fr">审核说明：</th>
        <td align="left"><textarea id="alertcontent" name="statusbody" class="admin_explain_textarea"></textarea></td>
      </tr>
      <tr>
        <td colspan='2' align="center">
          <div>
            <input name="pid" value="0" type="hidden">
            <input name="aid" value="0" type="hidden">
            <input type="submit" value='确认' class="admin_examine_bth">
            <input type="button" onClick="layer.closeAll();" class="admin_examine_bth_qx" value='取消'>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="infoboxp">
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">评论列表</div>
    
</div>
</div>

  <div class="clear"></div>
  <div class="admin_new_search_box">

  <a href="index.php?m=admin_question&c=getanswer&id={yun:}$qid.qid{/yun}" class="admin_new_cz_tj" style="margin-left:0px;">&lt; 回答列表</a> 
 
</div>

  <div class="tag_box">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php" name="myform" method="get" target="supportiframe" id='myform'>
    <input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
      <input name="m" value="admin_question" type="hidden"/>
      <input name="c" value="delreview" type="hidden"/>
      <input name="aid" value="{yun:}$smarty.get.id{/yun}" type="hidden"/>
      <table width="100%" class="table_form">
        <thead>
          <tr>
              <td colspan="9" bgcolor="#f0f6fb"><div class="admin_bold">回答列表</div></td>
            </tr>
          <tr>
            <th width="50"><label for="chkall">
              <input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/>
              </label></th>
            <th>编号</th>
            <th align="left">内容</th>
            <th >评论者昵称</th>
            <th>评论时间</th>
            <th>审核状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        
        {yun:}foreach item=v from=$answer_review{/yun}
        <tr align="center" id="list{yun:}$v.id{/yun}">
          <td height="36"><input type="checkbox" value="{yun:}$v.id{/yun}"  name='del[]' onclick='unselectall()' rel="del_chk" /></td>
          <td align="left" class="td1" style="text-align:center;"><span>{yun:}$v.id{/yun}</span></td>
          <td class="od" align="left"><div style="width:300px;">{yun:}$v.content|strip_tags|mb_substr:0:40:'utf-8'{/yun}</div></td>
          <td>{yun:}$v.username{/yun}</td>
          <td class="td">{yun:}$v.add_time|date_format:"%Y-%m-%d  %H:%M:%S"{/yun}</td>
          <td>
            {yun:}if $v.status==1{/yun}
            <span class="admin_com_Audited">已审核</span>
            {yun:}elseif $v.status==0{/yun}
            <span class="admin_com_noAudited">未审核</span>
            {yun:}elseif $v.status==2{/yun}
            <span class="admin_com_tg">未通过</span>
            {yun:}/if{/yun}
          </td>
          <td>
            <a href="javascript:;" pid="{yun:}$v.id{/yun}" aid="{yun:}$v.aid{/yun}" status='{yun:}$v.status{/yun}' class="admin_new_c_bth admin_new_c_bthsh status">审核</a>
            	<span style="cursor:pointer;" onClick="review('{yun:}$v.content{/yun}','{yun:}$v.qid{/yun}','{yun:}$v.aid{/yun}','{yun:}$v.id{/yun}')" class="admin_cz_bj"><img src="images/iconv/button_edit.png" alt="修改" title="修改"/></span>
            <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_question&c=delreview&del={yun:}$v.id{/yun}&aid={yun:}$smarty.get.id{/yun}');"><img src="images/iconv/del_icon2.gif" alt="删除" title="删除"/></a>
          </td>
        </tr>
        {yun:}/foreach{/yun}
        <tr>
       		<td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
			<td colspan="5" ><label for="chkAll2">全选</label>&nbsp;
          <input class="admin_button" type="button" name="delsub" value="删除所选" onClick="return really('del[]')" /></td>
         </tr>
		{yun:}if $total > $config.sy_listnum {/yun}
			<tr>
				{yun:}if $pagenum==1{/yun}
					<td colspan="3"> 从 1 到 {yun:}$config.sy_listnum {/yun} ，总共 {yun:}$total{/yun} 条</td>
				{yun:}else if $pagenum > 1 && $pagenum < $pages{/yun}
					<td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$pagenum * $config.sy_listnum{/yun} ，总共 {yun:}$total{/yun} 条</td>
				{yun:}else if $pagenum == $pages{/yun}
					<td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$total{/yun} ，总共 {yun:}$total{/yun} 条</td>
				{yun:}/if{/yun}
				<td colspan="3" class="digg">{yun:}$pagenav{/yun}</td>
			</tr>
		{yun:}/if{/yun}
        </tbody>
        
      </table>
    </form>
  </div>
</div>
<style>
.table_form th{ text-align:center; font-weight:bold; background:#f8f8f8;height:30px;border-top:1px solid #DCE3ED}
</style>
<script type="text/javascript">
  var aid = "{yun:}$smarty.get.id{/yun}";
  $(function() {
      $(".status").click(function() {

        var id = $(this).attr("pid");
        var aid = $(this).attr("aid");
        
        $("input[name=pid]").val($(this).attr("pid"));
        $("input[name=aid]").val(aid);
        
        var status = $(this).attr("status");
        $("#status" + status).attr("checked", true);

        var pytoken = $("#pytoken").val();
        $.post("index.php?m=admin_question&c=lockinfoAnswerReview", {
          id: id,
          pytoken: pytoken
        }, function(msg) {
          $("#alertcontent").val(msg);
          add_class('评论回复审核', '390', '240', '#status_div', '');
        });
        
        layui.use(['form'], function() {
          var form = layui.form;
          form.render();
        });
      });
    });
    function audall() {
      var codewebarr = "";
      $(".check_all:checked").each(function() {

        if (codewebarr == "") {
          codewebarr = $(this).val();
        } else {
          codewebarr = codewebarr + "," + $(this).val();
        }

      });
      if (codewebarr == "") {

        parent.layer.msg("您还未选择任何信息！", 2, 8);
        return false;

      } else {
        $("input[name=aid]").val(aid);
        $("input[name=pid]").val(codewebarr);
        $("#alertcontent").val(''); //批量审核，审核说明先清空，批量注释说明
        $("input[name=status]").attr("checked", false);
        add_class('批量审核', '390', '260', '#status_div', '');

      }
    }
</script>
</body>
</html>
