<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
        <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
        <script>
            var weburl = '{yun:}$config.sy_weburl{/yun}';
        </script>
        <title>后台管理</title>
    </head>

    <body class="body_ifm">
        <form class="layui-form">
            <div id="subboxdiv" style="width:100%;height:100%;display:none;position:absolute;"></div>
            <div class="infoboxp">
				
				<div class="tty-tishi_top">
                <div class="admin_new_tip">
                    <a href="javascript:;" class="admin_new_tip_close"></a>
                    <a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
                    <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
                    <div class="admin_new_tip_list_cont">
                        <div class="admin_new_tip_list">通过问答设置，可以实现“前台发布问答次数、问答审核开启”等设置。管理员根据自己运营需求自由设置。</div>
                    </div>
                </div>
                <div class="clear"></div>
				
				<div id="subboxdiv" style="width:100%;height:100%;display:none;position:absolute;"></div>
				
                    <div class="tag_box">
                        <div class="">
                        	<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                        	<form class="layui-form" action="" method="post" enctype="multipart/form-data" target="supportiframe">
                            <table width="100%" class="table_form">
                                <tr class="admin_table_trbg">
                                    <th width="220" class="t_fl">问答每日发布次数：</th>
                                    <td>
										<div class="layui-input-block t_w480">
											<input name="sy_day_ask_num" id="sy_day_ask_num" placeholder="请输入" autocomplete="off" class="layui-input" type="text" value="{yun:}$config.sy_day_ask_num{/yun}" size="30" maxlength="255" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" />
										</div>
										<span class="admin_web_tip">提示：0为不限</span>
                                    </td>
                                </tr>

                                <tr class="admin_table_trbg">
                                    <th width="220" class="t_fl">单IP每日发布次数：</th>
                                    <td>
                                        <div class="layui-input-block t_w480">
                                            <input name="sy_day_ask_num" id="sy_ip_ask_num" placeholder="请输入" autocomplete="off" class="layui-input" type="text" value="{yun:}$config.sy_ip_ask_num{/yun}" size="30" maxlength="255" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" />
                                        </div>
                                        <span class="admin_web_tip">提示：0为不限</span>
                                    </td>
                                </tr>

                                <tr class="admin_table_trbg">
                                    <th width="220" class="t_fl">问答发布审核：</th>
                                    <td>
										<div class="layui-input-block">
											<input type="checkbox" name="ask_check" lay-skin="switch" lay-text="开启|关闭" {yun:}if $config.ask_check=="1" {/yun} checked {yun:}/if{/yun} />
										</div>
										<span class="admin_web_tip">开启后，发布的问题默认未审核。关闭审核则发布的问题默认审核通过。</span>
                                    </td>
                                </tr>
                                <tr class="admin_table_trbg">
                                    <th width="220" class="t_fl">回复问答审核：</th>
                                    <td>
                                        <div class="layui-input-block">
                                            <input type="checkbox" name="answer_check" lay-skin="switch" lay-text="开启|关闭" {yun:}if $config.answer_check=="0" {/yun} checked {yun:}/if{/yun} />
                                        </div>
                                        <span class="admin_web_tip">开启后，发布的回复默认未审核。关闭审核则发布的回复默认审核通过。</span>
                                    </td>
                                </tr>
                                <tr class="admin_table_trbg">
                                    <th width="220" class="t_fl">评论回复审核：</th>
                                    <td>
                                        <div class="layui-input-block">
                                            <input type="checkbox" name="answer_review_check" lay-skin="switch" lay-text="开启|关闭" {yun:}if $config.answer_review_check=="0" {/yun} checked {yun:}/if{/yun} />
                                        </div>
                                        <span class="admin_web_tip">开启后，对回复的评论默认未审核。关闭审核则默认审核通过。</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="220" class="t_fl">默认问答头像：</th>
                                    <td>
										
										<div class="admin_uppicbox" style="width: 100px;height: 100px;">
											<input type="hidden" id="layupload_type" value="2" />
										
											<div class="admin_uppicimg">
												<img id="imgfriend" src="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_friend_icon{/yun}" width="100" height="100" {yun:}if !$config.sy_friend_icon{/yun}class="none" {yun:}/if{/yun}>
											</div>
										
											<span>
												<button type="button" class="adminupbtn adminupload" lay-data="{name: 'sy_friend_icon',imgid: 'imgfriend',path:'logo'}">重新上传</button>
											</span>
										</div>
										

                                    </td>
                                </tr>
                                <tr class="">
                                    <th width="220">&nbsp;</th>
                                    <td align="left">
                                        <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                                        <input class="tty_sub" id="config" type="button" name="config" value="提交">&nbsp;&nbsp;
                                        <input class="tty_cz" type="reset" value="重置" />
									</td>
                                </tr>
                            </table>
                            </form>
                        </div>

                    </div>
                </div>
                <script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>
                <script>
                    layui.use(['layer', 'form'], function() {
                        var layer = layui.layer,
                            form = layui.form,
                            $ = layui.$;
                    });
                    $(function() {
                        $("#config").click(function() {
							loadlayer();
                            $.post("index.php?m=admin_question&c=config", {
                                config: $("#config").val(),
                                pytoken : $("#pytoken").val(),
                                sy_day_ask_num: $("#sy_day_ask_num").val(),
                                sy_ip_ask_num: $("#sy_ip_ask_num").val(),
                                ask_check : $("input[name=ask_check]").is(":checked") ? 1 : 0,
                                answer_check:$("input[name=answer_check]").is(":checked") ? 0 : 1,
                                answer_review_check:$("input[name=answer_review_check]").is(":checked") ? 0 : 1
                            }, function(data, textStatus) {
								parent.layer.closeAll('loading');
                                config_msg(data);
                            });
                        });
                    })

                     
                </script>
            </div>
        </form>
    </body>

</html>