<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script>
function delsingle(id,type){
	layer.confirm('删除该城市会导致有关数据无法使用，确认删除？', function(){
		loadlayer();
		$.post("index.php?m=admin_city&c=del",{delid:id,type:type,pytoken:$('#pytoken').val()},function(data){
			parent.layer.closeAll('loading');
			if(data=="1"){
				parent.layer.msg("删除成功！",2, 9,function(){location.reload();});return false;
			}else{
				parent.layer.msg("删除失败！",2, 8,function(){location.reload();});return false;
			}
		});
		return true;
	});
}
function addcity(id,type,level){
	if($(".parent"+id).attr("style")=="display:none"){
		$(".parent"+id).attr("style","display:");
		$("#img"+id).html("<a href=\"javascript:;\" onClick=\"displaycity('"+id+"','"+type+"','"+level+"');\"><img src=\"images/iconv/jian.png\" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"javascript:;\" onclick=\"addson('"+id+"','"+level+"');\"class=\"admin_tj_zl\">+ 添加子类</a>");
	}else{
		$.post("index.php?m=admin_city&c=AddCity",{kid:id,pytoken:$('#pytoken').val()},function(data){
			var data=eval('('+data+')');
			if(data && data.length>0){
				var style='';
				var img='';
				var html='';
				var checked='';
				var option1='';
				var option2='';
				var site1='';
				var site2='';
				var city_ABC = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
				if(type=="2"){
					style="|--------";
				}else{
					style="|----------------";
				}
				for (var i = 0; i < data.length; i++) {
					if(type=='2'){
						img="<b  id=\"img"+data[i].id+"\"><a href=\"javascript:;\" onClick=\"addcity('"+data[i].id+"','3','son');\"><img src=\"images/iconv/jia.png\" /></a></b>";
					}
					html+="<tr  align=\"left\" class=\"parent"+id+"\" id=\""+data[i].id+"\" style=\"display:;\">";
					html+="<td class=\"ud\"> <input type=\"checkbox\" class=\"checkbox_all\" name=\"checkbox_all\" value=\""+data[i].id+"\" onclick=\"get_comindes_jobid();\"></td>";
					html+="<td class=\"ud\"><input type=\"text\" name=\"citysort_"+data[i].id+"\" id=\"citysort_"+data[i].id+"\" value=\""+data[i].sort+"\" class=\"input-text citysort\" size=\"3\"></td>";
					html+="<td class=\"ud\">"+style+"<input class=\"input-text\" type=\"text\" id=\"cityname_"+data[i].id+"\" name=\"cityname_"+data[i].id+"\" value=\""+data[i].name+"\" /> "+img+"</td>";
					if(!data[i].e_name){
						html+="<td class=\"ud\"><input class=\"input-text\" type=\"text\" id=\"citye_name_"+data[i].id+"\" name=\"citye_name_"+data[i].id+"\" value=\"\" /></td>";
					}else{
						html+="<td class=\"ud\"><input class=\"input-text\" type=\"text\" id=\"citye_name_"+data[i].id+"\" name=\"citye_name_"+data[i].id+"\" value=\""+data[i].e_name+"\" /></td>";
					}
					html+="<td class=\"ud\"><div class=\"layui-input-inline t_w100\"><select id=\"letter_"+data[i].id+"\" name=\"letter_"+data[i].id+"\">";
					for (var j = 0; j <city_ABC.length ; j++) {
						if(data[i].letter==city_ABC[j]){
							checked="selected";
						}else{
							checked="";
						}
						html+="<option "+checked+">"+city_ABC[j]+"</option>";
					}
					if(data[i].display=='1'){
						option1="selected";
						option2="";
					}else{
						option1="";
						option2="selected";
					}
					html+="</select></div></td>";
					html+=" <td class=\"ud\"><div class=\"layui-input-inline t_w100\"><select id=\"display_"+data[i].id+"\" name=\"display_"+data[i].id+"\"><option value=\"1\" "+option1+" >是</option><option value=\"0\" "+option2+">否</option></select></div></td> ";
					html+="<td class=\"ud\"><input class=\"layui-btn layui-btn-normal\" onclick=\"checkedtr('"+data[i].id+"');\" type=\"button\" name=\"update\" value=\"更新\" /> | <a class=\"layui-btn layui-btn-primary\" href=\"javascript:;\" onclick=\"delsingle('"+data[i].id+"','2');\">删除</a></td>";
					
					html+="</tr>";
				}



				$("#"+id).after(html);
				$("#img"+id).html("<a href=\"javascript:;\" onClick=\"displaycity('"+id+"','"+type+"','"+level+"');\"><img src=\"images/iconv/jian.png\" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"javascript:;\" onclick=\"addson('"+id+"','"+level+"');\"class=\"admin_tj_zl\">+ 添加子类</a>");
				form.render('select');
			}else{
				$("#img"+id).html("<a href=\"javascript:;\" onClick=\"displaycity('"+id+"','"+type+"','"+level+"');\"><img src=\"images/iconv/jian.png\" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"javascript:;\" onclick=\"addson('"+id+"','"+level+"');\"class=\"admin_tj_zl\">+ 添加子类</a>");
				form.render('select');
			}
		});
	}

	
	
}
function displaycity(id,type,level)
{
	if(level=="parent"){
		$(".parent"+id).each(function(){
			var sonid = $(this).attr("id");
			$(".parent"+sonid).attr("style","display:none");
		});
	}
	$(".parent"+id).attr("style","display:none");
	$("#img"+id).html("<a href=\"javascript:;\" onClick=\"addcity('"+id+"','"+type+"','"+level+"');\"><img src=\"images/iconv/jia.png\" /></a>");
}
function addson(id,level){
	var html="";
	var sel="";
	if(level=="top"){
		var style="";
	}else if(level=="parent")
	{
		var style="|--------";
	}else{
		var style="|----------------";
	}
	html+='<tr align="left" id="{yun:}$city.id{/yun}" style="display:" class="parent'+id+'">';
	html+='<td class="ud"> </td>';
	html+='<td class="ud"><a href="javascript:;" onclick="javascript:this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);"><img src="images/iconv/del_icon2.gif" alt="删除当前"></a></td>';
	html+='<td class="ud">'+style+'<input class="input-text" type="text" name="addcityname_'+id+'[]" value="" /></td>';
	html+='<td class="ud"><input class="input-text" type="text" name="addcitye_name_'+id+'[]" value="" /></td>';
	'{yun:}foreach from=$letter item=letter4 {/yun}'
	sel+='<option value="{yun:}$letter4{/yun}">{yun:}$letter4{/yun}</option>';
	'{yun:}/foreach{/yun}'
	html+='<td><select name="addletter_'+id+'[]">'+sel+'</select> </td>';
	html+='<td class="ud"><select name="adddisplay_'+id+'[]"><option value="1">是</option><option value="0">否</option></select></td> ';
	html+='<td class="ud"></td>';
	html+='<td class="ud"></td></tr>';

	$("#"+id).after(html);
	$("#"+id).find("input[type='checkbox']").attr("checked", true);
	get_comindes_jobid();
}
function checkedtr(id){
	var name = $("#cityname_"+id).val();
	var e_name = $("#citye_name_"+id).val();
	var c_sort = $("#citysort_"+id).val();
	var letter = $("#letter_"+id).val();
	var display = $("#display_"+id).val();
	var sitetype = $("#sitetype_"+id).val();
	if(name == "")
	{
		parent.layer.msg("城市名称不能为空！",2, 8);
		return false;
	}else{
		if(sitetype!="1")
		{
			sitetype="0";
		}
		loadlayer();
		$.post("index.php?m=admin_city&c=Single",{id:id,name:name,e_name:e_name,c_sort:c_sort,letter:letter,display:display,sitetype:sitetype,pytoken:$('#pytoken').val()},function(data){
			parent.layer.closeAll('loading');
			if(data=="2")
			{
				parent.layer.msg("城市名称不能为空！",2, 8);
			}else{
				parent.layer.msg("更新成功！",2, 9);
			}
		});
	}
}
function chachong(page,type){
	var pytoken=$("#pytoken").val();
	$.post("index.php?m=admin_city&c=ajaxchachong", {page:page,pytoken:pytoken},function(edata) {
		var edata=eval('('+edata+')');
		var data=edata.list;
		var html='';
		if(data){
			for(var i=0;i<data.length;i++){
				html+='<tr><td class="ud">'+data[i].id+'</td><td align="left" class="imghide">'+data[i].name+'</td><td class="imghide" align="left"><span onClick="checkename(\''+data[i].id+'\');" id="ename'+data[i].id+'" style="cursor:pointer;">'+data[i].e_name+'</span><input class="input-text hidden cityename" type="text" id="inputename'+data[i].id+'" size="10" value="'+data[i].e_name+'" onBlur="subename(\''+data[i].id+'\',\'index.php?m=admin_city&c=ajax\');"><input type="hidden" id="inputname'+data[i].id+'" value="'+data[i].name+'"></tr>';
			}
			html+='<tr><td colspan="3" style="text-align:center"><input class="admin_button" type="button" name="add" onClick="chachong(\''+edata.page+'\',\'1\')" value="换一批" /></td></tr>';
			$('#chachong').html(html);
			if(type!='1'){
				$.layer({
					type : 1,
					title : '拼音重复类别', 
					closeBtn : [0 , true],
					border : [10 , 0.3 , '#000', true],
					area : ['650px','auto'],
					page : {dom :"#chongfu_div"}
				});
			}
		}
	});
}
function clearPinYin(){
	var pytoken=$("#pytoken").val();
	
	parent.layer.confirm('清空所有城市对应拼音？',function(){
		$.post('index.php?m=admin_city&c=clearpinyin',{pytoken:pytoken},function(data){
			parent.layer.msg("拼音已清空！",2, 9,function(){location.reload();});
		})
	});
	
}
function pinyin(msg,status,page,pagesize){
	var pytoken=$("#pytoken").val();
	if(status=='2'){
		parent.layer.confirm(msg,function(){
			$.post('index.php?m=admin_city&c=ajaxpinyin',{page:page,pagesize:pagesize,pytoken:pytoken},function(data){
				var data=eval('('+data+')');
				pinyin(data.msg,data.errcode,data.page,data.pagesize);
			})
		});
	}else if(status=='8'){
		var ii = parent.layer.msg(msg,5000,{icon:16,shade:0.01});
		$.post('index.php?m=admin_city&c=ajaxpinyin',{page:page,pagesize:pagesize,pytoken:pytoken},function(data){
			parent.layer.close(ii);
			var data=eval('('+data+')');
			pinyin(data.msg,data.errcode,data.page,data.pagesize);
		})
	}else{
		parent.layer.close(ii);
		parent.layer.alert(msg,9);
		location.reload();
	}
}
</script>
<title>后台管理</title>
</head>

<body class="body_ifm">
	
	<span id="temp"></span>
	
	<div class="infoboxp">
		<div class="tty-tishi_top">
		<div class="admin_new_tip">
			<a href="javascript:;" class="admin_new_tip_close"></a>
			<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
		    <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
		    <div class="admin_new_tip_list_cont">
		       	<div class="admin_new_tip_list">多城市显示只支持二级城市，增加子类需勾选父级城市！</div>
		    </div>
  		</div>
  		
	  	<div class="admin_new_search_box">
	  		<a href="javascript:;" onclick="pinyin('未设置拼音的相关分类将根据中文名称自动生成拼音？','2','0','100');" class="admin_new_cz_tj" style="margin-left:0px;">生成拼音</a>
	  		<a href="javascript:;" onclick="chachong('0','')" class="admin_new_cz_tj" style="margin-left:0px;">一键查重</a>

			<a href="javascript:;" onclick="clearPinYin();" class="admin_new_cz_tj" style="margin-left:0px;">清空拼音</a>
	  	</div>
 
  		<div class="clear"></div>
  		</div>
		
		<div class="tty_table-bom">
		 
  			<div class="table-list">
    			<div class="admin_table_border">
      				
      				<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      				<form action="index.php?m=admin_city&c=upp" method="post" target="supportiframe" id='myform' class="layui-form">
      					<input type="hidden" id="pytoken" name="pytoken" value="{yun:}$pytoken{/yun}">
				        <table width="100%">
				        	
				        	<thead>
				            	<tr class="admin_table_top">
					              	<th width="60" align="center">选择</th>
					              	<th width="160" align="left">城市排序</th>
					              	<th align="left">城市名称</th>
					              	<th align="left">英文名称/拼音</th>
					              	<th align="left">关联字母</th>
					              	<th align="left">前台显示</th>
					              	<th width="180" align="left" class="admin_table_th_bg">操作</th>
				            	</tr>
				          	</thead>
				          	
				          	<tbody>
				          		{yun:}foreach item=city_row key=key  from=$city{/yun}
				          		<tr align="left" id="{yun:}$city_row.id{/yun}" style="display:" {yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun}>
				            		<td class="ud" align="center">
										<input lay-ignore type="checkbox" class="checkbox_all" name="checkbox_all" value="{yun:}$city_row.id{/yun}">
									</td>
				            		<td class="ud">
										<input type="text" name="citysort_{yun:}$city_row.id{/yun}" id="citysort_{yun:}$city_row.id{/yun}" value="{yun:}$city_row.sort{/yun}" class="input-text  citysort">
									</td>
				            		<td class="ud">
				            			<input class="input-text" type="text" id="cityname_{yun:}$city_row.id{/yun}" name="cityname_{yun:}$city_row.id{/yun}" value="{yun:}$city_row.name{/yun}" />
				              			<b  id="img{yun:}$city_row.id{/yun}">
											<a href="javascript:;" onClick="addcity('{yun:}$city_row.id{/yun}','2','parent');">
												<img src="images/iconv/jia.png" />
											</a>
										</b>
				              		</td>
				            		<td class="ud">
										<input class="input-text" type="text" id="citye_name_{yun:}$city_row.id{/yun}" name="citye_name_{yun:}$city_row.id{/yun}" value="{yun:}$city_row.e_name{/yun}" />
									</td>
				            		<td class="ud">
										<div class="layui-input-inline t_w100">
											<select id="letter_{yun:}$city_row.id{/yun}" name="letter_{yun:}$city_row.id{/yun}">
												{yun:}foreach from=$letter item=letter4 {/yun}
												<option value="{yun:}$letter4{/yun}"{yun:}if $letter4 eq $city_row.letter{/yun} selected=selected{yun:}/if{/yun}>{yun:}$letter4{/yun}</option>
												{yun:}/foreach{/yun}
											</select>
										</div>
						            </td>
						            <td class="ud">
										<div class="layui-input-inline t_w100">
											<select id="display_{yun:}$city_row.id{/yun}" name="display_{yun:}$city_row.id{/yun}">
												<option value="1" {yun:}if $city_row.display == '1'{/yun}selected=selected{yun:}/if{/yun}>是</option>
												<option value="0" {yun:}if $city_row.display == '0'{/yun}selected=selected{yun:}/if{/yun}>否</option>
											</select>
										</div>
						            </td>
				            		<td class="ud">
				            			<input class="layui-btn layui-btn-normal" type="button" name="update" value="更新" onClick="checkedtr('{yun:}$city_row.id{/yun}');"/>
				            			<a class="layui-btn layui-btn-primary" href="javascript:;" onClick="delsingle('{yun:}$city_row.id{/yun}','1')">删除</a>
				            		</td>
				          		</tr>
				          		{yun:}/foreach{/yun}
				          		<tr align="left" id="0">
				            		<td colspan="7"></td>
				          		</tr>
					          	<thead>
					            <tr>
					              <td width="70" colspan="1">
								<input type="checkbox"  lay-ignore id="checkbox_all" name="checkbox_all" value="" class="">
					              <label for="checkbox_all">全选</label>&nbsp;
					                <input type="hidden" name="id" id="hiddid_id" value="">
					              </td>
					              <td width="60" colspan="6"><input class="admin_button"  type="button" name="delall" onClick="return really('checkbox_all')"  value="删除选中" />
					              <input class="admin_button"  type="submit" name="updateall"   value="保存操作" /><a href="javascript:;" onClick="addson('0','top');" class="admin_button" style=" display:inline-block; margin-left:10px; line-height:35px;">添加分类</a>
					              </td>
					            </tr>
					          	</thead>
					     	</tbody>
				        </table>
					</form>
				</div>
  			</div>
		</div>
	</div>

	<div id="trid" style="display:none">
  		<select name="letter">
    		{yun:}foreach from=$letter item=letter4 {/yun}
    		<option value="{yun:}$letter4{/yun}">{yun:}$letter4{/yun}</option>
    		{yun:}/foreach{/yun}
  		</select>
	</div>
	
	<div id="chongfu_div" style="display:none;" class="job_box_div">
		<div class="table-list table-tc">
			<table class=" " style="width:100%">
				<thead>
					<tr class="admin_table_top">
						<th width="110" style="padding-left: 40px;" align="left">ID</th>
						<th width="150" align="left">类别名称</th>
						<th width="300" align="left">英文/拼音<span class="clickup">(点击修改)</span></th>
					</tr>
				</thead>
				<tbody id="chachong"></tbody>
			</table>
		</div>
	</div>
	<script>
		layui.use('form', function(){
		  form = layui.form
		  ,layer = layui.layer
		});
     
		
		$(document).ready(function(){
			$(".checkbox_all").click(function(){
				get_comindes_jobid();
			})
			$("#checkbox_all").click(function(){
				var checka=$("#checkbox_all").attr("checked");
				if(checka!="checked"){
					checka=false;
				}
				$(".checkbox_all").attr("checked",checka);
				get_comindes_jobid();
			})
		})
		function get_comindes_jobid(){
			var codewebarr="";
			$(".checkbox_all:checked").each(function(){ //由于复选框一般选中的是多个,所以可以循环输出
				if(codewebarr==""){codewebarr=$(this).val();}else{codewebarr=codewebarr+","+$(this).val();}
			});
			$("#hiddid_id").val(codewebarr);
		}
	</script>
</body>
</html>