<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
    <title>后台管理</title>
</head>

<body class="body_ifm">
<div class="infoboxp">
    <div class="tty-tishi_top">
        <div class="tabs_info">
            <ul>
                <li class="curr"><a href="index.php?m=admin_comrating">套餐设置</a></li>
                <li><a href="index.php?m=admin_comrating&c=server" class="report_uaer_list_on">增值服务</a></li>
            </ul>
        </div>
        <div class="admin_new_tip">
            <a href="javascript:;" class="admin_new_tip_close"></a>
            <a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
            <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
            <div class="admin_new_tip_list_cont">
                <div class="admin_new_tip_list">可设置的等级包括：普通会员，高级会员，钻石会员等等，按照实际情况去设置等级的区分，会员等级需满足的条件和享受的优惠</div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="admin_new_search_box"><a href="index.php?m=admin_comrating&c=rating" class="admin_new_cz_tj" style="margin-left:0px;width:110px;">设置会员套餐</a></div>
        <div class="clear"></div>
    </div>

    <div class="tty_table-bom">
        <div class="table-list">
            <div class="admin_table_border">
                <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                <form action="index.php?m=admin_comrating&c=delrating" name="myform" method="post" id='myform' target="supportiframe">
                    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                    <table width="100%">
                        <thead>
                        <tr class="admin_table_top">
                            <th style="width:20px;"><label for="chkall"><input type="checkbox" id='chkAll' onclick='CheckAll(this.form)'/></label></th>
                            <th>编号</th>
                            <th align="left">会员名称/模式</th>
                            <th align="left">服务金额/时间</th>
                            <th align="left">职位套餐</th>
                            <th align="left">简历套餐</th>
                            <th align="left">职位推广</th>
                            <th align="left">其他套餐</th>
                            <th align="center">服务状态</th>
                            <th>排序</th>
                            <th class="admin_table_th_bg" width="150">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {yun:}foreach item=v key=key from=$list{/yun}
                        <tr align="center" {yun:}if ($key+1)%2=='0' {/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
                        <td><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk"/></td>
                        <td>{yun:}$v.id{/yun}</td>
                        <td align="left">
                            <div>{yun:}$v.name{/yun}</div>
                            <div>{yun:}$v.type_n{/yun}</div>
                        </td>
                        <td align="left">
                            <div>{yun:}$v.service_price{/yun}元</div>
                            <div>{yun:}if $v.service_time!=""{/yun}{yun:}$v.service_time{/yun}天{yun:}else{/yun}不限{yun:}/if{/yun}</div>
                        </td>
                        <td align="left">
                            {yun:}if $v.type==1{/yun}
                                上架：{yun:}$v.job_num{/yun}份<br>
                                刷新：{yun:}$v.breakjob_num{/yun}份
                            {yun:}else if $v.type==2{/yun}
                                发布：{yun:}if $v.job_num ==0 {/yun}不限{yun:}else{/yun}每日{yun:}$v.job_num{/yun}份{yun:}/if{/yun}<br>
                                刷新：{yun:}if $v.breakjob_num ==0 {/yun}不限{yun:}else{/yun}每日{yun:}$v.breakjob_num{/yun}份{yun:}/if{/yun}
                            {yun:}/if{/yun}
                        </td>
                        <td align="left">
                            {yun:}if $v.type==1{/yun}
                                下载：{yun:}$v.resume{/yun}份</br>
                                面试：{yun:}$v.interview{/yun}次
                            {yun:}else if $v.type==2{/yun}
                                下载：{yun:}if $v.resume ==0 {/yun}不限{yun:}else{/yun}每日{yun:}$v.resume{/yun}份{yun:}/if{/yun}</br>
                                面试：{yun:}if $v.interview ==0 {/yun}不限{yun:}else{/yun}每日{yun:}$v.interview{/yun}次{yun:}/if{/yun}
                            {yun:}/if{/yun}
                        </td>
                        <td align="left">
                            置顶：{yun:}$v.top_num{/yun}天</br>
                            推荐：{yun:}$v.rec_num{/yun}天</br>
                            紧急：{yun:}$v.urgent_num{/yun}天
                        </td>
                        <td align="left">
                            {yun:}if $v.type==1{/yun}
                                招聘会报名：{yun:}$v.zph_num{/yun}场</br>
                            {yun:}else if $v.type==2{/yun}
                                招聘会报名：{yun:}if $v.zph_num ==0 {/yun}不限{yun:}else{/yun}每日{yun:}$v.zph_num{/yun}场{yun:}/if{/yun}</br>
                            {yun:}/if{/yun}
                        </td>
                        <td>{yun:}if $v.display eq 1{/yun}已启用{yun:}else{/yun}<font color="#f00">未启用</font>{yun:}/if{/yun}</td>
                        <td>{yun:}$v.sort{/yun}</td>
                        <td>
							<a href="index.php?m=admin_comrating&c=rating&id={yun:}$v.id{/yun}" class="admin_new_c_bth ">编辑</a>
                            <div style="margin-top: 3px;">
							    <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_comrating&c=delrating&id={yun:}$v.id{/yun}');" class="admin_new_c_bth admin_new_c_bth_sc"> 删除</a>
                            </div>
						</td>
                        </tr>
                        {yun:}/foreach{/yun}
                        <tr>
                            <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)'/></td>
                            <td colspan="8"><label for="chkAll2">全选</label>
                                <input class="admin_button" type="button" name="delsub" value="删除所选" onclick="return really('del[]')"/>
							</td>
                        </tr>
                        {yun:}if $total > $config.sy_listnum {/yun}
                        <tr>
                            {yun:}if $pagenum==1{/yun}
                            <td colspan="3"> 从 1 到 {yun:}$config.sy_listnum {/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}else if $pagenum > 1 && $pagenum < $pages{/yun}
                            <td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$pagenum * $config.sy_listnum{/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}else if $pagenum == $pages{/yun}
                            <td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$total{/yun} ，总共 {yun:}$total{/yun} 条</td>
                            {yun:}/if{/yun}
                            <td colspan="8" class="digg">{yun:}$pagenav{/yun}</td>
                        </tr>
                        {yun:}/if{/yun}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
