<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="{yun:}$wap_style{/yun}/hb/reset.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
    <link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
    <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
    <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
    <title>后台管理</title>
</head>

<body class="body_ifm">
    <div class="subnav" id="status_div" style="display:none">
        <div class="">
            <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
            <form name="myform" target="supportiframe" action="index.php?m=admin_comset&c=savewhb" method="post" encType="multipart/form-data" onsubmit="return ckform()" class="layui-form">
                <input type="hidden" name="pytoken" id="pytoken"  value="{yun:}$pytoken{/yun}">
                
                <div class="zph_tjlist">
                    <em class="zph_tjlist_s">海报名称：</em>
                    <input class="layui-input t_w250"  id="wname" name="wname" type="text" value="" /> 
                </div>
                <div class="zph_tjlist">
                    <em class="zph_tjlist_s">上传图片：</em>
                    
                    <div class="admin_uppicbox" style="width: 100px;height: 100px;">
                        <input type="hidden" id="laynoupload" value="1">
                    
                        <div class="admin_uppicimg" id="imgparent" class="none">
                            <img id="imgicon" width="100" height="100"/>
                        </div>
                    
                        <span>
                            <button type="button" class="noupload adminupbtn"  lay-data="{imgid: 'imgicon',parentid: 'imgparent'}">重新上传</button>        
                        </span>
                      
                    </div>
  <span class="admin_web_tip">说明：海报的尺寸为1080*1920</span>
                </div>
                <div class="zph_tjlist">
                    <em class="zph_tjlist_s">排序：</em>
                    <input class="layui-input t_w250"  id="wsort" name="wsort" type="text" value="" /> 
                    <span class="admin_web_tip">数字越大排序越靠前</span>
                </div>
                <div class="zph_tjlist">
                    <em class="zph_tjlist_s">是否开启：</em>
                    <input type="checkbox" id="wopen" name="wopen" lay-skin="switch" lay-text="开启|关闭" />
                      
                </div>
                <div class="zph_tjlist tty_tc_botm">
                    <input class="t_tanc_btn" type="hidden" id="wid" name="id" value=""/>
                    <input class="t_tanc_btn" type="submit" name="update" value="提交" style="margin-left:0px;">
                </div>  
            </form>
        </div>
    </div>
<form class="layui-form">
    <div class="infoboxp">
        <div class="tty-tishi_top">

            <div class="tabs_info">
                <ul>
                    <li><a href="index.php?m=admin_comset">企业设置</a></li>
                    <li><a href="index.php?m=admin_comset&c=logo">头像设置</a></li>
                    <li><a href="index.php?m=admin_comset&c=comspend">消费设置</a></li>
                    <li><a href="index.php?m=admin_comset&c=rating">套餐设置</a></li>
                </ul>
            </div>

            <div class="admin_new_tip">
                <a href="javascript:;" class="admin_new_tip_close"></a>
                <a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
               
                <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
                <div class="admin_new_tip_list_cont">
                    <div class="admin_new_tip_list"> 开启海报则前台展示海报功能 , 模板勾选后前台才能展示相应的海报, 您也可以自定义添加海报  <a href="javascript:void(0);" onclick="editwhb()" style="padding:5px 10px; background:#2d8cf0;color:#fff; display:inline-block;border-radius:3px; margin-left:5px; margin-top:5px;">添加海报</a></div>
                   
                </div>
            </div>

            <div class="clear"></div>

            <table width="100%" class="table_form">

                <tbody>
                <tr>
                    <th width="150" class=""t_fl>招聘海报：</th>
                    <td>
                        <div class="layui-input-block">
                            <div class="layui-input-inline">
                                <input type="checkbox" name="sy_haibao_isopen" lay-skin="switch" lay-text="开启|关闭" {yun:}if $config.sy_haibao_isopen=="1" {/yun} checked {yun:}/if{/yun} />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th width="150" class="t_fl">职位海报展示选择：</th>
                    <td>
                        {yun:}foreach from=$imgList item=v{/yun}
                        <div style="width:120px; display:inline-block;  margin-bottom:30px; ">
                            <div class="hb_cz" style=" padding-bottom:10px;">
                                <input name="sy_job_hb" value="{yun:}$v.id{/yun}" title="{yun:}$v.name{/yun}" type="checkbox" lay-skin="primary" {yun:}if $v.isopen{/yun}checked{yun:}/if{/yun} />
                            </div>
                            <div class=""><img src="{yun:}$v.pic_n{/yun}" width="110"></div>
                            <div class="hb_cz"><a href="javascript:void(0);" onclick="editwhb('{yun:}$v.id{/yun}','{yun:}$v.name{/yun}','{yun:}$v.pic_n{/yun}','{yun:}$v.sort{/yun}','{yun:}$v.isopen{/yun}')">管理</a><a href="javascript:void(0);" onclick="delwhb('{yun:}$v.id{/yun}')">删除</a></div>
                        </div>
                        {yun:}foreachelse{/yun}
                        暂无海报，请先添加海报！
                        {yun:}/foreach{/yun}
                       
                    </td>
                </tr>
                <tr>
                    <th style="border-bottom:none;" width="150">&nbsp;</th>
                    <td align="left" style="border-bottom:none;">
                        <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                        <input class="layui-btn tty_sub" id="mconfig" type="button" name="config" value="提交"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<script>
    var form = null;
    layui.use(['form'], function () {
        form = layui.form;
        var $ = layui.$;
    });
    function editwhb(id,name,pic,sort,isopen){
        
        if(id){
            $('#wid').val(id);
        }else{
            $('#wid').val('');
        }

        if(name){
            $('#wname').val(name);
        }else{
            $('#wname').val('');
        }

        if(sort){
            $('#wsort').val(sort);
        }else{
            $('#wsort').val('');
        }

        if(pic){
            $('#imgicon').attr('src',pic);
            $('#imgparent').removeClass('none');
        }else{
            $('#imgicon').removeAttr('src');
            $('#imgparent').addClass('none');
        }

        if(isopen=='1'){
            $("#wopen").prop("checked",true);
            
        }else{
            $("#wopen").prop("checked",false);
        }

        form.render();
        add_class('职位海报管理','420','auto','#status_div','');
    }
    function ckform(){

        if($("input[name=id]").val() != ''){

            var wname = $("#wname").val();
            var pic   = null;
            if(!wname || wname == ''){
                layer.msg('请填写海报名称！',2,8);return false;
            }
            if($("input[name=file]").val()){
                pic   = $("input[name=file]").val();
            }
            if(!pic && !$('#imgicon').attr('src')){
                layer.msg('请上传图片！',2,8);return false;
            }
        }
        
        parent.layer.load('执行中，请稍后...', 0);
    }
    function delwhb(id){
        var pwcf = parent.layer.confirm("确定删除该海报？",function(){
            loadlayer();
            $.post("index.php?m=admin_comset&c=delwhb", {
                id:id,
                pytoken: $("#pytoken").val()
            }, function (data, textStatus) {
                parent.layer.closeAll('loading');
                config_msg(data);
            });
        })
    }

    $(function () {
        $("#mconfig").click(function () {
            var sy_job_hb = "";
            $('input[name="sy_job_hb"]:checked').each(function () {
                if (sy_job_hb == "") {
                    sy_job_hb = $(this).val();
                } else {
                    sy_job_hb = sy_job_hb + "," + $(this).val();
                }
            });

            loadlayer();
            $.post("index.php?m=admin_comset&c=saveWhbConfig", {
                config: $("#mconfig").val(),
                sy_job_hb: sy_job_hb,
                sy_haibao_isopen: $("input[name=sy_haibao_isopen]").is(":checked") ? 1 : 0,
                pytoken: $("#pytoken").val()
            }, function (data, textStatus) {
                parent.layer.closeAll('loading');
                config_msg(data);
            });
        });
    });
</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script>
</body>
</html>

