<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link href="./images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="./images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <link href="./images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
        <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
        <script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
        <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
        <script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>

        <title></title>
    </head>

    <body class="body_ifm">
        <div class="infoboxp">
			
			<div class="tty-tishi_top">
				<div class="tabs_info">
					<ul>
						<li>
							<a href="index.php?m=admin_comrating">套餐设置</a>
						</li>
						<li class="curr">
							<a href="index.php?m=admin_comrating&c=server" class="report_uaer_list_on">增值服务</a>
						</li>
					</ul>
				</div>

				<div class="admin_new_tip">
					<a href="javascript:;" class="admin_new_tip_close"></a>
					<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
					<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
					<div class="admin_new_tip_list_cont">
						<div class="admin_new_tip_list">企业会员增值包等级关乎您的收入问题，请谨慎添加和修改并注意整体的合理性。</div>
					</div>
				</div>

				<div class="clear"></div>
			
            <div class="tty_table-bom">
                <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                <form class="layui-form" name="myform" target="supportiframe" action="index.php?m=admin_comrating&c=saves" method="post" id="myform" onSubmit="return checkform();">
                    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
                    <table width="100%" class="table_form table_form_thr">
                        <tr>
                            <th>增值类型：</th>
                            <td colspan="3">
								<div class="layui-input-inline t_w480">
									<select name="type" id="type" lay-verify="type">
										<option>请选择</option>
										{yun:}foreach from=$zzlist item=v{/yun}
										<option value="{yun:}$v.id{/yun}" {yun:}if $row.name==$v.name{/yun} selected {yun:}/if{/yun}> {yun:}$v.name{/yun}</option>
										{yun:}/foreach{/yun}
									</select>
								</div>
                            </td>
                        </tr>

                        <tr>
                            <th style="float: right;margin-top: 5px;">增值包价格：</th>
                            <td colspan="3">
								<ul class="admin_comclass_add_n">
									<li>
										<span class="admin_comclass_add_n_s">服务价格</span>
										<input class="admin_comclass_add_n_text" type="text" value="{yun:}$listinfo.service_price{/yun}" name="service_price" id="service_price" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
										<span class="admin_comclass_add_n_dw">元</span>
									</li>
								</ul>
                            </td>
                        </tr>

                        <tr>
                            <th style="float: right;margin-top: 5px;">增值包设置：</th>
                            <td colspan="3">

                                <div>
                                    <ul class="admin_comclass_add_n ">

                                        <li>
                                            <span class="admin_comclass_add_n_s">上架职位数</span><input class="admin_comclass_add_n_text" type="text" name="job_num" id="job_num" value="{yun:}$listinfo.job_num{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">份</span>
                                        </li>
                                        <li>
                                            <span class="admin_comclass_add_n_s">刷新职位数</span><input class="admin_comclass_add_n_text" type="text" name="breakjob_num" id="breakjob_num" value="{yun:}$listinfo.breakjob_num{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">次</span>
                                        </li>
                                        <li>
                                            <span class="admin_comclass_add_n_s">下载简历数</span>
                                            <input class="admin_comclass_add_n_text" type="text" name="resume" id="resume" value="{yun:}$listinfo.resume{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">份</span>
                                        </li>
                                        <li>
                                            <span class="admin_comclass_add_n_s">邀请面试数</span>
                                            <input class="admin_comclass_add_n_text" type="text" name="interview" id="interview" value="{yun:}$listinfo.interview{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">份</span>
                                        </li>
                                        <li>
                                            <span class="admin_comclass_add_n_s">招聘会报名数</span>
                                            <input class="admin_comclass_add_n_text" type="text" name="zph_num" id="zph_num" value="{yun:}$listinfo.zph_num{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">份</span>
                                        </li>

                                        <li>
                                            <span class="admin_comclass_add_n_s">置顶天数</span><input class="admin_comclass_add_n_text" type="text" name="top_num" id="top_num" value="{yun:}$listinfo.top_num{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">天</span>
                                        </li>
                                        <li>
                                            <span class="admin_comclass_add_n_s">紧急天数</span><input class="admin_comclass_add_n_text" type="text" name="urgent_num" id="urgent_num" value="{yun:}$listinfo.urgent_num{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">天</span>
                                        </li>
                                        <li>
                                            <span class="admin_comclass_add_n_s">推荐天数</span>
                                            <input class="admin_comclass_add_n_text" type="text" name="rec_num" id="rec_num" value="{yun:}$listinfo.rec_num{/yun}" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')">
                                            <span class="admin_comclass_add_n_dw">天</span>
                                        </li>
									</ul>
								</div>   
							</td>
						</tr>
						<tr>
							<th>排序：</th>
							<td width="100%">
								<input class="tty_input" size="12" type="text" name="sort" id="sort" value="{yun:}$listinfo.sort{/yun}" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')">
								<span class="admin_web_tip">大前小后</span>

								<input name="id" type="hidden" value="{yun:}$row.id{/yun}">
								<input name="tid" type="hidden" value="{yun:}$listinfo.id{/yun}">
                            </td>
                        </tr>

						<tr>
							<th></th>
							<td colspan="3">
								{yun:}if !$listinfo{/yun}
								<input class="layui-btn tty_sub" name="useradd" type="submit" value="保存" id="submit"> {yun:}else{/yun}
								<input class="layui-btn tty_cz" name="userupdate" type="submit" value="更新" id="dosubmit"> {yun:}/if{/yun}
							</td>
						</tr>
                    </table>
                </form>

            </div>
        </div>
		</div>
        <script>
            function checkform() {
                if($("#type").val() == '' || $("#type").val() == '请选择') {
                    parent.layer.msg("请选择增值类型", 2, 8);
                    return false;
                }
                var service_price = $("#service_price").val();
                if(parseFloat(service_price) <= 0) {
                    parent.layer.msg("请填写服务价格", 2, 8);
                    return false;
                }
            }

            $(".tips_class").hover(function() {
                var msg_id = $(this).attr('id');
                var msg = $('#' + msg_id + ' + font').html();
                if($.trim(msg) != '') {
                    layer.tips(msg, this, {
                        guide: 1,
                        style: ['background-color:#5EA7DC; color:#fff;top:-7px', '#5EA7DC']
                    });
                    $(".xubox_layer").addClass("xubox_tips_border");
                }
            }, function() {
                var msg_id = $(this).attr('id');
                var msg = $('#' + msg_id + ' + font').html();
                if($.trim(msg) != '') {
                    layer.closeAll('tips');
                }
            });

            layui.use(['layer', 'form'], function() {
                var layer = layui.layer,
                    form = layui.form,
                    $ = layui.$;
            });
        </script>
    </body>

</html>