<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
		<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<title>后台管理</title>
	</head>
	<body class="body_ifm">

		<div class="infoboxp">
			
			<div class="tty-tishi_top">
				
			<div class="tabs_info">
				<ul>
					<li {yun:}if $smarty.get.c=="" {/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=admin_userlog&comid={yun:}$smarty.get.comid{/yun}">简历下载记录</a>
					</li>
					<li {yun:}if $smarty.get.c=="trust" {/yun}class="curr"{yun:}/if{/yun}> <a href="index.php?m=admin_userlog&c=trust&comid={yun:}$smarty.get.comid{/yun}">简历推送记录</a>
					</li>
					<li {yun:}if $smarty.get.c=="lookresume" {/yun}class="curr"{yun:}/if{/yun}> <a href="index.php?m=admin_userlog&c=lookresume&comid={yun:}$smarty.get.comid{/yun}">简历浏览记录</a>
					</li>
					<li {yun:}if $smarty.get.c=="talentpool" {/yun}class="curr"{yun:}/if{/yun}> <a href="index.php?m=admin_userlog&c=talentpool&comid={yun:}$smarty.get.comid{/yun}">收藏人才记录</a>
					</li>
				</ul>
			</div>	

			<div class="clear"></div>

			<div class="admin_new_search_box">
				<form action="index.php" name="myform" method="get">
					<input name="m" value="admin_userlog" type="hidden" />
					<input name="c" value="lookresume" type="hidden" />
					<input name="comid" value="{yun:}$smarty.get.comid{/yun}" type="hidden" />
					<div class="admin_new_search_name">搜索类型：</div>
					<div class="admin_Filter_text formselect" did='dtype'>
						<input type="button" value="{yun:}if $smarty.get.type=='1'||$smarty.get.type==''{/yun}姓名{yun:}elseif $smarty.get.type=='2'{/yun}简历名称{yun:}elseif $smarty.get.type=='3'{/yun}公司名称{yun:}/if{/yun}"
						 class="admin_Filter_but" id="btype">
						<input type="hidden" id='type' value="{yun:}if $smarty.get.type{/yun}{yun:}$smarty.get.type{/yun}{yun:}else{/yun}1{yun:}/if{/yun}"
						 name='type'>
						<div class="admin_Filter_text_box" style="display:none" id='dtype'>
							<ul>
								<li><a href="javascript:void(0)" onClick="formselect('1','type','姓名')">姓名</a></li>
								<li><a href="javascript:void(0)" onClick="formselect('2','type','简历名称')">简历名称</a></li>
								<li><a href="javascript:void(0)" onClick="formselect('3','type','公司名称')">公司名称</a></li>
							</ul>
						</div>
					</div>
					<input class="admin_new_text" type="text" name="keyword" value="{yun:}$smarty.get.keyword{/yun}" size="25" placeholder="请输入你要搜索的关键字"/>
					<input class="admin_new_bth" type="submit" name="search" value="检索" />
					<a href="javascript:void(0)" onclick="$('.admin_screenlist_box').toggle();" class="admin_new_search_gj">高级搜索</a>
				</form>
				{yun:}include file="admin/admin_search.htm"{/yun}
			</div>

			<div class="clear"></div>
			</div>
			
			<div class="tty_table-bom">
			<div class="table-list">
				<div class="admin_table_border">
					<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
					<form action="index.php?m=admin_userlog&c=dellook" name="myform" id="myform" method="post" target="supportiframe">
						<table width="100%">
							<thead>
								<tr class="admin_table_top">
									<th style="width:20px;">
										<label for="chkall"><input type="checkbox" id='chkAll' onclick='CheckAll(this.form)' /></label>
									</th>
									<th>
										{yun:}if $smarty.get.t=="id" && $smarty.get.order=="asc"{/yun}
										<a href="{yun:}searchurl order=desc t=id m=admin_userlog c=lookresume untype='order,t'{/yun}">
											编号<img src="images/sanj.jpg" />
										</a>
										{yun:}else{/yun}
										<a href="{yun:}searchurl order=asc t=id m=admin_userlog c=lookresume untype='order,t'{/yun}">
											编号<img src="images/sanj2.jpg" />
										</a>
										{yun:}/if{/yun}
									</th>
									<th align="left">姓名</th>
									<th align="left">简历名称</th>
									<th align="left">公司名称</th>
									<th>
										{yun:}if $smarty.get.t=="datetime" && $smarty.get.order=="asc"{/yun}
										<a href="{yun:}searchurl order=desc t=datetime m=admin_userlog c=lookresume  untype='order,t'{/yun}">
											浏览时间<img src="images/sanj.jpg" />
										</a>
										{yun:}else{/yun}
										<a href="{yun:}searchurl order=asc t=datetime m=admin_userlog c=lookresume untype='order,t'{/yun}">
											浏览时间<img src="images/sanj2.jpg" />
										</a>
										{yun:}/if{/yun}
									</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								{yun:}foreach item=v key=key from=$list{/yun}
								<tr align="center" {yun:}if ($key+1)%2=='0' {/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
									<td><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
									<td align="left" class="td1" style="text-align:center;"><span>{yun:}$v.id{/yun}</span></td>
									<td align="left">
										<a class="admin_cz_sc resume-preview" href="javascript:void(0);" pid="{yun:}$v.resume_id{/yun}">{yun:}$v.username{/yun}</a>
									</td>
									<td align="left">
										<a class="admin_cz_sc resume-preview" href="javascript:void(0);" pid="{yun:}$v.resume_id{/yun}">{yun:}$v.resume_name{/yun}</a>
									</td>
									<td align="left">
										<a {yun:}if $v.usertype==3{/yun}href="{yun:}url m=lietou c=headhunter uid=$v.com_id {/yun}"{yun:}else{/yun}href="{yun:}url m=company c=show id=$v.com_id {/yun}"{yun:}/if{/yun} target="_blank" class="admin_cz_sc">{yun:}$v.com_name{/yun}</a>
									</td>
									<td>{yun:}$v.datetime|date_format:"%Y-%m-%d %H:%M"{/yun}</td>
									<td>
										<a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_userlog&c=dellook&del={yun:}$v.id{/yun}');" class="admin_new_c_bth admin_new_c_bth_sc">删除</a>
									</td>
								</tr>
								{yun:}/foreach{/yun}
								<tr>
									<td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
									<td colspan="6">
										<label for="chkAll2">全选</label>&nbsp;
										<input class="admin_button" type="button" name="delsub" value="删除所选" onClick="return really('del[]')" />
									</td>
								</tr>
								{yun:}if $total > $config.sy_listnum {/yun}
								<tr>
									{yun:}if $pagenum==1{/yun}
									<td colspan="3"> 从 1 到 {yun:}$config.sy_listnum {/yun} ，总共 {yun:}$total{/yun} 条</td>
									{yun:}else if $pagenum > 1 && $pagenum < $pages{/yun}
									<td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$pagenum * $config.sy_listnum{/yun} ，总共 {yun:}$total{/yun} 条</td>
									{yun:}else if $pagenum == $pages{/yun}
									<td colspan="3"> 从 {yun:}($pagenum-1) * $config.sy_listnum + 1{/yun} 到 {yun:}$total{/yun} ，总共{yun:}$total{/yun} 条</td>
									{yun:}/if{/yun}
									<td colspan="4" class="digg">{yun:}$pagenav{/yun}</td>
								</tr>
								{yun:}/if{/yun}
							</tbody>
						</table>
						<input type="hidden" name="pytoken" id="pytoken" value="{yun:}$pytoken{/yun}">
					</form>
				</div>
			</div>
			</div>
		</div>
	<script type="text/javascript">
		$(".resume-preview").click(function() {
			var id = $(this).attr("pid");
			$('body').css('overflow-y', 'hidden');
			$.layer({
				type: 2,
				shadeClose: true,
				title: '简历预览',
				area: ['755px', ($(window).height() - 30) +'px'],
				iframe: {src: 'index.php?m=admin_resume&c=resumePreview&id='+id},
				close: function(){
					$('body').css('overflow-y', '');
				}
			});
		});
	</script>
	</body>
</html>
