<!--ajax/login模板专用-->
{yun:}if strpos($config.code_web,"前台登录")!==false{/yun}
	{yun:}if $config.code_kind == 3{/yun}
	<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/pc.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
	{yun:}elseif $config.code_kind == 4{/yun}
	<script src="{yun:}$config.sy_weburl{/yun}/js/dingxiang/pc.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
	{yun:}elseif $config.code_kind == 5{/yun}
	<script src="{yun:}$config.sy_weburl{/yun}/js/vaptcha/pc.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
	{yun:}/if{/yun}
{yun:}/if{/yun}