{yun:}include file="$userstyle/header.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js?v={yun:}$config.cachecode{/yun}"></script>
<script>var weburl = "{yun:}$config.sy_weburl{/yun}";</script>
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
        <div class="member_right_index_h1 fltL"><span class="member_right_h1_span fltL">账号设置</span> <i class="member_right_h1_icon user_bg"></i></div>

        <div class="clear"></div>

        <div class="job_list_tit">
            <ul class="">
                <li><a href="index.php?c=info">基本信息</a><i class="left_sidebar_leftmune_icon"></i></li>
                <li><a href="index.php?c=passwd">账号安全</a></li>
                <li class="job_list_tit_cur"><a href="index.php?c=binding">绑定授权</a></li>
                <li><a href="index.php?c=uppic">上传照片 </a></li>
            </ul>
        </div>

        <div class="resume_Prompt_box">
            <div class="resume_Prompt"><i class="resume_Prompt_icon"></i> 绑定的第三方帐号，可用于直接登录网站</div>
        </div>

        <div class="resume_box_list">


            {yun:}if $config.sy_qqlogin=='1'{/yun}
                <div class="Binding_list">
                    <div class="Binding_list_left">
                        <div class="Bingding_icon {yun:}if $member.qqid!=''{/yun}Bingding_icon_cur{yun:}/if{/yun}"><i class="binding_qq_icon"></i></div>
                        <span class="bingding_yx_wr">绑定QQ</span>
                    </div>
                    {yun:}if $member.qqid!=""{/yun}
                        <div class="Binding_list_text Binding_list_text_mt">已绑定QQ号</div>
                        <div class="Binding_oper">
                            <a href="javascript:void(0)" onclick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=qqid');" class="Binding_submit_qx">取消绑定</a>
                        </div>
                    {yun:}else{/yun}
                        <div class="Binding_list_text">
                            <span class="Binding_list_text_zt"><i class="Binding_list_text_zticon"></i>未绑定QQ号</span>
                            <div class="Binding_list_p">授权绑定后，可使用QQ账号登录</div>
                        </div>
                        {yun:}if $config.sy_qqlogin!='1'{/yun}
                        <div class="Binding_oper">
                            <a href="javascript:void(0)" onclick="layer.msg('对不起，QQ绑定已关闭！', 2, 8);return false;" class="Binding_submit">立即绑定</a>
                        </div>
                        {yun:}else{/yun}
                        <div class="Binding_oper">
                            <a href="{yun:}url m=qqconnect  login=1{/yun}" class="Binding_submit">立即绑定</a>
                        </div>
                        {yun:}/if{/yun}
                    {yun:}/if{/yun}
                </div>
            {yun:}/if{/yun}

            {yun:}if $config.sy_sinalogin=='1'{/yun}
                <div class="Binding_list">
                    <div class="Binding_list_left">
                        <div class="Bingding_sinaicon {yun:}if $member.sinaid!=''{/yun}bingding_sina_cur{yun:}/if{/yun}"><i class="binding_xl_icon"></i></div>
                        <span class="bingding_yx_wr">绑定新浪微博</span>
                    </div>
                    {yun:}if $member.sinaid!=""{/yun}
                        <div class="Binding_list_text Binding_list_text_mt">已绑定，可使用新浪微博快速登录</div>
                        <div class="Binding_oper">
                            <a href="javascript:void(0)" onclick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=sinaid');" class="Binding_submit_qx">取消绑定</a>
                        </div>
                    {yun:}else{/yun}
                        <div class="Binding_list_text">
                            <span class="Binding_list_text_zt"><i class="Binding_list_text_zticon"></i>未绑定新浪微博</span>
                            <div class="Binding_list_p">授权绑定后，可使用新浪微博快速登录</div>
                        </div>
                        {yun:}if $config.sy_sinalogin!='1'{/yun}
                            <div class="Binding_oper">
                                <a href="javascript:void(0)" onclick="layer.msg('对不起，新浪绑定已关闭！', 2, 8);return false;" class="Binding_submit">立即绑定</a>
                            </div>
                        {yun:}else{/yun}
                            <div class="Binding_oper">
                                <a href="{yun:}url m=sinaconnect login=1{/yun}" class="Binding_submit">立即绑定</a>
                            </div>
                        {yun:}/if{/yun}
                    {yun:}/if{/yun}
                </div>
            {yun:}/if{/yun}

            {yun:}if $config.wx_author=='1'{/yun}
                <div class="Binding_list">
                    <div class="Binding_list_left">
                        <div class="Bingding_wx {yun:}if $member.unionid!='' || $member.wxid!=''{/yun}bingding_wx_cur{yun:}/if{/yun}"><i class="binding_wx_icon"></i></div>
                        <span class="bingding_yx_wr">绑定微信</span>
                    </div>
                    {yun:}if $member.unionid!="" || $member.wxid!=''{/yun}
                        <div class="Binding_list_text  Binding_list_text_mt">已绑定，您已可使用微信扫描登录</div>
                        <div class="Binding_oper"><a href="javascript:void(0)" onClick="layer_del('确定要取消绑定？','index.php?c=binding&act=del&type=wxid');" class="Binding_submit_qx">取消绑定</a></div>
                    {yun:}else{/yun}
                        <div class="Binding_list_text">
                            <span class="Binding_list_text_zt"><i class="Binding_list_text_zticon"></i>未绑定微信</span>
                            <div class="Binding_list_p">授权绑定后，可使用微信扫描登录</div>
                        </div>
                        {yun:}if $config.wx_author!='1'{/yun}
                            <div class="Binding_oper"><a href="javascript:void(0)" onclick="layer.msg('对不起，微信绑定已关闭！', 2, 8); return false;" class="Binding_submit">立即绑定</a></div>
                        {yun:}else{/yun}
                            <div class="Binding_oper"><a href="javascript:void(0)" onclick="wxshow();" class="Binding_submit">立即绑定</a></div>
                        {yun:}/if{/yun}
                    {yun:}/if{/yun}
                </div>
           {yun:}/if{/yun}
        </div>

        {yun:}if $config.wx_author != '1' && $config.sy_qqlogin != '1' && $config.sy_sinalogin != '1'{/yun}
        <div class="msg_no">
            <p>亲爱的用户，网站暂未开启第三方绑定，请联系管理员</p>
        </div>
        {yun:}/if{/yun}

    </div>
</div>
<div id="wxcontent" style=" display:none;">
    <div id="wx_login_qrcode" class="wx_bdtck_pic">正在获取二维码...</div>
    <div id="wx_sx" class="none">
        <div class="wx_login_show_sxbox"><a href="javascript:void(0);" onclick="getwxbindcode()" class="wx_login_show_sxicon"></a>二维码已失效点击刷新</div>
    </div>
    <div class="wx_bdtck_p">请使用微信扫描二维码绑定</div>
</div>
<input type="hidden" id="linktel" value="{yun:}$resume.telphone{/yun}"/>
<input type="hidden" id="linkmail" value="{yun:}$resume.email{/yun}"/>
<input type="hidden" id="send" value="0"/>

<script>
    var setval,
        setwout;

    function getwxbindcode() {
        $.post('{yun:}url m=login c=wxlogin{/yun}', {t: 1}, function (data) {
            if (data == 0) {
                $('#wx_login_qrcode').html('二维码获取失败..');
            } else {
                $('#wx_login_qrcode').html('<img src="' + data + '" width="180" height="180">');
                setval = setInterval(function () {
                    $.post('{yun:}url m=login c=getwxloginstatus{/yun}', {t: 1}, function (data) {
                        var data = eval('(' + data + ')');
                        if (data.url != '' && data.msg != '') {
                            clearInterval(setval);
                            setval = null;
                            layer.msg(data.msg, 2, 9, function () {
                                window.location.href = data.url;
                            });
                        } else if (data.url) {
                            window.location.href = data.url;
                        }
                    });
                }, 2000);
                if (setwout) {
                    clearTimeout(setwout);
                    setwout = null;
                }
                setwout = setTimeout(function () {
                    clearInterval(setval);
                    setval = null;
                    var wx_sx = $("#wx_sx").html();
                    $('#wx_login_qrcode').html(wx_sx);
                }, 300 * 1000);
            }
        });
    }

    function wxshow() {
        $.layer({
            type: 1,
            title: '绑定微信',
            border: [10, 0.3, '#000', true],
            area: ['400px', 'auto'],
            page: {dom: "#wxcontent"},
            close: function () {
                if (setval) {
                    clearInterval(setval);
                    setval = null;
                }
                if (setwout) {
                    clearTimeout(setwout);
                    setwout = null;
                }
            }
        });
        getwxbindcode();
    }
</script>
{yun:}include file="$userstyle/footer.htm"{/yun}