{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">

		{yun:}include file="$userstyle/left.htm"{/yun}

		   <div class="yun_m_rightbox fltR mt20 re">
    
         <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">账户分离</span> <i class="member_right_h1_icon user_bg"></i></div>
         <div class="resume_box_list">
	<div class="resume_Prompt"><i class="resume_Prompt_icon"></i>提示：账户分离后数据无法恢复，该账号下所有与当前身份相关的数据都将迁入新账户 </div>

<div class="clear"></div>
			 {yun:}if $userStatue || $userStat || $userSta{/yun}
			    <div class="transfer_stepbox">
        <ul class="transfer_stepbox_list">
        <li class="transfer_stepcur"><span class="transfer_stepbox_n">1</span><em class="transfer_stepbox_name">核对信息</em></li>
        <li class="transfer_stepcur"><span class="transfer_stepbox_line"></span></li>
        <li><span class="transfer_stepbox_n">2</span><em class="transfer_stepbox_name">账号验证 </em></li>
        <li><span class="transfer_stepbox_line"></span></li>
        <li><span class="transfer_stepbox_n"><i class="transfer_stepbox_cgicon"></i></span><em class="transfer_stepbox_name">迁移成功</em></li>
        </ul>
        </div>
        <div class="clear"></div>
        <div class="transfer_textlistbox">
		<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
        <form id="infoform" action="index.php?c=transfer&act=save" name="myform" method="post" target="supportiframe"  autocomplete="off"  class="layui-form" onsubmit="return checkform();">
		<div class="transfer_textlist">
		<span class="transfer_textlist_n"><font color="#f00">*</font>  解绑类型：</span>
		<div class="transfer_textxz">
		<input   name="bdtype[]"  value="moblie"  type="checkbox" title="解绑手机" data-tag="解绑手机" class="changewelfare" >
		<input   name="bdtype[]"  value="email"  type="checkbox" title="解绑邮箱" data-tag="解绑邮箱" class="changewelfare" >
		<input   name="bdtype[]"  value="wxid"  type="checkbox" title="解绑微信" data-tag="解绑微信" class="changewelfare" >
		<input   name="bdtype[]"  value="qqid"  type="checkbox" title="解绑QQ" data-tag="解绑QQ" class="changewelfare" >
		<input   name="bdtype[]"  value="sinaid"  type="checkbox" title="解绑微博" data-tag="解绑微博" class="changewelfare" >
		</div>
		</div>
		<div class="transfer_textlist"><span class="transfer_textlist_n"><font color="#f00">*</font>  当前账号密码：</span><input type="password" name="oldpass" value="" class="transfer_text" placeholder="请输入当前账户密码"></div>

          <div class="transfer_textlist"><span class="transfer_textlist_n"><font color="#f00">*</font> 新账户用户名：</span><input type="text"  name="username" value="" class="transfer_text" placeholder="请设置新账户用户名">
          	<div style="padding-top:10px; color:#999; font-size:12px; ">
          	用户名要求长度{yun:}$config.sy_reg_nameminlen{/yun}-{yun:}$config.sy_reg_namemaxlen{/yun}位
            {yun:}if $config.reg_name_han=='1' || $config.reg_name_sp=='1' || $config.reg_name_num=='1' || $config.reg_name_zm=='1'{/yun}
                ,必须包含
                {yun:}if $config.reg_name_han=='1'{/yun}汉字 {yun:}/if{/yun}
                {yun:}if $config.reg_name_num=='1'{/yun}数字 {yun:}/if{/yun}
                {yun:}if $config.reg_name_zm=='1'{/yun}字母 {yun:}/if{/yun}
                {yun:}if $config.reg_name_sp=='1'{/yun}其它字符@!#.$-_{yun:}/if{/yun}
            {yun:}/if{/yun}
            </div>
          </div>

           <div class="transfer_textlist"><span class="transfer_textlist_n"><font color="#f00">*</font>新账户密码：</span><input type="password" name="password" value="" class="transfer_text" placeholder="请设置新账户密码">
           	{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun}
                           
             <div style="padding-top:10px; color:#999; font-size:12px; ">
                    密码必须包含{yun:}if $config.reg_pw_num=='1'{/yun}数字 {yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}字母 {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}其它字符@!#.$-_{yun:}/if{/yun}
                </div>
         
            {yun:}/if{/yun}
           </div>

            <div class="transfer_textlist"> <div class="transfer_tip">数据迁移后，可登录新账户，绑定手机、微信等</div>
				<input type="submit" name="submit" value="确认分离" class="transfer_bth">
            </div>

			</form>
   </div>
			 {yun:}else{/yun}
			 <div class="msg_no">
				 <p>亲爱的用户，目前你的账号只有个人身份，无需账户分离</p>
			 </div>
			 {yun:}/if {/yun}
			<div class="clear"></div>
			
				</div>
			</div>
		</div>

	

 <script>
 
 layui.use(['form','layer'], function(){
	    var $ = layui.$,
			form = layui.form,
			layer = layui.layer;
  	});

	function checkform(){
				

		var oldpass = $("input[name='oldpass']").val();
		var username = $("input[name='username']").val();
		var password = $("input[name='password']").val();

		if(oldpass == '') {
			layer.msg('请输入当前账户密码!', 2, 8);return false;

		}
		if(username == '') {
			layer.msg('请输入用户名！', 2, 8);return false;
		}
		if(password == '') {
			layer.msg('请输入6至20位新密码!', 2, 8);return false;

		}else if(password.length<6 || password.length>20 ){
			
			  layer.msg('请输入6至20位新密码!', 2, 8);return false;
		}
		layer.msg('数据迁移中，请稍候....', {
		  icon: 16
		  ,shade: 0.5,
		  time: 20000
		});
		return true;
	}
 </script>
{yun:}include file="$userstyle/footer.htm"{/yun}