{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
        <div class="com_tit"><span class="com_tit_span">企业资质认证</span> </div>
        <div class=right_box>
            <div class=admincont_box>
                <div class="com_body">
                    <div class="clear"></div>

                    <div class="license_box">
                        <div class="license_tip">
                            {yun:}if $company.yyzz_status==1{/yun}
                                您的企业资质已验证
                            {yun:}else{/yun}
                                {yun:}if !empty($cert){/yun} 
                                    {yun:}if $cert.status==2{/yun}
                                        您的企业资质审核未通过 {yun:}if $cert.statusbody{/yun}原因：{yun:}$cert.statusbody{/yun}{yun:}/if{/yun}
                                    {yun:}else{/yun}
                                        企业资质已上传，请等待管理员审核
                                    {yun:}/if{/yun}
                                {yun:}else{/yun}
                                    您尚未上传企业资质
                                {yun:}/if{/yun}
                            {yun:}/if{/yun}
                            
                        </div>
                        <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                        <form id="certform" name="MyForm" target="supportiframe" method="post" action="index.php?c=binding&act=savecert" enctype="multipart/form-data">
                           <div class="license_right">
                           	<div class="license_tit">方式二：手机拍照上传</div>
                           	<div class="license_ewm">
                           		<img src="{yun:}url m=upload c=qrcode type=1{/yun}" alt="手机扫码拍照上传" width="130" height="130" />
                           	</div>
                           	<div class="license_right_p"> 扫描二维码 </div>
                           	<div class="">  打开我-修改资料-点击我要认证 </div>
                           </div>
							<div class="authentication">
                                <div class="authentication_list"><span class="authentication_list_name"><i class="Binding_pop_box_list_left_i">*</i>公司名称：</span><input type="text" value="{yun:}$company.name{/yun}" name="company_name" id="company_name" class="authentication_text"></div>
                                {yun:}if $config.com_social_credit=="1"{/yun}
                                <div class="authentication_list"><span class="authentication_list_name"><i class="Binding_pop_box_list_left_i">*</i>统一社会信用代码：</span><input maxlength="18" type="text" value="{yun:}$cert.social_credit{/yun}" name="social_credit" id="social_credit" class="authentication_text"></div>
                                {yun:}/if{/yun}

                                <div class="authentication_list">
                                    <div class="authentication_tip">
                                    <div class="">营业执照需是在有效期范围内的原件照片，扫描或者加盖公章的复印件，若无营业执照可上传组织机构代码证</div>
                                    </div>
									<span class="authentication_list_name"><i class="Binding_pop_box_list_left_i">*</i>营业执照：</span>
                                    <button type="button" class="authentication_bth noupload0" lay-data="{imgid: 'imgicon',parentid: 'imgparent',fieldname:'check'}"> </button>
                                    <input type="hidden" id="old_cert" value="{yun:}$cert.old_check{/yun}" />
                                    <div id="imgparent" style="top:45px" class="authentication_img {yun:}if !$cert.check{/yun}none{yun:}/if{/yun}">
                                         <div class="aut_show">
                                        <img id="imgicon" src="{yun:}$cert.old_check{/yun}"  /> 
                                        <div id="newbind_imgicon" class="Binding_pop_box_msg_cont_new none">新</div>
                                        <a id="checka_imgicon"  href="javascript:;" data_url="{yun:}$cert.old_check{/yun}" onclick="showpic(this)"  class="aut_show_p">查看原图</a>
                                    </div>
                                    </div>
                                  
                                </div>
                                {yun:}if $config.com_cert_owner=="1"{/yun}
                                <div class="authentication_list">
									<div class="authentication_tip">
                                    <div class="">此处提交经办人身份证材料</div>
									格式要求：原件照片无遮挡，文字信息清晰可辨识，扫描或者加盖公章的复印件，支持{yun:}$config.file_maxsize{/yun}M,支持{yun:}$config.pic_type{/yun}格式
									</div>
									<span class="authentication_list_name"><i class="Binding_pop_box_list_left_i">*</i>经办人身份证：</span>
                                    <button type="button" class="authentication_bth noupload1" lay-data="{imgid: 'imgicon1',parentid: 'imgparent1',fieldname:'owner_cert'}">  </button>
                                    <input type="hidden" id="old_owner_cert" value="{yun:}$cert.old_owner_cert{/yun}" />
                                    <div id="imgparent1" style="top:70px" class="authentication_img {yun:}if !$cert.owner_cert{/yun}none{yun:}/if{/yun}">
                                     <div class="aut_show">    <img id="imgicon1" src="{yun:}$cert.old_owner_cert{/yun}" width="40" height="40" /> 
                                        <div id="newbind_imgicon1" class="Binding_pop_box_msg_cont_new none">新</div>
                                        <a id="checka_imgicon1"  href="javascript:;" data_url="{yun:}$cert.old_owner_cert{/yun}" onclick="showpic(this)"  class="aut_show_p">查看原图</a></div>
                                    </div>
                                </div>
                                {yun:}/if{/yun}
                                {yun:}if $config.com_cert_wt=="1"{/yun}
                                <div class="authentication_list">
                                    <div class="authentication_tip">
									声明：委托书/承诺函材料必须使用网站统一格式。<br ><a href="{yun:}$config.sy_ossurl{/yun}/{yun:}$config.exa_cert_wt{/yun}" target="_blank" style="color:red">请单击这里，下载委托书/承诺函模板</a><br >
									格式要求：原件照片，扫描或者加盖公章的复印件，支持{yun:}$config.file_maxsize{/yun}M,支持{yun:}$config.pic_type{/yun}格式
									</div>
									<span class="authentication_list_name"><i class="Binding_pop_box_list_left_i">*</i>委托书/承诺函：</span>
                                    <button type="button" class="authentication_bth noupload2" lay-data="{imgid: 'imgicon2',parentid: 'imgparent2',fieldname:'wt_cert'}"> </button>
                                    <input type="hidden" id="old_wt_cert" value="{yun:}$cert.old_wt_cert{/yun}" />
                                    <div id="imgparent2" style="top:95px" class="authentication_img {yun:}if !$cert.wt_cert{/yun}none{yun:}/if{/yun}">
                                       <div class="aut_show">  <img id="imgicon2" src="{yun:}$cert.old_wt_cert{/yun}" /> 
                                        <div id="newbind_imgicon2" class="Binding_pop_box_msg_cont_new none">新</div>
                                        <a id="checka_imgicon2"  href="javascript:;" data_url="{yun:}$cert.old_wt_cert{/yun}" onclick="showpic(this)"  class="aut_show_p">查看原图</a>
                                    </div></div>
                                </div>
                                {yun:}/if{/yun}
                                {yun:}if $config.com_cert_other=="1"{/yun}
                                <div class="authentication_list"><span class="authentication_list_name">其他证明材料：</span>
                                    <button type="button" class="authentication_bth noupload3" lay-data="{imgid: 'imgicon3',parentid: 'imgparent3',fieldname:'other_cert'}"> </button>
                                    <input type="hidden" id="old_other_cert" value="{yun:}$cert.old_other_cert{/yun}" />
                                    <div id="imgparent3" class="authentication_img {yun:}if !$cert.other_cert{/yun}none{yun:}/if{/yun}">
                                    <div class="aut_show">
                                        <img id="imgicon3" src="{yun:}$cert.old_other_cert{/yun}"  /> 
                                        <div id="newbind_imgicon3" class="Binding_pop_box_msg_cont_new none">新</div>
                                        <a id="checka_imgicon3"  href="javascript:;" data_url="{yun:}$cert.old_other_cert{/yun}" onclick="showpic(this)"  class="aut_show_p">查看原图</a>
                                    </div>     </div>
                                     <!-- <div class="authentication_tip">
                                    <div class="">此处提交其他证明材料</div>
                                    
                                    
                                    格式要求：支持{yun:}$config.pic_type{/yun}格式，大小不超过{yun:}$config.file_maxsize{/yun}M,</div> -->
                                </div>
                                {yun:}/if{/yun}
								<!--
                                <div class="authentication_tip" style=" padding-left:170px;">
                                    格式要求：支持{yun:}$config.pic_type{/yun}格式，大小不超过{yun:}$config.file_maxsize{/yun}M
                                </div>
								-->
                                <div class="authentication_list">
                                    <input class="license_list_bth" name="upfile" type="button" onclick="check_company_cert()" value="提交" />
                                </div>
                            </div>
                        </form>
                        
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--弹出框 end-->
<script src="{yun:}$config.sy_weburl{/yun}/js/binding.js?v={yun:}$config.cachecode{/yun}"></script>


<script>
    var com_social_credit = '{yun:}$config.com_social_credit{/yun}',
        com_cert_owner = '{yun:}$config.com_cert_owner{/yun}',
        com_cert_wt = '{yun:}$config.com_cert_wt{/yun}',
        com_cert_other = '{yun:}$config.com_cert_other{/yun}';
	layui.use(['layer','upload'], function() {
		var layer = layui.layer,
            upload = layui.upload,
			$ = layui.$;
        
        
        var layaccept = 'images',
            layexts = 'jpg|png|gif|bmp|jpeg';
    
        upload.render({
            elem: '.noupload0',
            auto: false,
            bindAction: '#test9' //触发上传的对象，暂未用到
                ,
            accept: layaccept,
            field: 'check',
            exts: layexts,
            choose: function(obj) {
                qycertimg(this,obj);
                
            }
        });
        upload.render({
            elem: '.noupload1',
            auto: false,
            bindAction: '#test9' //触发上传的对象，暂未用到
                ,
            accept: layaccept,
            field: 'owner_cert',
            exts: layexts,
            choose: function(obj) {
                qycertimg(this,obj);
                
            }
        });
        upload.render({
            elem: '.noupload2',
            auto: false,
            bindAction: '#test9' //触发上传的对象，暂未用到
                ,
            accept: layaccept,
            field: 'wt_cert',
            exts: layexts,
            choose: function(obj) {

                qycertimg(this,obj);
                
            }
        });
        upload.render({
            elem: '.noupload3',
            auto: false,
            bindAction: '#test9' //触发上传的对象，暂未用到
                ,
            accept: layaccept,
            field: 'other_cert',
            exts: layexts,
            choose: function(obj) {

                qycertimg(this,obj);
                
            }
        });
        
	});	
	var setval,
		setwout;

    function qycertimg(opt,obj){

        if (opt.imgid) {
            //预读本地文件示例，不支持ie8/9
            var imgid = null,
                parentid = null;
            if (opt.imgid) {
                imgid = opt.imgid;
            }
            if (opt.parentid) {
                parentid = opt.parentid;
            }
            obj.preview(function(index, file, result) {

                if (parentid && $('#' + parentid).length > 0) {
                    $('#' + parentid).removeClass('none');
                    $('#' + imgid).attr('src', result);
                } else if (imgid && $('#' + imgid).length > 0) {
                    $('#' + imgid).removeClass('none');
                    $('#' + imgid).attr('src', result); //图片链接（base64）
                }

                $('#checka_'+imgid).hide();

                if(document.getElementById('newbind_'+imgid)){
                    $('#newbind_'+imgid).removeClass('none');
                }
            });
        }
    }

	function showpic(obj){
		var url =	$(obj).attr('data_url');
        var picjson={
		  "data": []
		}
        if(url){
            picjson.data.push({"src": url,"thumb": url});
        }
        
		layer.photos({
			photos: picjson
			,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
		});
	}
</script>

{yun:}include file="$comstyle/footer.htm"{/yun}