
<!-- layui 当前显示弹出框index-->
<input type='hidden' id="layindex" value="">

<div class="clear"></div>

<div class=footer>
    <div class=w900>
        <div class=footernav>
            <div class="footer_bot_p">{yun:}$config.sy_webcopyright{/yun}{yun:}$config.sy_webrecord{/yun} </div>
            <div class="footer_bot_p">Powered by <a target="_blank" href="http://www.phpyun.com">PHPYun.</a></div>
        </div>
    </div>
</div>

<div class="clear"></div>

<div id="uclogin" style="display:none"></div>

<div class="clear"></div>

{yun:}include file="$temstyle/default/public_search/public_tips.htm"{/yun}

</body>

</html>