{yun:}include file="$comstyle/header.htm"{/yun}
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
        <script src="{yun:}$config.sy_weburl{/yun}/data/plus/job.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
        <script src="{yun:}$config.sy_weburl{/yun}/data/plus/jobparent.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
        <link rel="stylesheet" href="{yun:}$style{/yun}/style/newclass.public.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
        <script src="{yun:}$config.sy_weburl{/yun}/js/newclass.public.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
        <script language="javascript">
            function setLink(type) {

                if ($("#is" + type).hasClass('com_job_tel_setlist_zt_cur')) {
                    $("#is" + type).removeClass('com_job_tel_setlist_zt_cur');
                    if (type == 'link') {

                        var link_id = $('#link_id').val();
                        var selLinkId = 'dd[lay-value=' + link_id + ']';
                        $('#link_id').siblings("div.layui-form-select").find('dl').find(selLinkId).click();
                        $("input[name='is_link']").val(1);
                    } else {

                        $("input[name='is_" + type + "']").val(2);
                    }
                } else {
                    $("#is" + type).addClass('com_job_tel_setlist_zt_cur');
                    if (type == 'link') {

                        $("input[name='is_link']").val(3);
                    } else {

                        $("input[name='is_" + type + "']").val(1);
                    }
                }
            }

            function returnmessagejob(frame_id) {
                if (frame_id == '' || frame_id == undefined) {
                    frame_id = 'supportiframe';
                }
                var message = $(window.frames[frame_id].document).find("#layer_msg").val();
                if (message != null) {
                    var url = $(window.frames[frame_id].document).find("#layer_url").val();
                    var layer_time = $(window.frames[frame_id].document).find("#layer_time").val();
                    var layer_st = $(window.frames[frame_id].document).find("#layer_st").val();
                    var layer_url = $(window.frames[frame_id].document).find("#layer_url").val();
                    var h5share = '{yun:}$config.sy_h5_share{/yun}';
                    layer.closeAll('loading');
                    if (layer_st == '9') {
                        //判断是否开启职位推广并且是新增职位
                        $('#jobid').val(layer_url);
                        $('#jobshow').attr('href', weburl + '/job/?c=comapply&id=' + layer_url);
                        if (h5share == 1) {
                            $('#sharecode').attr('src', weburl + '/index.php?m=ajax&c=pubqrcode&toc=job&toa=share&toid=' + layer_url);
                        } else {
                            $('#sharecode').attr('src', weburl + '/index.php?m=ajax&c=pubqrcode&toc=job&toa=view&toid=' + layer_url);
                        }
                        var jid = '{yun:}$row.id{/yun}';
                        if (!jid) {
                            $('#jobrec').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 2)');
                            $('#joburgent').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 3)');
                            $('#jobtop').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 1)');
                            $('#jobauto').attr('onclick', 'jobPromote(\'' + layer_url + '\',\'\', 5)');
                            $('#rewardpay').attr('onclick', 'rewardlistpay(\'' + layer_url + '\')');
                        }
                        $.layer({
                            type: 1,
                            move: false,
                            fix: true,
                            zIndex: 666,
                            title: '系统提示',
                            offset: ['100px', ''],
                            border: [10, 0.3, '#000', true],
                            area: ['710px', '330px'],
                            page: {dom: '#addjob'},
                            close: function () {
                                {yun:}if ($config.com_free_status == 1 && $companycert && $companycert.status == 1)||$config.com_job_status == '1'{/yun}
                                    {yun:}if $row && $referer{/yun}
                                        window.location.href = "{yun:}$referer{/yun}";
                                    {yun:}else{/yun}
                                        window.location.href = "index.php?c=job&w=1";
                                    {yun:}/if{/yun}
                                {yun:}else{/yun}
                                    window.location.href = "index.php?c=job&w=0";
                                {yun:}/if{/yun}
                            }
                        });
                    } else {
                        if (url == '1') {
                            layer.msg(message, layer_time, Number(layer_st), function () {
                                window.location.reload();
                                window.event.returnValue = false;
                                return false;
                            });
                        } else if (url == '') {

                            layer.msg(message, layer_time, Number(layer_st));
                        } else {
                            layer.msg(message, layer_time, Number(layer_st), function () {
                                window.location.href = url;
                                window.event.returnValue = false;
                                return false;
                            });
                        }
                    }
                }
            }
        </script>

        <input type="hidden" id="comname" value="{yun:}$company.name{/yun}">
        <div class="com_tit"><span class="com_tit_span">新增职位</span></div>
        <div class=right_box>
            <div class=admincont_box>
                <div class="com_body">
                    <div class="com_new_tip">
                        <span class="com_new_tip_h">温馨小提示</span>
                        {yun:}if $statis.vip_etime > $todayStart || $statis.vip_etime=="0"{/yun}
                            {yun:}if $statis.rating_type==2{/yun}
                                您当前是 <span class="com_new_tip_v">{yun:}$statis.rating_name{/yun}</span>，到期时间是{yun:}if $statis.vip_etime!="0"{/yun}{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}{yun:}else{/yun}永久{yun:}/if{/yun}，在此之前您可以任意发布职位&nbsp;&nbsp;&nbsp;
                            {yun:}else{/yun}
                                您当前是 <span class="com_new_tip_v">{yun:}$statis.rating_name{/yun} </span>{yun:}if $jobnum{/yun}，现已上架 {yun:}$jobnum{/yun} 个职位{yun:}/if{/yun}， 您共可上架：{yun:}$statis.job_num{/yun}个职位。超出后发布的职位需要手动上架&nbsp;&nbsp;&nbsp;
                            {yun:}/if{/yun}
                        {yun:}else{/yun}
                            您的会员已到期，为了更好的招聘人才，请先<a href="index.php?c=right" class="cblue"> 升级会员</a>！&nbsp;&nbsp;&nbsp;
                        {yun:}/if{/yun}
                        <span class="add_tit_bz">（注 带 <i class="ff0">*</i> 号为必填项）</span>
                    </div>
                    <iframe id="supportiframejob" name="supportiframejob" onload="returnmessagejob('supportiframejob');" style="display:none"></iframe>
                    <form name="MyForm" id="myform" target="supportiframejob" method="post" action="index.php?c=jobadd&act=save" class="layui-form">

                        <div class="com_release_box" id="comjob">
                            <ul>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> 职位名称：</div>
                                    <div class="com_release_cont">
                                        {yun:}if $smarty.get.id && $config.joblock==1{/yun}
                                        <label>
                                            <div class="info_comname_text">{yun:}$row.name{/yun}</div>
                                        </label>
                                        <input type="hidden" id="name" name="name" value="{yun:}$row.name{/yun}">
                                        {yun:}else{/yun}
                                        <div class="com_release_cont_text">
                                            <input type="text" size="45" lay-verify="required" name="name" id='name' value="{yun:}$row.name{/yun}" class="layui-input" placeholder="请填写职位名称信息，可填写职位属性，如：货运司机包吃住">
                                        </div>
                                        {yun:}/if{/yun}
                                        <span id="by_name" class="errordisplay">职位名不能为空</span>
                                    </div>
                                    {yun:}if $config.joblock==1{/yun}
                                    <div class="" style="color:#f00; padding-top:10px;font-size:12px;">提示：职位名称确认发布后将无法修改</div>
                                    {yun:}/if{/yun}
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> 职位类别：</div>
                                    <div class="com_release_cont com_release_cont_xlyc">
                                        <div class="com_release_cont_text" style="position:relative">
                                            <input type="hidden" name="job_post" id="job_post" value="{yun:}if $row.job_post{/yun}{yun:}$row.job_post{/yun}{yun:}else if $row.job1_son{/yun}{yun:}$row.job1_son{/yun}{yun:}else if $row.job1{/yun}{yun:}$row.job1{/yun}{yun:}/if{/yun}"/>
                                            <select id="jobclass_search" name="jobclass_search" xm-select-type="jobclass" xm-select="jobclass_search" xm-select-search="" xm-select-radio="" xm-select-skin="default" xm-select-direction="down">
                                                <option value="">输入职位类别</option>
                                            </select>
                                            {yun:}if $jionly!='1'{/yun}
                                            <div onclick="index_job_new(1,'#workadds_job','#job_post','left:100px;top:100px; position:absolute;','1');" class="news_expect_text_new_sxzw" title="选择职位类别">类别筛选</div>
                                            {yun:}/if{/yun}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> 薪资待遇：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="5" id="minsalary" name="minsalary" {yun:}if $row.minsalary{/yun}value="{yun:}$row.minsalary{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="layui-input" placeholder="最低薪资"{yun:}if !$row.minsalary&&!$row.maxsalary&&$row.id&&$config.com_job_myswitch=="1"{/yun} disabled="disabled"{yun:}/if{/yun}>
                                            <span class="com_release_cont_dw">元/月</span>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="5" id="maxsalary" name="maxsalary" {yun:}if $row.maxsalary{/yun}value="{yun:}$row.maxsalary{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="layui-input" placeholder="最高薪资"{yun:}if !$row.minsalary&&!$row.maxsalary&&$row.id&&$config.com_job_myswitch=="1"{/yun} disabled="disabled"{yun:}/if{/yun}>
                                            <span class="com_release_cont_dw">元/月</span>
                                        </div>
                                        {yun:}if $config.com_job_myswitch=="1"{/yun}
                                        <input type="checkbox" id="salary_type" name="salary_type" title="面议" value="1" {yun:}if !$row.minsalary&&!$row.maxsalary&&$row.id{/yun} checked="checked"{yun:}/if{/yun} lay-filter="salary_type" lay-skin="primary" />
                                        {yun:}/if{/yun}
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> 招聘人数：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input name="zp_num" id="zp_num" type="text" {yun:}if $row.zp_num{/yun}value="{yun:}$row.zp_num{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="layui-input" />
                                            <span class="com_release_cont_dw">人</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"> 招聘要求：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="edu" lay-filter="edu">
                                                {yun:}foreach from=$comdata.job_edu key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.edu== $v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0{/yun}学历{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="exp" lay-filter="exp">
                                                {yun:}foreach from=$comdata.job_exp key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.exp==$v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0 && stripos($comclass_name[$v],'经验') === false{/yun}经验{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        &nbsp;&nbsp;
                                        <input name="is_graduate" type="checkbox" value="1" title="可接受应届生" {yun:}if $row.is_graduate{/yun}checked{yun:}/if{/yun} lay-skin="primary" />
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> 职位描述：</div>
                                    <div class="com_release_cont">
                                        <div class="Description" style="display:none;">
                                            <div class="Description_icon">
                                                <i class="Description_icon_i"></i>
                                                <div class="Description_box" style="display:none;">
                                                    <i class="Description_icon_i_j"></i>
                                                    点击职位链接，为你推荐的职位要求模板复制到编辑区域内！<br>您也可以编辑，直至完美！
                                                </div>
                                            </div>
                                            <div class="Description_box_mb">样本：<span id="JobRequInfoTemplate"></span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <script id="description" name="description" type="text/plain" style="width:500px; height:100px;"> {yun:}$row.description{/yun}</script>
                                        <span id="by_description" class="errordisplay">不能为空</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name"><i class="ff0">*</i> 工作地址：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline" style="width:675px;">
                                            <select name="link_id" lay-filter="link_id" id="link_id">
                                                <option value="-1" {yun:}if $row.is_link== 1{/yun}selected{yun:}/if{/yun}>{yun:}$defLink.link_man{/yun} - {yun:}$defLink.link_moblie{/yun} - {yun:}$defLink.city{/yun} - {yun:}$defLink.address{/yun} （默认企业地址）</option>
                                                {yun:}foreach from=$addressList item=v key=key{/yun}
                                                <option value="{yun:}$v.id{/yun}" {yun:}if $row.is_link!=1 && $row.link_id==$v.id{/yun}selected{yun:}/if{/yun}>{yun:}$v.linkmsg{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <a href="javascript:;" class="com_topbth_input newAddressBtn" style="width: 80px;" data-link="2" data-provinceid="{yun:}$defLink.provinceid{/yun}" data-cityid="{yun:}$defLink.cityid{/yun}" data-three_cityid="{yun:}$defLink.three_cityid{/yun}" data-address="{yun:}$defLink.address{/yun}" data-x="{yun:}$defLink.x{/yun}" data-y="{yun:}$defLink.y{/yun}">新建地址</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="com_release_name">其他要求：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="sex" lay-filter="sex">
                                                {yun:}foreach from=$com_sex key=j item=v{/yun}
                                                <option value="{yun:}$j{/yun}" {yun:}if $row.sex== $j{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 3{/yun}性别{yun:}/if{/yun}{yun:}$v{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="marriage" lay-filter="marriage">
                                                {yun:}foreach from=$comdata.job_marriage key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.marriage== $v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0{/yun}婚况{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <select name="report" lay-filter="report">
                                                {yun:}foreach from=$comdata.job_report key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.report== $v{/yun} selected{yun:}/if{/yun}>{yun:}if $j == 0{/yun}到岗时间{yun:}/if{/yun}{yun:}$comclass_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="2" id="zp_minage" name="zp_minage" placeholder="最小年龄" {yun:}if $row.zp_minage{/yun}value="{yun:}$row.zp_minage{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                            <span class="com_release_cont_dw">岁</span>
                                        </div>
                                        <div class="layui-input-inline com_release_selectw145">
                                            <input type="text" size="2" id="zp_maxage" name="zp_maxage" placeholder="最大年龄" {yun:}if $row.zp_maxage{/yun}value="{yun:}$row.zp_maxage{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                            <span class="com_release_cont_dw">岁</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="com_release_name">从事行业：</div>
                                    <div class="com_release_cont">
                                        <div class="layui-input-inline" style="width:500px;">
                                            <select name="hy" lay-filter="hy">
                                                <option value="">请选择</option>
                                                {yun:}foreach from=$industry_index key=j item=v{/yun}
                                                <option value="{yun:}$v{/yun}" {yun:}if $row.hy== $v{/yun} selected{yun:}/if{/yun}>{yun:}$industry_name[$v]{/yun}</option>
                                                {yun:}/foreach{/yun}
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="jobadd_list_fl">
                                    <div class="com_release_name">福利待遇：</div>
                                    <div class="layui-form-item" style=" margin-bottom: 0px;;">
                                        <div class="layui-input-block">
											<span class="" id="addwelfarelist">
												{yun:}foreach from=$row.arraywelfare key=key item=tv{/yun}
													<input name="welfare[]" id="welfare{yun:}$tv{/yun}" value="{yun:}$tv{/yun}" {yun:}if $row.arraywelfare && in_array($tv,$row.arraywelfare){/yun} checked="checked" {yun:}/if{/yun} type="checkbox" title="{yun:}$tv{/yun}" data-tag="{yun:}$tv{/yun}" class="changewelfare" lay-skin="primary">
												{yun:}/foreach{/yun}
											</span>
                                            {yun:}foreach item=v from=$comdata.job_welfare{/yun}
                                            {yun:}if !in_array({yun:}$comclass_name[$v]{/yun},$row.arraywelfare){/yun}
                                            <input name="welfare[]" id="welfare{yun:}$comclass_name[$v]{/yun}" value="{yun:}$comclass_name[$v]{/yun}" {yun:}if $row.arraywelfare && in_array($comclass_name[$v],$row.arraywelfare){/yun} checked="checked" {yun:}/if{/yun} type="checkbox" title="{yun:}$comclass_name[$v]{/yun}" data-tag="{yun:}$comclass_name[$v]{/yun}" class="changewelfare" lay-skin="primary" />
                                            {yun:}/if{/yun}
                                            {yun:}/foreach{/yun}
                                            <div class="">
                                                <div class="addwelfare_b">
                                                    <input class="addwelfare_text" type="text" tabindex="1000" placeholder="自定义" id="addwelfare"><a class="addwelfarebox">添加福利</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {yun:}if $comdata.job_lang!='' && count($comdata.job_lang)>0{/yun}
                                <li>
                                    <div class="com_release_name">语言要求：</div>
                                    <div class="layui-form-item" style=" margin-bottom: 0px;;">
                                        <div class="layui-input-block">
                                            {yun:}foreach key=j item=v from=$comdata.job_lang{/yun}
                                            <input name="lang[]" id="lang{yun:}$v{/yun}" title="{yun:}$comclass_name[$v]{/yun}" value="{yun:}$v{/yun}" {yun:}if in_array($v,$row.lang){/yun} checked="checked" {yun:}/if{/yun} type="checkbox" lay-skin="primary" />
                                            {yun:}/foreach{/yun}
                                        </div>
                                    </div>
                                </li>
                                {yun:}/if{/yun}
                                <li>
                                    <div class="com_release_name">招聘设置：</div>
                                    <div class="jobadd_set">
                                        <div class="jobadd_set_tit">
                                            <a href="javascript:void(0)" data-id="spshow_xx1" class="jobadd_set_a spshow_yq_div_a_curr"><i></i>联系方式设置</a>
                                            <a href="javascript:void(0)" data-id="spshow_xx2" class="jobadd_set_a"><i></i>投递要求设置</a>
                                        </div>
                                    </div>
                                    <div class="jobadd_setbox" id="spshow_xx1">
                                        <div class="jobadd_setlist jobadd_setlist_line ">
                                            <div class="jobadd_setname">同步联系方式</div>
                                            <div class="jobadd_set_p">同步联系方式，工作地址到其他职位</div>
                                            <span class="jobadd_set_kg" onclick="setLink('tblink');" id="istblink"><i class="jobadd_set_kgicon"></i></span>
                                            <input type="hidden" name="is_tblink" id="is_tblink" value="0"/>
                                        </div>
                                        <div class="jobadd_setlist jobadd_setlist_line jobadd_setlist_linepv">
                                            <i class="jobadd_setlist_line_l"></i>
                                            <div class="jobadd_setname">投递短信通知</div>
                                            <div class="jobadd_set_p">求职者投递简历将会收到短信通知</div>
                                            <span class="jobadd_set_kg {yun:}if $row.is_message==1 || $row.is_message == ''{/yun}com_job_tel_setlist_zt_cur{yun:}/if{/yun}" onclick="setLink('message');" id="ismessage"><i class="jobadd_set_kgicon "></i></span>
                                            <input type="hidden" name="is_message" id="is_message" value="{yun:}if $row.is_message{/yun}{yun:}$row.is_message{/yun}{yun:}else{/yun}1{yun:}/if{/yun}"/>
                                        </div>
                                        <div class="jobadd_setlist">
                                            <div class="jobadd_setname">隐藏联系方式</div>
                                            <div class="jobadd_set_p">是否对求职者隐藏联系方式</div>
                                            <span class="jobadd_set_kg {yun:}if $row.is_link==3{/yun}com_job_tel_setlist_zt_cur{yun:}/if{/yun}" onclick="setLink('link');" id="islink"><i class="jobadd_set_kgicon "></i></span>
                                            <input id="is_link" name="is_link" value="{yun:}if $row.is_link{/yun}{yun:}$row.is_link{/yun}{yun:}else{/yun}1{yun:}/if{/yun}" type="hidden"/>
                                        </div>
                                        <div class="jobadd_setlist jobadd_setlist_linepv">
                                            <i class="jobadd_setlist_line_l"></i>
                                            <div class="jobadd_setname">邮件通知</div>
                                            <div class="jobadd_set_p">求职者投递简历将会通过邮件通知</div>
                                            <span class="jobadd_set_kg {yun:}if $row.is_email==1 || $row.is_email == ''{/yun}com_job_tel_setlist_zt_cur{yun:}/if{/yun}" onclick="setLink('email');" id="isemail"><i class="jobadd_set_kgicon"></i></span>
                                            <input type="hidden" name="is_email" id="is_email" value="{yun:}if $row.is_email{/yun}{yun:}$row.is_email{/yun}{yun:}else{/yun}1{yun:}/if{/yun}"/>
                                        </div>
                                    </div>
                                    <div class="jobadd_setbox none " id="spshow_xx2">
                                        {yun:}if $config.sqjob_req==0{/yun}
                                            <div class="jobadd_settip">不符合以下面试条件的求职者投递简历，系统将自动标记为不合适。</div>
                                        {yun:}else{/yun}
                                            <div class="jobadd_settip">不符合面试条件的求职者，将无法投递简历。</div>
                                        {yun:}/if{/yun}
                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">工作经验</div>
                                            <div class="layui-input-inline jobadd_settd_listw160">
                                                <select name="exp_req" lay-filter="exp_req">
                                                    <option value="0" {yun:}if $row.exp_req == 0{/yun}selected{yun:}/if{/yun}>不限</option>
                                                    {yun:}foreach from=$userdata.user_word item=v key=j{/yun}
                                                    {yun:}if $userclass_name[$v]!='不限'{/yun}
                                                    <option value="{yun:}$v{/yun}" {yun:}if $row.exp_req == $v{/yun} selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
                                                    {yun:}/if{/yun}
                                                    {yun:}/foreach{/yun}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">性别要求</div>
                                            <div class="layui-input-block">
                                                <input type="radio" name="sex_req" value="3" {yun:}if $row.sex_req==3{/yun}checked="checked"{yun:}/if{/yun} title="不限"/>                                              
                                                <input type="radio" name="sex_req" value="2" {yun:}if $row.sex_req==2{/yun}checked="checked"{yun:}/if{/yun} title="女"/>
                                            </div>
                                        </div>
                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">学历要求</div>
                                            <div class="layui-input-inline jobadd_settd_listw160">
                                                <select name="edu_req" lay-filter="edu_req">
                                                    <option value="0" {yun:}if $row.edu_req == 0{/yun}selected{yun:}/if{/yun}>不限</option>
                                                    {yun:}foreach from=$userdata.user_edu item=v key=j{/yun}
                                                    {yun:}if $userclass_name[$v]!='不限'{/yun}
                                                    <option value="{yun:}$v{/yun}" {yun:}if $row.edu_req== $v{/yun} selected{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
                                                    {yun:}/if{/yun}
                                                    {yun:}/foreach{/yun}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="jobadd_settd_list">
                                            <div class="jobadd_settd_list_name">年龄要求</div>
                                            <div class="layui-input-block">
                                                <div class="layui-input-inline com_release_selectw145">
                                                    <input type="text" size="2" id="minage_req" name="minage_req" placeholder="最小年龄" {yun:}if $row.minage_req{/yun}value="{yun:}$row.minage_req{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                                    <span class="com_release_cont_dw">岁</span>
                                                </div>
                                                <div class="layui-input-inline com_release_selectw145">
                                                    <input type="text" size="2" id="maxage_req" name="maxage_req" placeholder="最大年龄" {yun:}if $row.maxage_req{/yun}value="{yun:}$row.maxage_req{/yun}"{yun:}/if{/yun} onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" maxlength="2" class="layui-input" />
                                                    <span class="com_release_cont_dw">岁</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <div class=admin_submit>
                            <div class="admin_job_js_list_ft  fl"><span style="width:100%;">&nbsp;</span></div>
                            <div class=sub_btn>
                                <input type="hidden" id="r_status" name="r_status" value="{yun:}$company.r_status{/yun}">
                                <input class="btn_01" id="submitBtn" type="button" name="submitBtn" value=" 提 交 ">
                                {yun:}if $smarty.get.id{/yun}
                                <input id="id" name="id" value="{yun:}$row.id{/yun}" type="hidden"/>
                                {yun:}/if{/yun}
                                <input id="save" name="save" value="{yun:}$row.name{/yun}" type="hidden"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<input type='hidden' id='jobid' value=''>
<div class="job_tck_box" id="addjob" style="display:none;">
    <div style="width:710px; background:#fff;">
        <div class="yun_prompt_writingicon"><i class="yun_prompt_writingicon_right"></i></div>
        <div class="yun_prompt_writing">职位发布成功！</div>
        {yun:}if ($config.com_free_status==1&&$company.yyzz_status==1 &&$company.r_status==1)||$config.com_job_status==1 && $company.r_status==1{/yun}
            <div class="yun_prompt_writing_tip">职位信息已审核，您可进行以下操作</div>
        {yun:}else{/yun}
            <div class="yun_prompt_writing_tip">管理员审核通过后才可展示职位信息，您可进行以下操作</div>
        {yun:}/if{/yun}
        <div class="yun_prompt_writing_operation">
            <a href="javascript:void(0)" onclick="addjob_continue('{yun:}$uid{/yun}');return false;" class="yun_prompt_jobtgbth">再发一条</a>
            <a id="jobshow" href="javascript:;" s class="yun_prompt_jobtgbth">查看信息</a>
            <a href="index.php?c=job&w=5" class="yun_prompt_jobtgbth">管理我的信息</a>
            {yun:}if ($config.com_free_status==1&&$company.yyzz_status==1 && $company.r_status==1)||$config.com_job_status==1{/yun}
            <a href="javascript:;" class="yun_prompt_jobtgbth yun_prompt_jobtgbth_sm">
                扫码分享职位
                <div class="yun_prompt_jobtgbth_smbox none">
                    <div class="yun_prompt_jobtgbth_smboxpic">
                        <img id="sharecode" src="" width="60" height="60">
                    </div>
                    使用微信、手机QQ扫描二维码，
                    <div>让微信和QQ好友推荐招人更靠谱</div>
                </div>
            </a>
            {yun:}/if{/yun}
        </div>
        {yun:}if $config.com_free_status==1&&$company.yyzz_status==1&&$company.r_status==1 || $company.r_status==1&&$config.com_job_status==1{/yun}
        <div class="yun_prompt_jobtg_box">
            <div class="yun_prompt_jobtg">开启职位推广提升招聘效果</div>
            <ul class="yun_prompt_jobtglist">
                <li>
                    <span class="">职位推荐</span>
                    <em class="">展示在列表右侧黄金位置，带来精确的投递、高质的效果</em>
                    <a id="jobrec" href="javascript:void(0);" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.rec_time|date_format:'%Y-%m-%d'{/yun}', 2)">开启</a>
                </li>
                <li>
                    <span class="">职位紧急</span>
                    <em class="">紧急招聘，强烈提升职位曝光度</em>
                    <a id="joburgent" href="javascript:void(0)" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.urgent_time|date_format:'%Y-%m-%d'{/yun}', 3)">开启</a>
                </li>
                <li>
                    <span class="">职位置顶</span>
                    <em class="">将职位信息固定排在页面第一页，不会被其他信息挤下去</em>
                    <a id="jobtop" href="javascript:void(0)" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.xsdate|date_format:'%Y-%m-%d'{/yun}', 1);">开启</a>
                </li>
                <li>
                    <span class="">职位悬赏</span>
                    <em class="">悬赏职位，优质人才主动寻获，招聘更精准</em>
                    <a id="rewardpay" href="javascript:void(0);" onclick="rewardlistpay('{yun:}$row.id{/yun}');">开启</a>
                </li>
                <li>
                    <span class="">自动刷新</span>
                    <em class="">自动刷新， 职位管理轻松更高效</em>
                    <a id="jobauto" href="javascript:void(0)" onclick="jobPromote('{yun:}$row.id{/yun}','{yun:}$row.autodate|date_format:'%Y-%m-%d'{/yun}', 5);">开启</a>
                </li>
            </ul>
            <div class="yun_prompt_jobgzh">
                <div class="yun_prompt_jobgzh_img">
                    <img src='{yun:}$config.sy_ossurl{/yun}/{yun:}$config.sy_wx_qcode{/yun}' width='130' height='130'>
                </div>
                关注公众号<br>随时接受简历投递
            </div>
        </div>
        {yun:}/if{/yun}
    </div>
</div>

<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/formSelects-v4.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css"/>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/formSelects-v4.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
    var urgentjob = '{yun:}$config.com_urgent{/yun}';
    var online = '{yun:}$config.com_integral_online{/yun}';
    var pro = '{yun:}$config.integral_proportion{/yun}';

    layui.use(['form', 'layer', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            formSelects = layui.formSelects,
            $ = layui.$;

        form.on('select(link_id)', function (data) {

            if (data.value > 0) {

                $('#is_link').val(2);
                $("#islink").removeClass('com_job_tel_setlist_zt_cur');
            }

            form.render('select');
        });

        form.on('select(moneytype)', function (data) {
            if (data.value == 1) {
                $("#money_1").show();
                $("#money_2").hide();
            } else {
                $("#money_2").show();
                $("#money_1").hide();
            }
        });

        form.on('switch(type_switch)', function (data) {
            var v = this.checked ? 1 : 2;
            $("#tblink").val(v);
        });

        form.on('checkbox(salary_type)', function (data) {
            if (data.elem.checked) {
                $("#minsalary").attr("disabled", "disabled");
                $("#maxsalary").attr("disabled", "disabled");
                $("#minsalary").val(0);
                $("#maxsalary").val(0);
            } else if (!data.elem.checked) {
                $("#minsalary").removeAttr("disabled", "disabled");
                $("#maxsalary").removeAttr("disabled", "disabled");
                $("#minsalary").val('{yun:}$row.minsalary{/yun}');
                $("#maxsalary").val('{yun:}$row.maxsalary{/yun}');
            }
        });
        formSelects.btns('jobclass_search', []);

        formSelects.on('jobclass_search', function (id, vals, val, isAdd, isDisabled) {
            var jobvalue = [];
            vals.forEach(function (item, index) {
                jobvalue.push(item.value);
            })
            $('#job_post').val(jobvalue.join(','));
            confirm_selected_jobclass_itemss(jobvalue.join(","));
        }, true);

        jobSearchReset();
    });

    function jobSearchReset() {

        var formSelects = layui.formSelects,
            jobclassArr = $("#job_post").val() != '' ? $("#job_post").val().split(",") : [],
            jarr = [];

        for (var i = 0; i < jobclassArr.length; i++) {
            jarr.push({"name": jn[jobclassArr[i]], "value": jobclassArr[i], "selected": 'selected'});
        }
        formSelects.data('jobclass_search', 'local', {
            arr: jarr
        });
    }

    //ajax提交表单
    $(function () {

        $('#submitBtn').click(function () {
            var joblock = '{yun:}$config.joblock{/yun}';
            var jobid = $("#id").val();

            if ($.trim($("#name").val()) == '') {
                layer.msg('职位名称不能为空！', 2, 8);
                return false;
            }
            if ($("#job_post").val() == '') {
                layer.msg('职位类别不能为空！', 2, 8);
                return false;
            }

            var minsalary = $.trim($("#minsalary").val());
            var maxsalary = $.trim($("#maxsalary").val());
            if ($("#salary_type").attr("checked") != 'checked') {
                if (minsalary == '' || minsalary == '0') {
                    layer.msg('请填写薪资待遇！', 2, 8);
                    return false;
                }
                if (maxsalary) {
                    if (parseInt(maxsalary) <= parseInt(minsalary)) {
                        layer.msg('最高工资必须大于最低工资！', 2, 8);
                        return false;
                    }
                }
            }
            var zp_num = $.trim($("#zp_num").val());
            if (zp_num == 0 || zp_num == '') {
                layer.msg('请填写招聘人数', 2, 8);
                return false;
            }
            var zp_minage = $.trim($("#zp_minage").val());
            var zp_maxage = $.trim($("#zp_maxage").val());
            if (zp_minage != '' ) {
                if (zp_minage < 16) {
                    layer.msg('法律规定：禁止招收未满16周岁未成年人！', 2, 8);
                    return false;
                } 
                
            }
            if (zp_maxage != '') {
                if (zp_maxage<16 || zp_maxage > 99) {
                    layer.msg('请设置合理的年龄区间！', 2, 8);
                    return false;
                }
            }
            var minage_req = $.trim($("#minage_req").val());
            var maxage_req = $.trim($("#maxage_req").val());
            if (minage_req != '') {
                if (minage_req < 16) {
                    layer.msg('法律规定：禁止招收未满16周岁未成年人！', 2, 8);
                    return false;
                } 
                
            }
            if ( maxage_req != '') {
                if (maxage_req<16 || maxage_req > 99) {
                    layer.msg('请设置合理的年龄区间！', 2, 8);
                    return false;
                }
            }
            var description = editor.getContent();
            if ($.trim(description) == '') {
                layer.msg('职位描述不能为空！', 2, 8);
                return false;
            }

            var link_id = $("#link_id").val();
            if (link_id == '') {
                layer.msg('工作地址不能为空！', 2, 8);
                return false;
            }

            if (joblock != 1 || jobid > 0) {

                $('#myform').submit();
            } else {

                var i = layer.confirm('发布后,职位名称将不可修改是否继续？',
                    {btn: ['继续发布', '取消']},
                    function () {
                        setTimeout(function () {
                            $('#myform').submit()
                        }, 0);
                        layer.close(i);
                    },
                    function () {
                        layer.closeAll();
                        return false;
                    }
                );
            }

        })
        //添加福利
        $('.addwelfarebox').click(function () {
            var welfare = $.trim($('#addwelfare').val());
            var error = 0;

            if (welfare.length >= 2 && welfare.length <= 8) {
                //判断信息是否已经存在
                $('.changewelfare').each(function () {
                    var otag = $(this).attr('data-tag');
                    if (welfare == otag) {
                        layer.msg('相同福利已存在，请选择或重新填写！', 2, 8);
                        error = 1;
                    }
                });
                if (error == 0) {
                    $('#addwelfarelist').append('<input name="welfare[]" value="' + welfare + '" checked="checked"  type="checkbox" title="' + welfare + '" data-tag="' + welfare + '" class="changewelfare" lay-skin="primary">');
                    layui.use(['layer', 'form'], function () {
                        var layer = layui.layer
                            , form = layui.form
                            , $ = layui.$;
                        form.render('checkbox');
                    });
                }
                $('#addwelfare').val('');
            } else {
                layer.msg('请输入2-8个福利字符！', 2, 8);
            }
        });

        $('.yun_prompt_jobtgbth_sm').hover(function () {
            $('.yun_prompt_jobtgbth_smbox').toggle();
        });
        //投递要求tab
        $('.jobadd_set_a').each(function () {
            $(this).click(function () {

                $('.jobadd_set_a').removeClass("spshow_yq_div_a_curr") //点击时先移除所以选中样式
                $(this).addClass("spshow_yq_div_a_curr") //当前点击的添加选中样式

                var id = $(this).attr("data-id"); //获取data-id的值
                $('.jobadd_setbox').addClass("none") //点击时每个内容都隐藏
                $('#' + id).removeClass("none") //职业data-id和内容id相同的显示
            })
        })
    });

    function addjob_continue(uid) {
        var gourl = 'index.php?c=jobadd';
        var url = weburl + '/index.php?m=ajax&c=ajax_day_action_check';

        loadlayer();

        $.post(url, {'type': 'jobnum'}, function (data) {

            layer.closeAll('loading');
            data = eval('(' + data + ')');
            if (data.status == -1) {

                layer.msg(data.msg, 2, 8);
            } else if (data.status == 1) {

                var addurl = 'index.php?c=jobadd&act=getJobNum';
                loadlayer();
                $.post(addurl, {uid: uid}, function (data1) {

                    layer.closeAll('loading');
                    if (data1 == 1) {

                        window.location.href = gourl;
                        window.event.returnValue = false;
                        return false;
                    } else if (data1 == 2) {
                        layer.confirm('当前会员套餐可上架职位数已达上限，新发布职位将无法直接上架哦~', function () {
                            window.location.href = gourl;
                            window.event.returnValue = false;
                            return false;
                        });
                    } else if (data1 == 0) {
                        var msg = '会员已到期，您可以<a href="index.php?c=right" style="color:red">购买会员</a>，是否继续？';

                        layer.confirm(msg, function () {
                            window.location.href = "index.php?c=right";
                        });
                    }
                });
            }
        });
    }

    var editor = UE.getEditor('description', {
        toolbars: [['Source', '|', 'Undo', 'Redo', 'Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize', 'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|', 'simpleupload', '|', 'indent', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
        wordCount: false,
        elementPathEnabled: false,
        initialFrameHeight: 200
    });
</script>
{yun:}include file="$comstyle/newAddress.htm"{/yun}

{yun:}include file="$comstyle/jobserver.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}