{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
        <div class="yun_com_tit"><span class="yun_com_tit_s">职位管理</span>
            <div class="com_topbth_box">
                <a href="javascript:void(0)" onclick="jobadd_url('{yun:}$addjobnum{/yun}');return false;" class="com_topbth">发布职位</a>

                {yun:}if $audit > 0{/yun}
                <div class="com_topbth_zh">
                    <div class="com_topbth_zh_pd">温馨小提示
                        <div>你有 <font color="#FF0000">{yun:}$audit{/yun}</font>
                            个待审核职位，我们将在24小时内审核，如需马上审核，请联系客服：
                            {yun:}$config.sy_comwebtel{/yun}</div>
                    </div>
                </div>
                {yun:}elseif $i_know_job == 0{/yun}
                {yun:}if $statis.rating_type==1{/yun}
                <div class="com_topbth_zh" id="i_know">
                    <div class="com_topbth_zh_pd">你的账号，可上架 {yun:}if $statis.vip_etime>$todayStart || $statis.vip_etime=="0"{/yun}{yun:}$statis.job_num{/yun}{yun:}else{/yun}0{yun:}/if{/yun} 个职位
                        {yun:}if !empty($jobNum) || !empty($partNum) || !empty($ltjobNum){/yun}
                        <div class="">现已上架： <br/>
                            {yun:}if !empty($jobNum){/yun}
                            {yun:}$jobNum{/yun} 个全职职位<br/>
                            {yun:}/if{/yun}
                            {yun:}if !empty($partNum){/yun}
                            {yun:}$partNum{/yun} 个兼职职位<br/>
                            {yun:}/if{/yun}
                        </div>
                        {yun:}/if{/yun}
                    </div>
                    <div class="com_topbth_zh_bot"><a href="javascript:void(0);" onclick="i_know('job')">知道了</a></div>
                </div>
                {yun:}/if{/yun}
                {yun:}/if{/yun}
            </div>
            <div class="joblist_search">
                <form action="index.php" method="get">
                    <div class="joblist_search_box">
                        <input name="c" type="hidden" value="job">
                        <input name="w" type="hidden" value="1">
                        <input name="type" type="hidden" value="{yun:}$smarty.get.type{/yun}">
                        <input name="keyword" type="text" class="joblist_search_box_text" placeholder="请输入职位关键字">
                        <input name="" type="submit" class="joblist_search_bth" value=" ">
                    </div>
                </form>
            </div>
        </div>
        <div class="new_com_tit">
            <div class="job_list_tit">
                <ul class="">
                    <li {yun:}if $smarty.get.w=="1" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                    <a href="index.php?c=job&w=1">招聘中<span class="job_list_tit_n">{yun:}if $w1>0{/yun}({yun:}$w1{/yun}){yun:}/if{/yun}</span></a>
                    </li>
                    <li {yun:}if $smarty.get.w=="0" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                    <a href="index.php?c=job&w=0">待审核<span class="job_list_tit_n">{yun:}if $w0>0{/yun}({yun:}$w0{/yun}){yun:}/if{/yun}</span></a>
                    </li>
                    <li {yun:}if $smarty.get.w=="3" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                    <a href="index.php?c=job&w=3">未通过<span class="job_list_tit_n">{yun:}if $w3>0{/yun}({yun:}$w3{/yun}){yun:}/if{/yun}</span></a>
                    </li>
                    <li {yun:}if $smarty.get.w=="4" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                    <a href="index.php?c=job&w=4">已下架<span class="job_list_tit_n">{yun:}if $w4>0{/yun}({yun:}$w4{/yun}){yun:}/if{/yun}</span></a>
                    </li>
                    <li {yun:}if $smarty.get.w=="5" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                    <a href="index.php?c=job&w=5">全部职位<span class="job_list_tit_n">{yun:}if $w5>0{/yun}({yun:}$w5{/yun}){yun:}/if{/yun}</span></a>
                    </li>
                </ul>
            </div>
            <div class="job_lookmode">查看方式
                <a href="index.php?c=job&w=1" id="firststyle" class="com_resume_listbox_titlook_zs {yun:}if $type!=2{/yun}com_resume_listbox_titlook_cur{yun:}/if{/yun}"><i class="com_resume_listbox_titlook_zslb "></i></a>
                <a href="index.php?c=job&w=1&type=2" id="twostyle" class="com_resume_listbox_titlook_zs {yun:}if $type==2{/yun}com_resume_listbox_titlook_cur{yun:}/if{/yun}"><i class="com_resume_listbox_titlook_zsxx"></i></a>
            </div>
        </div>


        <div class="right_box">
            <div class="admincont_box" style="padding-top: 10px;;">

                <div class="com_body">
                    <div class="clear"></div>

                    <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                    <form name="MyForm" action="index.php?c=job&act=opera" target="supportiframe" method="post" id="myform" class="layui-form">
                        <div class="clear"></div>
                        <div id="jobtwolook" {yun:}if $type!=2{/yun}style="display:none;"{yun:}/if{/yun}>
                            <table class="job_looklist_table ">
                                {yun:}if $rows{/yun}
                                <tr>
                                    <th width="25" align="center">&nbsp;</th>
                                    <th>职位名称</th>
                                    <th>应聘简历</th>
                                    <th>被浏览</th>
                                    <th>曝光量</th>
                                    <th>刷新日期</th>
                                    <th width="180">分享</th>
                                    <th>职位推广</th>
                                    <th>操作</th>
                                </tr>
                                {yun:}/if{/yun}
                                {yun:}foreach item=job from=$rows{/yun}
                                <tr>
                                    <td width="25" align="center">
                                        <input type="checkbox" name="checkboxidid[]" value="{yun:}$job.id{/yun}" class="com_job_list_check" lay-skin="primary"/>
                                    </td>
                                    <td>
                                        <div class="job_looklist_namebox">
                                            <a href="{yun:}url m=job c=comapply id='`$job.id`'{/yun}" class="job_looklist_name" target="_blank">{yun:}$job.name{/yun}</a>
                                        </div>

                                    </td>
                                    <td align="center">
                                        {yun:}$job.jobnum{/yun} 份<br/>
                                        {yun:}if $job.jobnum>0{/yun}
                                            <a href="index.php?c=hr&jobid={yun:}$job.id{/yun}-{yun:}$job.type{/yun}" class="yun_m_job_r_l">查看</a>
                                        {yun:}/if{/yun}
                                    </td>

                                    <td align="center">{yun:}$job.jobhits{/yun}次</td>
                                    <td align="center">{yun:}$job.jobexpoure{/yun}次</td>
                                    <td align="center">{yun:}$job.lastupdate|date_format:'%Y-%m-%d'{/yun}</td>
                                    <td align="center">

                                        <a href="javascript:void(0)" onclick="shareShow('{yun:}$job.id{/yun}');" class="job_looklist_fx job_share" style="padding-left:0">分享</a>
                                        {yun:}if $config.sy_haibao_isopen==1{/yun}
                                        <a href="javascript:void(0)" onclick="getJobHb(0, '{yun:}$job.id{/yun}');" class="job_looklist_hb job_whb">海报</a>
                                        {yun:}/if{/yun}
                                    </td>
                                    <td align="center" width="300">
                                        <div class="job_looklist_tgbox" style="width:300px">
                                            {yun:}if $job.rec_time>time() && $job.rec==1{/yun}
                                                {yun:}if $config.tg_back == 1{/yun}
                                                    <a href="javascript:void(0);" onclick="closeJobPromote('{yun:}$job.id{/yun}','{yun:}$job.rec_time|date_format:'%Y-%m-%d'{/yun}' , '{yun:}$job.rec_day{/yun}', 2)" class="job_looklist_tg job_looklist_tg_kq">推荐</a>
                                                {yun:}else{/yun}
                                                    <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}$job.rec_time|date_format:'%Y-%m-%d'{/yun}', 2)" class="job_looklist_tg job_looklist_tg_kq">推荐</a>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','', 2)" class="job_looklist_tg">推荐</a>
                                            {yun:}/if{/yun}

                                            {yun:}if $job.urgent_time>time() && $job.urgent==1{/yun}
                                                {yun:}if $config.tg_back == 1{/yun}
                                                    <a href="javascript:void(0);" onclick="closeJobPromote('{yun:}$job.id{/yun}','{yun:}$job.urgent_time|date_format:'%Y-%m-%d'{/yun}', '{yun:}$job.urgent_day{/yun}', 3)" class="job_looklist_tg  job_looklist_tg_kq">紧急</a>
                                                {yun:}else{/yun}
                                                    <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}$job.urgent_time|date_format:'%Y-%m-%d'{/yun}', 3)" class="job_looklist_tg  job_looklist_tg_kq">紧急</a>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','', 3)" class="job_looklist_tg">紧急</a>
                                            {yun:}/if{/yun}

                                            {yun:}if $job.xsdate>time() && $job.xsdate{/yun}
                                                {yun:}if $config.tg_back == 1{/yun}
                                                    <a href="javascript:void(0);" onclick="closeJobPromote('{yun:}$job.id{/yun}','{yun:}$job.xsdate|date_format:'%Y-%m-%d'{/yun}', '{yun:}$job.top_day{/yun}', 1);" class="job_looklist_tg job_looklist_tg_kq">置顶</a>
                                                {yun:}else{/yun}
                                                    <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}$job.xsdate|date_format:'%Y-%m-%d'{/yun}', 1);" class="job_looklist_tg job_looklist_tg_kq">置顶</a>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','', 1);" class="job_looklist_tg">置顶</a>
                                            {yun:}/if{/yun}

											{yun:}if $config.com_job_reserve==1{/yun}
												<a href="javascript:void(0);" onclick="reserveRefreshJob('{yun:}$job.id{/yun}', '{yun:}$job.reserve_status{/yun}', '{yun:}$job.reserve_interval{/yun}', '{yun:}$job.reserve_end{/yun}' ,'{yun:}$job.s_time{/yun}', '{yun:}$job.e_time{/yun}');" class="job_looklist_tg {yun:}if $job.is_reserve == 1{/yun}job_looklist_tg_kq{yun:}/if{/yun}">预约刷新</a>
											{yun:}else{/yun}
												<a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}if $job.autotime>time(){/yun}{yun:}$job.autodate|date_format:'%Y-%m-%d'{/yun}{yun:}/if{/yun}', 5);" class="job_looklist_tg {yun:}if $job.autotime>time(){/yun}job_looklist_tg_kq{yun:}/if{/yun}">自动刷新</a>
											{yun:}/if{/yun}
                                        </div>
                                    </td>

                                    <td align="center">
                                        <a href="index.php?c=likeresume&jobid={yun:}$job.id{/yun}" class="job_looklist_bth">匹配</a>
                                        <a href="javascript:void(0)" onclick="refreshJob('{yun:}$job.id{/yun}','{yun:}$statis.breakjob_num{/yun}');" class="job_looklist_bth">刷新</a>
                                        {yun:}if $job.status=="1"{/yun}
                                            {yun:}if $statis.vip_etime>$todayStart||$statis.vip_etime=="0"{/yun}
                                                {yun:}if $statis.rating_type==1{/yun}
                                                <a href="javascript:onstatus('{yun:}$job.id{/yun}','2', '', '您可上架职位{yun:}$statis.job_num{/yun}个，确认上架？');" class="job_looklist_bth">上架</a>
                                                {yun:}else{/yun}
                                                <a href="javascript:onstatus('{yun:}$job.id{/yun}','2', '', '确认上架？');" class="job_looklist_bth">上架</a>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <a href="javascript:onstatus('{yun:}$job.id{/yun}','2');" class="job_looklist_bth">上架</a>
                                            {yun:}/if{/yun}
                                        {yun:}else{/yun}
                                            <a href="javascript:onstatus('{yun:}$job.id{/yun}','1');" class="job_looklist_bth">下架</a>
                                        {yun:}/if{/yun}
                                        <a href="{yun:}url m=job c=comapply id='`$job.id`'{/yun}" target="_blank" title="预览" class="job_looklist_bth">预览</a>
                                        <a href="index.php?c=jobadd&act=edit&id={yun:}$job.id{/yun}" class="job_looklist_bth">修改</a>
                                        <a href="javascript:void(0)" onclick="layer_del('确定要删除该职位？', 'index.php?c=job&act=opera&del={yun:}$job.id{/yun}');" class="job_looklist_bth">删除</a>
                                    </td>
                                </tr>
                                {yun:}foreachelse{/yun}
                                <tr>
                                    <td colspan="5" class="table_end">
                                        <div class="com_msg_no">
                                            <p class="com_msg_no_name">招人才，没有职位怎么行？</p>
											 <p class="">快去发布职位，优质人才任你挑</p>
                                            <a href="javascript:;" onclick="jobadd_url('{yun:}$addjobnum{/yun}');" class="com_msg_no_bth com_submit">发布职位</a>
                                        </div>
                                    </td>
                                </tr>

                                {yun:}/foreach{/yun}
                                {yun:}if !empty($rows){/yun}
                                <tr>
                                    <td align="center">
                                        <input type="checkbox" lay-filter="allcomid" lay-skin="primary"/>
                                    </td>
                                    <td colspan="8">
                                        <div class="com_Release_job_bot" style="padding-top:0px;">
                                            <span class="com_Release_job_qx"> 全选 </span>
                                            {yun:}if $config.com_job_reserve==0{/yun}
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量自动刷新" onclick="jobPromote('checkboxidid[]','', 5);">
                                            {yun:}/if{/yun}
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量刷新职位" onclick="return refreshAllJob('checkboxidid[]','{yun:}$statis.breakjob_num{/yun}');">
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量下架职位" onclick="return allonstatusid('checkboxidid[]');">
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量删除职位" onclick="return really('checkboxidid[]');">
                                        </div>
                                        <div class="diggg">{yun:}$pagenav{/yun}</div>
                                    </td>
                                </tr>
                                {yun:}/if{/yun}
                            </table>
                        </div>
                        <div class="clear"></div>
                        <div id="jobfirstlook" {yun:}if $type==2{/yun}style="display:none;"{yun:}/if{/yun}>
                            <table class="com_received_resume">
                                {yun:}if $rows{/yun}
                                <tr>
                                    <th width="25" align="center">&nbsp;</th>
                                    <th>职位名称</th>
                                    <th>招聘情况</th>
                                    <th>职位推广</th>
                                    <th>操作</th>
                                </tr>
                                {yun:}/if{/yun}
                                {yun:}foreach item=job from=$rows{/yun}
                                <tr>
                                    <td align="left">
                                        <input type="checkbox" name="checkboxid[]" value="{yun:}$job.id{/yun}" class="com_job_list_check" lay-skin="primary"/>
                                    </td>
                                    <td align="top">
                                        <div class="yun_m_jobname">
                                            <a href="{yun:}url m=job c=comapply id='`$job.id`'{/yun}" class="yun_m_jobname_a" target="_blank">{yun:}$job.name{/yun}</a>
                                        </div>

                                        {yun:}if $config.sy_haibao_isopen==1{/yun}
                                        <div class="yun_m_joblist_right_resume job_whb" style="width:120px;" onclick="selectHb('1', '1', '{yun:}$job.id{/yun}','{yun:}$job.name{/yun}')">
                                            <a style="cursor: pointer;">招聘海报展示</a>
                                        </div>
                                        {yun:}/if{/yun}
                                        <div class="yun_m_jobshare" style="margin-top: 10px;">
                                            <a class="job_share" onclick="shareShow('{yun:}$job.id{/yun}');" style="cursor: pointer;"><i></i>分享到朋友圈</a>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="yun_m_jobqk">
                                            <div class="yun_m_jobqk_box">
                                                <span class="yun_m_jobqk_box_n">收到简历</span>
                                                <a href="index.php?c=hr&jobid={yun:}$job.id{/yun}-{yun:}$job.type{/yun}" class="yun_m_jobqk_n">{yun:}$job.jobnum{/yun}</a> 份
                                            </div>
                                            <div class="yun_m_jobqk_box">
                                                <span class="yun_m_jobqk_box_n">被浏览</span>
                                                <span class="yun_m_jobqk_n">{yun:}$job.jobhits{/yun}</span> 次
                                            </div>
                                            <div class="yun_m_jobqk_box">
                                                <span class="yun_m_jobqk_box_n">曝光量 </span>
                                                <span class="yun_m_jobqk_n">{yun:}$job.jobexpoure{/yun}</span>次
                                            </div>

                                            <div class="yun_m_jobqk_box">
                                                <span class="yun_m_jobqk_box_n">刷新日期 </span>
                                                {yun:}$job.lastupdate|date_format:'%Y-%m-%d %H:%M:%S'{/yun}
                                            </div>
                                            <div class="yun_m_job_lookresume"></div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="yun_m_joblist_cont" style="width:350px; margin:0 auto">

                                            {yun:}if $job.rec_time>time() && $job.rec==1{/yun}
                                                {yun:}if $config.tg_back == 1{/yun}
                                                    <div class="yun_m_joblist_extension yun_m_joblist_extension_cur yun_m_joblist_extension_cur_hov" dtype="rec" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">推荐</font></div>
                                                        <a href="javascript:void(0);" onclick="closeJobPromote('{yun:}$job.id{/yun}','{yun:}$job.rec_time|date_format:'%Y-%m-%d'{/yun}', '{yun:}$job.rec_day{/yun}', 2)" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}else{/yun}
                                                    <div class="yun_m_joblist_extension yun_m_joblist_extension_cur yun_m_joblist_extension_cur_hov" dtype="rec" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">推荐</font></div>
                                                        <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}$job.rec_time|date_format:'%Y-%m-%d'{/yun}', 2)" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <div class="yun_m_joblist_extension yun_m_joblist_extension_cur_hov" dtype="rec" pid="{yun:}$job.id{/yun}">
                                                    <i class="yun_m_joblist_extension_icon"></i>
                                                    <i class="yun_m_joblist_tip_icon"></i>
                                                    <div class="yun_m_joblist_extension_p"><font color="">推荐</font></div>
                                                    <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','', 2)" class="yun_m_joblist_extension_bth"></a>
                                                </div>
                                            {yun:}/if{/yun}

                                            {yun:}if $job.urgent_time>time() && $job.urgent==1{/yun}
                                                {yun:}if $config.tg_back == 1{/yun}
                                                    <div class="yun_m_joblist_extension  yun_m_joblist_extension_cur" dtype="urgent" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_urgent"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">紧急</font></div>
                                                        <a href="javascript:void(0);" onclick="closeJobPromote('{yun:}$job.id{/yun}','{yun:}$job.urgent_time|date_format:'%Y-%m-%d'{/yun}' , '{yun:}$job.urgent_day{/yun}', 3)" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}else{/yun}
                                                    <div class="yun_m_joblist_extension  yun_m_joblist_extension_cur" dtype="urgent" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_urgent"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">紧急</font></div>
                                                        <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}$job.urgent_time|date_format:'%Y-%m-%d'{/yun}', 3)" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <div class="yun_m_joblist_extension" dtype="urgent" pid="{yun:}$job.id{/yun}">
                                                    <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_urgent"></i>
                                                    <i class="yun_m_joblist_tip_icon"></i>
                                                    <div class="yun_m_joblist_extension_p"><font color="">紧急</font></div>
                                                    <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','', 3)" class="yun_m_joblist_extension_bth"></a>
                                                </div>
                                            {yun:}/if{/yun}
                                            {yun:}if $job.xsdate>time() && $job.xsdate{/yun}
                                                {yun:}if $config.tg_back == 1{/yun}
                                                    <div class="yun_m_joblist_extension yun_m_joblist_extension_cur" dtype="jingjia" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_zd"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">置顶</font></div>
                                                        <a href="javascript:void(0);" onclick="closeJobPromote('{yun:}$job.id{/yun}','{yun:}$job.xsdate|date_format:'%Y-%m-%d'{/yun}' , '{yun:}$job.top_day{/yun}', 1);" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}else{/yun}
                                                    <div class="yun_m_joblist_extension yun_m_joblist_extension_cur" dtype="jingjia" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_zd"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">置顶</font></div>
                                                        <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}$job.xsdate|date_format:'%Y-%m-%d'{/yun}', 1);" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <div class="yun_m_joblist_extension" dtype="jingjia" pid="{yun:}$job.id{/yun}">
                                                    <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_zd"></i>
                                                    <i class="yun_m_joblist_tip_icon"></i>
                                                    <div class="yun_m_joblist_extension_p"><font color="">置顶</font></div>
                                                    <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','', 1);" class="yun_m_joblist_extension_bth"></a>
                                                </div>
                                            {yun:}/if{/yun}

                                            {yun:}if $config.com_job_reserve==1{/yun}
                                            <div class="yun_m_joblist_extension {yun:}if $job.is_reserve == 1{/yun}yun_m_joblist_extension_cur{yun:}/if{/yun}" dtype="reserve" pid="{yun:}$job.id{/yun}">
                                                <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_sx"></i>
                                                <i class="yun_m_joblist_tip_icon"></i>
                                                <div class="yun_m_joblist_extension_p"><font color="">预约刷新</font></div>
                                                <a href="javascript:void(0);" onclick="reserveRefreshJob('{yun:}$job.id{/yun}', '{yun:}$job.reserve_status{/yun}', '{yun:}$job.reserve_interval{/yun}', '{yun:}$job.reserve_end{/yun}' ,'{yun:}$job.s_time{/yun}', '{yun:}$job.e_time{/yun}');" class="yun_m_joblist_extension_bth"></a>
                                            </div>
                                            {yun:}else{/yun}
                                                {yun:}if $job.autotime>time(){/yun}
                                                    <div class="yun_m_joblist_extension {yun:}if $job.autotime>time(){/yun}yun_m_joblist_extension_cur{yun:}/if{/yun}" dtype="autojob" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_sx"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">自动刷新</font></div>
                                                        <a href="javascript:void(0);" onclick="autoJobPromote('{yun:}$job.id{/yun}','{yun:}$job.autodate|date_format:'%Y-%m-%d'{/yun}', '{yun:}$job.auto_day{/yun}');" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}else{/yun}
                                                    <div class="yun_m_joblist_extension {yun:}if $job.autotime>time(){/yun}yun_m_joblist_extension_cur{yun:}/if{/yun}" dtype="autojob" pid="{yun:}$job.id{/yun}">
                                                        <i class="yun_m_joblist_extension_icon yun_m_joblist_extension_icon_sx"></i>
                                                        <i class="yun_m_joblist_tip_icon"></i>
                                                        <div class="yun_m_joblist_extension_p"><font color="">自动刷新</font></div>
                                                        <a href="javascript:void(0);" onclick="jobPromote('{yun:}$job.id{/yun}','{yun:}if $job.autotime>time(){/yun}{yun:}$job.autodate|date_format:'%Y-%m-%d'{/yun}{yun:}/if{/yun}', 5);" class="yun_m_joblist_extension_bth"></a>
                                                    </div>
                                                {yun:}/if{/yun}
                                            {yun:}/if{/yun}
                                            <div class="yun_m_joblist_tip" id="tip{yun:}$job.id{/yun}">
                                                展示在列表右侧黄金位置，带来精确的投递、高质的效果
                                            </div>
                                        </div>
                                    </td>
                                    <td width="150">
                                        <div class="yun_m_joblist_right">
                                            <a href="javascript:void(0)" onclick="refreshJob('{yun:}$job.id{/yun}','{yun:}$statis.breakjob_num{/yun}');" class="yun_m_joblist_right_a">刷新</a>
                                            {yun:}if $job.status=="1"{/yun}
                                                {yun:}if $statis.vip_etime>$todayStart||$statis.vip_etime=="0"{/yun}
                                                    {yun:}if $statis.rating_type==1{/yun}
                                                    <a href="javascript:onstatus('{yun:}$job.id{/yun}','2', '', '您可上架职位{yun:}$statis.job_num{/yun}个，确认上架？');" class="yun_m_joblist_right_a">上架</a>
                                                    {yun:}else{/yun}
                                                    <a href="javascript:onstatus('{yun:}$job.id{/yun}','2', '', '确认上架？');" class="yun_m_joblist_right_a">上架</a>
                                                    {yun:}/if{/yun}
                                                {yun:}else{/yun}
                                                <a href="javascript:onstatus('{yun:}$job.id{/yun}','2');" class="yun_m_joblist_right_a">上架</a>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <a href="javascript:onstatus('{yun:}$job.id{/yun}','1');" class="yun_m_joblist_right_a">下架</a>
                                            {yun:}/if{/yun}
                                            <a href="{yun:}url m=job c=comapply id='`$job.id`'{/yun}" target="_blank" title="预览" class="yun_m_joblist_right_a">预览</a>
                                            <a href="index.php?c=jobadd&act=edit&id={yun:}$job.id{/yun}" class="yun_m_joblist_right_a">修改</a>
                                            <a href="index.php?c=likeresume&jobid={yun:}$job.id{/yun}" class="yun_m_joblist_right_a">匹配</a>
                                            <a href="javascript:void(0)" onclick="layer_del('确定要删除该职位？', 'index.php?c=job&act=opera&del={yun:}$job.id{/yun}');" class="yun_m_joblist_right_a">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                {yun:}foreachelse{/yun}
                                <tr>
                                    <td colspan="5" class="table_end">
                                        <div class="com_msg_no">
                                           <p class="com_msg_no_name">招人才，没有职位怎么行？</p>
                                            <p class="">快去发布职位，优质人才任你挑</p>
                                            <a href="javascript:;" onclick="jobadd_url('{yun:}$addjobnum{/yun}');" class="com_msg_no_bth com_submit">发布职位</a>
                                        </div>
                                    </td>
                                </tr>
                                {yun:}/foreach{/yun}

                                {yun:}if !empty($rows){/yun}
                                <tr>
                                    <td align="center">
                                        <input type="checkbox" lay-filter="allcom" lay-skin="primary"/>
                                    </td>

                                    <td colspan="4">
                                        <div class="com_Release_job_bot" style="padding-top:0px;">
                                            <span class="com_Release_job_qx"> 全选 </span>
                                            {yun:}if $config.com_job_reserve!=1{/yun}
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量自动刷新" onclick="jobPromote('checkboxid[]','', 5);">
                                            {yun:}/if{/yun}
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量刷新职位" onclick="return refreshAllJob('checkboxid[]','{yun:}$statis.breakjob_num{/yun}');">
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量下架职位" onclick="return allonstatus('checkboxid[]');">
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量删除职位" onclick="return really('checkboxid[]');">
                                        </div>
                                        <div class="diggg">{yun:}$pagenav{/yun}</div>
                                    </td>
                                </tr>
                                {yun:}/if{/yun}
                            </table>
                        </div>

                    </form>
                    <div class="clear"></div>

                </div>
            </div>
            <div class="com_tip_bottom mt20">
                <div class="wxts_box wxts_box_mt30">
                    <div class="wxts">温馨提示：</div>
					{yun:}if $statis.vip_etime>$todayStart||$statis.vip_etime=="0"{/yun}
						{yun:}if $statis.rating_type==1{/yun}
						1、贵公司共可上架（<span class="f60">{yun:}$statis.job_num{/yun}</span>）条职位信息<br>
						{yun:}else{/yun}
						1、贵公司可发布（<span class="f60">不限</span>）条职位信息<br>
						{yun:}/if{/yun}
					{yun:}else{/yun}	
						1、贵公司共可上架（<span class="f60">0</span>）条职位信息<br>
					{yun:}/if{/yun}
                    2、如贵公司要快速招聘人才，建议成为我们的会员，获取更多的展示机会，以帮助您快速找到满意的人才。<a href="index.php?c=right" class="wxts_sj" style="color:red;">立即升级</a>。<br>
                    3、请贵公司保证职位信息的真实性、合法性，并及时更新职位信息，如被举报或投诉，确认发布的信息违反相关规定后，本站将会关闭贵公司的招聘服务，敬请谅解！ <br>
                    4、参加紧急的招聘职位;我们将在首页紧急招聘 模块显示，并有紧急图标显示。<br>
                    5、参加自动刷新的招聘职位;使招聘职位信息置于列表前端，更有利于吸引客户的注意 <br>
                    6、参加置顶服务的招聘职位；我们将在首页列表模块显示 ！
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="refreshjobids" value=""/>

<div id="wxShare" style="display:none;">
    <div class="yun_wxbd_box">
        <div class="yun_wxbd_img_c">
            <div id="wx_share_qrcode" class="yun_wxbd_img" style="border:1px solid #eee; line-height:180px;">
                正在获取二维码...
            </div>
        </div>
        <div class="yun_wxbd_p"> 请使用微信扫描二维码分享职位</div>
    </div>
</div>


<script>

    layui.use(['form', 'layer', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;

        form.on('checkbox(allcom)', function (data) {
            $("input[name='checkboxid[]']").each(function () {
                this.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        form.on('checkbox(allcomid)', function (data) {
            $("input[name='checkboxidid[]']").each(function () {
                this.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });

    function allonstatusid() {
        var allid = [];
        var i = 0;
        $('input[name="checkboxidid[]"]:checked').each(function () {
            allid.push($(this).val());
            i++;
        });
        if (allid.length == 0) {
            layer.msg("请选择要下架的职位！", 2, 8);
            return false;
        } else {
            onstatus(allid, 1);
        }
    }

    function allonstatus() {
        var allid = [];
        var i = 0;
        $('input[name="checkboxid[]"]:checked').each(function () {
            allid.push($(this).val());
            i++;
        });
        if (allid.length == 0) {
            layer.msg("请选择要下架的职位！", 2, 8);
            return false;
        } else {
            onstatus(allid, 1);
        }
    }

    var weburl='{yun:}$config.sy_weburl{/yun}';
    var hbids = [];
    '{yun:}foreach from=$hbids item=v{/yun}'
    hbids.push('{yun:}$v{/yun}')
    '{yun:}/foreach{/yun}'

    function getJobHb(hb, id) {

        layer.closeAll();

        var hbNum	=	'{yun:}$hbNum{/yun}';

        var url 	= 	weburl+'/index.php?m=ajax&c=getJobHb&id=' + id + '&hb=' + hbids[hb];

        if (hb < (parseInt(hbNum)-1)){
            var  next  =   hb+1;
        }else{
            var  next  =   0;
        }

        var loading = layer.load('生成中...', 0);

        var image = new Image();
        image.src = url;
        image.onload = function() {
            layer.closeAll();
            layer.open({
                type: 1,
                title: false,
                content: '<div class="hb_tc"><img src="'+url+'" style="max-width: 100%;"><div class="hb_tc_bth"><a href="javascript:;" onclick="getJobHb('+next+', ' + id + ');" class="hb_tc_hyz">换一张</a><a href="javascript:;" onclick="downWhb(' + hb + ', ' + id + ');" class="hb_tc_xz">下载海报</a></div></div>',
                area: ['360px', 'auto'],
                offset: '55px',
                closeBtn: 0,
                shadeClose: true
            });
        }
    }

    function downWhb(hb, id) {
        var loading = layer.load('下载中...', 0);
        var url   =   weburl + '/index.php?m=ajax&c=getJobHb&id=' + id + '&hb=' +  + hbids[hb];
        var image = new Image();
        image.src = url;
        image.onload = function() {
            layer.closeAll();
            var a = document.createElement('a');          // 创建一个a节点插入的document
            var event = new MouseEvent('click')           // 模拟鼠标click点击事件
            a.download = 'whb' + id + '_' +hbids[hb];     // 设置a节点的download属性值
            a.href = url;                                 // 将图片的src赋值给a节点的href
            a.dispatchEvent(event);
        }
    }
</script>

<script>

    function shareShow(id){
		var h5 = '{yun:}$config.sy_h5_share{/yun}';
		if(h5 == '1'){
			var data = weburl + '/index.php?m=ajax&c=pubqrcode&toc=job&toa=share&toid='+ id;
		}else{
			var data = weburl + '/index.php?m=ajax&c=pubqrcode&toc=job&toa=view&toid='+ id;
		}

        $('#wx_share_qrcode').html('<img src="' + data + '" width="180" height="180" />');

        $.layer({
            type: 1,
            title: '微信分享',
            border: [10, 0.3, '#000', true],
            area: ['400px', 'auto'],
            page: {dom: "#wxShare"},
            close: function () {
                if (setval) {
                    clearInterval(setval);
                    setval = null;
                }
                if (setwout) {
                    clearTimeout(setwout);
                    setwout = null;
                }
            }
        });

    }

    $(document).ready(function () {

        $('.yun_m_joblist_extension').hover(function () {
            var type = $(this).attr('dtype');
            var pid = $(this).attr('pid');

            $('.yun_m_joblist_extension').removeClass('yun_m_joblist_extension_cur_hov');

            $(this).addClass('yun_m_joblist_extension_cur_hov');

            if (type == 'rec') {

                $('#tip' + pid).html('展示在列表右侧黄金位置，带来精确的投递、高质的效果');
            } else if (type == 'urgent') {

                $('#tip' + pid).html('紧急招聘，强烈提升职位曝光度');
            } else if (type == 'jingjia') {

                $('#tip' + pid).html('将职位信息固定排在页面第一页，不会被其他信息挤下去');
            } else if (type == 'autojob') {

                $('#tip' + pid).html('自动刷新，让职位管理轻松更高效');
            } else if (type == 'reserve') {

                $('#tip' + pid).html('预约刷新，让职位管理轻松更高效');
            }
        });
    });

    function i_know(opt) {
        $.post('index.php?c=job&act=i_know', {opt: opt}, function () {
            $("#i_know").addClass("none")
        });
    }
</script>
{yun:}include file="$tplstyle/public_search/hb.htm"{/yun}
{yun:}include file="$comstyle/jobserver.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}