{yun:}include file="$comstyle/header.htm"{/yun}

<div class="w1000">
<div class="admin_mainbody">
{yun:}include file="$comstyle/left.htm"{/yun}

<div class=right_box>
	<div id="grow_freedom" class="grow_mod_wrap my_freedom" style="padding:0px;border:none;">
		<div class="com_tit"><span class="com_tit_span"> 会员服务</span></div>
		
		
		
		
		
	
				<div class="vip_boxshow">
					<div class="vip_boxshow_c">
			<iframe id="fdingdan"  name="fdingdan" onload="returnmessage('fdingdan');" style="display:none"></iframe>
			
		
			
			<div class="report_uaer_list ">
				<div class="report_uaer_list_h1">开通超级会员</div>
				<div class="report_uaer_list_p">为企业提供多样化的套餐服务</div>
				<ul>
					{yun:}if $config.com_vip_type==2{/yun}
						<li class="report_uaer_list_cur"><a href="index.php?c=right" >套餐会员</a></li>
					{yun:}/if{/yun}
					
					{yun:}if $config.com_vip_type==1{/yun}
						<li class="report_uaer_list_cur"><a href="index.php?c=right&act=time" >时间会员</a></li>
					{yun:}/if{/yun}
					
					{yun:}if $config.com_vip_type==0{/yun}
						<li class="report_uaer_list_cur"><a href="index.php?c=right" >套餐会员</a></li>
						<li><a href="index.php?c=right&act=time" >时间会员</a></li>
					{yun:}/if{/yun}
					
					{yun:}if $statis.rating_type != 2 && !$vipIsDown && $config.com_integral_online != 4 {/yun}
					<li><a href="index.php?c=right&act=added" >增值包</a></li>
					{yun:}/if{/yun}
	<li><a href="index.php?c=pay" >充值服务</a></li>
	<li><a href="index.php?c=paylogtc" >我的服务</a></li>
	<li><a href="index.php?c=paylog&consume=ok" >订单管理</a></li>

				
	<li><a  href="index.php?c=integral">{yun:}$config.integral_pricename{/yun}管理</a></li>

				</ul>
			</div>
      <div class="vip_box_dq">您当前是：{yun:}$statis.rating_name{/yun}
					服务到期为：
					{yun:}if $statis.vip_etime > $todayStart{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - {yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}
					{yun:}else if $statis.vip_etime==0{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - 永久
					{yun:}else{/yun}
						{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - 
						<span class="comindex_money_pd_s">{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}</span> 
						开通企业套餐，尊享招聘特权
					{yun:}/if{/yun}     </div>
			<div class="vip_box">
				<div class="vip_box_db">套餐权益对比</div>
				<ul>
					{yun:}foreach from=$rows item=v{/yun}
						{yun:}if $v.service_time>0{/yun}
							<li class="vip_box_list">	<div class="vip_box_list_c">
								<div class="vip_box_left">
									<div class="vip_box_left_name">{yun:}$v.name{/yun}<i class="vip_box_left_name_line"></i></div>
									<div class="vip_box_left_money_b"> 
										{yun:}if $config.com_integral_online==3 && !$meal{/yun}
											<span class="" id="need_integral{yun:}$v.id{/yun}">
												{yun:}$v.service_price * $config.integral_proportion{/yun}
											</span> 
											{yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}
												<div class="vip_box_left_money_yj">
													原价：<i>{yun:}$v.service_price * $config.integral_proportion{/yun}</i>
												</div>
											{yun:}/if{/yun}
										{yun:}else{/yun} 
											<span class="vip_box_left_money" id="need_price{yun:}$v.id{/yun}">
												{yun:}$v.service_price{/yun}</span>元/<span>
												{yun:}if $v.service_time>0{/yun}{yun:}$v.service_time{/yun}天{yun:}else{/yun}永久{yun:}/if{/yun}
											</span> 
											{yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}
												<div class="vip_box_left_money_yj">原价：<i>{yun:}$v.service_price{/yun}</i></div>
											{yun:}/if{/yun}
										{yun:}/if{/yun}
										{yun:}if $config.com_integral_online==3 && !$meal{/yun}
											{yun:}$config.integral_pricename{/yun}
										{yun:}/if{/yun} 
									</div>
									<a href="javascript:buyVip('{yun:}$v.id{/yun}');" class="vip_box_kt">立即开通</a>
								</div>
								<div class="vip_box_table">
												<div class="vip_box_data">上架职位数<span class="vip_box_data_n">{yun:}$v.job_num{/yun}</span></div>
									<div class="vip_box_data">刷新职位数<span class="vip_box_data_n">{yun:}$v.breakjob_num{/yun}</span></div>
									<div class="vip_box_data">下载简历数<span class="vip_box_data_n">{yun:}$v.resume{/yun}</span></div>
									<div class="vip_box_data">邀请面试数<span class="vip_box_data_n">{yun:}$v.interview{/yun}</span></div>
									<div class="vip_box_data">招聘会次数<span class="vip_box_data_n">{yun:}$v.zph_num{/yun}</span></div>
									<div class="vip_box_data">置顶天数<span class="vip_box_data_n">{yun:}$v.top_num{/yun}</span></div>
									<div class="vip_box_data">紧急天数<span class="vip_box_data_n">{yun:}$v.urgent_num{/yun}</span></div>
									<div class="vip_box_data">推荐天数<span class="vip_box_data_n">{yun:}$v.rec_num{/yun}</span></div>

										
								</div>
								<div class="vip_box_sm"> 
									<span class="vip_box_sm_s">套餐说明：</span> 
									
									{yun:}if $v.explains{/yun}{yun:}$v.explains{/yun}{yun:}else{/yun}{yun:}$v.name{/yun}{yun:}/if{/yun}
									
									{yun:}if $v.integral_buy>0{/yun}赠送{yun:}$v.integral_buy{/yun}{yun:}$config.integral_pricename{/yun}{yun:}/if{/yun}
									
									
									
								</div></div>
							</li>
						{yun:}/if{/yun}    
					{yun:}foreachelse{/yun}
					<div class="msg_no">
						<p>亲爱的用户，目前没有套餐会员服务</p>
					</div>
					{yun:}/foreach{/yun}
				<ul>
			</div>
		</div>
	</div>
</div>
</div>
</div></div>
<style>
	.serve_zz_h_nmb_tcjg_box{width:100%; text-align:center; padding-bottom:10px;}
	.serve_zz_h_nmb_tcjg{ font-size:14px;color:#999; text-decoration:line-through; font-weight:normal}
</style>
<script>
	
	$(function(){
	 	$(".shuoming").hover(
	 		function(){
	 			$(this).find('.com_grade_smbox_cont').show();
	 		},
	 		function(){
	 			$(this).find('.com_grade_smbox_cont').hide();
	 		}
	 	);
	});

	$(document).ready(function() {
		$(".com_grade_smicon").hover(function() {
	        var pid=$(this).attr("pid");
			$("#rating"+pid).show();
			$("#ratingtu"+pid).show();
	    },function(){
			var pid=$(this).attr("pid");
			$("#rating"+pid).hide();
			$("#ratingtu"+pid).hide();
		});
	});
 
</script> 
{yun:}include file="$comstyle/footer.htm"{/yun}