{yun:}include file="$comstyle/header.htm"{/yun}

<script src="{yun:}$com_style{/yun}/js/part.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>

<link rel="stylesheet" href="{yun:}$style{/yun}/style/class.public.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>

<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
        <div class="com_tit"><span class="com_tit_span">兼职管理</span> {yun:}if $rows{/yun}
            <div class="com_topbth_box">
                <input class="com_topbth" style="width:108px;border:none; text-align: left;" onclick="jobadd_url('{yun:}$addjobnum{/yun}','part');" type="button" value="发布兼职" name="input" style="margin-left:0px;">

                {yun:}if $i_know_part == 0{/yun}
                {yun:}if $statis.rating_type==1{/yun}
                <div class="com_topbth_zh" id="i_know">
                    <div class="com_topbth_zh_pd">
						温馨小提示
						<div class="">
                        你的账号，可上架 {yun:}if $statis.vip_etime>$todayStart || $statis.vip_etime=="0"{/yun}{yun:}$statis.job_num{/yun}{yun:}else{/yun}0{yun:}/if{/yun} 个职位
                        {yun:}if !empty($jobNum) || !empty($partNum) || !empty($ltjobNum){/yun}</div>
                        <div class="">现已上架：<br/>
                            {yun:}if !empty($jobNum){/yun}
                            {yun:}$jobNum{/yun} 个全职职位<br/>
                            {yun:}/if{/yun}
                            {yun:}if !empty($partNum){/yun}
                            {yun:}$partNum{/yun} 个兼职职位<br/>
                            {yun:}/if{/yun}
                            
                        </div>
                        {yun:}/if{/yun}
                    </div>
                    <div class="com_topbth_zh_bot"><a href="javascript:void(0);" onclick="i_know('part')">知道了</a></div>
                </div>
                {yun:}/if{/yun}
                {yun:}/if{/yun}
            </div>
            {yun:}/if{/yun}
        </div>
        <div class="new_com_tit">
            <div class="job_list_tit">
                <ul class="">
                    <li {yun:}if $smarty.get.w=="1" {/yun}class="job_list_tit_cur" {yun:}/if{/yun}>
                        <a href="index.php?c=partok&w=1" title="招聘中的兼职">招聘中</a>
                    </li>
                    <li {yun:}if $smarty.get.w=="0" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                        <a href="index.php?c=partok&w=0" title="待审核的兼职">待审核</a>
                    </li>
                    <li {yun:}if $smarty.get.w=="3" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                        <a href="index.php?c=partok&w=3" title="未通过的兼职">未通过</a>
                    </li>
                    <li {yun:}if $smarty.get.w=="4" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                        <a href="index.php?c=partok&w=4" title="已下架的兼职">已下架</a>
                    </li>
                    <li {yun:}if $smarty.get.w=="2" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                        <a href="index.php?c=partok&w=2" title="过期的兼职">已过期</a>
                    </li>
                    <li {yun:}if $smarty.get.c=="part" {/yun} class="job_list_tit_cur" {yun:}/if{/yun}>
                        <a href="index.php?c=part" title="全部兼职">全部兼职</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=right_box>
            <div class=admincont_box>

                <div class="clear"></div>

                <div class="com_body">

                    <div class="clear"></div>

                    <div class="com_Release_job">
                        <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                        <form action="index.php" target="supportiframe" method="get" id='myform' class='layui-form'>
                            <input type="hidden" name="c" value="part"/>
                            <input type="hidden" name="act" value="del"/>

                            <table class="com_table mt20">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>职位名称</th>
                                    <th width="80">报名人数</th>
                                    <th width="80">浏览量</th>
                                    <th width="170">时间</th>
                                    <th> 推荐</th>
                                    <th width="200"> 操作</th>
                                </tr>

                                {yun:}foreach item=list from=$rows{/yun}
                                <tr>
                                    <td width="30"><input type="checkbox" name="del[]" value="{yun:}$list.id{/yun}" class="com_job_list_check" lay-skin='primary'></td>
                                    <td style="padding-left: 0px;;">
                                        <a href="{yun:}url m=part c=show id='`$list.id`'{/yun}" class="yun_m_jobname_a" target="_blank">{yun:}$list.name{/yun}</a>
                                        <span class="jzzt">{yun:}$list.end_n{/yun}</span>
                                    </td>

                                    <td align="center">
                                        <a href="index.php?c=partapply&jobid={yun:}$list.id{/yun}" class=" "> <strong class="job_list_list_left_u">{yun:}$list.applynum{/yun}</strong>人</a>
                                    </td>

                                    <td align="center">{yun:}$list.hits{/yun}</td>

                                    <td align="center">
                                        <div class="part_time_p">
                                            更新日期：{yun:}$list.lastupdate|date_format:'%Y-%m-%d'{/yun}
                                        </div>
                                    </td>

                                    <td align="center">
                                        {yun:}if $list.rec_time>time(){/yun}
                                            {yun:}if $config.tg_back == 1{/yun}
                                                <div class="part_tg yun_m_joblist_extension_cur">
                                                    <a href="javascript:void(0);" onclick="closeJobPromote('{yun:}$list.id{/yun}','{yun:}$list.rec_time|date_format:'%Y-%m-%d'{/yun}', '{yun:}$list.rec_day{/yun}', 4)" class="yun_m_joblist_extension_bth"></a>
                                                </div>
                                            {yun:}else{/yun}
                                                <div class="part_tg yun_m_joblist_extension_cur">
                                                    <a href="javascript:void(0);" onclick="jobPromote('{yun:}$list.id{/yun}','{yun:}$list.rec_time|date_format:'%Y-%m-%d'{/yun}', 4)" class="yun_m_joblist_extension_bth"></a>
                                                </div>
                                            {yun:}/if{/yun}
                                        {yun:}else{/yun}
                                            <div class="part_tg">
                                                <a href="javascript:void(0);" onclick="jobPromote('{yun:}$list.id{/yun}','', 4)" class="yun_m_joblist_extension_bth"></a>
                                            </div>
                                        {yun:}/if{/yun}
                                    </td>

                                    <td align="center">
                                        {yun:}if $list.status=="1"{/yun}
                                            {yun:}if $statis.vip_etime>$todayStart||$statis.vip_etime=="0"{/yun}
                                                {yun:}if $statis.rating_type==1{/yun}
                                                <a href="javascript:onstatus('{yun:}$list.id{/yun}','2', 'part', '您可上架职位{yun:}$statis.job_num{/yun}个，确认上架？');" class="yun_m_joblist_right_a">上架</a>
                                                {yun:}else{/yun}
                                                <a href="javascript:onstatus('{yun:}$list.id{/yun}','2', 'part', '确认上架？');" class="yun_m_joblist_right_a">上架</a>
                                                {yun:}/if{/yun}
                                            {yun:}else{/yun}
                                                <a href="javascript:onstatus('{yun:}$list.id{/yun}','2', 'part');" class="yun_m_joblist_right_a">上架</a>
                                            {yun:}/if{/yun}
                                        {yun:}else{/yun}
                                        <a href="javascript:onstatus('{yun:}$list.id{/yun}','1', 'part');" class="yun_m_joblist_right_a">下架</a>
                                        {yun:}/if{/yun}
                                        <a href="index.php?c=partadd&id={yun:}$list.id{/yun}" class=" yun_m_joblist_right_a">修改</a>
                                        <a onclick="layer_del('确定要删除？', 'index.php?c=part&act=del&id={yun:}$list.id{/yun}');" href="javascript:void(0)" class="yun_m_joblist_right_a">删除</a>
                                        <a href="javascript:void(0)" onclick="refreshPart('{yun:}$list.id{/yun}','');" class=" yun_m_joblist_right_a">刷新</a>
                                    </td>
                                </tr>
                                {yun:}foreachelse{/yun}
                                <tr>
                                    <td colspan="9" class="table_end">
                                        <div class="msg_no">
                                            <p>亲，您还没有发布兼职职位哦~</p>
                                            <a href="javascript:;" onclick="jobadd_url('{yun:}$addjobnum{/yun}','part');" class="com_msg_no_bth com_submit">发布兼职职位</a>
                                        </div>
                                    </td>
                                </tr>
                                {yun:}/foreach{/yun}
                                {yun:}if !empty($rows){/yun}
                                <tr>
                                    <td colspan="8" class="">
                                        <div class="com_Release_job_bot ">
                                            <span class="com_Release_job_qx">
                                            <input id='checkAll' type="checkbox" lay-filter='allcom' class="com_Release_job_qx_check" lay-skin='primary'> 全选</span>
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量延长有效期" onclick="allgotime();">
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量刷新职位" onclick="return refreshPart('','del[]');">
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量下架职位" onclick="return allonstatus('checkboxid[]');">
                                            <input class="c_btn_02 c_btn_02_w110" type="button" value="批量删除" onclick="return really('del[]');">
                                        </div>
                                        <div class="diggg">{yun:}$pagenav{/yun}</div>
                                    </td>
                                </tr>
                                {yun:}/if{/yun}
                            </table>
                        </form>

                        <div class="clear"></div>
                        <div class="wxts_box wxts_box_mt30">
                            <div class="wxts">温馨提示：</div>
                            1、如贵公司要快速招聘人才，建议升级会员，获取更多的展示机会，以帮助您快速找到满意的人才。 <br>
                            2、请贵公司保证职位信息的真实性、合法性，并及时更新职位信息，如被举报或投诉，确认发布的信息违反相关规定后，本站将会关闭贵公司的招聘服务，敬请谅解！
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--延期天数弹出框-->
<div id="gotime" style="display:none; width:300px; ">
    <div class="">
        <div class="job_box_msg" style="margin-left:10px;_margin-left:5px; padding:3px;border:none; background:#f8f8f8">
            <p id="gotime_edate"></p>
        </div>
        <form action='index.php?c=partok&act=opera' target="supportiframe" method="post" id='gotimef'>
            <input type="hidden" name="gotimeid" id="gotimeid" value=""/>
            <div class="job_box_inp" style="padding:10px 5px 5px 20px">
                <span style="float:left; margin-right:0px;">延期天数：</span>
                <input name="day" value="" class="com_info_text placeholder" type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" style="width:100px;"/>
                <span style="float:right; margin-right:0px;">天</span>
            </div>

            <span class="job_box_botton" style="width:100%;"> 
				<a class="job_box_yes job_box_botton2" href="javascript:void(0);" onclick="setTimeout(function(){$('#gotimef').submit()},0);">确定</a>
			</span>
        </form>
    </div>
</div>
<!--延期天数弹出框end-->

<script>

    layui.use(['form', 'layer'], function () {
        var $ = layui.$,
            form = layui.form,
            layer = layui.layer;

        form.on('checkbox(allcom)', function (data) {
            $("input[name='del[]']").each(function () {
                this.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });

    function allgotime() { //批量延期
        var allid = [];
        var i = 0;
        $('input[name="del[]"]:checked').each(function () {
            allid.push($(this).val());
            i++;
        });
        if (allid.length == 0) {
            layer.msg("请选择要延期的职位！", 2, 8);
            return false;
        } else {
            gotime(allid, i);
        }
    }

    function gotime(id, i) {
        $("#gotimeid").val(id);
        if (i) {
            $("#gotime_edate").html("本次共延期<font color='red'>" + i + "</font>个职位！");
        }
        $.layer({
            type: 1,
            title: '延期天数',
            closeBtn: [0, true],
            border: [10, 0.3, '#000', true],
            area: ['300px', '210px'],
            page: {
                dom: '#gotime'
            }
        });
    }

    function i_know(opt) {
        $.post('index.php?c=job&act=i_know', {opt: opt}, function () {
            $("#i_know").addClass("none")
        });
    }

    function allonstatus() {
        var allid = [];
        var i = 0;
        $('input[name="checkboxid[]"]:checked').each(function () {
            allid.push($(this).val());
            i++;
        });
        if (allid.length == 0) {
            layer.msg("请选择要下架的职位！", 2, 8);
            return false;
        } else {
            onstatus(allid, 1, 'part');
        }
    }

    $(document).ready(function () {
        $(".job_cz").hover(function () {
            var aid = $(this).attr("aid");
            $("#czlist" + aid).show();
            $(".job_cz_hover").attr("class", "");
            $("#czlist_" + aid).attr("class", "job_cz_hover");
        }, function () {
            var aid = $(this).attr("aid");
            $("#czlist" + aid).hide();
        })
    })
</script>
{yun:}include file="$comstyle/jobserver.htm"{/yun}
{yun:}include file="$comstyle/footer.htm"{/yun}