{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
        <div class="com_tit"><span class="com_tit_span"> 修改账户</span></div>
        <div class=right_box>
            <div class=admincont_box>

                <div class="com_body">
                    <div class=admin_note2>

                        <div class="admin_password"><span class="text_s_left">新用户名：</span>
                            <input type="text" id="username" name="username" value="" class="com_info_text"/>
                        </div>
                        <div style="width:500px; float:left; padding-left:140px; padding-top:5px;color:#999">
                            用户名要求长度{yun:}$config.sy_reg_nameminlen{/yun}-{yun:}$config.sy_reg_namemaxlen{/yun}位 {yun:}if $config.reg_name_han=='1' || $config.reg_name_sp=='1' || $config.reg_name_num=='1' || $config.reg_name_zm=='1'{/yun} ,必须包含 {yun:}if $config.reg_name_han=='1'{/yun}汉字 {yun:}/if{/yun} {yun:}if $config.reg_name_num=='1'{/yun}数字 {yun:}/if{/yun} {yun:}if $config.reg_name_zm=='1'{/yun}字母 {yun:}/if{/yun} {yun:}if $config.reg_name_sp=='1'{/yun}其它字符@!#.$-_{yun:}/if{/yun} {yun:}/if{/yun}
                        </div>

                        <div class="admin_password"><span class="text_s_left">&nbsp;密&nbsp;码：</span><input type="password" id="password" name="password" class="com_info_text"/></div>
                        <div class="admin_password"><span class="text_s_left">&nbsp;</span>
                            <input type="button" name="submit" class="btn_01" value=" 修 改 " onclick="Savenamepost();">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}