{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
           <div class="com_tit"><span class="com_tit_span">企业资料</span><div class="com_topbth_box">
		    <a  href="{yun:}url m=company c=show id='`$uid`'{/yun}" target="_blank"class="com_ylbth">预览主页</a>
		</div>
			 <div class="com_topbth_box"><input  class="com_topbth_input"type="button" value="公司相册" onclick="location.href='index.php?c=show&act=addshow'" />
                </div></div>
                 <div class=right_box>
           			<div class=vip_boxshow>
           				<div class="vip_boxshow_c">
           <div class="zllist ">
           				<div class="report_uaer_list_h1">编辑公司信息</div>
           				<div class="report_uaer_list_p">能获得更多求职者的青睐</div>
           				<ul>
           						<li><a href="index.php?c=info">基本信息</a></li>
           						<li><a href="index.php?c=info&act=side">补充信息</a></li>
           					
           						<li class="zlcur"><a href="index.php?c=show"> 公司相册</a></li>
           						<li><a href="index.php?c=uppic"> 公司LOGO</a></li>
           	<li><a href="index.php?c=product">产品介绍</a></li>
           	<li><a href="index.php?c=news">公司资讯</a></li>
           	<li><a href="index.php?c=map">公司地图</a></li>
           		<li><a href="index.php?c=comtpl">个性化模板</a></li>
           				</ul>
           			</div>
           			<div class="vip_box" style="margin-top: 0px;;">
               
        

                    <div class="show_pic fltL">
                        <div id="trlisttwo">
                            {yun:}foreach item=show from=$rows{/yun}
                            <div class="show_pic_list">
                                <div class="show_pic_list_box">
                                    <div class="show_pic_list_pic">
                                        <img src="{yun:}$show.picurl{/yun}" lay-src="{yun:}$show.picurl{/yun}" height="150" />
                                        <div class="show_pic_list_pic_name">{yun:}$show.title{/yun}</div>
                                    </div>
                                    <div class="show_pic_list_opt">
										<a href="javascript:void(0)" onclick="showpic(this)" data_url="{yun:}$show.picurl{/yun}" class="com_bth cblue">查看</a>
                                        <a href="index.php?c=show&act=showpic&id={yun:}$show.id{/yun}" class=" com_bth cblue">修改</a>
                                        <a href="javascript:void(0)" onclick="layer_del('确定要删除？', 'index.php?c=show&&act=del&id={yun:}$show.id{/yun}'); " class=" com_bth cblue">删除</a>
                                    </div>
                                </div>
                            </div>
                            {yun:}foreachelse{/yun}
                            <div class="com_msg_no">
                                <p class="com_msg_no_name">添加公司照片</p>
                                <p>公司照片建议选择近景前台或者其他办公环境，远景门口或者大楼</p>
                                <input class="com_msg_no_bth com_submit" type="button" value="添加照片" onclick="location.href='index.php?c=show&act=addshow'"
                                />

                            </div>
                            {yun:}/foreach{/yun}

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="diggg">{yun:}$pagenav{/yun}</div>
            </div>
        </div>
    </div>
</div>
<script>
	layui.use(['form', 'layer'], function() {
		var $ = layui.$,
			form = layui.form,
			layer = layui.layer;
		layer.photos({
		  photos: '#trlisttwo',
		  anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
		}); 
	});
	function showpic(obj){
		var url =	$(obj).attr('data_url');
		var picjson={
		  "data": [ {
			  "src": url, //原图地址
			  "thumb": url //缩略图地址
			}]
		}
		layer.photos({
			photos: picjson
			,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
		});
	}
</script>
{yun:}include file="$comstyle/footer.htm"{/yun}
