{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
	<div class="admin_mainbody">
		{yun:}include file="$comstyle/left.htm"{/yun}

		<div class="com_tit"><span class="com_tit_span">系统消息</span></div>
		
		<div class=right_box>
			<div class=admincont_box>

				<div class="com_body">
					<iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display: none"></iframe>
					<form action="index.php?c=sysnews&act=del" name="myform" method="post" target="supportiframe" id='myform' class="layui-form">
						<div class='admin_note2'>
							<table class="com_table">
								
								{yun:}if $rows{/yun}
								<tr>
									<th width="20"></th>
									<!--<th>编号</th>-->
									<th align="left">内容</th>
									<th>时间</th>
									<th width="160">操作</th>
								</tr>
								{yun:}/if{/yun}
								
								{yun:}foreach from=$rows item=item{/yun}
								<tr>
									<td align="center" width="20">
										<input type="checkbox" value="{yun:}$item.id{/yun}" class="com_job_list_check" name='del[]' rel="del_chk" lay-skin="primary" />
									</td>
									<!--<td align="center">{yun:}$item.id{/yun}</td>-->
									<td {yun:}if $item.remind_status == 0 {/yun}style="font-weight:bold"{yun:}/if{/yun}>
										<div class="msg_content" style="width: 580px;" onclick="readMsg('{yun:}$item.id{/yun}','{yun:}$item.remind_status{/yun}', this)"> {yun:}$item.content{/yun}{yun:}if $item.remind_status==0{/yun} <span class="not_read">未读</span> {yun:}/if{/yun}</div>
									</td>
									<td align="center">{yun:}$item.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</td>
									<td align="center">
										<a href="javascript:void(0)" onclick="showsys('{yun:}$item.content_all{/yun}','{yun:}$item.id{/yun}','{yun:}$item.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}'); " class=" com_bth cblue"> 查看</a> 
										<a href="javascript:void(0)" onclick="layer_del('确定要删除？', 'index.php?c=sysnews&act=del&id={yun:}$item.id{/yun}'); "
										class=" com_bth cblue"> 删除</a>
									</td>
								</tr>
								{yun:}foreachelse{/yun}
								<tr>
									<td colspan="5" class="table_end">
										<div class="msg_no">暂无信息！</div>
									</td>
								</tr>
								{yun:}/foreach{/yun} 
								
								{yun:}if $rows{/yun}
								<tr>
									<td colspan="5">
										<div class="com_Release_job_bot ">
											<span class="com_Release_job_qx"  > 
												<input id='checkAll' type="checkbox" lay-filter="allcom" class="com_Release_job_qx_check" lay-skin="primary"> 全选
											</span> 
											<input type="button" name="delsub" class='c_btn_02' value="删除所选" onclick="return really('del[]');" /> 
											<input type="button" class='c_btn_02' value="批量阅读" onclick="return isReaded('del[]');" />
											<input type="button" class='c_btn_02' value="全部标记已读" onclick="return readAll();" />
										</div>
										<div class="diggg">{yun:}$pagenav{/yun}</div>
									</td>
								</tr>
								{yun:}/if{/yun}
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="show" style="display: none; width: 100%;">
	<div class="sys_tm">
		<p>
			<i>时间：</i><span id="systime"></span>
		</p>
		<p>
			<i>内容：</i><span id="sysshow"></span>
		</p>
	</div>
	<div class="sys_bot" style="padding-bottom: 20px;">
		<a class="sys_bot_del" href="javascript:void(0)" id="delsys"> 删除</a> 
		<a class="sys_bot_qx" href="javascript:void(0)" onclick="window.location.reload();" class="cblue">关闭</a>
	</div>
</div>
<script type="text/javascript" language="javascript">

	layui.use(['form','layer', 'laydate'], function(){
    	var $ = layui.$,
			form = layui.form,
			laydate = layui.laydate,
			layer = layui.layer;
    	
    	form.on('checkbox(allcom)', function (data) {
       	 	$("input[name='del[]']").each(function () {
            	this.checked = data.elem.checked;
        	});
        	form.render('checkbox');
      	});
        
    });
	// 点击消息内容标记已读
	function readMsg(id, status, obj){
		if (status == 0) {
            $.post('index.php?c=sysnews&act=set',{id:id},function(data){})
            $(obj).parent('td')
            $(obj).parent('td')[0].style.fontWeight = ''
            $(obj).find('.not_read').remove();
		}
	}
</script>

{yun:}include file="$comstyle/footer.htm"{/yun}
