{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
    <div class="admin_mainbody">
        {yun:}include file="$comstyle/left.htm"{/yun}
        <div class="com_tit"><span class="com_tit_span">账号设置</span></div>

        <div class=right_box>
            <div class=vip_boxshow>
                <div class="vip_boxshow_c">
                    <div class="report_uaer_list  ">
                        <div class="report_uaer_list_h1">账号与绑定</div>
                        <div class="report_uaer_list_p">能获得更多求职者的青睐</div>
                        <ul>
                            <li><a href="index.php?c=binding">认证与绑定</a></li>
                            <li><a href="index.php?c=address">地址管理</a></li>
                            <li class="report_uaer_list_cur"><a href="index.php?c=vs">密码修改</a></li>
                            <li><a href="index.php?c=logout">账号注销</a></li>
                        </ul>
                    </div>
                    <div class="vip_box" style="margin-top: 0px;;">
                        <div class=admin_note2>
                            <iframe id="supportiframe" name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
                            <form name="MyForm" target="supportiframe" action='index.php?c=vs&act=save' method="post" onkeydown="if(event.keyCode==13){return false;}">
                                <div class="admin_password">
                                    <span class="text_s_left">原始密码：</span>
                                    <input type="password" id="oldpassword" name="oldpassword" class="com_info_text"/>
                                    <span id="msg_oldpassword" class="vs_right_span">填写您的原始密码！</span>
                                </div>

                                <div class="admin_password">
                                    <span class="text_s_left">新&nbsp;密&nbsp;码：</span>
                                    <input type="password" id="password" name="password" class="com_info_text"/>
                                    <span id="msg_password" class="vs_right_span">新密码格式为 6-20个字符{yun:}if $config.reg_pw_sp=='1' || $config.reg_pw_num=='1' || $config.reg_pw_zm=='1'{/yun},密码必须包含{yun:}if $config.reg_pw_num=='1'{/yun}数字 {yun:}/if{/yun}{yun:}if $config.reg_pw_zm=='1'{/yun}字母 {yun:}/if{/yun}{yun:}if $config.reg_pw_sp=='1'{/yun}其它字符@!#.$-_{yun:}/if{/yun}{yun:}/if{/yun}！</span>
                                </div>

                                <div class="admin_password">
                                    <span class="text_s_left">确认密码：</span>
                                    <input type="password" id="repassword" name="repassword" class="com_info_text"/>
                                    <span id="msg_repassword" class="vs_right_span">请再次确认您的新密码！</span>
                                </div>
                                <div class="admin_password">
                                    <span class="text_s_left">&nbsp;</span>
                                    <input type="hidden" value="2" name="usertype"/>
                                    <input type="submit" name="submit" class="btn_01" value="更改密码" onclick="return Showsub1();">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}