@charset "utf-8";
body fieldset{border:1px solid #D8D8D8; padding:10px;}
body fieldset legend{padding:3px 8px;font-weight:700;border:1px solid #D8D8D8;background-color: #F9F9F9;}
body fieldset.blue{border:1px solid #dce3ed}
body fieldset.blue legend{padding:3px 8px;font-weight:700;color:#347add; background:none; border:none}
.picBut {background:url("../images/admin_img/picBnt.png") no-repeat 0 -28px;color:#FFF;float:left; text-align:center;font-weight:700;height:28px;line-height:26px;*line-height:30px;margin-right:10px;width:75px}
.picBut a{color:#fff;text-decoration: none; width:75px}
.table-list{width:100%;}
.admin_table_border{width:100%; background:#fff}
.table-list td{padding:2px 3px;white-space: normal;
    word-break: break-all; }
.table-list th{padding:2px 3px;white-space: normal;
    word-break: break-all;}
.table-list thead .admin_table_top{ background:#f8f8f9;}
.table-list thead th{height:38px;font-weight:normal;font-size:14px;background: #f8f8f9;font-weight: bold;color:#515a6e; white-space: nowrap; padding: 0 5px;}
.table-list thead th a{color:#515a6e;}
.table-list thead  .admin_table_th_bg{ border-right:none}
.table-list tbody td,.table-list .btn{border-bottom:1px solid #E6E6E6; padding-top:10px; padding-bottom:10px;white-space: normal; word-break: break-all;}
/* .table-list tbody tr:last-child td{border-bottom:none;} */
.table-list tbody  .crm_td_end{border:none;}
.admin_dt_img {border:1px solid red}
.admin_dt_img img{width:100px;height:23px;}

div.btn{background:#f6f6f6; padding:6px 12px 0 12px; height:30px;line-height:30px}
.table-list tr:hover,.table-list table tbody tr:hover{ background:#f5faff}
.table-list  .fast_hover_admin:hover{ background:none}
.nHover tr:hover,.nHover tr:hover td{ background:none}
.table-list .input-text-c{ padding:0; height:18px}
.input-text-c{border:1px solid #A7A6AA;height:18px;padding:2px 0 0; text-align:center}
.td-line{border:1px solid #eee}
.td-line td,.td-line th{border:1px solid #eee}
.button{min-width:80px;background:#ddd;height:24px; border-top:0;border-left:0; border-bottom:1px solid #666; border-right:1px solid #666; padding:3px 3px; margin-right:5px}
.table-list tr.on,.table-list tr.on td,.table-list tr.on th,.table-list td.on,.table-list th.on{background:#fdf9e5;}
a.close-own{background: url(../images/cross.png) no-repeat left 3px; display:block; width:16px; height:16px;position: absolute;outline:none;right:7px; top:8px; text-indent:200px; overflow: hidden}
a.close-own:hover{background-position: left -46px}
.admin_comedity_text_h1{ font-weight:bold; font-size:14px;}
.admin_comdit_textarea{border:1px solid #ddd;width:480px;height:100px;}
/*通用表单*/
.common-form{}
.common-form div.contentWrap{padding-right:20px}
.common-form ul li{color:#444; clear:both; vertical-align:middle}
.common-form ul li span.text{width:60px}
.common-form .set{border:1px dashed #e0e7ed;zoom:1; background:#f2f7fb; padding:10px; font-size:12px; margin-bottom:10px}
.common-form .set table td,.common-form .set table th{padding-left:12px}
.common-form .set table th{font-weight:normal; text-align:left;padding:0 8px}
.common-form .set table td{ padding:3px 0 3px 5px}
.common-form .set table td.y-bg{background: url(../images/admin_img/set_y_line.png) repeat-y right top}
.common-form .set table td input{ background-image:none; height:18px; font-size:12px}
.measure-input,textarea,input.date,input.endDate,.input-focus{border:1px solid #b1b2b3;height:25px; line-height:25px;margin:0 5px 0 0;background: #FFF; font-size:12px;}
.input-text{width:173px;height:36px;line-height:36px;border:1px solid #dcdee2; padding:0px 0px 0px 5px;margin-right: 10px;color: #17233d;}
.citysort{width:50px;}
.admin_comedity_text{width:318px;height: 20px; border:1px solid #e6e6e6; padding:9px 5px;border-radius: 2px;}
.admin_comedity_text_a{background:#f60; padding:0px 15px;border-radius:3px; margin-left:10px;color:#fff;display: inline-block;line-height: 38px;}
.admin_comedity_text_a:hover{ background:#f30;color:#fff; text-decoration:none;}
.input_text_bg{ background:#f8f8f8}
.wx_search_textarea{width:475px;height:95px;border:1px solid #ddd; padding:0 5px}
.input-focus{background: #FFF url(../images/admin_img/input_focus.png) repeat-x; border-color:#afcee6;font-size:12px;}
input.date,input.endDate{background: #fff url(../images/admin_img/input_date.png) no-repeat right 3px; padding-right:18px;font-size:12px;}
textarea,textarea.input-text,textarea.input-focus{font-size:12px;height:auto; padding:5px; margin:0;}
select{ vertical-align:middle;color:#000;}
.admin_com_send a{color:#399c1d}
.search-form{ margin-bottom:10px}



/*表格表单*/
.table_form{font-size:14px;border-collapse: separate;border-spacing: 5px 24px;margin-top: -15px;}
.table_form td label{ vertical-align:middle}

/* 表格边框 */
.table_form tbody td,.table_form tbody th{white-space: normal;word-break: break-all;}
.table_form tbody th{text-align: right;font-weight:normal;color:#515a6e;min-width: 140px;}
.table_form tbody td{padding-left:15px;}
.layui-form-item{margin-bottom: 24px;}

.layui-form-radio>i:hover, .layui-form-radioed>i {color: #2d8cf0 !important;}
.layui-form-checked[lay-skin=primary] i {border-color: #2d8cf0 !important;background-color: #2d8cf0 !important;color: #fff;}
.layui-form-onswitch {border-color: #2d8cf0 !important;background-color: #2d8cf0 !important;}


.colorpanel tbody td,.colorpanel tbody th{ padding:0;border-bottom: none;}
.admin_table_trbg{}
.table_form_thr th{ text-align:right}

/*select美化*/
.js ul.newList {left:-9999px;}
ul.newList * {margin:0; padding:0;}
ul.newList {margin:0; padding:0; list-style:none; color:#000; background:#fff; position:absolute;  border:1px solid #ccc; top:22px; left:0; overflow:auto; z-index:9999;}
.newListSelected {color:#000; height:22px; padding:4px 0 0 6px; float:left; background:url(../images/select-bg.png) no-repeat right 0; border-left:1px solid #dfdfdf}
.newListSelected span {display:block;}
ul.newList li a {padding:3px 8px;display:block;text-decoration: none;}
.selectedTxt {overflow:hidden; height:16px; padding:0 23px 0 0;}
.measure-input {background:url("../images/ruler.gif") repeat-x scroll 0 9px transparent}
.hiLite {background:#e0ebf4!important; color:#444!important;}
.newListHover {background:#f2f7fb!important; color:#000!important; cursor:default;}
.newListSelHover, .newListSelFocus {background-position:right -26px; cursor:default;}
.newListOptionTitle {font-weight:bold;}
.newListOptionTitle ul {margin:3px 0 0;}
.newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}

/*表单验证*/
.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../images/msg_bg.png) no-repeat;	color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595}
.onFocus{background-position:3px -147px;border-color:#40B3FF;}
.onError{background-position:3px -47px;border-color:#40B3FF; color:red}
.onCorrect{background-position:3px -247px;border-color:#40B3FF;}
.onLamp{background-position:3px -200px}
.onTime{background-position:3px -1356px}

/*联动菜单*/
.linkage-menu{height:200px; overflow-y:auto; padding:0 4px}
.linkage-menu h6{ border-bottom:1px solid #e2ecee; padding:2px 0 3px; margin-bottom:5px}
.linkage-menu h6 a.rt{ font-weight:normal; font-family:'宋体';color:#377abe}
.linkage-menu div.menu a{width:74px; line-height:22px;text-decoration: none; padding-left:4px; overflow:hidden; height:22px}
.linkage-menu div.menu a:hover{ background:#d9e4ed; color:#377abe}
div#areaid{border:1px solid #A7A6AA;height:18px;margin:0 5px 0 0;padding:2px 5px 2px;border: 1px solid #d0d0d0;background: #FFF url(../images/admin_img/input.png) repeat-x; position:relative; top:-2px;*top:2px;}

.picList li{ padding:0 0 8px}
.display {display:none}
.admin_submit_jh{ display:inline-block; background:#06F;color:#fff; padding:2px;}
.table_form_bg{ background:#fff;border:1px solid #d8dce5}
.table_nav_bg{background:#F7FBFC;border:1px solid #d8dce5}
.xubox_page .table_form  tr{padding:0px; margin:0px;}
#infobox table{width:320px;margin:0 15px;}
#infobox table tr{margin:0 10px;line-height:30px;}
.job_add_y_list {color: #666;float: left;margin-top: 8px;width: 125px;}
.job_add_check_box {float: left;height: 13px;margin-right: 5px;overflow: hidden;width: 13px;}
.admin_table_w84{width:84px;}
.text_seclet{width:150px;height:25px;border:1px solid #b1b2b3}
 
/*日期*/
i,em{font-style:normal;}
.tx_year{float:left;display:block;cursor:pointer;background:#fff url(yun_t_menu1.png) no-repeat 70px center;padding:0px 5px;font-size:14px;color:#6c6c6c;width:85px;height:25px;line-height:25px;border:1px solid #b1b2b3;}
.tx_month{float:left;display:block;cursor:pointer;background:#fff url(yun_t_menu1.png) no-repeat 70px center;padding:0px 5px;font-size:14px;color:#6c6c6c;width:85px;height:25px;line-height:25px;border:1px solid #b1b2b3;}
.text i.yr{float:left;font-size:14px;padding:0px 5px;line-height:30px;}
.tx_select{color:#f00;line-height:30px;}
.tx_yr{float:left;position:relative;}
.tx_year_list{float:left;position:absolute;top:26px;z-index:999;background:#fff;width:315px;padding:10px;border:1px solid #cfcfcf;font-size:14px;}
.tx_month_list{float:left;position:absolute;z-index:999;top:26px;left:-109px;background:#fff;width:315px;padding:10px;border:1px solid #cfcfcf;font-size:14px;}
.title{float:left;height:30px;width:100%;font-size:16px;text-align:center;}
.img_ft{display:block;float:left;margin-top:8px;cursor:pointer;}
.img_rt{display:block;float:right;margin-top:8px;cursor:pointer;}
.list_ct ul li{float:left;width:62px;text-align:center;height:30px;display:inline-block;margin-right:1px;margin-top:1px;}
.list_ct ul li a{display:block;color:#68a5ff;text-decoration:none;line-height:30px;}
.list_ct ul li a:hover{background:#a5e2fe;color:#fff;}
.list_ct ul li.cur a{background:#a5e2fe;color:#fff;}
.tx_mt{float:left;position:relative;}
.tx_mth{float:left;position:relative;}
.class_xg{display:none}

.tjob_timetable{ width:360px;background:#ddd;border:1px solid #ddd}
.tjob_timetable th,.tjob_timetable td{ background:#fff; font-weight:normal; padding:5px; text-align:center; font-size:12px;border-right:1px solid #ddd}
.tjob_timetable th{ background:#f8f8f8}

.admin_kt_uservip{width:270px; position:relative}
.admin_kt_uservip_bth{width:90px;height:38px; background:#2d8cf0;border-radius:3px; color:#fff; position:absolute;right:-310px;top:0px; font-size:14px; text-align:center; line-height:38px;}
.admin_kt_uservip_box{width:258px;max-height:320px;border:1px solid #eee; background:#fff; position:absolute;left:0px;top:37px; z-index:10000; overflow:auto;}
.admin_kt_uservip_box ul{ padding:10px 0;}
.admin_kt_uservip_box ul li{width:100%;line-height:30px;}
.admin_kt_uservip_box ul li a{ display:block; padding-left:10px;}
.admin_kt_uservip_box ul li a:hover{ background:#f8f8f8}
.admin_resumedjtip{ padding-bottom:5px;}
.admin_resume_jg_list{ padding:5px 0;}
.admin_resume_jg_name{ display:inline-block; margin-left:20px;}
.admin_resume_jgdelete{ display:inline-block; margin-left:20px;color:#2d8cf0;float: right;margin-top: 10px;}
.admin_resume_jg_add{
	/* width:110px;height:30px; line-height:30px; background:#f8f8f8;border:1px solid #ddd;border-radius:3px;color:#1178c3; display:inline-block; text-align:center;cursor:pointer */
	background: url(../images/ty_cpsj_pygl_add.png) no-repeat left center;
	height: 22px;
	line-height: 22px;
	color: #333;
	padding-left: 22px;
	margin-left: 0;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: -5px;
	color: #2d8cf0;
	}
.admin_resume_jg_add_c{ padding-left:65px; padding-top:5px; padding-bottom:5px; }

.yun_m_info_text{width:600px; float:left}
.headhunter_personnel_resume_add{margin-bottom:10px;}
.headhunter_personnel_resume{width:96px; height:41px; border:1px solid #e6e6e6;text-indent:10px; font-size:16px; color:#999999; border-radius:5px;}
.expect_xzline{color:#999999; padding:0 5px;}
.headhunter_personnel_resume_two{width:265px; height:41px; border:1px solid #e6e6e6; text-indent:20px; font-size:16px; color:#999999; margin-left:10px; border-radius:5px;}
.headhunter_the_scend{width:489px; height:35px; text-align:center; background:#fff; margin-top:21px; line-height:35px;}
.headhunter_the_scend a{width:489px; height:35px; font-size:14px; display:inline-block; border:1px solid #e5e5e5; border-radius:5px; color:#fd1818;}
.company_rzpng{cursor:pointer;}
.wxBindmsgs{cursor:pointer;}

/* 表格星期表 */
.tjob_timetable{}
.tjob_timetable tr{height: 27px !important;padding: 0;margin: 0; display: table;border-bottom: 1px solid #ccc;width: 100%;}
.tjob_timetable tr th{height: 27px;width: 45px;min-width: 45px;text-align: center;}
.tjob_timetable tr td{width: 45px;}
.web_configtable {font-size:14px;border-collapse: separate;border-spacing: 0px 12px;}
.web_configtable th{text-align: right;font-weight:normal;color:#515a6e;min-width: 140px;}

/*微信设置*/
.table_border{font-size: 14px; border: 1px solid #e8eaec;border-collapse: separate;border-spacing: 0px 0px;margin-top: 5px;margin-bottom: 20px;overflow: hidden;padding-bottom: 24px;}
.table_border_tit{text-align: left;font-weight: bold;padding-left: 10px;font-size: 16px;}

.table_border tbody{overflow: hidden;zoom:100%}
.table_border tr{display: block;padding-top: 24px;}
.table_border tr:first-child{padding-top: 0;}
.table_border tr th{width: 250px;}
.table_border_f_tr{height: 44px;line-height: 44px;}
.table_border tbody th {text-align: right;font-weight: normal;color: #515a6e;min-width: 140px;}
.reline{font-size:12px;color:#999;padding:0px 5px; display:inline-block}


.list_border{font-size: 14px; border: 1px solid #e8eaec;margin-top: 5px;margin-bottom: 20px;overflow: hidden;padding-bottom: 24px;}
.list_border_tit{text-align: left;font-weight: bold;padding-left: 10px;font-size: 16px;background: #f5f7fb;line-height: 44px;}
.list_border .layui-form-label{width: 170px;}
.list_border .pdleft180{padding-left: 200px;}
/*新增表格样式*/
.admin_crmTable{
	width: 100%;
	min-height: 500px;
	overflow: hidden;
}
.admin_crmTable ul{
	width: 100%;
	overflow: hidden;
}
.admin_crmTable ul li{
	width: 100%;
	overflow: hidden;
}
.admin_crmTable ul li .crmTable{
	width: 100%;
	overflow: hidden;
}
.admin_crmTable_title{
	width: 100%;
	background: #fff;
	overflow: hidden;
	line-height: 60px;
	border-top: 1px solid #ddd;
}
.admin_crmTable_title .titleOne{
	float: left;
	overflow: hidden;
}
.admin_crmTable_title .titleOne p{
	width: 200px;
	margin-right: 90px;
	padding-left: 10px;
	font-size: 17px;
	color: #888;
}
.admin_crmTable_title .titleOne p span{
	font-weight: 600;
	font-size: 20px;
	color: #333;
}
.admin_crmTable_title .titleTwo{
	float: left;
	font-size: 17px;
	overflow: hidden;
}
.admin_crmTable_title .titleTwo p{
	width: 200px;
	float: left;
	margin-right: 90px;
	overflow: hidden;
}
.admin_crmTable_title .titleTwo p span{
	padding-left: 8px;
}
.admin_crmTable_title .titleTwo p:nth-child(1) span{
	color: #12ac7b;
	font-size: 20px;
	font-weight: 600;
}
.admin_crmTable_title .titleTwo p:nth-child(2) span{
	color: #ea240e;
	font-size: 20px;
	font-weight: 600;
}
.admin_crmTable_content{
	/*background: #fafafa;*/
	overflow: hidden;
}
.Table_contentInfo{
	overflow: hidden;
	line-height: 50px;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #eee;
}
.Table_contentInfo:last-child{
	border-bottom: 0px solid #eee;
}
.Table_contentInfo span{
	overflow: hidden;
	display: block;
	float: left;
	width: 18%;
	text-align: center;
	background: #fcfcfd;
	padding-left: 10px;
}
.Table_contentInfo span:nth-child(2){
	color: #ea240e;
	text-align: center;
	width: 10%;
}
.Table_contentInfo span:nth-child(5){
	width: 30%;
}

.Table_contentInfo span:nth-child(2n+2){
	background: #f8f8fa;
}

/*xiugai*/

.tableFormdiv{
	overflow: hidden;
}
.tableFormdiv .admin_table_trbg{
	margin-top: 25px;
}
.tableFormdiv .formdivAll{
	overflow: hidden;
	margin-left: 80px;
	padding-top: 30px;
}
.tableFormdiv .formdivAll .formdivAllTitle{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.tableFormdiv .formdivAll .formdivAllTitle p{
	font-size: 14px;
	width: 90px;
	color: #333;
}
.tableFormdiv .formdivAll .formdivAllTitle .formdivAllIput input{
	width: 487px;
}
.tableFormdiv .formdivAll .formdivAllCrux{
	display: flex;
	margin-bottom: 20px;
}
.tableFormdiv .formdivAll .formdivAllCrux p{
	font-size: 14px;
	color: #333;
	width: 90px;
}

.tableFormdiv .formdivAll .formdivAllCrux .formdivAllIput textarea{
	width: 482px;
}
.tableFormdiv .formdivAll .formdivAllReply{
	overflow: hidden;
	display: flex;
	align-items: initial;
}
.tableFormdiv .formdivAll .formdivAllReply p{
	font-size: 14px;
	color: #333;
	width: 90px;
}
.tableFormdiv .formdivAll .formdivAllReply p{
	font-size: 14px;
	color: #333;
	width: 90px;
}
.tableFormdiv .formdivAll .formdivAllReply .allReplyList{
	overflow: hidden;
	display: flex;
}
.tableFormdiv .formdivAll .formdivAllReply .allReplyList .allReplyListTwo{
	overflow: hidden;
}
.tableFormdiv .boxCtrl{
	overflow: hidden;
	display: flex;
	align-items: initial;
}
.tableFormdiv .boxCtrl p{
	font-size: 14px;
	color: #333;
	width: 90px;
}
.tableFormdiv .boxCtrlAll{
	overflow: hidden;
}

.tableFormdiv .boxCtrlAll .allReplyList{
	overflow: hidden;
	display: flex;
}
.tableFormdiv .boxCtrlAll .allReplyList .allReplyListOne{
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 34px;
	padding:0 10px;
	background: #f5f7fb;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
}
.tableFormdiv .boxCtrlAll .allReplyList .allReplyListOne img{
	width: 12px;
}
.tableFormdiv .boxCtrlAll .allReplyList .allReplyListOne p{
	width: auto;
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
}

.tableFormdiv .choosed_class{
	overflow: hidden;
	display: flex;
	align-items: center;
	height: 34px;
	padding:0 10px;
	background: #aaa;
	border-radius: 4px;
	margin-right: 10px;
	color: #fff;
	cursor: pointer;
}
.tableFormdiv .choosed_class p{
	width: auto;
	margin-top: 2px;
	margin-left: 8px;
	padding-left: 10px;
}
.tableFormdiv .choosed_class p img{
	width: 12px;
}
.tableFormdiv .boxCtrlAll .allReplyList .allReplyListTwo{
	overflow: hidden;
	cursor: pointer;
}
.tableFormdiv .boxCtrlAll .allReplyList .allReplyListTwo p{
	width: 80px;
	height: 32px;
	border: 1px solid #2d8cf0;
	line-height: 32px;
	text-align: center;
	border-radius: 4px;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList{
	overflow: hidden;
	background: #f5f7fb;
	padding: 25px 15px;
	margin: 15px 0;
	border-radius: 6px;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListOne{
	overflow: hidden;
	display: flex;
	align-items: center;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListOne p{
	width: 100px;
	text-align: right;
}

.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListtree{
	overflow: hidden;
	display: flex;
	align-items: initial;
	margin: 15px 0;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListtree p{
	width: 100px;
	text-align: right;
	margin-top: 9px;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListtree .listOneop{
	overflow: hidden;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListtree .listOneop span{
	display: block;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListFour{
	overflow: hidden;
	display: flex;
	align-items: initial;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListFour p{
	width: 100px;
	text-align: right;
	margin-top: 4px;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListsix{
	overflow: hidden;
	display: flex;
	align-items: center;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListsix p{
	width: 100px;
	text-align: right;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListNine{
	overflow: hidden;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListNine .llListNineFlex{
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 10px 0;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListNine .llListNineFlex p{
	width: 100px;
	text-align: right;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListNine .llListNineFlex input{
	width: 480px;
}
.tableFormdiv .boxCtrlAll .boxCtrlAllList .boxCtrlAllListNine .llListNineFlex .admin_web_tip{
	padding-top: 0;
	margin-left: 10px;
}
.tableFormdiv .adminTablButton{
	margin-left: 88px;
}

.supportifrList tbody tr td:last-child{
	width: 200px;
}

/*修改*/
.tableBorderAll{
	overflow: hidden;
}
.tableBorderAll tbody td{
	padding-top: 15px;
    padding-bottom: 15px;
}
/*.tableBorderAll tbody .iconCloud1 .iconst{
	display: inline;
}*/
.tableBorderAll tbody .iconCloud1 .iconst{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	background: #2778F8;
	text-align: center;
	line-height: 20px;
}